<div class="row">
    <div class="col-10">
      <h1 mat-dialog-title >{{title}}</h1>    
    </div>
    <div class="col-2">
      <button mat-icon-button (click)="onClose()" class="float-right">
        <mat-icon>close</mat-icon>
      </button>
    </div>
</div>
<div class="content" > 

    <div class="row text-center">
      <div class="col-12 mt-2" *ngIf="secretaries.length>0">   
        <section  *ngFor="let sec of secretaries">
          <mat-label class="mr-3">{{sec.employeeId.name.fullName}}</mat-label>
          <mat-form-field>
            <mat-chip-list #chipList aria-label="Career selection">
                <mat-chip
                  *ngFor="let career of sec.careers"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(career.careerId,sec)">
                  {{career.careerId.acronym}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="Agregar carrera..."
                  #careerInput
                  [formControl]="careerCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,sec)">
                  <mat-option *ngFor="let career of filteredCareers | async" [value]="career">
                    {{career.fullName}}
                  </mat-option>
                </mat-autocomplete>
          </mat-form-field>
        </section>   
       
      </div>
    </div>
</div>