<div class="row">
    <div class="col-10">
      <h1 mat-dialog-title >{{title}}</h1>    
    </div>
    <div class="col-2">
      <button mat-icon-button (click)="onClose()" class="float-right">
        <mat-icon>close</mat-icon>
      </button>
    </div>
</div>
<div class="content" > 

    <div class="row text-center">
      <div class="col-12 mt-2" *ngIf="secretaries.length>0">          

          <section  *ngFor="let sec of secretaries">
            <mat-label class="mr-3">{{sec.employeeId.name.fullName}}</mat-label>
            <mat-form-field appearance="outline" *ngIf="careers.length>0">
                <mat-label>Carrera</mat-label>      
                <select #c1 matNativeControl (change)="setCareer(c1.value)">
                  <option *ngFor="let career of careers" value="{{sec._id}}-{{career._id}}" [selected]="sec.careerId ? sec.careerId._id == career._id : false" >{{career.name}}</option>
                </select>              
            </mat-form-field>
          </section>                    
      </div>
    </div>
</div>