.custom-card {
  height: auto !important;
  margin: 5px 0px !important;

  mat-card {
    min-width: 100%;
    max-width: 100%;
    padding: 5px;

    mat-card-actions {
      padding: 8px;
    }

    mat-card-header {
      mat-card-title {
        font-size: 14px;
      }

      mat-card-subtitle {
        margin: 0px;
      }

      .mat-card-avatar {
        text-align: center;

        mat-icon {
          margin: 3px;
        }
      }
    }
  }

  label {
    margin: 0px;
  }
}

.custom-list {
  max-height: 60vh;
  overflow: hidden scroll;
  margin: 10px 0px !important;
}

.custom-list::-webkit-scrollbar {
  display: none !important;
}
