<div class="card" *ngIf="Request">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 col-lg-3">
        <img src="../../../assets/imgs/studentAvatar.png" style="width: 200px; height: 200px" alt="Imagen">
      </div>
      <div class="col-sm-8 col-lg-9">
        <div class="row">
          <div class="col-6">
            <h5 class="card-title text-left">{{Request.studentId.fullName}}</h5>
          </div>
          <!-- <div class="col-3" style="clear: both;" *ngIf="role==='Servicios Estudiantiles' || role==='Administrador'">
            <button mat-mini-fab mat-icon-button color="primary" style="float: right;" (click)="changed()"
              data-toggle="tooltip" title="Modificar Documentos">
              <mat-icon>description</mat-icon>
            </button>
          </div> -->
          <div class="col-6" style="clear: both;">
            <button *ngIf="role==='Servicios Estudiantiles' || role==='Administrador'" mat-mini-fab mat-icon-button
              color="warn" style="float: right; margin-left: 5px;" (click)="changed()" data-toggle="tooltip"
              title="Modificar Documentos">
              <mat-icon>description</mat-icon>
            </button>
            <button mat-mini-fab mat-icon-button color="primary" style="float: right;" (click)="viewHistory()"
              data-toggle="tooltip" title="Historial">
              <mat-icon>assignment</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-left">
            <p><strong>Número Control:</strong> {{Request.studentId.controlNumber}}</p>
            <p><strong>Carrera:</strong> {{Request.studentId.career}}</p>
            <p><strong>Correo:</strong> {{Request.email}}</p>
            <p><strong>Teléfono:</strong> {{Request.telephone}}</p>
          </div>
          <div class="col-6 text-left">
            <p><strong>Registro:</strong> {{registeredDate}}</p>
            <p><strong>Fecha Titulación:</strong> {{titledDate}}</p>
            <p><strong>Hora:</strong> {{titledHour}}</p>
            <p><strong>Titulado:</strong> {{isTitled}}</p>
          </div>
        </div>
        <div class="row" *ngIf="existJury">
          <div class="col-12">
            <h5 class="card-title text-left">Jurado</h5>
          </div>
        </div>
        <div class="row" *ngIf="existJury">
          <div class="col-6 text-left">
            <p><strong>Presidente:</strong> {{Request.jury[0].name}}</p>
            <p><strong>Vocal:</strong> {{Request.jury[2].name}}</p>
          </div>
          <div class="col-6 text-left">
            <p><strong>Secretario:</strong> {{Request.jury[1].name}}</p>
            <p><strong>Suplente:</strong> {{Request.jury[3].name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="changeDocument">
  <app-upload-files></app-upload-files>
</div>
<div *ngIf="!changeDocument">
  <div class="card mt-3" *ngIf="Request">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileRequest)==='Accept', 'none':whatStatus(FileRequest)==='None','reject':whatStatus(FileRequest)==='Reject','process':whatStatus(FileRequest)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileRequest)==='Accept', 'noneText':whatStatus(FileRequest)==='None','rejectText':whatStatus(FileRequest)==='Reject','processText':whatStatus(FileRequest)==='Process'}">
                  Solicitud
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileRequest)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('SOLICITUD')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('SOLICITUD')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('SOLICITUD')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileRegistered)==='Accept', 'none':whatStatus(FileRegistered)==='None','reject':whatStatus(FileRegistered)==='Reject','process':whatStatus(FileRegistered)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileRegistered)==='Accept', 'noneText':whatStatus(FileRegistered)==='None','rejectText':whatStatus(FileRegistered)==='Reject','processText':whatStatus(FileRegistered)==='Process'}">
                  Registro
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileRegistered)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('REGISTRO')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('REGISTRO')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('REGISTRO')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileReleased)==='Accept', 'none':whatStatus(FileReleased)==='None','reject':whatStatus(FileReleased)==='Reject','process':whatStatus(FileReleased)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileReleased)==='Accept', 'noneText':whatStatus(FileReleased)==='None','rejectText':whatStatus(FileReleased)==='Reject','processText':whatStatus(FileReleased)==='Process'}">
                  Liberación
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileReleased)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('LIBERACION')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('LIBERACION')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('LIBERACION')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileInconvenience)==='Accept', 'none':whatStatus(FileInconvenience)==='None','reject':whatStatus(FileInconvenience)==='Reject','process':whatStatus(FileInconvenience)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileInconvenience)==='Accept', 'noneText':whatStatus(FileInconvenience)==='None','rejectText':whatStatus(FileInconvenience)==='Reject','processText':whatStatus(FileInconvenience)==='Process'}">
                  No Inconveniencia
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileInconvenience)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('NO_INCONVENIENCIA')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('NO_INCONVENIENCIA')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('NO_INCONVENIENCIA')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileActa)==='Accept', 'none':whatStatus(FileActa)==='None','reject':whatStatus(FileActa)==='Reject','process':whatStatus(FileActa)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileActa)==='Accept', 'noneText':whatStatus(FileActa)==='None','rejectText':whatStatus(FileActa)==='Reject','processText':whatStatus(FileActa)==='Process'}">
                  Acta Nacimiento
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileActa)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('2_ACTA_NACIMIENTO')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('2_ACTA_NACIMIENTO')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('2_ACTA_NACIMIENTO')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileCurp)==='Accept', 'none':whatStatus(FileCurp)==='None','reject':whatStatus(FileCurp)==='Reject','process':whatStatus(FileCurp)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileCurp)==='Accept', 'noneText':whatStatus(FileCurp)==='None','rejectText':whatStatus(FileCurp)==='Reject','processText':whatStatus(FileCurp)==='Process'}">
                  Curp
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileCurp)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('1_CURP')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('1_CURP')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('1_CURP')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center" (click)="onView('1_CURP')">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileCertificado)==='Accept', 'none':whatStatus(FileCertificado)==='None','reject':whatStatus(FileCertificado)==='Reject','process':whatStatus(FileCertificado)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileCertificado)==='Accept', 'noneText':whatStatus(FileCertificado)==='None','rejectText':whatStatus(FileCertificado)==='Reject','processText':whatStatus(FileCertificado)==='Process'}">
                  Certificado Bachillerato
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileCertificado)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('3_CERTIFICADO_BACHILLERATO')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('3_CERTIFICADO_BACHILLERATO')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('3_CERTIFICADO_BACHILLERATO')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileCedula)==='Accept', 'none':whatStatus(FileCedula)==='None','reject':whatStatus(FileCedula)==='Reject','process':whatStatus(FileCedula)==='Process','omit':whatStatus(FileCedula)==='Omit'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileCedula)==='Accept', 'noneText':whatStatus(FileCedula)==='None','rejectText':whatStatus(FileCedula)==='Reject','processText':whatStatus(FileCedula)==='Process','omitText':whatStatus(FileCedula)==='Omit'}">
                  Cédula Técnico
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileCedula)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('4_CEDULA_TECNICA')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('4_CEDULA_TECNICA')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('4_CEDULA_TECNICA')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'Omit'" class="text-center">
                  <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
                  <p class="card-text">Omitido</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <div class="row mt-3">

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileLicenciatura)==='Accept', 'none':whatStatus(FileLicenciatura)==='None','reject':whatStatus(FileLicenciatura)==='Reject','process':whatStatus(FileLicenciatura)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileLicenciatura)==='Accept', 'noneText':whatStatus(FileLicenciatura)==='None','rejectText':whatStatus(FileLicenciatura)==='Reject','processText':whatStatus(FileLicenciatura)==='Process'}">
                  Certificado Licenciatura
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileLicenciatura)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileServicio)==='Accept', 'none':whatStatus(FileServicio)==='None','reject':whatStatus(FileServicio)==='Reject','process':whatStatus(FileServicio)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileServicio)==='Accept', 'noneText':whatStatus(FileServicio)==='None','rejectText':whatStatus(FileServicio)==='Reject','processText':whatStatus(FileServicio)==='Process'}">
                  Servicio Social
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileServicio)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('SERVICIO_SOCIAL')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('SERVICIO_SOCIAL')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('SERVICIO_SOCIAL')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center" (click)="onView('SERVICIO_SOCIAL')">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileIngles)==='Accept', 'none':whatStatus(FileIngles)==='None','reject':whatStatus(FileIngles)==='Reject','process':whatStatus(FileIngles)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileIngles)==='Accept', 'noneText':whatStatus(FileIngles)==='None','rejectText':whatStatus(FileIngles)==='Reject','processText':whatStatus(FileIngles)==='Process'}">
                  Inglés
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileIngles)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('LIBERACION_INGLES')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('LIBERACION_INGLES')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('LIBERACION_INGLES')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center" (click)="onView('LIBERACION_INGLES')">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FilePago)==='Accept', 'none':whatStatus(FilePago)==='None','reject':whatStatus(FilePago)==='Reject','process':whatStatus(FilePago)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FilePago)==='Accept', 'noneText':whatStatus(FilePago)==='None','rejectText':whatStatus(FilePago)==='Reject','processText':whatStatus(FilePago)==='Process'}">
                  Recibo Pago
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FilePago)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('RECIBO')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('RECIBO')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('RECIBO')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center" (click)="onView('RECIBO')">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileRevalidacion)==='Accept', 'none':whatStatus(FileRevalidacion)==='None','reject':whatStatus(FileRevalidacion)==='Reject','process':whatStatus(FileRevalidacion)==='Process','omit':whatStatus(FileCedula)==='Omit'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileRevalidacion)==='Accept', 'noneText':whatStatus(FileRevalidacion)==='None','rejectText':whatStatus(FileRevalidacion)==='Reject','processText':whatStatus(FileRevalidacion)==='Process','omitText':whatStatus(FileCedula)==='Omit'}">
                  Revalidación
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileRevalidacion)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('REVALIDACION')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('REVALIDACION')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Omit'" class="text-center">
                  <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
                  <p class="card-text">Omitido</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('REVALIDACION')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FilePhotos)==='Accept', 'none':whatStatus(FilePhotos)==='None','reject':whatStatus(FilePhotos)==='Reject','process':whatStatus(FilePhotos)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FilePhotos)==='Accept', 'noneText':whatStatus(FilePhotos)==='None','rejectText':whatStatus(FilePhotos)==='Reject','processText':whatStatus(FilePhotos)==='Process'}">
                  Fotografías
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FilePhotos)">
                <div *ngSwitchCase="'Process'" class="text-center">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card
            [ngClass]="{'accept':whatStatus(FileOficio)==='Accept', 'none':whatStatus(FileOficio)==='None','reject':whatStatus(FileOficio)==='Reject','process':whatStatus(FileOficio)==='Process'}">
            <mat-card-header>
              <mat-card-subtitle>
                <p
                  [ngClass]="{'acceptText':whatStatus(FileOficio)==='Accept', 'noneText':whatStatus(FileOficio)==='None','rejectText':whatStatus(FileOficio)==='Reject','processText':whatStatus(FileOficio)==='Process'}">
                  Oficio Jurado
                </p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [ngSwitch]="whatStatus(FileOficio)">
                <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('OFICIO_JURADO')">
                  <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                  <p class="card-text">En revision</p>
                </div>
                <div *ngSwitchCase="'Omit'" class="text-center">
                  <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
                  <p class="card-text">Omitido</p>
                </div>
                <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('OFICIO_JURADO')">
                  <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Aceptado</p>
                </div>
                <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('OFICIO_JURADO')">
                  <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                  <p class="card-text">Rechazado</p>
                </div>
                <div *ngSwitchCase="'None'" class="text-center">
                  <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                  <p class="card-text">Sin enviar</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-3">

        </div>

      </div>
    </div>
  </div>
</div>

<div class="center">
  <app-loader [loading]="showLoading"></app-loader>
</div>