<div class="card" *ngIf="Request">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 col-lg-3">
        <img src="../../../assets/imgs/studentAvatar.png" style="width: 200px; height: 200px" alt="Imagen">
      </div>
      <div class="col-sm-8 col-lg-9">
        <div class="row">
          <div class="col-6">
            <h5 class="card-title text-left">{{Request.studentId.fullName}}</h5>
          </div>
          <div class="col-6" style="clear: both;">
            <button mat-mini-fab mat-icon-button color="primary" style="float: right;" (click)="viewHistory()">
              <mat-icon>assignment</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-left">
            <p><strong>Número Control:</strong> {{Request.studentId.controlNumber}}</p>
            <p><strong>Carrera:</strong> {{Request.studentId.career}}</p>
            <p><strong>Correo:</strong> {{Request.email}}</p>
            <p><strong>Teléfono:</strong> {{Request.telephone}}</p>
          </div>
          <div class="col-6 text-left">
            <p><strong>Registro:</strong> {{Request.applicationDate}}</p>
            <p><strong>Fecha Titulación:</strong> 18 Junio 2019</p>
            <p><strong>Hora:</strong> 10:00</p>
            <p><strong>Titulado:</strong> No</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3" *ngIf="Request">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <mat-card [ngClass]="{'accept':whatStatus(FileActa)==='Accept', 'none':whatStatus(FileActa)==='None','reject':whatStatus(FileActa)==='Reject','process':whatStatus(FileActa)==='Process'}">
          <mat-card-header>
            <mat-card-subtitle>
              <p [ngClass]="{'acceptText':whatStatus(FileActa)==='Accept', 'noneText':whatStatus(FileActa)==='None','rejectText':whatStatus(FileActa)==='Reject','processText':whatStatus(FileActa)==='Process'}">
                Acta Nacimiento
              </p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [ngSwitch]="whatStatus(FileActa)">
              <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('ACTA_NACIMIENTO')">
                <img alt="File" src="../../../assets/imgs/revision.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('ACTA_NACIMIENTO')">
                <img alt="File" src="../../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('ACTA_NACIMIENTO')">
                <img alt="File" src="../../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'None'" class="text-center" (click)="onView('ACTA_NACIMIENTO')">
                <img alt="File" src="../../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
              </div>
            </div>
            <!-- <div *ngIf="!isUndefined(FileActa)" class="text-center" (click)="onView('ACTA_NACIMIENTO')">
              <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
            </div>
            <div *ngIf="isUndefined(FileActa)" class="text-center" (click)="onView('ACTA_NACIMIENTO')">
              <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
            </div> -->
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-3">
        <mat-card
          [ngClass]="{'accept':whatStatus(FileCurp)==='Accept', 'none':whatStatus(FileCurp)==='None','reject':whatStatus(FileCurp)==='Reject','process':whatStatus(FileCurp)==='Process'}">
          <mat-card-header>
            <mat-card-subtitle>
              <p
                [ngClass]="{'acceptText':whatStatus(FileCurp)==='Accept', 'noneText':whatStatus(FileCurp)==='None','rejectText':whatStatus(FileCurp)==='Reject','processText':whatStatus(FileCurp)==='Process'}">
                Curp
              </p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [ngSwitch]="whatStatus(FileCurp)">
              <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('CURP')">
                <img alt="File" src="../../../assets/imgs/revision.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('CURP')">
                <img alt="File" src="../../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('CURP')">
                <img alt="File" src="../../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'None'" class="text-center" (click)="onView('CURP')">
                <img alt="File" src="../../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-3">
        <mat-card
          [ngClass]="{'accept':whatStatus(FileCertificado)==='Accept', 'none':whatStatus(FileCertificado)==='None','reject':whatStatus(FileCertificado)==='Reject','process':whatStatus(FileCertificado)==='Process'}">
          <mat-card-header>
            <mat-card-subtitle>
              <p
                [ngClass]="{'acceptText':whatStatus(FileCertificado)==='Accept', 'noneText':whatStatus(FileCertificado)==='None','rejectText':whatStatus(FileCertificado)==='Reject','processText':whatStatus(FileCertificado)==='Process'}">
                Certificado Bachillerato
              </p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [ngSwitch]="whatStatus(FileCertificado)">
              <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('CERTIFICADO_BACHILLERATO')">
                <img alt="File" src="../../../assets/imgs/revision.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('CERTIFICADO_BACHILLERATO')">
                <img alt="File" src="../../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('CERTIFICADO_BACHILLERATO')">
                <img alt="File" src="../../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'None'" class="text-center" (click)="onView('CERTIFICADO_BACHILLERATO')">
                <img alt="File" src="../../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
              </div>
            </div>
            <!-- <div *ngIf="!isUndefined(FileCertificado)" class="text-center" (click)="onView('CERTIFICADO_BACHILLERATO')">
              <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
            </div>
            <div *ngIf="isUndefined(FileCertificado)" class="text-center" (click)="onView('CERTIFICADO_BACHILLERATO')">
              <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
            </div> -->
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-3">
        <mat-card
          [ngClass]="{'accept':whatStatus(FileCedula)==='Accept', 'none':whatStatus(FileCedula)==='None','reject':whatStatus(FileCedula)==='Reject','process':whatStatus(FileCedula)==='Process'}">
          <mat-card-header>
            <mat-card-subtitle>
              <p
                [ngClass]="{'acceptText':whatStatus(FileCedula)==='Accept', 'noneText':whatStatus(FileCedula)==='None','rejectText':whatStatus(FileCedula)==='Reject','processText':whatStatus(FileCedula)==='Process'}">
                Cédula Técnico
              </p>              
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [ngSwitch]="whatStatus(FileCedula)">
              <div *ngSwitchCase="'Process'" class="text-center" (click)="onView('CEDULA_TECNICA')">
                <img alt="File" src="../../../assets/imgs/revision.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Accept'" class="text-center" (click)="onView('CEDULA_TECNICA')">
                <img alt="File" src="../../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'Reject'" class="text-center" (click)="onView('CEDULA_TECNICA')">
                <img alt="File" src="../../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
              </div>
              <div *ngSwitchCase="'None'" class="text-center" (click)="onView('CEDULA_TECNICA')">
                <img alt="File" src="../../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>