<div class="content">
  <div class="container-login-form">
    <div class="container-title">
      <p class="tittle-p">Inicio de sesión</p>
    </div>
    <div class="container-form">
      <div class="form-input">
        <form [formGroup]="formLogin">
          <div class="form-group">
            <label style="color: #707070;" for="loginInputUser">
              <img style="height: 18px; width: 18px;" src="assets/imgs/profile.svg" alt=""> Usuario o Número de Control *
            </label>
            <input (input)="errorUsernameInput = false" (keyup.enter)="login()" formControlName="usernameInput"
              [ngClass]="{'is-invalid': (formLogin.get('usernameInput').errors && formLogin.get('usernameInput').dirty) || errorUsernameInput }"
              type="text" class="form-control" #loginInputUser aria-describedby="emailHelp" placeholder="Usuario o número de control">
            <div *ngIf="(formLogin.get('usernameInput').errors && formLogin.get('usernameInput').dirty) || errorForm">
              <div class="invalid-feedback" *ngIf="formLogin.get('usernameInput').hasError('required') || errorUsernameInput">
                Campo obligatorio
              </div>
            </div>
          </div>

          <div class="form-group">
            <label style="color: #707070;" for="loginInputPassword">
              <img style="height: 18px; width: 18px;" src="assets/imgs/lock.svg" alt=""> Contraseña o NIP *
            </label>
            <input (input)="errorPasswordInput = false" (keyup.enter)="login()" formControlName="passwordInput" [ngClass]="{'is-invalid': (formLogin.get('passwordInput').errors && formLogin.get('passwordInput').dirty) || errorPasswordInput }"
              type="password" class="form-control" id="loginInputPassword" aria-describedby="emailHelp" placeholder="Password o NIP">
            <div *ngIf="(formLogin.get('passwordInput').errors && formLogin.get('passwordInput').dirty) || errorForm">
              <div class="invalid-feedback" *ngIf="formLogin.get('passwordInput').hasError('required') || errorPasswordInput">
                Campo obligatorio
              </div>
            </div>
          </div>



          <div *ngIf="showAlertDiv" style="margin-top: 8px;" class="alert alert-danger" role="alert">
           {{messageAlertDiv}}
          </div>

          <div class="footer-form">


            <button (click)="login()"  type="button" class="btn btn-login">Ingresar</button>

            <!-- <button mat-button [matMenuTriggerFor]="menu" >Menu</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
