<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home"></i> Home</li>
    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-graduation-cap"></i> Acto Recepcional</li>
  </ol>
</nav>

<ng-container *ngIf="canSeeTitulationProgress()">
  <mat-tab-group *ngIf="canSeeTabGroup()">
    <mat-tab label="Todos">
      <app-titulation-progress [tab]="1" [phases]="[]" [data]="data"></app-titulation-progress>
    </mat-tab>
    <mat-tab label="Por validar liberación">
      <app-titulation-progress [tab]="2" [phases]="phasesLiberation" [data]="data"></app-titulation-progress>
    </mat-tab>
    <mat-tab label="Dictaminar">
      <app-titulation-progress [tab]="3" [phases]="phasesDocuments" [data]="data"></app-titulation-progress>
    </mat-tab>
    <mat-tab label="Por aprobar">
      <app-titulation-progress [tab]="4" [phases]="phasesApprove" [data]="data"></app-titulation-progress>
    </mat-tab>
    <mat-tab label="Actas examen">
      <app-titulation-progress [tab]="5" [phases]="phasesExamAct" [data]="data"></app-titulation-progress>
    </mat-tab>
    <mat-tab label="Gestión del título">
      <app-titulation-progress [tab]="6" [phases]="phasesContinue" [data]="data"></app-titulation-progress>
    </mat-tab>
    <mat-tab label="Estatus de actas">
      <app-titulation-progress [tab]="7" [phases]="phasesExamAct" [data]="data"></app-titulation-progress>
    </mat-tab>
  </mat-tab-group>
  <app-titulation-progress [tab]="1" [phases]="[]" [data]="data" *ngIf="canSeeOnlyTitulationProgress()">
  </app-titulation-progress>
</ng-container>
