<ng-template #content let-c="close('Save click')" let-d="dismiss('Cross click')" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccione el área de la foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2.5 / 3" format="png"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-login" (click)="c">Aceptar</button>
    <button type="button" class="btn btn-link" (click)="d">Cancelar</button>
  </div>
</ng-template>

<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <strong>II. Solicitud de Documentos</strong>
    </div>
    <div class="example-container" style="padding: 20px;">
      <!--Fila 1: Certificado Bachillerato y Acta de nacimiento-->
      <div class='row'>
        <!--Columna 1: Certificado Bachillerato-->
        <div class='col-sm-12 col-md-6'>
          <div class='card cd'>
            <div [class.isDisabled]="curpDoc !== undefined ? true : false" class='card-header c-header'
              (click)="collapse('collapseCURP',curpDoc !== undefined ? true : false)">

              <div class="row">
                <div class="col-9">
                  <p>
                    <b>CURP
                    </b>
                  </p>
                </div>
                <div class="col-3">
                  <div *ngIf="curpDoc">
                    <span *ngIf="curpDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="curpDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="curpDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!curpDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>

              </div>

              <p>
                Descarga tu CURP de la página : https//www.gob.mx/curp.
              </p>
            </div>
            <div>
              <div class='card-body c-body' id="collapseCURP">
                <label><b>Nombre original de archivo: </b>{{dropzoneFileNameCURP}}</label>
                <dropzone id="dz2" [config]="config2" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                  (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)"></dropzone>
              </div>
            </div>
          </div>
        </div>
        <!--Columna 2: ACTA DE NACIMIENTO-->
        <div class='col-sm-12 col-md-6'>
          <div class='card cd'>
            <div [class.isDisabled]="actaDoc !== undefined ? true : false" class='card-header c-header'
              (click)="collapse('collapseACTA',actaDoc !== undefined ? true : false)">
              <div class="row">
                <div class="col-9">
                  <p>
                    <b>ACTA DE NACIMIENTO

                    </b>
                  </p>
                </div>
                <div class="col-3">
                  <div *ngIf="actaDoc">
                    <span *ngIf="actaDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="actaDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="actaDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!actaDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>
              </div>

              <p>
                Expedida máximo dos años anteriores a la fecha.
              </p>
            </div>
            <div class='card-body c-body' id="collapseACTA">
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameACTA}}</label>
              <dropzone id="dz1" [config]="config1" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
          </div>
        </div>
      </div>
      <!--Fila 2: CURP y COPIA DEL COMPROBANTE--><br>
      <div class='row'>
        <!--Columna 1: CURP-->
        <div class='col-sm-12 col-md-6'>
          <div class='card cd'>
            <div [class.isDisabled]="clinicDoc !== undefined ? true : false" class='card-header c-header'
              (click)="collapse('collapseCLINICOS',clinicDoc !== undefined ? true : false)">

              <div class="row">
                <div class="col-9">
                  <p><b>RESULTADO DE ANÁLISIS CLÍNICOS

                    </b></p>
                </div>
                <div class="col-3">
                  <div *ngIf="clinicDoc">
                    <span *ngIf="clinicDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="clinicDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="clinicDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!clinicDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>
              </div>

              <p>
                Biometría Hemática, coproparasitoscópico, examen general de orina, RH y tipo de sangre.
              </p>
            </div>
            <div class='card-body c-body' id="collapseCLINICOS">
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameANALISIS}}</label>
              <dropzone id="dz4" [config]="config4" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
          </div>
        </div>
        <!--Columna 2: COPIA DEL COMPROBANTE-->
        <div class='col-sm-12 col-md-6'>
          <div class='card cd'>
            <div [class.isDisabled]="payDoc !== undefined ? true : false" class='card-header c-header'
              (click)="collapse('collapsePAGO',payDoc !== undefined ? true : false)">
              <div class="row">
                <div class="col-9">
                  <p>
                    <b>COPIA DEL COMPROBANTE DE PAGO DE INSCRIPCIÓN
                    </b>
                  </p>
                </div>
                <div class="col-3">
                  <div *ngIf="payDoc">
                    <span *ngIf="payDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="payDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="payDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!payDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>
              </div>

              <p>
                Copia del recibo de pago bancario sellado por el departamento de Recursos Financieros.
              </p>
            </div>
            <div class='card-body c-body' id="collapsePAGO">
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameCOMPROBANTE}}</label>
              <dropzone id="dz3" [config]="config3" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
          </div>
        </div>
      </div>
      <!--Fila 3: FOTO y Resultado de análisis--><br>
      <div class='row'>
        <!--Columna 1: RESULTADO DE ANÁLISIS-->
        <div class='col-sm-12 col-md-6'>
          <div class='card cd'>
            <div [class.isDisabled]="nssDoc !== undefined ? true : false" class='card-header c-header'
              (click)="collapse('collapseNSS',nssDoc !== undefined ? true : false)">

              <div class="row">
                <div class="col-9">
                  <p>
                    <b>NÚMERO DE SEGURO SOCIAL

                    </b>
                  </p>
                </div>
                <div class="col-3">
                  <div *ngIf="nssDoc">
                    <span *ngIf="nssDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="nssDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="nssDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!nssDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>
              </div>

              <p>
                Descarga tu número de seguro social en la página oficial del https://www.gob.mx/afiliatealimss.
              </p>
            </div>
            <div class='card-body c-body' id="collapseNSS">
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameNSS}}</label>
              <dropzone id="dz6" [config]="config6" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)"></dropzone>
            </div>
          </div>
        </div>
        <!--Columna 2: FOTO-->
        <div class='col-sm-12 col-md-6'>
          <div class='card cd'>
            <div [class.isDisabled]="imageDoc !== undefined ? true : false" class='card-header c-header'
              (click)="collapse('collapseFOTO',imageDoc !== undefined ? true : false)">
              <div class="row">
                <div class="col-9">
                  <p>
                    <b>FOTO
                    </b>
                  </p>
                </div>
                <div class="col-3">
                  <div *ngIf="imageDoc">
                    <span *ngIf="imageDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="imageDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="imageDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!imageDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>
              </div>
              <div>
                  <p style="text-align: left;">La fotografía debe ser:</p>
                  <ol style="text-align: left;">
                    <li>Fondo blanco.</li>
                    <li>De frente.</li>
                    <li>Que se visualice claramente de los hombros hacia arriba.</li>
                    <li>Hombres sin aretes.</li>
                    <li>Evitar accesorios (Lentes oscuros, audífonos, gorros, sombreros, gorras,...).</li>
                  </ol>
                  <b>NOTA: Se revisará la fotografía antes de la impresión</b>
              </div>
            </div>
            <div class='card-body c-body' id="collapseFOTO">
              <!-- <label><b>Nombre original de archivo: </b>{{dropzoneFileNamePhoto}}</label>
              <dropzone id="dz5" [config]="config5" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (success)="onUploadSuccess($event)" (error)="onError($event)"></dropzone> -->
                <img class="profile-icon" [src]="photoStudent">
                <input type="file" (change)="fileChangeEvent($event, content)" id="fileButton" accept="image/png,image/jpg,image/jpeg" style="display: none;">  
                <div (click)="showSelectFileDialog()" class="tag" >Buscar imagen</div>                  
            </div>
          </div>

        </div>
      </div>
      <!--Fila 4: NSS--><br>
      <div class='row'>
        <!--Columna 1: NSS-->
        <div class='col-sm-12 col-md-6'>

          <div class='card cd'>
            <div class="card-header c-header" [class.isDisabled]="certificateDoc !== undefined ? true : false"
              (click)="collapse('collapseCERT',certificateDoc !== undefined ? true : false)">
              <div class="row">
                <div class="col-9">
                  <p>

                    <b>CERTIFICADO DE BACHILLERATO O EQUIVALENTE

                    </b>
                  </p>
                </div>
                <div class="col-3">
                  <div *ngIf="certificateDoc">
                    <span *ngIf="certificateDoc.status === 'EN PROCESO'" class="badge badge-info">EN PROCESO</span>
                    <span *ngIf="certificateDoc.status === 'VALIDADO'" class="badge badge-primary">VALIDADO</span>
                    <span *ngIf="certificateDoc.status === 'ACEPTADO'" class="badge badge-success">ACEPTADO</span>
                  </div>
                  <span *ngIf="!certificateDoc" class="badge badge-danger">SIN ENVIO</span>
                </div>
              </div>

              <p>
                Nota.- Alumnos egresados de Instituciones Privadas y de la Universidad Autónoma de Nayarit, deben
                legalizar su
                certificado en la Dirección de Profesiones de la SEMSSICyT.
              </p>
            </div>
            <div class='card-body c-body' id="collapseCERT">
              <label><b>Nombre original de archivo: </b>{{dropzoneFileNameCERTIFICADO}}</label>
              <dropzone id="dz0" [config]="config" [message]="'Haga click o arrastre archivos aquí para subirlos'"
                (error)="onErrorCommon($event)" (success)="onUploadSuccess($event)" ></dropzone>
            </div>
          </div>

        </div>

      </div>

      <div class="row justify-content-center mt-3">
        <div>
          <button type="submit" (click)="continue()" class="btn btn-success">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>