<app-expedent-table-component 
  [roleName]='rolName' [tabName]="'process'" [students]="studentsForTable" [periods]="periods"
  (updateGIEmit) = "updateGI($event)"      
  (viewExpedientEmit) = "viewExpedient($event)"      
  (updateExpedientStatusEmit) = "updateExpedientStatus($event)"
  (getExcelExportEmit) = "excelExport($event)"
  (reloadEmit) = "getStudents()"
  *ngIf="readyToShowTable.periods && readyToShowTable.students" ></app-expedent-table-component>

<!-- Tabla reporte alumnos Excel-->
<table class="table table-striped table-bordered table-hover" id="tableReportExcel"
data-cols-width="9,21,46,66,15,30,30,30,30,30,15,15,15,30,15,15" *ngIf="filteredStudents">
<thead>
  <tr>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control
    </th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre del Alumno
    </th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Estatus</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Acta de Nacimiento
    </th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Certificado de
      Estudios
    </th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Análisis Clínicos
    </th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Comprobante de Pago
    </th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Curp</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nss</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Foto</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Integrado</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Archivado</th>
  </tr>
</thead>
<tbody>
  <tr
    *ngFor="let item of filteredStudents; let indice=index">
    <td data-f-sz="12" data-t="n">{{indice+1}}</td>
    <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
    <td data-f-sz="12" data-t="s">{{item.fullName}}</td>
    <td data-f-sz="12" data-t="s">{{item.career}}</td>
    <td data-f-sz="12" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="item.inscriptionStatus == 'En Captura' " class="Captura">{{item.inscriptionStatus}}</td>
    <td data-f-sz="12" data-fill-color="39CEFC" data-f-color="000000"
      *ngIf="item.inscriptionStatus == 'Enviado' " class="Enviado">{{item.inscriptionStatus}}</td>
    <td data-f-sz="12" data-fill-color="F08C1B" data-f-color="000000"
      *ngIf="item.inscriptionStatus == 'En Proceso' " class="Proceso">{{item.inscriptionStatus}}</td>
    <td data-f-sz="12" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="item.inscriptionStatus == 'Verificado' " class="Verificado">{{item.inscriptionStatus}}</td>
    <td data-f-sz="12" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="item.inscriptionStatus == 'Aceptado' " class="Aceptado">{{item.inscriptionStatus}}</td>
    <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center">
      DOCUMENTOS
    </td>
    <!--ACTA-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Acta',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Acta',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Acta',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Acta',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Acta',item) != 'EN PROCESO' && filterDocuments('Acta',item) != 'RECHAZADO' && filterDocuments('Acta',item) != 'VALIDADO' && filterDocuments('Acta',item) != 'ACEPTADO'">
      Sin Envío</td>
    <!--CERTIFICADO-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Certificado',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Certificado',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Certificado',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Certificado',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Certificado',item) != 'EN PROCESO' && filterDocuments('Certificado',item) != 'RECHAZADO' && filterDocuments('Certificado',item) != 'VALIDADO' && filterDocuments('Certificado',item) != 'ACEPTADO'">
      Sin Envío</td>
    <!--ANALISIS-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Analisis',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Analisis',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Analisis',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Analisis',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Analisis',item) != 'EN PROCESO' && filterDocuments('Analisis',item) != 'RECHAZADO' && filterDocuments('Analisis',item) != 'VALIDADO' && filterDocuments('Analisis',item) != 'ACEPTADO'">
      Sin Envío</td>
    <!--COMRPOBANTE-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Comprobante',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Comprobante',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Comprobante',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Comprobante',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Comprobante',item) != 'EN PROCESO' && filterDocuments('Comprobante',item) != 'RECHAZADO' && filterDocuments('Comprobante',item) != 'VALIDADO' && filterDocuments('Comprobante',item) != 'ACEPTADO'">
      Sin Envío</td>
    <!--CURP-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Curp',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Curp',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Curp',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Curp',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Curp',item) != 'EN PROCESO' && filterDocuments('Curp',item) != 'RECHAZADO' && filterDocuments('Curp',item) != 'VALIDADO' && filterDocuments('Curp',item) != 'ACEPTADO'">
      Sin Envío</td>
    <!--NSS-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Nss',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Nss',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Nss',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Nss',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Nss',item) != 'EN PROCESO' && filterDocuments('Nss',item) != 'RECHAZADO' && filterDocuments('Nss',item) != 'VALIDADO' && filterDocuments('Nss',item) != 'ACEPTADO'">
      Sin Envío</td>
    <!--FOTO-->
    <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
      *ngIf="filterDocuments('Foto',item) == 'EN PROCESO'">En Proceso</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
      *ngIf="filterDocuments('Foto',item) == 'RECHAZADO'">Rechazado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
      *ngIf="filterDocuments('Foto',item) == 'VALIDADO'">Validado</td>
    <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
      *ngIf="filterDocuments('Foto',item) == 'ACEPTADO'">Aceptado</td>
    <td data-f-sz="12" data-t="s"
      *ngIf="filterDocuments('Foto',item) != 'EN PROCESO' && filterDocuments('Foto',item) != 'RECHAZADO' && filterDocuments('Foto',item) != 'VALIDADO' && filterDocuments('Foto',item) != 'ACEPTADO'">
      Sin Envío</td>
    <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center">
      EXPEDIENTE
    </td>
    <td data-f-sz="12" data-t="s" data-fill-color="027900" data-f-color="FFFFFF" *ngIf = "item.expStatus == 'Integrado' || item.expStatus == 'Archivado'">Si</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="FFFFFF" *ngIf = "!item.expStatus">No</td>
    <td data-f-sz="12" data-t="s" data-fill-color="027900" data-f-color="FFFFFF" *ngIf = "item.expStatus === 'Archivado'">Si</td>
    <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="FFFFFF" *ngIf = "item.expStatus !== 'Archivado'">No</td>
  </tr>
</tbody>
</table>