
<div class="row w-100 m-0 p-0" *ngIf="tabNumber">
  <div class="col-12 p-0">
      <div class="card">
          <div class="row text-right p-2 m-0">              
              <div class="col-12" style="clear: both;">
                  <button mat-mini-fab mat-icon-button color="primary" style="float: right; margin-left: 5px;"
                      (click)="reload()" data-toggle="tooltip" title="Actualizar">
                      <mat-icon>cached</mat-icon>
                  </button>
              </div>
          </div>
          <div class="card-body col-12">
              <div *ngIf="role!=='jefe académico' && role!=='secretaria académica'" class="row m-1 text-center" >
                  <div [class.col-6]="tabNumber == 1 " [class.col-12]="tabNumber !== 1 ">
                      <div class="card" style="border-color: #0cc9aa; background-color: rgba(13, 219, 185, 0.2);">
                          <div class="card-body">
                              <!-- <h6>Carreras</h6> -->
                              <div class="row text-left">
                                  <div class="col-4" data-toggle="tooltip" title="Todos">
                                      <mat-slide-toggle [(ngModel)]="isAllCarrers"
                                          (change)="changed({event:$event, value:'ALL'})">
                                          <img alt="File" src="../../assets/imgs/careers/all.png"
                                              style="width: 20px; height: 20px">
                                          <small> TODAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Arquitectura">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'ARQUITECTURA'})">
                                          <img alt="File" src="../../assets/imgs/careers/arq.png"
                                              style="width: 20px; height: 20px">
                                          <small> ARQU</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Ingeniería Bioquímica">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_QUIMICA'})">
                                          <img alt="File" src="../../assets/imgs/careers/ibq.png"
                                              style="width: 20px; height: 20px">
                                          <small> IBQA</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                              <div class="row text-left">
                                  <div class="col-4" data-toggle="tooltip" title="INGENIERÍA CIVIL">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_CIVIL'})">
                                          <img alt="File" src="../../assets/imgs/careers/ic.png"
                                              style="width: 20px; height: 20px">
                                          <small> ICIV</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Ingeniería Eléctrica">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_ELECTRICA'})">
                                          <img alt="File" src="../../assets/imgs/careers/ie.png"
                                              style="width: 20px; height: 20px">
                                          <small> IELE</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Ingeniería En Gestión Empresarial">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_EN_GESTION_EMPRESARIAL'})">
                                          <img alt="File" src="../../assets/imgs/careers/ige.png"
                                              style="width: 20px; height: 20px">
                                          <small> IGEM</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                              <div class="row text-left">
                                  <div class="col-4" data-toggle="tooltip" title="Ingeniería Industrial">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_INDUSTRIAL'})">
                                          <img alt="File" src="../../assets/imgs/careers/ii.png"
                                              style="width: 20px; height: 20px">
                                          <small> IIND</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Ingeniería Mecatrónica">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_MECATRONICA'})">
                                          <img alt="File" src="../../assets/imgs/careers/imc.png"
                                              style="width: 20px; height: 20px">
                                          <small> IMCT</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Ingeniería Química">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_QUIMICA'})">
                                          <img alt="File" src="../../assets/imgs/careers/iq.png"
                                              style="width: 20px; height: 20px">
                                          <small> IQUI</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                              <div class="row text-left">
                                  <div class="col-4" data-toggle="tooltip" title="Licenciatura En Administración">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'LICENCIATURA_EN_ADMINISTRACION'})">
                                          <img alt="File" src="../../assets/imgs/careers/la.png"
                                              style="width: 20px; height: 20px">
                                          <small> LADM</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip"
                                      title="Ingeniería En Sistemas Computacionales">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_EN_SISTEMAS_COMPUTACIONALES'})">
                                          <img alt="File" src="../../assets/imgs/careers/isc.png"
                                              style="width: 20px; height: 20px">
                                          <small> ISIC</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip"
                                      title="Ingeniería En Tecnologías De La Información">
                                      <mat-slide-toggle [ngModel]="isAllCarrers"
                                          (change)="changed({event:$event, value:'INGENIERIA_EN_TECNOLOGIAS_DE_LA_INFORMACION_Y_COMUNICACIONES'})">
                                          <img alt="File" src="../../assets/imgs/careers/itic.png"
                                              style="width: 20px; height: 20px">
                                          <small> ITIC</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-6" *ngIf="tabNumber == 1">
                      <div class="card" style="border-color: #0cc9aa; background-color: rgba(13, 219, 185, 0.2);">
                          <div class="card-body">
                              <!-- <h6>Solicitudes</h6> -->
                              <div class="row">
                                  <div class="col-4" data-toggle="tooltip" title="Todas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'ALL'})">
                                          <img alt="File" src="../../assets/imgs/careers/all.png"
                                              style="width: 20px; height: 20px">
                                          <small> TODAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Enviadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'SENT'})">
                                          <img alt="File" src="../../assets/imgs/request/send.png">
                                          <small> 2 ENVIADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Verificadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'VERIFIED'})">
                                          <img alt="File" src="../../assets/imgs/request/verified.png">
                                          <small> 3 VERIFICADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-4" data-toggle="tooltip" title="Registradas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'REGISTERED'})">
                                          <img alt="File" src="../../assets/imgs/request/registered.png">
                                          <small> 4 REGISTRADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Liberadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'RELEASED'})">
                                          <img alt="File" src="../../assets/imgs/request/released.png">
                                          <small> 5 LIBERADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Entregadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'DELIVERED'})">
                                          <img alt="File" src="../../assets/imgs/request/delivered.png">
                                          <small> 6 ENTREGADAS</small>
                                      </mat-slide-toggle>
                                  </div>

                              </div>
                              <div class="row">
                                  <div class="col-4" data-toggle="tooltip" title="Validadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'VALIDATED'})">
                                          <img alt="File" src="../../assets/imgs/request/validated.png">
                                          <small> 7 VALIDADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Asignadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'ASSIGNED'})">
                                          <img alt="File" src="../../assets/imgs/request/assigned.png">
                                          <small> 8 ASIGNADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Titulado">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'REALIZED'})">
                                          <img alt="File" src="../../assets/imgs/request/realized.png">
                                          <small> 9 TITULADO</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-4" data-toggle="tooltip" title="Acta Generada">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'GENERATED'})">
                                          <img alt="File" src="../../assets/imgs/request/generated.png">
                                          <small> 10 ACTA GENERADA</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Asignadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'CEDULA'})">
                                          <img alt="File" src="../../assets/imgs/request/assigned.png">
                                          <small>11 ENTREGA DE CÉDULA</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-4" data-toggle="tooltip" title="Titulado">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'TITLED'})">
                                          <img alt="File" src="../../assets/imgs/request/realized.png">
                                          <small> 12 ENTREGA DE TÍTULO</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div *ngIf="role==='jefe académico' || role==='secretaria académica'" class="row m-1">
                  <div class="col-12">
                      <div class="card" style="border-color: #0cc9aa; background-color: rgba(13, 219, 185, 0.2);">
                          <div class="card-body">
                              <!-- <h6>Solicitudes</h6> -->
                              <div class="row">
                                  <div class="col-2" data-toggle="tooltip" title="Todas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'ALL'})">
                                          <img alt="File" src="../../assets/imgs/careers/all.png"
                                              style="width: 20px; height: 20px">
                                          <small> TODAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Enviadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'SENT'})">
                                          <img alt="File" src="../../assets/imgs/request/send.png">
                                          <small> 2 ENVIADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Verificadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'VERIFIED'})">
                                          <img alt="File" src="../../assets/imgs/request/verified.png">
                                          <small> 3 VERIFICADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Registradas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'REGISTERED'})">
                                          <img alt="File" src="../../assets/imgs/request/registered.png">
                                          <small> 4 REGISTRADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Liberadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'RELEASED'})">
                                          <img alt="File" src="../../assets/imgs/request/released.png">
                                          <small> 5 LIBERADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Entregadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'DELIVERED'})">
                                          <img alt="File" src="../../assets/imgs/request/delivered.png">
                                          <small> 6 ENTREGADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-2" data-toggle="tooltip" title="Validadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'VALIDATED'})">
                                          <img alt="File" src="../../assets/imgs/request/validated.png">
                                          <small> 7 VALIDADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Asignadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'ASSIGNED'})">
                                          <img alt="File" src="../../assets/imgs/request/assigned.png">
                                          <small> 8 ASIGNADAS</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Titulado">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'REALIZED'})">
                                          <img alt="File" src="../../assets/imgs/request/realized.png">
                                          <small> 9 TITULADO</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Acta Generada">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'GENERATED'})">
                                          <img alt="File" src="../../assets/imgs/request/generated.png">
                                          <small> 10 ACTA GENERADA</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Asignadas">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'CEDULA'})">
                                          <img alt="File" src="../../assets/imgs/request/assigned.png">
                                          <small>11 ENTREGA DE CÉDULA</small>
                                      </mat-slide-toggle>
                                  </div>
                                  <div class="col-2" data-toggle="tooltip" title="Titulado">
                                      <mat-slide-toggle [ngModel]="isAllPhases"
                                          (change)="changedPhase({event:$event, value:'TITLED'})">
                                          <img alt="File" src="../../assets/imgs/request/realized.png">
                                          <small> 12 ENTREGA DE TÍTULO</small>
                                      </mat-slide-toggle>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row mx-1" *ngIf="tabNumber == 1 || tabNumber == 4">
                  <div class="col-6">                      
                    <mat-form-field *ngIf="periods">
                    <mat-chip-list #chipList aria-label="Period selection">
                        <mat-chip
                            *ngFor="let p of usedPeriods"
                            selectable="true"
                            removable="true"
                            (removed)="remove(p)">
                            {{p.periodName}}-{{p.year}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Buscar periodo..."
                            #periodInput
                            [formControl]="periodCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addPeriod($event)"
                                                            
                            (ngModelChange) = "filterPeriod($event)"
                            matInput
                            
                            >
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let period of periods" [value]="period" (click)="slectedPeriod(period)">
                        {{period.periodName}}-{{period.year}}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-form-field>                                         
                  </div>
                  <div class="col-6">
                      <!-- <mat-form-field>
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                      </mat-form-field> -->
                      <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text">Filtro</span>
                          </div>
                          <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)"
                              placeholder="Filtro" id="myfilter">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="mat-elevation-z8 col-12">
                      <table mat-table [dataSource]="dataSource" matSort>
                          <!-- ID Column -->
                          <ng-container matColumnDef="_id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                              <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                          </ng-container>

                          <!-- Progress Column -->
                          <ng-container matColumnDef="controlNumber">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Número
                                  Control
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.controlNumber}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="fullName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%"> Nombre
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:20%"> {{row.fullName}} </td>
                          </ng-container>

                          <!-- Color Column -->
                          <ng-container matColumnDef="career">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Carrera
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.careerAcronym}} </td>
                          </ng-container>

                          <ng-container matColumnDef="phase">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Fase </th>
                              <td mat-cell *matCellDef="let row" style="width:10%">
                                  <div [ngSwitch]="row.phase">
                                      <span *ngSwitchCase="'Capturado'"
                                          class="badge badge-pill badge-captured">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Enviado'"
                                          class="badge badge-pill badge-sent">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Verificado'"
                                          class="badge badge-pill badge-verified">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Registrado'"
                                          class="badge badge-pill badge-registered">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Liberado'"
                                          class="badge badge-pill badge-released">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Entregado'"
                                          class="badge badge-pill badge-delivered">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Validado'"
                                          class="badge badge-pill badge-validated">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Asignado'"
                                          class="badge badge-pill badge-assigned">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Realizado'"
                                          class="badge badge-pill badge-realized">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Generado'"
                                          class="badge badge-pill badge-generated">{{row.phase}}</span>
                                      <span *ngSwitchDefault class="badge badge-pill badge-gray">{{row.phase}}</span>
                                  </div>
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Estatus
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%">
                                  {{row.status}}
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="applicationDateLocal">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Fecha Creación
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.applicationDateLocal}}
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="lastModifiedLocal">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%">Última
                                  Modificación
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.lastModifiedLocal}}
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:5%"></th>
                              <td mat-cell *matCellDef="let row" style="width:5%">
                                  <button mat-icon-button [matMenuTriggerFor]="actions">
                                      <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #actions="matMenu">
                                      <!-- <button mat-menu-item (click)="seeRequestPDF(row._id)">
                                                            <mat-icon>visibility</mat-icon>
                                                            Ver solicitud
                                                        </button> -->
                                      <button mat-menu-item (click)="viewHistory(row._id)">
                                          <mat-icon>assignment</mat-icon>
                                          Historial de Avance
                                      </button>
                                      <button mat-menu-item (click)="seeRecord(row._id, row)">
                                          <mat-icon>folder_shared</mat-icon>
                                          Expediente
                                      </button>
                                      <div [ngSwitch]="row.phase">
                                          <div *ngSwitchCase="'Enviado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='coordinación de titulación' || role==='administrador'"
                                                  (click)="checkRequest(row._id)">
                                                  <mat-icon>assignment_turned_in</mat-icon>
                                                  Revisar
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Verificado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='jefe académico' || role==='administrador'"
                                                  (click)="Verified(row._id)">
                                                  <mat-icon>touch_app</mat-icon>
                                                  Firmar Proyecto
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Registrado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='secretaria académica' || role==='jefe académico' || role==='administrador'"
                                                  (click)="releasedRequest(row._id)">
                                                  <mat-icon>lock_open</mat-icon>
                                                  Liberación
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Liberado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='servicios estudiantiles' || role==='administrador'"
                                                  (click)="checkReleased(row._id)">
                                                  <mat-icon>thumbs_up_down</mat-icon>
                                                  Validar Liberación
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Entregado'">
                                              <button
                                                  *ngIf="row.status!=='Pendiente' && (role==='servicios estudiantiles' || role==='administrador')"
                                                  mat-menu-item (click)="Review(row._id,row)">
                                                  <mat-icon>search</mat-icon>
                                                  Revisar
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Validado'">
                                              <button
                                                  *ngIf="row.status==='Pendiente' && (role==='jefe de servicios escolares' || role==='administrador')"
                                                  mat-menu-item (click)="signProof(row._id)">
                                                  <mat-icon>touch_app</mat-icon>
                                                  Firmar Constancias
                                              </button>
                                          </div>
                                          <!-- <button *ngSwitchCase="'Validado'" mat-menu-item
                                              (click)="openRequestForm(row._id)">
                                              <mat-icon>assignment_turned_in</mat-icon>
                                              Revisar3
                                          </button> -->
                                          <div *ngSwitchCase="'Asignado'">
                                              <!-- <button
                                                  *ngIf="row.status==='Pendiente'  && (role==='coordinación de titulación' || role==='administrador')"
                                                  mat-menu-item (click)="openDiary(row._id)">                                                    
                                                  Agenda
                                                  <mat-icon>calendar_today</mat-icon>
                                              </button> -->
                                              <button mat-menu-item (click)="openDiary(row._id)"
                                                  *ngIf="row.status==='Pendiente'  && (role==='coordinación de titulación' || role==='administrador')">
                                                  <mat-icon>gavel</mat-icon>
                                                  Agenda
                                              </button>
                                              <button
                                                  *ngIf="row.status==='Proceso' && (role==='coordinación de titulación' || role==='administrador')"
                                                  mat-menu-item (click)="openDiary(row._id)">
                                                  <mat-icon>event</mat-icon>
                                                  Confirmación
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Realizado'">
                                              <button *ngIf="(role==='coordinación de titulación'  || role==='administrador') && (row.status==='Pendiente' || row.status==='Proceso')
                                                  && row.isIntegral" mat-menu-item
                                                  (click)="juryNotification(row._id)">
                                                  <mat-icon>contact_mail</mat-icon>
                                                  Generar Documentación
                                              </button>
                                              <button
                                                  *ngIf="role==='secretaria académica' || role==='jefe académico' || role==='administrador' && (row.status==='Pendiente' || row.status==='Proceso' ) && row.isIntegral"
                                                  mat-menu-item (click)="generateTrades(row._id)">
                                                  <mat-icon>contact_mail</mat-icon>
                                                  Generar Oficio
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Proceso'"
                                                  mat-menu-item (click)="approve(row._id,row.studentId,row.controlNumber)">
                                                  <mat-icon>gavel</mat-icon>
                                                  Aprobar
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Generado'">
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Pendiente'"
                                                  mat-menu-item (click)="generated(row._id,'Process')">
                                                  <mat-icon>print</mat-icon>
                                                  Generar Acta
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && (row.status==='Impreso' || row.status==='Aceptado')"
                                                  mat-menu-item (click)="reImprimir(row._id)">
                                                  <mat-icon>print</mat-icon>
                                                  Reimprimir Acta
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Impreso'"
                                                  mat-menu-item (click)="generated(row._id,'Printed')">
                                                  <mat-icon>contact_mail</mat-icon>
                                                  Acta para entrega
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Aceptado'"
                                                  mat-menu-item (click)="generated(row._id,'Accept')">
                                                  <mat-icon>done_all</mat-icon>
                                                  Acta Entregada
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Titulado'">
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Pendiente'"
                                                  mat-menu-item (click)="titled(row._id,'Process',row)">
                                                  <mat-icon>contact_phone</mat-icon>
                                                  Notificar para entrega de título
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Proceso'"
                                                  mat-menu-item (click)="titled(row._id,'Accept')">
                                                  <mat-icon>verified_user</mat-icon>
                                                  Validar Documentos
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Aceptado'"
                                                  mat-menu-item (click)="titled(row._id,'Finalized')">
                                                  <mat-icon>school</mat-icon>
                                                  Título Entregado
                                              </button>
                                          </div>
                                          <!-- <button *ngSwitchDefault mat-menu-item (click)="openRequestForm(row._id)">
                                                                <mat-icon>assignment_turned_in</mat-icon>
                                                                Revisar
                                                            </button> -->
                                      </div>
                                  </mat-menu>
                              </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[5, 10, 15,20]"></mat-paginator>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="center">
  <app-loader [loading]="showLoading"></app-loader>
</div>