
<div class="row w-100 m-0 p-0" *ngIf="tabNumber">
  <div class="col-12 p-0">
      <div class="card">
        <div class="row text-center p-4 m-0 mt-2" *ngIf = "tabNumber === 5" style="padding: 5px;">
            <div class="col-xs-12 col-sm-6 col-md-3">
               <mat-card class = "cardStatus"><b>Pendientes</b><br>{{cantPendientes}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-card class = "cardStatus"><b>Impresas</b><br>{{cantImpresos}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-card class = "cardStatus"><b>Listas</b><br>{{cantListos}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-card class = "cardStatus"><b>Entregadas</b><br>{{cantEntregados}}</mat-card>
            </div>
          </div>
          <div class="row" *ngIf = "tabNumber === 6" style="padding: 5px;">
            <div class="col-xs-12 col-sm-6 col-md-3">
               <mat-card class = "cardStatus"><b>Actas Listas</b><br>{{cantListos}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <mat-card class = "cardStatus"><b>Actas Entregadas</b><br>{{cantEntregados}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <mat-card class = "cardStatus"><b>Tít. Registrados</b><br>{{cantProceso}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <mat-card class = "cardStatus"><b>Tít. Listos</b><br>{{cantAceptados}}</mat-card>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-card class = "cardStatus"><b>Tít. Entregados</b><br>{{cantFinalizados}}</mat-card>
            </div>
          </div>
          <div class="row text-center p-4 m-0 mt-2" *ngIf="role!=='jefe académico' && role!=='secretaria académica'">              
              <div class="col-xs-12 col-md-3" *ngIf="tabNumber === 1">
                <mat-form-field *ngIf="periods && tabNumber === 6 || tabNumber === 1">
                    <mat-chip-list #chipList aria-label="Period selection">
                        <mat-chip
                            *ngFor="let p of usedPeriods"
                            selectable="true"
                            removable="true"
                            (removed)="remove(p)">
                            {{p.periodName}}-{{p.year}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Filtrar por periodo..."
                            #periodInput
                            [formControl]="periodCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addPeriod($event)"                   
                            (ngModelChange) = "filterPeriod($event)"
                            matInput
                            >
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let period of periods" [value]="period" (click)="slectedPeriod(period)">
                        {{period.periodName}}-{{period.year}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> 
              </div>

              <div class="col-xs-12 col-md-5" *ngIf="tabNumber === 6">
                <mat-form-field *ngIf="periods && tabNumber === 6 || tabNumber === 1">
                    <mat-chip-list #chipList aria-label="Period selection">
                        <mat-chip
                            *ngFor="let p of usedPeriods"
                            selectable="true"
                            removable="true"
                            (removed)="remove(p)">
                            {{p.periodName}}-{{p.year}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Filtrar por periodo..."
                            #periodInput
                            [formControl]="periodCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addPeriod($event)"                   
                            (ngModelChange) = "filterPeriod($event)"
                            matInput
                            >
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let period of periods" [value]="period" (click)="slectedPeriod(period)">
                        {{period.periodName}}-{{period.year}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> 
              </div>

              <div class="col-xs-12 col-md-4" *ngIf="tabNumber === 1">
                <mat-form-field>
                    <mat-chip-list #chipListCareers aria-label="Period selection">
                        <mat-chip
                            *ngFor="let c of usedCareers"
                            selectable="true"
                            removable="true"
                            (removed)="removeCareer(c)">
                            {{c.acronym}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Filtrar por carreras..."
                            #careerInput
                            [formControl]="careerCtrl"
                            [matAutocomplete]="autoCarrers"
                            [matChipInputFor]="chipListCareers"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addCareer($event)"                      
                            (ngModelChange) = "filterCareer($event)"
                            matInput
                            >
                        </mat-chip-list>
                        <mat-autocomplete #autoCarrers="matAutocomplete">
                        <mat-option *ngFor="let career of carreras" [value]="career" (click)="slectedCareer(career)">
                        {{career.shortName}}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-form-field> 
              </div>

              <div class="col-xs-12 col-md-4" *ngIf="tabNumber === 1">
                <mat-form-field>
                    <mat-chip-list #chipListPhases aria-label="Period selection">
                        <mat-chip
                            *ngFor="let p of usedPhases"
                            selectable="true"
                            removable="true"
                            (removed)="removePhase(p)">
                            {{p.status}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Filtrar por estatus..."
                            #phaseInput
                            [formControl]="phaseCtrl"
                            [matAutocomplete]="autoPhases"
                            [matChipInputFor]="chipListPhases"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addPhase($event)"                      
                            (ngModelChange) = "filterPhase($event)"
                            matInput
                            
                            >
                        </mat-chip-list>
                        <mat-autocomplete #autoPhases="matAutocomplete">
                        <mat-option *ngFor="let phase of fases" [value]="phase" (click)="slectedPhase(phase)">
                        {{phase.status}}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-form-field> 
              </div>

              <div class="col-xs-12 col-md-6" *ngIf="tabNumber === 6">
                <mat-form-field>
                    <mat-chip-list #chipListCareers aria-label="Period selection">
                        <mat-chip
                            *ngFor="let c of usedCareers"
                            selectable="true"
                            removable="true"
                            (removed)="removeCareer(c)">
                            {{c.acronym}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Filtrar por carreras..."
                            #careerInput
                            [formControl]="careerCtrl"
                            [matAutocomplete]="autoCarrers"
                            [matChipInputFor]="chipListCareers"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addCareer($event)"                      
                            (ngModelChange) = "filterCareer($event)"
                            matInput
                            >
                        </mat-chip-list>
                        <mat-autocomplete #autoCarrers="matAutocomplete">
                        <mat-option *ngFor="let career of carreras" [value]="career" (click)="slectedCareer(career)">
                        {{career.shortName}}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-form-field> 
              </div>

              <div class="col-11" *ngIf="tabNumber !== 6 && tabNumber !== 1">
                <mat-form-field>
                    <mat-chip-list #chipListCareers aria-label="Period selection">
                        <mat-chip
                            *ngFor="let c of usedCareers"
                            selectable="true"
                            removable="true"
                            (removed)="removeCareer(c)">
                            {{c.acronym}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>              
                        <input
                            placeholder="Filtrar por carreras..."
                            #careerInput
                            [formControl]="careerCtrl"
                            [matAutocomplete]="autoCarrers"
                            [matChipInputFor]="chipListCareers"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            matChipInputAddOnBlur="true"
                            (matChipInputTokenEnd)="addCareer($event)"                      
                            (ngModelChange) = "filterCareer($event)"
                            matInput
                            >
                        </mat-chip-list>
                        <mat-autocomplete #autoCarrers="matAutocomplete">
                        <mat-option *ngFor="let career of carreras" [value]="career" (click)="slectedCareer(career)">
                        {{career.shortName}}
                        </mat-option>
                    </mat-autocomplete>
                    </mat-form-field> 
              </div>

              <div class="col-xs-12 col-md-1">
                  <button mat-mini-fab mat-icon-button color="primary" style="float: right; margin-left: 5px;"
                      (click)="reload()" data-toggle="tooltip" title="Actualizar">
                      <mat-icon>cached</mat-icon>
                  </button>
              </div>
          </div>
          <div class="row mx-1" *ngIf="tabNumber == 1 || tabNumber == 6">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Filtro</span>
                    </div>
                    <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)"
                        placeholder="Filtro" id="myfilter">
                </div>
        </div>
              <div class="row">
                  <div class="mat-elevation-z8 col-12">
                      <table mat-table [dataSource]="dataSource" matSort>
                          <!-- ID Column -->
                          <ng-container matColumnDef="_id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                              <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                          </ng-container>

                          <!-- Progress Column -->
                          <ng-container matColumnDef="controlNumber">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Número
                                  Control
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.controlNumber}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="fullName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%"> Nombre
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:20%"> {{row.fullName}} </td>
                          </ng-container>

                          <!-- Color Column -->
                          <ng-container matColumnDef="career">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Carrera
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.careerAcronym}} </td>
                          </ng-container>

                          <ng-container matColumnDef="phase">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Fase </th>
                              <td mat-cell *matCellDef="let row" style="width:10%">
                                  <div [ngSwitch]="row.phase">
                                      <span *ngSwitchCase="'Capturado'"
                                          class="badge badge-pill badge-captured">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Enviado'"
                                          class="badge badge-pill badge-sent">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Verificado'"
                                          class="badge badge-pill badge-verified">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Registrado'"
                                          class="badge badge-pill badge-registered">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Liberado'"
                                          class="badge badge-pill badge-released">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Entregado'"
                                          class="badge badge-pill badge-delivered">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Validado'"
                                          class="badge badge-pill badge-validated">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Asignado'"
                                          class="badge badge-pill badge-assigned">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Realizado'"
                                          class="badge badge-pill badge-realized">{{row.phase}}</span>
                                      <span *ngSwitchCase="'Generado'"
                                          class="badge badge-pill badge-generated">{{row.phase}}</span>
                                      <span *ngSwitchDefault class="badge badge-pill badge-gray">{{row.phase}}</span>
                                  </div>
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Estatus
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%">
                                  {{row.status}}
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="titulationDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Fecha Acto Recepcional
                            </th>
                            <td mat-cell *matCellDef="let row" style="width:10%">
                                {{row.proposedDateLocal}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="optionTitled">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Opción Titulación
                            </th>
                            <td mat-cell *matCellDef="let row" style="width:10%; text-align: center;">
                                {{row.titulationOption.split(' ')[0]}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="applicationDateLocal">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Fecha Creación
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.applicationDateLocal}}
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="lastModifiedLocal">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%">Última
                                  Modificación
                              </th>
                              <td mat-cell *matCellDef="let row" style="width:10%"> {{row.lastModifiedLocal}}
                              </td>
                          </ng-container>

                          <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:5%"></th>
                              <td mat-cell *matCellDef="let row" style="width:5%">
                                  <button mat-icon-button [matMenuTriggerFor]="actions">
                                      <mat-icon>more_vert</mat-icon>
                                  </button>
                                  <mat-menu #actions="matMenu">
                                      <!-- <button mat-menu-item (click)="seeRequestPDF(row._id)">
                                                            <mat-icon>visibility</mat-icon>
                                                            Ver solicitud
                                                        </button> -->
                                      <button mat-menu-item (click)="viewHistory(row._id)">
                                          <mat-icon>assignment</mat-icon>
                                          Historial de Avance
                                      </button>
                                      <button mat-menu-item (click)="seeRecord(row._id, row)">
                                          <mat-icon>folder_shared</mat-icon>
                                          Expediente
                                      </button>
                                      <div [ngSwitch]="row.phase">
                                          <div *ngSwitchCase="'Enviado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='coordinación de titulación' || role==='administrador'"
                                                  (click)="checkRequest(row._id)">
                                                  <mat-icon>assignment_turned_in</mat-icon>
                                                  Revisar
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Verificado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='jefe académico' || role==='administrador'"
                                                  (click)="Verified(row._id)">
                                                  <mat-icon>touch_app</mat-icon>
                                                  Firmar Proyecto
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Registrado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='secretaria académica' || role==='jefe académico' || role==='administrador'"
                                                  (click)="releasedRequest(row._id)">
                                                  <mat-icon>lock_open</mat-icon>
                                                  Liberación
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Liberado'">
                                              <button mat-menu-item
                                                  *ngIf="role==='servicios estudiantiles' || role==='administrador'"
                                                  (click)="checkReleased(row._id)">
                                                  <mat-icon>thumbs_up_down</mat-icon>
                                                  Validar Liberación
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Entregado'">
                                              <button
                                                  *ngIf="row.status!=='Pendiente' && (role==='servicios estudiantiles' || role==='administrador')"
                                                  mat-menu-item (click)="Review(row._id, row)">
                                                  <mat-icon>search</mat-icon>
                                                  Revisar
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Validado'">
                                              <button
                                                  *ngIf="row.status==='Pendiente' && (role==='jefe de servicios escolares' || role==='administrador')"
                                                  mat-menu-item (click)="signProof(row._id)">
                                                  <mat-icon>touch_app</mat-icon>
                                                  Firmar Constancias
                                              </button>
                                          </div>
                                          <!-- <button *ngSwitchCase="'Validado'" mat-menu-item
                                              (click)="openRequestForm(row._id)">
                                              <mat-icon>assignment_turned_in</mat-icon>
                                              Revisar3
                                          </button> -->
                                          <div *ngSwitchCase="'Asignado'">
                                              <!-- <button
                                                  *ngIf="row.status==='Pendiente'  && (role==='coordinación de titulación' || role==='administrador')"
                                                  mat-menu-item (click)="openDiary(row._id)">                                                    
                                                  Agenda
                                                  <mat-icon>calendar_today</mat-icon>
                                              </button> -->
                                              <button mat-menu-item (click)="openDiary(row._id)"
                                                  *ngIf="row.status==='Pendiente'  && (role==='coordinación de titulación' || role==='administrador')">
                                                  <mat-icon>gavel</mat-icon>
                                                  Agenda
                                              </button>
                                              <button
                                                  *ngIf="row.status==='Proceso' && (role==='coordinación de titulación' || role==='administrador')"
                                                  mat-menu-item (click)="openDiary(row._id)">
                                                  <mat-icon>event</mat-icon>
                                                  Confirmación
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Realizado'">
                                              <button *ngIf="(role==='coordinación de titulación'  || role==='administrador') && (row.status==='Pendiente' || row.status==='Proceso')
                                                  && row.isIntegral" mat-menu-item
                                                  (click)="juryNotification(row._id)">
                                                  <mat-icon>contact_mail</mat-icon>
                                                  Generar Documentación
                                              </button>
                                              <button
                                                  *ngIf="role==='secretaria académica' || role==='jefe académico' || role==='administrador' && (row.status==='Pendiente' || row.status==='Proceso' ) && row.isIntegral"
                                                  mat-menu-item (click)="generateTrades(row._id)">
                                                  <mat-icon>contact_mail</mat-icon>
                                                  Generar Oficio
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Proceso'"
                                                  mat-menu-item (click)="approve(row)">
                                                  <mat-icon>gavel</mat-icon>
                                                  Aprobar
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Generado'">
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Pendiente'"
                                                  mat-menu-item (click)="generated(row._id, 'Process')">
                                                  <mat-icon>print</mat-icon>
                                                  Generar Acta
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && (row.status==='Impreso' || row.status==='Aceptado')"
                                                  mat-menu-item (click)="reImprimir(row._id)">
                                                  <mat-icon>print</mat-icon>
                                                  Reimprimir Acta
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Impreso'"
                                                  mat-menu-item (click)="generated(row._id, 'Printed')">
                                                  <mat-icon>contact_mail</mat-icon>
                                                  Acta para entrega
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Aceptado'"
                                                  mat-menu-item (click)="generated(row._id, 'Accept')">
                                                  <mat-icon>done_all</mat-icon>
                                                  Acta Entregada
                                              </button>
                                          </div>
                                          <div *ngSwitchCase="'Titulado'">
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Pendiente'"
                                                  mat-menu-item (click)="titled(row._id, 'Process', row)">
                                                  <mat-icon>contact_phone</mat-icon>
                                                  Notificar para entrega de título
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Proceso'"
                                                  mat-menu-item (click)="titled(row._id, 'Accept', row)">
                                                  <mat-icon>verified_user</mat-icon>
                                                  Validar Documentos
                                              </button>
                                              <button
                                                  *ngIf="(role==='servicios estudiantiles' || role==='administrador') && row.status==='Aceptado'"
                                                  mat-menu-item (click)="titled(row._id, 'Finalized', row)">
                                                  <mat-icon>school</mat-icon>
                                                  Título Entregado
                                              </button>
                                          </div>
                                          <!-- <button *ngSwitchDefault mat-menu-item (click)="openRequestForm(row._id)">
                                                                <mat-icon>assignment_turned_in</mat-icon>
                                                                Revisar
                                                            </button> -->
                                      </div>
                                  </mat-menu>
                              </td>
                          </ng-container>

                          <ng-template [ngIf]="tabNumber < 4" [ngIfElse]="elseBlock">
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </ng-template>
                          <ng-template #elseBlock>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsGestionTitled"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsGestionTitled;"></tr>
                          </ng-template>
                      </table>
                      <mat-paginator [pageSizeOptions]="[5, 10, 15,20]"></mat-paginator>
                  </div>
              </div>
      </div>
  </div>
</div>
<div class="center">
  <app-loader [loading]="showLoading"></app-loader>
</div>