<mat-card>
  <button mat-mini-fab matTooltip="Agregar una asistencia" class="addAssistance" type="button"><mat-icon>person_add</mat-icon></button>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <div (click)="loadTab(1)">
            Control de asistencia
          </div>
        </ng-template>
        <div *ngIf="tab1">
          <app-control-student-attendance></app-control-student-attendance>
        </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <div (click)="loadTab(2)">
              Solicitudes
            </div>
          </ng-template>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <div (click)="loadTab(2)">
                  Solicitudes Firmadas
                </div>
              </ng-template>
              <br>
              <div *ngIf="tab2">
                <app-control-students-signed-requests></app-control-students-signed-requests>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <div (click)="loadTab(3)">
                  Solicitudes Aceptadas
                </div>
              </ng-template>
              <br>
              <div *ngIf="tab3">
                <app-control-student-approved-requests></app-control-student-approved-requests>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <div (click)="loadTab(4)">
                  Todas las Solicitudes
                </div>
              </ng-template>
              <br>
              <div *ngIf="tab4">
                <app-control-students-all-requests></app-control-students-all-requests>
              </div>
            </mat-tab>
          </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>



