<mat-card>
  <button mat-mini-fab matTooltip="Agregar una asistencia" class="addAssistance" type="button"><mat-icon>person_add</mat-icon></button>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="changeTab($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            Control de asistencia
          </div>
        </ng-template>
        <div>
          <div class="row p-3">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                       oninput="this.value=this.value.toUpperCase()">
              </mat-form-field>
            </div>
            <div class="col-1 justify-content-end text-center">
              <input #fileUpload type="file" accept=".csv" (change)="onUpload($event)" style="display: none">
              <button mat-mini-fab class="m-1" class="bg-success" (click)="fileUpload.click()" data-toggle="tooltip"
                      title="Cargar asistencia por csv">
                <mat-icon class="text-white">publish</mat-icon>
              </button>
            </div>
            <div class="col-1 justify-content-end text-center">
              <button mat-mini-fab class="m-1" color="primary" (click)="refreshAttendance()" data-toggle="tooltip"
                      title="Recargar">
                <mat-icon>update</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <table mat-table [dataSource]="dataSourceAttendance" matSort>
              <ng-container *ngFor="let item of displayedColumnsAttendance.slice(0, -1);let index=index"
                            [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsAttendanceName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">
                  <span mat-line *ngIf="index === 3">
                      {{row[item] | date: 'mediumDate'}}
                  </span>
                  <span mat-line *ngIf="index !== 3">
                      {{row[item]}}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button mat-menu-item>
                      <mat-icon class="text-danger">person_add_disabled</mat-icon>
                      <span>Quitar asistencia</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsAttendance" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsAttendance;" mat-row></tr>
            </table>
            <mat-paginator #matPaginatorAttendance [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <div>
              Solicitud
            </div>
          </ng-template>
          <mat-tab-group [selectedIndex]="0" color="warn">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">arrow_forward</mat-icon>
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Solicitudes
              </ng-template>
              <app-control-students-requests></app-control-students-requests>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Presentación
              </ng-template>
              <app-department-control-students-presentation></app-department-control-students-presentation>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                Aceptación
              </ng-template>
            </mat-tab>
          </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>



