<mat-card>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">list</mat-icon>
          Control de asistencia
        </ng-template>
        <div>
          <div class="row p-3">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                       oninput="this.value=this.value.toUpperCase()">
              </mat-form-field>
            </div>
            <div class="col-1 justify-content-end text-center">
              <input #fileUpload type="file" accept=".csv" (change)="onUpload($event)" style="display: none">
              <button mat-mini-fab class="m-1" class="bg-success" (click)="fileUpload.click()" data-toggle="tooltip"
                      title="Cargar asistencia por csv">
                <mat-icon class="text-white">publish</mat-icon>
              </button>
            </div>
            <div class="col-1 justify-content-end text-center">
              <button mat-mini-fab class="m-1" color="primary" (click)="refreshAttendance()" data-toggle="tooltip"
                      title="Recargar">
                <mat-icon>update</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <table mat-table [dataSource]="dataSourceAttendance" matSort>
              <ng-container *ngFor="let item of displayedColumnsAttendance.slice(0, -1);let index=index"
                            [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsAttendanceName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">
                  <mat-icon mat-line *ngIf="index === 3" [ngClass]="(row[item])?'text-success':'text-danger'">
                    {{row[item] ? 'check_circle' : 'remove_circle'}}
                  </mat-icon>
                  <span mat-line *ngIf="index === 4">
                      {{row[item] | date: 'mediumDate'}}
                  </span>
                  <span mat-line *ngIf="![3, 4].includes(index)">
                      {{row[item]}}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button mat-menu-item (click)="removeAssistance(row['_id'])">
                      <mat-icon class="text-danger">remove_circle</mat-icon>
                      <span>Quitar asistencia</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsAttendance" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsAttendance;" mat-row></tr>
            </table>
            <mat-paginator #matPaginatorAttendance [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="warn">add_circle</mat-icon>
          Agregar asistencias
        </ng-template>
        <div class="w-75 m-4 mx-auto">
          <small>Ingrese los números de control correspondientes para registrar la asistencia</small>
          <mat-form-field style="width: 100%;">
            <mat-chip-list #chipList aria-label="Numeros de control">
              <mat-chip *ngFor="let student of assistance" selectable="true"
                        removable="true" (removed)="remove(student)">
                {{student.controlNumber}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="No. de Control 1840...., 1940..., 2040..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     matChipInputAddOnBlur="true"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" class="w-75" (click)="addAssistance()" [disabled]="addAssistanceBtn">
              Registrar asistencia
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>



