<div class="row justify-content-center">
  <mat-card [ngClass]="showFormPanel ? 'col-sm-11 col-md-5 m-2' : 'col-sm-11 col-md-7 m-2'">
    <div class="row m-2">
      <button (click)="newDepartment()" color="primary" mat-raised-button>Crear departamento</button>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Búsqueda</mat-label>
        <input (keyup)="searchDepartment()" [(ngModel)]="searchText"
               matInput oninput="this.value=this.value.toUpperCase()"
               placeholder="Buscar departamento">
      </mat-form-field>
    </div>
    <mat-selection-list class="departments-list list">
      <mat-list-item *ngFor="let department of departments" class="department-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ department.name }} ({{department.shortName}})</mat-card-title>
          </mat-card-header>
          <mat-card-actions align="end">
            <button (click)="viewDepartment(department)" mat-button>Ver</button>
            <button (click)="editDepartment(department)" color="primary" mat-button>Editar</button>
            <button (click)="removeDepartment(department)" color="warn" mat-button>Eliminar</button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
    </mat-selection-list>
  </mat-card>
  <mat-card *ngIf="showFormPanel" class="col-sm-11 col-md-6 m-2">
    <div class="float-right close" placement="top">
      <button (click)="closeFormPanel()" aria-label="Cerrar panel" mat-icon-button ngbTooltip="Cerrar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form (ngSubmit)="saveDepartment()" [formGroup]="departmentForm">
      <mat-card-title>{{ titleCardForm }}</mat-card-title>
      <mat-card-content class="card-body">
        <mat-form-field class="col-12">
          <input [formControl]="departmentForm.get('name')" matInput oninput="this.value = this.value.toUpperCase()"
                 placeholder="Nombre del departamento"
                 type="text">
          <mat-error *ngIf="!departmentForm.get('name').valid && departmentForm.get('name').touched"
                     class="invalid-feedback">
            <span *ngIf="departmentForm.get('name').errors['required']">
              ¡Por favor ingrese el nombre del departamento!
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
          <input [formControl]="departmentForm.get('shortName')" matInput
                 oninput="this.value = this.value.toUpperCase()"
                 placeholder="Iniciales del departamento"
                 type="text">
          <mat-error *ngIf="!departmentForm.get('shortName').valid && departmentForm.get('shortName').touched"
                     class="invalid-feedback">
            <span *ngIf="departmentForm.get('shortName').errors['required']">
              ¡Por favor ingrese las iniciales del departamento!
            </span>
          </mat-error>
        </mat-form-field>
        <mat-card class="m-2 p-2">
          <mat-card-subtitle>Carreras</mat-card-subtitle>
          <mat-card-content class="careers-list list">
            <mat-chip-list>
              <mat-chip (removed)="isCareerAssigned(career) ? deallocateCareer(career) : assignCareer(career)"
                        *ngFor="let career of careers"
                        [ngClass]="isCareerAssigned(career) ? 'assigned-career' : 'not-assigned-career'"
                        [removable]="!isViewDetails">
                {{ career.shortName }}
                <mat-icon matChipRemove *ngIf="!isViewDetails">{{isCareerAssigned(career) ? 'cancel' : 'check'}}</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card-actions *ngIf="!isViewDetails" align="end" style="padding:8px;margin:0px;">
        <button [disabled]="departmentForm.invalid" color="primary" mat-button type="submit">
          Guardar
        </button>
        <button (click)="departmentForm.reset()" color="warn" mat-button type="button">Limpiar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
