.mat-column-actions{
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 80px !important;
    width: 80px !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-actualPhone{
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 88px !important;
    width: 88px !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-email{
    Word-wrap: break-Word !important;
    white-space: unset !important;
    flex: 0 0 22% !important;
    width: 22% !important;
    overflow-wrap: break-Word;
    Word-wrap: break-Word;
  
    Word-break: break-Word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }