.invalid-feedback {
    display: block;
    color: #DC3849;
}

th {background: rgb(89,98,106)}
th {color:white}

.inputNc{
    width: 20%;
}
.div-img{
    width: 30px;
}

.searchNc{
    width: 30px; 
    height: 30px;
}

.div-dataEmailUpdate{
    color:rgb(55, 89, 149);
}