
.btn-light , .btn-light:active, .btn-light:visited {
    color: #353bb5;
    background-color: rgba(70, 77, 238, 0.2);
    border: 1px solid #4047db; 
  }

  .breadcrumb {
    background: #fff;//#2f323e;
    height: 40px;
    padding: 10px;
    border: 1px solid #2f323e;
    border-radius: 5px;
  }
  .disable-days{
    border: 1px solid #636987;
    color: #525770;
    background-color: rgba(108, 114, 147, 0.2)
  }  

  .circulo-arqu {
    width: 8px;
    height: 8px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ccd6ff;
}

.circulo-ibqa {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d9c4fd;
}
.circulo-iciv {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #66ff66;
}
.circulo-iele {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffb3ff;
}
.circulo-igem {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ff6666;
}
.circulo-iind {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffb366;
}
.circulo-imct {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffff66;
}
.circulo-iqui {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #b3ff66;
}
.circulo-ladm {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d5d9de;
}
.circulo-isic {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #acecd1;
}
.circulo-itic {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ace3ea;
}
 
.circulo-all {
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #32cd32;
}

.div-img img{
  cursor: pointer;
}
#table{
  display: none;
}
#table thead{
  text-align: center;
    background-color: #1e2d49;
    color: #fff;
}
#table tbody{
  text-align: center;
}