<mat-tab-group mat-align-tabs="center" headerPosition="Top" dynamicHeight mat-stretch-tabs style="margin: -15px;">
  
  <!-- SOLICITUDES -->

  <mat-tab label="Solicitudes" class="p-md-5">
    <mat-accordion class="course-headers-align" multi>
      <div *ngFor="let requestsCourse of requestsCourses">
        <mat-expansion-panel *ngFor="let requestsCourseForDay of requestsCourse.days">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{requestsCourse.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{requestsCourseForDay.desc}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="requestsCourseForDay.hours" class="mat-elevation-z8">
    
            <ng-container matColumnDef="desc">
              <mat-header-cell *matHeaderCellDef>Horario</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.desc}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="students">
              <mat-header-cell *matHeaderCellDef>Estudiantes</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.students.length}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                   <button (click)="openDialogTableStudents(requestsCourse._id, requestsCourse.name, requestsCourseForDay._id, requestsCourseForDay.desc, row)" mat-icon-button>
                    <mat-icon>view_list</mat-icon>
                   </button>
                   <button (click)="deleteRequestForHour(requestsCourse._id, requestsCourseForDay._id, row._id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                   </button>
              </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="['desc', 'students', 'actions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['desc', 'students', 'actions']"></mat-row>
          </table>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-tab>

<!-- AULAS -->

  <mat-tab label="Aulas">
    <div class="row justify-content-center">
      <div class="col-md-4 col-12 pt-md-5 pt-3">
        <form style="text-align: center;" [formGroup]="classroomForm" (ngSubmit)="onCreateClassroom()">
          <div>
            <mat-form-field>
              <mat-label>Nombre del Aula:</mat-label>
              <input matInput formControlName="name" required>
              </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Horario:</mat-label>
              <input matInput formControlName="schedule" required>
              </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Capacidad:</mat-label>
              <input matInput formControlName="capacity" required>
            </mat-form-field>
          </div>

          <div class="mt-0">
            <button [class.button-blue]="!classroomForm.invalid" type="submit" [disabled]="classroomForm.invalid" mat-button>Crear Aula</button>
          </div>
        </form>
      </div>
  
      <div class="col-md-4 pr-md-5 pt-md-5 pt-3">
        <table mat-table [dataSource]="classrooms" class="mat-elevation-z8">
      
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Aula</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="schedule">
            <mat-header-cell *matHeaderCellDef>Horario</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.schedule}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="capacity">
            <mat-header-cell *matHeaderCellDef>Capacidad</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.capacity}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <mat-header-cell  *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let row">
                 <button (click)="deleteClassroom(row._id)" mat-icon-button>
                  <mat-icon>delete</mat-icon>
                 </button>
                 <button (click)="deleteClassroom(row._id)" mat-icon-button><!-- ese click es el de eliminar, esta mal--> 
                  <mat-icon>edit</mat-icon> <!-- Checar el nombre para editar-->
                </button>
              </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="['name', 'schedule', 'capacity', 'actions']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['name', 'schedule', 'capacity', 'actions']"></mat-row>
        </table>
      </div>
    </div>
  </mat-tab>

  <!-- GRUPOS -->

  <mat-tab label="Grupos">

    <div class="row justify-content-center p-3">

      <div>

        <button class="button-blue" mat-raised-button (click)="openDialogFormCreateGroup()">Nuevo Grupo</button>

      </div>

    </div>

    <div>
      <table mat-table [dataSource]="groups" class="mat-elevation-z8">
    
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="course">
          <mat-header-cell *matHeaderCellDef>Curso</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.course.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef>Nivel</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.level}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef>Periodo</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.period.periodName}} ({{row.period.year}})</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Estatus</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell  *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!--Opciones-->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name', 'course', 'level', 'period', 'status', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'course', 'level', 'period', 'status', 'actions']"></mat-row>
      </table>
    </div>
    
  </mat-tab>

  <!-- CURSOS -->

  <mat-tab label="Cursos">


    
    <div class="row justify-content-center p-3">

      <div>

        <button class="button-blue" mat-raised-button (click)="openDialogFormCreateCourse()">Nuevo Curso</button>

      </div>

    </div>

    <div>
      <table mat-table [dataSource]="englishCourses" class="mat-elevation-z8">
    
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Curso</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dailyHours">
          <mat-header-cell *matHeaderCellDef>Horas diarias</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.dailyHours}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="semesterHours">
          <mat-header-cell *matHeaderCellDef>Horas por semestre</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.semesterHours}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalSemesters">
          <mat-header-cell *matHeaderCellDef>Semestres</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.totalSemesters}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="totalHours">
          <mat-header-cell *matHeaderCellDef>Total de horas</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.totalHours}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell  *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">

            <!--
            <mat-slide-toggle
                [checked]="row.status == 'active'"
                >
              Activo
            </mat-slide-toggle>
               <button (click)="opcion(row._id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
               </button>
               -->
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name', 'dailyHours', 'semesterHours', 'totalSemesters', 'totalHours', 'actions']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'dailyHours', 'semesterHours', 'totalSemesters', 'totalHours', 'actions']"></mat-row>
      </table>
    </div>
    
  </mat-tab>

</mat-tab-group>