table {
  width: 100%;
}

.course-headers-align .mat-expansion-panel-header-title,
.course-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.course-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.course-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.button-blue{
  background-color: #183969;
  color: white;
}

.mat-button-selected{
  background-color: #183969;
  color: white;
}

.status-available{
  background-color: #183969;
  color: white;
}

.status-occupied{
  background-color: green;
  color: white;
}

.status-none{
  background-color: #C7C7C7;
  color: white;
}

.table-row{
  cursor:pointer;
}