<mat-tab-group mat-align-tabs="center" headerPosition="Top" dynamicHeight mat-stretch-tabs style="margin: -15px;">

  <!-- SOLICITUDES -->

  <mat-tab label="Solicitudes" class="p-md-5">
    <app-courses-request-table></app-courses-request-table>
  </mat-tab>

  <!-- GRUPOS -->

  <mat-tab label="Grupos">

    <mat-tab-group>

      <mat-tab label="Activos en clases">
        <!-- tabla -->
        <div style="position: relative; background: white;">
          <div class="filters" style="display:flex; align-items: baseline; justify-content: flex-end;">
            <mat-form-field appearance="outline" class="col-md-12 col-lg-7">
              <input matInput (keyup)="applyFilterG()" placeholder="Buscar..." [(ngModel)]="searchGA"
                (keyup)="applyFilterG()" (focus)="setupFilterG()">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div style="position: relative; overflow: auto; max-width: 100%;">

            <table mat-table [dataSource]="dataSourceActiveGroups" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="course">
                <mat-header-cell *matHeaderCellDef>Curso</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.course.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef>Bloque</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.level}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="teacher">
                <mat-header-cell *matHeaderCellDef>Docente</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.teacher ? row.teacher.name.fullName : 'Sin asignar'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="request">
                <mat-header-cell *matHeaderCellDef>Alumnos Inscritos</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.numberStudents}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef style="justify-content: center; width: 5%;">Acciones
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #actions="matMenu">
                    <button (click)="openDilogViewScheduleGroup(row.schedule)" mat-menu-item>
                      <mat-icon>watch_later</mat-icon>
                      <span>Ver Horario</span>
                    </button>
                    <button (click)="openDialogshowGroupStudents(row)" mat-menu-item>
                      <mat-icon>view_list</mat-icon>
                      <span>Ver Alumnos Inscritos</span>
                    </button>
                    <button (click)="openDialogAddGroupStudents(row)" mat-menu-item>
                      <mat-icon>people_alt</mat-icon>
                      <span>Agregar Alumnos</span>
                    </button>
                    <button (click)="generateExcelActiveGroup(row)" mat-menu-item>
                      <mat-icon>view_comfy</mat-icon>
                      <span>Generar Lista Excel</span>
                    </button>
                    <button (click)="openDialogshowEnglishTeachers(row)" mat-menu-item>
                      <mat-icon>person_add</mat-icon>
                      <span>{{ getEnglishTeacherItemName(row) }}</span>
                    </button>
                    <button (click)="openDialogShowClassrooms(row)" mat-menu-item>
                      <mat-icon>domain</mat-icon>
                      <span>Asignación de aula</span>
                    </button>
                  </mat-menu>

                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="['name', 'course', 'level', 'teacher', 'request', 'actions']">
              </mat-header-row>
              <mat-row *matRowDef="let row; columns: ['name', 'course', 'level', 'teacher', 'request', 'actions']">
              </mat-row>
            </table>

          </div>

          <!--Paginas-->
          <mat-paginator #matPaginatorActiveGroups [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

        </div>
        <!-- tabla -->
      </mat-tab>

      <mat-tab label="Grupos en general">

        <mat-card>
          <mat-card-content>

            <div class="row text-center p-4 m-0 mt-2" style="align-items: center;">
              <div class="col-xs-12 col-md-4">
                <mat-form-field *ngIf="periods" class="w-100">
                  <mat-chip-list #chipList aria-label="Period selection">
                    <mat-chip *ngFor="let p of usedPeriods" selectable="true" removable="true"
                      (removed)="removePeriod(p)">
                      {{p.periodName}}-{{p.year}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Filtrar por período..." #periodInput [formControl]="periodCtrl"
                      [matAutocomplete]="auto" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                      (matChipInputTokenEnd)="addPeriod($event)" (ngModelChange)="filterPeriod($event)" matInput>
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let period of periods" [value]="period" (click)="slectedPeriod(period)">
                      {{period.periodName}}-{{period.year}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-md-8">
                <button class="button-blue mr-2" mat-raised-button (click)="openDialogFormCreateGroup()">
                  Nuevo grupo
                </button>
                <button class="button-blue ml-2" mat-raised-button (click)="openDialogFormGenerateGroups()">
                  Generar grupos
                </button>
              </div>

            </div>

            <!--Tabla-->
            <div style="position: relative;">

              <div style="position: relative; overflow: auto; max-width: 100%;">

                <table mat-table [dataSource]="dataSourceGroups" class="mat-elevation-z8" matSort>

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="course">
                    <mat-header-cell *matHeaderCellDef>Curso</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.course.name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="level">
                    <mat-header-cell *matHeaderCellDef>Bloque</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.level}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="period">
                    <mat-header-cell *matHeaderCellDef>Período</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.period.periodName}} ({{row.period.year}})</mat-cell>
                  </ng-container>


                  <ng-container matColumnDef="request">
                    <mat-header-cell *matHeaderCellDef>Solicitudes</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.reqCount}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Estatus</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <mat-chip class="small">{{ getStatusGroupName(row.status) }}</mat-chip>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef style="justify-content: center; width: 5%;">Acciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="actions">
                        <mat-icon>more_vert</mat-icon>
                      </button>

                      <mat-menu #actions="matMenu">
                        <button (click)="openDilogViewScheduleGroup(row.schedule)" mat-menu-item>
                          <mat-icon>watch_later</mat-icon>
                          <span>Ver Horario</span>
                        </button>
                        <button (click)="activeGroup(row)" mat-menu-item>
                          <mat-icon>done</mat-icon>
                          <span>Activar Grupo</span>
                        </button>
                        <button (click)="generateExcelGroupRequests(row)" mat-menu-item>
                          <mat-icon>cloud_download</mat-icon>
                          <span>Descargar solicitudes en excel</span>
                        </button>
                        <ng-container>
                          <button (click)="closeGroup(row)" mat-menu-item>
                            <mat-icon>clear</mat-icon>
                            <span>Cerrar Grupo</span>
                          </button>
                        </ng-container>
                      </mat-menu>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="['name', 'course', 'level', 'period', 'request', 'status', 'actions']">
                  </mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: ['name', 'course', 'level', 'period', 'request', 'status', 'actions']">
                  </mat-row>
                </table>

              </div>

              <!--Paginas-->

              <mat-paginator #matPaginatorCreatedGroups [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

            </div>

          </mat-card-content>
        </mat-card>
      </mat-tab>

      <!--INICIA GRUPOS EVALUADOS-->

      <mat-tab label="Grupos Evaluados">

        <mat-card>
          <mat-card-content>

            <div class="row text-center p-4 m-0 mt-2" style="align-items: center;">
              <div class="col-xs-12 col-md-4">
                <mat-form-field *ngIf="periods" class="w-100">
                  <mat-chip-list #chipList aria-label="Period selection">
                    <mat-chip *ngFor="let p of usedPeriods" selectable="true" removable="true"
                      (removed)="removePeriod(p)">
                      {{p.periodName}}-{{p.year}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Filtrar por período..." #periodInput [formControl]="periodCtrl"
                      [matAutocomplete]="auto" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                      (matChipInputTokenEnd)="addPeriod($event)" (ngModelChange)="filterPeriod($event)" matInput>
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let period of periods" [value]="period" (click)="slectedPeriod(period)">
                      {{period.periodName}}-{{period.year}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

            </div>

            <!--Tabla-->
            <div style="position: relative;">

              <div style="position: relative; overflow: auto; max-width: 100%;" class="mat-elevation-z8">

                <table mat-table [dataSource]="dataSourceGroupsEvaluated" matSort #sortGroupsEvaluated="matSort"
                  matSortActive="ID" matSortDirection="asc">

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="course">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Curso</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.course.name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="level">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Bloque</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.level}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="teacher">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Docente</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.teacher.name.fullName}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef style="justify-content: center; width: 5%;">Acciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="actions">
                        <mat-icon>more_vert</mat-icon>
                      </button>

                      <mat-menu #actions="matMenu">
                        <button (click)="openDilogViewScheduleGroup(row.schedule)" mat-menu-item>
                          <mat-icon>watch_later</mat-icon>
                          <span>Ver Horario</span>
                        </button>
                        <button (click)="uploadAverages(row)" mat-menu-item>
                          <mat-icon>view_list</mat-icon>
                          <span>Mas información</span>
                        </button>
                        <button (click)="generateAct(row)" mat-menu-item>
                          <mat-icon>class</mat-icon>
                          <span>Generar Acta de Calificaciones</span>
                        </button>
                      </mat-menu>

                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="['name', 'course', 'level', 'teacher', 'actions']">
                  </mat-header-row>
                  <mat-row *matRowDef="let row; columns: ['name', 'course', 'level', 'teacher', 'actions']">
                  </mat-row>
                </table>

              </div>

              <!--Paginas-->

              <mat-paginator #matPaginatorGroupsEvaluated [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>

            </div>

          </mat-card-content>
        </mat-card>
      </mat-tab>

      <!--FIN GRUPOS EVALUADOS-->



    </mat-tab-group>

    <ng-template #viewScheduleGroup let-schedule>
      <h1 mat-dialog-title>Horario</h1>
      <div mat-dialog-content>
        <table class="table table-bordered table-hover mt-2">
          <thead>
            <tr>
              <th class="text-center" *ngFor="let day of weekdays" scope="col">
                {{dayschedule[day]}}</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td class="text-center" *ngFor="let day of weekdays; let j = index;">
                <ng-container *ngFor="let hourForDay of schedule;">
                  <ng-container *ngIf="hourForDay.day==day">
                    {{getHour(hourForDay.startHour)}} - {{getHour(hourForDay.endDate)}}
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div mat-dialog-actions>
        <button mat-button cdkFocusInitial matDialogClose class="button-blue">Salir</button>
      </div>
    </ng-template>

  </mat-tab>

  <!-- CURSOS -->

  <mat-tab label="Cursos">

    <mat-card>
      <mat-card-content>

        <div class="row justify-content-center p-3">

          <div>

            <button class="button-blue" mat-raised-button (click)="openDialogFormCreateCourse()">Nuevo Curso</button>

          </div>

        </div>

        <!--Tabla-->
        <div style="position: relative;">

          <div style="position: relative; overflow: auto; max-width: 100%;" class="mat-elevation-z8">

            <table mat-table [dataSource]="coursesDataSource" class="mat-elevation-z8" matSort #sortCourses="matSort"
              matSortActive="ID" matSortDirection="asc">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Curso</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="dailyHours">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Horas diarias</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.dailyHours}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="semesterHours">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Horas por semestre</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.semesterHours}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalSemesters">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Bloques</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.totalSemesters}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalHours">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Total de horas</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.totalHours}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="payment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pagos</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row.payment">
                    {{row.payment.payments}} de ${{row.payment.pay}}
                  </ng-container>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef style="justify-content: center; width: 5%;">Acciones
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #actions="matMenu">
                    <button (click)="openDilogEditCourse(row)" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Editar Curso</span>
                    </button>
                  </mat-menu>

                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="['name', 'dailyHours', 'semesterHours', 'totalSemesters', 'totalHours', 'payment', 'actions']">
              </mat-header-row>
              <mat-row
                *matRowDef="let row; columns: ['name', 'dailyHours', 'semesterHours', 'totalSemesters', 'totalHours', 'payment', 'actions']">
              </mat-row>
            </table>
            <mat-paginator #matPaginatorCourses [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </mat-tab>

</mat-tab-group>

<!-- Tabla reporte alumnos Excel-->
<table class="table table-striped table-bordered table-hover" id="tableActiveGroupReportExcel"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="dataExcel">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Bloque
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Grupo
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Curso
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Docente
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Lunes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Martes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Miércoles
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Jueves
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Viernes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Sábado
      </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th data-a-h="center">{{ dataExcel.group.level }}</th>
      <th data-a-h="center">{{ dataExcel.group.name }}</th>
      <th data-a-h="center">{{ dataExcel.group.course.name }}</th>
      <th data-a-h="center" *ngIf="dataExcel.teacher != ''">{{ dataExcel.teacher}}</th>
      <th data-a-h="center" *ngIf="dataExcel.teacher == ''">Sin Asignar</th>
      <th data-a-h="center">{{dataExcel.schedule.Lunes}}</th>
      <th data-a-h="center">{{dataExcel.schedule.Martes}}</th>
      <th data-a-h="center">{{dataExcel.schedule.Miercoles}}</th>
      <th data-a-h="center">{{dataExcel.schedule.Jueves}}</th>
      <th data-a-h="center">{{dataExcel.schedule.Viernes}}</th>
      <th data-a-h="center">{{dataExcel.schedule.Sabado}}</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Número de Control
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Nombre
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Carrera
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Correo
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Teléfono
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
        let alumno of dataExcel.students;
        let indice = index;
      ">
      <td data-f-sz="12" data-a-h="center">{{ indice + 1 }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.controlNumber }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.fullName }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.career || '---' }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.email }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.currentPhone }}</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered table-hover" id="tablePdfActHead"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="actData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Lunes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Martes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Miércoles
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Jueves
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Viernes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Sábado
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th data-a-h="center">{{actData.schedule.Lunes.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Martes.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Miercoles.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Jueves.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Viernes.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Sabado.hour}}</th>
    </tr>
    <tr>
      <th data-a-h="center">{{actData.schedule.Lunes.classroom.name  ? actData.schedule.Lunes.classroom.name : ''}}</th>
      <th data-a-h="center">{{actData.schedule.Martes.classroom.name  ? actData.schedule.Martes.classroom.name : ''}}
      </th>
      <th data-a-h="center">
        {{actData.schedule.Miercoles.classroom.name  ? actData.schedule.Miercoles.classroom.name : ''}}</th>
      <th data-a-h="center">{{actData.schedule.Jueves.classroom.name  ? actData.schedule.Jueves.classroom.name : ''}}
      </th>
      <th data-a-h="center">{{actData.schedule.Viernes.classroom.name  ? actData.schedule.Viernes.classroom.name : ''}}
      </th>
      <th data-a-h="center">{{actData.schedule.Sabado.classroom.name  ? actData.schedule.Sabado.classroom.name : ''}}
      </th>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered table-hover" id="tablePdfAct"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="actData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No.
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No. Contról
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Nombre del Alumno
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Carrera
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Calificación
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of actData.students; let indice = index;">
      <th data-a-h="center">{{ indice + 1 }}</th>
      <th data-a-h="center">{{ alumno.englishStudent.studentId.controlNumber }}</th>
      <th data-a-h="center">{{ alumno.englishStudent.studentId.fullName }}</th>
      <th data-a-h="center">
        {{ alumno.englishStudent.studentId.careerId ? alumno.englishStudent.studentId.careerId.shortName : '---' }}</th>
      <th data-a-h="center">{{ alumno.average ? alumno.average : 'NA' }}</th>
    </tr>
  </tbody>
</table>


<ng-template #viewEditCourse>

  <h1 mat-dialog-title>Editar Curso</h1>

  <div mat-dialog-content>

    <form [formGroup]="courseFormGroup" class="text-center">

      <div class="m-1">
        <mat-form-field class="m-1">
          <mat-label>Nombre del curso</mat-label>
          <input matInput disabled formControlName="nameCtrl" maxlength="30" placeholder="Cool Tiger" required>
          <mat-error *ngIf="this.courseFormGroup.get('nameCtrl').invalid">Necesitas ingresar un nombre</mat-error>
        </mat-form-field>
        <mat-slide-toggle formControlName="statusCtrl">
          {{this.courseFormGroup.get('statusCtrl').value?'&nbsp;&nbsp;&nbsp;Activo':'Inactivo'}}
        </mat-slide-toggle>
      </div>

      <div class="m-1">
        <mat-form-field class="m-1">
          <mat-label>Horas diarias</mat-label>
          <input matInput disabled formControlName="dailyHoursCtrl" type="number" min="1" maxlength="5" required>
          <mat-error *ngIf="this.courseFormGroup.get('dailyHoursCtrl').invalid">Necesitas ingresar una cantidad
          </mat-error>
        </mat-form-field>

        <mat-form-field class="m-1">
          <mat-label>Horas por semestre</mat-label>
          <input matInput disabled formControlName="semesterHoursCtrl" type="number" min="1" maxlength="3" required>
          <mat-error *ngIf="this.courseFormGroup.get('semesterHoursCtrl').invalid">Necesitas ingresar una cantidad
          </mat-error>
        </mat-form-field>
      </div>

      <div class="m-1">
        <mat-form-field class="m-1">
          <mat-label>Bloques</mat-label>
          <input matInput disabled formControlName="totalSemestersCtrl" type="number" min="1" maxlength="1" required>
          <mat-error *ngIf="this.courseFormGroup.get('totalSemestersCtrl').invalid">Necesitas ingresar una cantidad
          </mat-error>
        </mat-form-field>

        <mat-form-field class="m-1">
          <mat-label>Total de horas a cursar</mat-label>
          <input matInput disabled formControlName="totalHoursCtrl" type="number" min="1" maxlength="3" required>
          <mat-error *ngIf="this.courseFormGroup.get('totalHoursCtrl').invalid">Necesitas ingresar una cantidad
          </mat-error>
        </mat-form-field>
      </div>

      <div class="m-1">
        <mat-form-field class="m-1">
          <mat-label>Pagos</mat-label>
          <input matInput formControlName="paymentsCtrl" type="number" min="1" max="2" maxlength="1" required>
          <mat-error *ngIf="this.courseFormGroup.get('paymentsCtrl').invalid">Ingresar una cantidad valida</mat-error>
        </mat-form-field>

        <mat-form-field class="m-1">
          <mat-label>Precio por pago</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input matInput formControlName="payCtrl" type="number" min="1" maxlength="3" required>
          <mat-error *ngIf="this.courseFormGroup.get('payCtrl').invalid">Ingresar una cantidad valida</mat-error>
        </mat-form-field>
      </div>

    </form>

  </div>

  <div mat-dialog-actions>
    <button class="button-blue" mat-button matDialogClose>Cancelar</button>
    <button [class.button-blue]="!courseFormGroup.invalid" mat-button [mat-dialog-close]="courseFormGroup.value"
      [disabled]="!courseFormGroup.valid" cdkFocusInitial>Guardar</button>
  </div>


</ng-template>