<div class="content-general">

    <div class="card text-center">
        <div class="card-header">
            Bienvenidos
        </div>
        <div class="card-body">
            <h5 class="card-title">Sistema de Gestión de Servicios Escolares del Instituto Tecnológico de Tepic</h5>
            <p class="card-text">Servicios Escolares</p>
            <a *ngIf="role==='secretary'" routerLink="student" class="btn btn-primary">Buscar Alumnos</a>
        </div>
        <div class="card-footer text-muted">
            Tecnológico Nacional de México campus Tepic
        </div>
    </div>

</div>