<div class="sidebar-style">
  <div class="profile-card">
    <img class="profile-icon" [src]="data?.photo || DEFAULT_PROFILE_IMG" alt="">
    <div>
      <p class="profile-text">{{ data.name.fullName }}</p>
      <p class="profile-text">{{ title }}</p>
    </div>
  </div>
  <hr>
  <div>
    <!-- <ul class="menu-style">
      <li>
        <button (click)="closeMenu()" type="button" class="menu-item" routerLink="">
          <img class="menu-item-img" src="assets/icons/house.svg" alt="">
          <p class="menu-item-title">Inicio</p>
        </button>
      </li>
      <li>
        <button (click)="closeMenu('Credenciales')" type="button" class="menu-item">
          <img class="menu-item-img" src="assets/icons/chevron-arrow-down.svg" alt="">
          <p class="menu-item-title">Credenciales</p>
        </button>
        <div *ngIf="showCredentialsItems">

          <div (click)="closeMenu()" *ngIf="role==='student'" routerLink="oneStudentPage" class="menu-item menu-subitem">
            <img class="menu-item-img" src="assets/icons/big-id-card.svg" alt="">
            <span class="menu-item-title">Mi Credencial</span>
          </div>
          <div (click)="closeMenu()" *ngIf="role==='secretary' || role==='administration'" routerLink="student" class="menu-item menu-subitem">
            <img class="menu-item-img" src="assets/icons/student.svg" alt="">
            <span class="menu-item-title">Alumnos</span>
          </div>
          <div (click)="closeMenu()" *ngIf="role==='secretary'|| role==='rechumanos' || role==='administration'" routerLink="employeeCard" class="menu-item menu-subitem">
            <img class="menu-item-img" src="assets/icons/teacher.svg" alt="">
            <span class="menu-item-title">Trabajadores</span>
          </div>
          <div (click)="closeMenu()" *ngIf="role==='administration'" routerLink="loaderDataCredentials" class="menu-item menu-subitem">
            <img class="menu-item-img" src="assets/icons/import.svg" alt="">
            <span class="menu-item-title">Importar Datos</span>
          </div>

        </div>

      </li>
    </ul> -->

    <div *ngFor="let item of menu">
      <div *ngIf="!isUndefined(item.items) else noSubmenu">
        <button mat-menu-item [matMenuTriggerFor]="sub_menu">
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </button>
        <mat-menu #sub_menu>
          <button *ngFor="let submenu of item.items" mat-menu-item routerLink="{{submenu.routerLink}}" (click)="closeMenu()">
            <mat-icon>{{submenu.icon}}</mat-icon>
            <span>{{submenu.label}}</span>
          </button>
        </mat-menu>
      </div>
      <ng-template #noSubmenu>
        <button mat-menu-item routerLink="{{item.routerLink}}" (click)="closeMenu()">
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.label}}</span>
        </button>
      </ng-template>
    </div>
    <!-- <button mat-menu-item routerLink="{{item.routerLink}}">
        <i class="material-icons">{{item.icon}}</i>&nbsp;&nbsp;&nbsp;{{item.label}}
      </button>-->

  </div>
</div>
