<div class="row sticky">
  <div class="col-11">
    <div class="row text-center">
      <div class="col-8 p-0">
        <div style="display: inline;" *ngIf="data.student.stepWizard == 2">
          <button type="button" class="btn btn-secondary" style="margin-left: 7px;" (click)="updateStepWizard()">
          Cambiar
        </button>
        </div>
        <h1 mat-dialog-title>
          {{ data.student.fullName }} - {{ data.student.controlNumber }} - {{data.student.careerId.acronym}}
        </h1>
      </div>
      <div class="col-4 p-0" *ngIf="showInputCurp">
        <mat-form-field style="width: 220px;">
          <input type="text" matInput oninput="this.value=this.value.toUpperCase()" placeholder="CURP" [(ngModel)]="data.student.curp" name="curp" pattern="^[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}$">
        </mat-form-field>
        <div style="display: inline;">
          <button type="button" [disabled]="data.student.curp === ''" class="btn btn-secondary" style="margin-left: 7px;" (click)="updateCurp()">Actualizar</button>
        </div>
      </div>
      <div class="col-4 p-0" *ngIf="showInputNss">
        <mat-form-field style="width: 220px;">
          <input type="text" matInput placeholder="NSS" [(ngModel)]="data.student.nss" name="nss" pattern="^[0-9]{11}$">
        </mat-form-field>
        <div style="display: inline;">
          <button type="button" [disabled]="data.student.nss === ''" class="btn btn-secondary" style="margin-left: 7px;" (click)="updateNss()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
    <button mat-icon-button (click)="onClose()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="content noScroll">

   <div class="row text-center mt-3 p-0">
    <div [class.col-6]="!viewdoc" [class.col-2]="viewdoc">
      <div
        *ngIf="data.user === 'Administrador' && pendings > 0"
        class="row text-center"
      >
        <div class="col-12">
          <mat-checkbox
            (change)="selectAll()"
            [checked]="pendings === selectPendings"
            color="warn"
            >Seleccionar todos</mat-checkbox
          >
        </div>
      </div>
    </div>
    <div [class.col-6]="!viewdoc" [class.col-2]="viewdoc"
    *ngIf="data.user === 'Administrador' && pendings > 0"
    >
      <button
        mat-stroked-button
        color="primary"
        *ngIf="!viewdoc"
        (click)="acceptManyDocuments()"
      >
        Aceptar documento(s)
      </button>
      <button
        mat-stroked-button
        color="primary"
        *ngIf="viewdoc"
        (click)="acceptManyDocuments()"
      >
        Aceptar docto(s)
      </button>
    </div>
   </div>
  <div class="row text-center" *ngIf="documents.length>0">


      <div
        class="text-center pb-1"
        [class.row]="!viewdoc"
        [class.col-12]="!viewdoc"
        [class.col-2]="viewdoc"
        [class.item-maxh]="viewdoc"
        >
        <div
          *ngFor="let doc of documents; let i = index"
          [class.col-3]="!viewdoc"
          class="mt-1"
        >
          <mat-card
          [class.adjustcard]="viewdoc"
          [class.cardini]="!viewdoc"
          [class.process]="doc.status == 'EN PROCESO'"
          [class.reject]="doc.status == 'RECHAZADO'"
          [class.validate]="doc.status == 'VALIDADO'"
          [class.accept]="doc.status == 'ACEPTADO'"
          class="p-0"
          >
            <mat-card-header
            (click)="cardClick( doc.file !== '' ? doc.file.shortName: 'COMPROBANTE')"
              class="doc-card-header"
            >
              <mat-card-title
                *ngIf="!viewdoc"
                [class.processText]="doc.status == 'EN PROCESO'"
                [class.rejectText]="doc.status == 'RECHAZADO'"
                [class.validateText]="doc.status == 'VALIDADO'"
              >
              {{doc.file.fullName}}
              </mat-card-title>
              <mat-card-title
                *ngIf="viewdoc"
                [class.processText]="doc.status == 'EN PROCESO'"
                [class.rejectText]="doc.status == 'RECHAZADO'"
                [class.validateText]="doc.status == 'VALIDADO'"
              >
              {{doc.file.shortName}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="data.user === 'Administrador' && doc.status !== 'ACEPTADO'">
              <div mat-card-avatar>
                <mat-checkbox
                  [checked]="doc.checked"
                  (change)="checkChange(i)"
                  color="primary"
                ></mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <div [class.col-10]="viewdoc" [class.noview]="!viewdoc" class="mt-2">
        <div class="content" [class.viewdoc]="viewdoc">
          <div class="row text-center viewdocheader">
            <div class="col-11">
              <div class="row text-left">
                <div class="col-5">
                  <h4>
                    <strong>{{ docDisplayName }} </strong>
                  </h4>
                </div>
                <div class="col-1" style="display:flex;justify-content:center;">
                  <mat-chip-list aria-label="Historial">
                    <mat-chip (click)="history()" color="warn"
                      ><strong
                        >Historial</strong
                      ></mat-chip
                    >
                  </mat-chip-list>
                </div>
                <div class="col-6">
                  <div class="row" *ngIf="docto">
                    
                      <div
                        class="col-12"
                        *ngIf="docto.status !== 'ACEPTADO'"
                      >
                      <div class="row text-center">

                        <div class="col-6">
                          <div
                            (click)="changeStatus('ACEPTADO')"
                            class="btn-rounded btn-rounded-success"
                          >
                            <mat-icon>done</mat-icon> Aceptar
                          </div>
                        </div>
                        <div class="col-6">
                          <div
                            (click)="changeStatus('RECHAZADO')"
                            class="btn-rounded btn-rounded-danger"
                          >
                            <mat-icon>close</mat-icon> Rechazar
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1">
              <button
                mat-icon-button
                (click)="closeDoc()"
                class="float-right"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-12">
              <div *ngIf="showDocument == true && typeDocShow === 'pdf'">
                <ngx-extended-pdf-viewer
                  [src]="pdfSrc"
                  backgroundColor="#ffffff"
                  [height]="'65vh'"
                  [useBrowserLocale]="true"
                >
                </ngx-extended-pdf-viewer>
              </div>
              <div *ngIf="showDocument == true && typeDocShow === 'image'">
                <img mat-card-image [src]="image" class="imgProfile" />
              </div>

              <div *ngIf="showDocument == false">
                <div class="cssload-thecube">
                  <div class="cssload-cube cssload-c1"></div>
                  <div class="cssload-cube cssload-c2"></div>
                  <div class="cssload-cube cssload-c4"></div>
                  <div class="cssload-cube cssload-c3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
