.action{
    margin-top: 10px;
    width: 30px; 
    height: 30px;
}

.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%; 
    height: 25px;
}

th {
    background: rgb(21,43,84);
    color: white;
}

tr:hover{
    cursor: pointer;
}

tr>th:hover{
    cursor: default;
}

td {
    vertical-align: middle;
}
.table-hover tbody tr{
    transition: all 300ms ease-out;
}
.table-hover tbody tr:hover {
    background: rgb(55, 89, 149);
    color: white;
}

.div-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



// .fa-pencil{
//     color:#ffbb33;
//     font-size: 1.35em;
// }


tr:nth-child(even) {
    background-color: #f2f2f2
  }

// .style-row {
//     background-color: #e3f2fd;
//     color: #000000;
// }

.breadcrumb {
  background: #fff;//#2f323e;
  height: 40px;
  padding: 10px;
  border: 1px solid #2f323e;
  border-radius: 5px;
}

.breadcrumb li{
  color:#000;
  height: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

td > mat-icon {
  cursor: pointer;
}


.action{
  width: 30px; 
  height: 30px;
}

