<ng-template #content let-c="close('Save click')" let-d="dismiss('Cross click')" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccione el área de la foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2.5 / 3" format="png"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-login" (click)="c">Actualizar</button>
    <button type="button" class="btn btn-link" (click)="d">Cancelar</button>
  </div>
</ng-template>

<div class="content-general">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card card-shadow" style="margin-bottom: 15px;">
        <div class="card-header d-none d-sm-block">
          <strong>Actualización de fotografía para impresión de credencial</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-4">
              <div style="display: flex; justify-content: center; height: 100%;">
                <div class="container-img">
                  <div *ngIf="showImg">
                    <input type="file" (change)="fileChangeEvent($event, content)" id="fileButton" accept="image/x-png,image/jpeg"
                      style="display: none;">
                    <div (click)="showSelectFileDialog()" class="tag d-none d-sm-block">Actualizar foto</div>
                    <div (click)="showSelectFileDialog()" class="tag d-block d-sm-none">Actualizar</div>
                    <img class="profile-icon" [src]="photoStudent">
                  </div>
                  <div *ngIf="! showImg">
                    <div class="cssload-thecube">
                      <div class="cssload-cube cssload-c1"></div>
                      <div class="cssload-cube cssload-c2"></div>
                      <div class="cssload-cube cssload-c4"></div>
                      <div class="cssload-cube cssload-c3"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8 d-none d-sm-block" *ngIf="currentStudent">
              <div class="form-group">
                <label for="studentInputControlNumber">Número de Control: <strong>{{currentStudent.controlNumber}}</strong></label>
              </div>
              <div class="form-group">
                <label for="studentInputFullName">Nombre: <strong>{{currentStudent.fullName}}</strong></label>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Carrera: <strong>{{currentStudent.career}}</strong></label>
              </div>
              <div class="form-group">
                <label for="studentInputNSS">NSS: <strong>{{currentStudent.nss}}</strong></label>
              </div>
            </div>
            <div class="col-12 col-lg-8 d-block d-sm-none" *ngIf="currentStudent">
              <hr>
              <p class="studentDataName">
                {{currentStudent.fullName}}
              </p>
              <p class="studentData">
                {{currentStudent.career}}
                <br>
                {{currentStudent.controlNumber}}
                <br>
                NSS: {{currentStudent.nss}}
              </p>
              <div class="col-12">
                <button type="button" (click)="generatePDF();" class="btn btn-itt btn-xs col" style="margin-right: 10px;">Previsualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row d-none d-sm-block">
        <div class="col-12">
          <div class="alert alert-warning">
            <h4 class="alert-heading">A tomar en cuenta!!!</h4>
            <hr>
            <p>La fotografía debe ser:</p>
            <ol type=i>
              <li>Fondo blanco</li>
              <li>De frente</li>
              <li>Que se visualice claramente de los hombros hacia arriba</li>
              <li>Hombres sin aretes</li>
              <li>Evitar accesorios (Lentes oscuros, audífonos, gorros, sombreros, gorras,...)</li>
            </ol>
            <hr>
            <p><strong>NOTA: Se revisará la fotografía antes de la impresión</strong> </p>
          </div>
        </div>
        <div class="col-12">
          <button type="button" (click)="generatePDF();" class="btn btn-itt btn-lg col" style="margin-right: 10px;">Previsualizar</button>
        </div>
      </div>
      <div class="row d-block d-sm-none warning-photo">
        <div class="col-12">
          <div class="card text-white bg-warning mb-3">
            <div class="card-header warning-header">A tomar en cuenta!!!</div>
            <div class="card-body">
              <p>La fotografía debe ser:</p>
              <ol type=i>
                <li>Fondo blanco</li>
                <li>De frente</li>
                <li>Que se visualice claramente de los hombros hacia arriba</li>
                <li>Hombres sin aretes</li>
                <li>Evitar accesorios (Lentes oscuros, audífonos, gorros, sombreros, gorras,...)</li>
              </ol>
              <hr>
              <p><strong>NOTA: Se revisará la fotografía antes de la impresión</strong> </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>