<div class="row p-3">
  <div class="col-11">
    <mat-form-field class="w-100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
             oninput="this.value=this.value.toUpperCase()">
    </mat-form-field>
  </div>
    <div class="col-1 justify-content-end text-center">
      <button mat-mini-fab class="m-1" color="primary" (click)="refresh()" data-toggle="tooltip"
              title="Recargar">
        <mat-icon>update</mat-icon>
      </button>
    </div>  
</div>
<div class="row">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let item of displayedColumns;let index=index"
                          [matColumnDef]="item">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsName[index]}}</th>      
                    <td *matCellDef="let row; let i = index" mat-cell-style="width:25%;">
                      <span mat-line *ngIf="index === 0">
                        {{i+1}}
                      </span>
                      <span mat-line *ngIf="index === 1 || index === 2 || index === 3">
                        {{row[item]}}
                      </span>
                      <div *ngIf="index === 4">
                        <button [matMenuTriggerFor]="actions" mat-icon-button>
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #actions>
                          <button mat-menu-item>
                            <mat-icon class="material-icons text-info">folder_shared</mat-icon>
                            <span>Expediente</span>
                          </button>
                        </mat-menu>
                      </div>
                    </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

