<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title>Asesor</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button [mat-dialog-close] class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content>
  <!-- <div class="row mb-2">
    <div class="col-10"></div>
    <div class="col-2" style="clear: both;">
      <button mat-mini-fab mat-icon-button color="primary" style="float: right; margin-left: 5px;"
        (click)="addEmploye()" data-toggle="tooltip">
        <mat-icon *ngIf="!isNewEmployee">add</mat-icon>
        <mat-icon *ngIf="isNewEmployee">clear</mat-icon>
      </button>
    </div>
  </div> -->

  <div *ngIf="isNewEmployee" (ngSubmit)="onSave()">
    <form [formGroup]="frmAuxiliar" (ngSubmit)="onSave()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder="Nombre Completo" formControlName="Name">
        <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
        <div *ngIf="!frmAuxiliar.get('Name').valid && frmAuxiliar.get('Name').touched">
          <mat-error *ngIf="frmAuxiliar.get('Name').errors['required']">
            ¡Nombre Obligatorio!
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Título" formControlName="Titled">
        <mat-icon matSuffix>assignment</mat-icon>
        <div *ngIf="!frmAuxiliar.get('Titled').valid && frmAuxiliar.get('Titled').touched">
          <mat-error *ngIf="frmAuxiliar.get('Titled').errors['required']">
            ¡Título Obligatorio!
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Cédula</mat-label>
        <input matInput placeholder="Cédula Profesional" formControlName="Cedula">
        <mat-icon matSuffix>account_box</mat-icon>
        <div *ngIf="!frmAuxiliar.get('Cedula').valid && frmAuxiliar.get('Cedula').touched">
          <mat-error *ngIf="frmAuxiliar.get('Cedula').errors['required']">
            ¡Cédula Profesional Obligatoria!
          </mat-error>
        </div>
      </mat-form-field>

      <div class="row mt-3 text-right">
        <div class="col-8"></div>
        <div class="col-4">
          <button class="btn btn-outline-success btn-sm mx-3" [disabled]="frmAuxiliar.invalid"
            type="submit">Guardar</button>
          <button class="btn btn-outline-danger btn-sm" [mat-dialog-close] cdkFocusInitial>Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!isNewEmployee">
    <div class="row">
      <div class="col-4">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>expand_more</mat-icon>
          {{type}}
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="areAll(true)" mat-menu-item>Todos</button>
          <button (click)="areAll(false)" mat-menu-item>Carrera</button>
        </mat-menu>
      </div>
      <div class="col-8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>
    </div>
    <div class="row col-12 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:50%"> Nombre </th>
          <td mat-cell *matCellDef="let row" style="width:50%"> {{row.name}} </td>
        </ng-container>


        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:45%"> Puesto </th>
          <td mat-cell *matCellDef="let row" style="width:45%"> {{row.position}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:5%"></th>
          <td mat-cell *matCellDef="let row" style="width:5%">
            <mat-icon (click)="selected(row)">check_circle_outline</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</mat-dialog-content>
