<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1 mat-dialog-title>Cambio de Jurado</h1>
    </div>
    <div class="col-2">
      <button mat-icon-button [mat-dialog-close]="{response:false}" class="float-right">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <form [formGroup]="frmConsejo" (ngSubmit)="onSave()">
    <div mat-dialog-content>
      <div class="card border-dark mb-3 p-3" style="height: 100%;">
        <div class="row">
          <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
            <mat-label>Presidenta/e</mat-label>
            <input matInput type="text" id="president" formControlName="president" placeholder="Presidente" readonly
              required>
            <button matSuffix mat-icon-button type="button" (click)="selectEmployee('president')">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-error *ngIf="!frmConsejo.get('president').valid && frmConsejo.get('president').touched">
              <span *ngIf="frmConsejo.get('president').errors['required']">
                ¡Campo obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
            <mat-label>Secretario/a</mat-label>
            <input matInput type="text" id="secretary" formControlName="secretary" placeholder="Secretario" readonly
              required>
            <button matSuffix mat-icon-button type="button" (click)="selectEmployee('secretary')">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-error *ngIf="!frmConsejo.get('secretary').valid && frmConsejo.get('secretary').touched">
              <span *ngIf="frmConsejo.get('secretary').errors['required']">
                ¡Campo obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
            <mat-label>Vocal</mat-label>
            <input matInput type="text" id="vocal" formControlName="vocal" placeholder="Vocal" readonly required>
            <button matSuffix mat-icon-button type="button" (click)="selectEmployee('vocal')">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-error *ngIf="!frmConsejo.get('vocal').valid && frmConsejo.get('vocal').touched">
              <span *ngIf="frmConsejo.get('vocal').errors['required']">
                ¡Campo obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
            <mat-label>Suplente</mat-label>
            <input matInput type="text" id="substitute" formControlName="substitute" placeholder="Suplente" readonly
              required>
            <button matSuffix mat-icon-button type="button" (click)="selectEmployee('substitute')">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <mat-error *ngIf="!frmConsejo.get('substitute').valid && frmConsejo.get('substitute').touched">
              <span *ngIf="frmConsejo.get('substitute').errors['required']">
                ¡Campo obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-lg-6">
            <label for="substitute" class="col-form-label col-form-label-sm">Hora del Acto</label><br>
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field #time [format]="24">
              </ngx-timepicker-field>
            </div>
          </div>
          <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
            <mat-label>Duración (Minutos)</mat-label>
            <input matInput type="number" id="duration" formControlName="duration" placeholder="Duración" min="30"
              max="120" required>
            <mat-error *ngIf="!frmConsejo.get('duration').valid && frmConsejo.get('duration').touched">
              <span *ngIf="frmConsejo.get('duration').errors['required']">
                ¡Campo obligatorio!
              </span>
              <span *ngIf="frmConsejo.get('duration').errors['min']">
                Valor mínimo 30 minutos
              </span>
              <span *ngIf="frmConsejo.get('duration').errors['max']">
                Valor máximo 120 minutos
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div mat-dialog-actions align="end">
      <div class="row text-right">
        <div class="col-12">
          <button class="btn btn-outline-success btn-sm mx-3" [disabled]="frmConsejo.invalid"
            type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</div>
