<div class="row">
    <div class="col-10">
        <h1 mat-dialog-title>Liberación</h1>
    </div>
    <div class="col-2">
        <button mat-icon-button [mat-dialog-close] class="float-right">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content>
    <div class="card text-center border-dark mb-3">
        <div *ngIf="!fileData" class="card-body text-dark">
            <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
            <p class="card-text">Archivo no cargado</p>
        </div>
        <div *ngIf="fileData">
            <ngx-extended-pdf-viewer [src]="fileData" backgroundColor="#ffffff" [height]="'40vh'"
                [useBrowserLocale]="true">
            </ngx-extended-pdf-viewer>
        </div>
        <div class="card-footer">
            <input #fileUpload type="file" accept="application/pdf" (change)="onUpload($event)" style="display: none">
            <button type="button" class="btn btn-outline-primary btn-block" (click)="fileUpload.click()">
                Cargar archivo de liberación
            </button>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="Save()">Guardar</button>
    <button mat-button [mat-dialog-close] cdkFocusInitial>Cancelar</button>
</div>