<div class="content-general">
  <div class="card card-shadow">     
     <div class="card-body">
        <div class="row align-items-center  mb-4" *ngIf="role === 'administration'">
           <div class="col-6 text-center">
            <button mat-flat-button color="primary" (click)="createEvent()">CREAR EVENTO</button>
           </div>
           <div class="col-6 text-center">
            <button mat-flat-button color="primary" (click)="saveStudents()">Guardar alumnos en evento</button>
           </div>
           
        </div>
        <div style="overflow-x:auto;">
         <table *ngIf="events.length>0; else empty" class="table table-striped table-bordered table-hover text-center">
               <thead>
                  <tr>
                     <th>Periodo del evento</th>
                     <th>Acciones</th>    
                     <th>Estatus</th>                                    
                  </tr>          
               </thead>
               <tbody>
                  <tr *ngFor="let event of events">
                     <td >{{event.id | uppercase}}</td>
                     <td>
                     <tr>
                           <td>
                              <div class="div-img" ngbTooltip="Consultar" tooltipClass="my-custom-class" >
                                 
                                 <img src="../../assets/icons/graduation.svg" class="action-icon" (click)="checkEvent(event)">                                 
                              </div>
                           </td>
                           <td *ngIf="event.status == 1 && role === 'administration'">
                              <div class="div-img" ngbTooltip="Actualizar correo" tooltipClass="my-custom-class" >
                                 <a [routerLink]="[ '/registerGraduate', event.id ]">
                                 
                                    <img src="../../assets/icons/graduate.svg" class="action-icon">
                                 </a>
                              </div>
                           </td>
                           <td *ngIf="event.status == 1 && role === 'administration'">
                              <div class="div-img" ngbTooltip="Importar datos de alumnos" tooltipClass="my-custom-class" >
                                 <a [routerLink]="[ '/loaderDataGraduation', event.id,0 ]">
                                 
                                 <img src="../../assets/icons/import.svg" class="action-icon" >
                                 </a>
                              </div>
                           </td>
                           <td *ngIf="event.status == 1 && role === 'administration' || event.status == 1 && role === 'recfinancieros'">
                              <div class="div-img" ngbTooltip="Importar lista financieros" tooltipClass="my-custom-class" >
                              <a [routerLink]="[ '/loaderDataGraduation', event.id,1 ]">
                              
                                 <img src="../../assets/icons/completed-task.svg" class="action-icon" >
                              </a>
                              </div>
                           </td>    
                           <td *ngIf="role === 'administration' && event.status!==3">
                              <div class="div-img" ngbTooltip="Cambiar estatus" tooltipClass="my-custom-class" >
                              
                                 <img src="../../assets/icons/refresh.svg" class="action-icon" (click)="changeEventStatus(event)">                                 
                              </div>
                           </td>                     
                           <td *ngIf="role === 'administration' && event.status == 1">
                              <div class="div-img" ngbTooltip="Actualizar evento" tooltipClass="my-custom-class"  class="icons" (click)="updateEvent(event)">                              
                                 <mat-icon>update</mat-icon>
                                 <!-- <img src="../../assets/icons/refresh.svg" class="action-icon" (click)="changeEventStatus(event)">            -->
                              </div>
                           </td>                     
                           <td *ngIf="role === 'administration' && event.status == 1">
                              <div class="div-img" ngbTooltip="Información del evento" tooltipClass="my-custom-class" class="icons"  (click)="infoEvent(event)">                              
                                 <mat-icon>info</mat-icon>
                                 <!-- <img src="../../assets/icons/refresh.svg" class="action-icon" (click)="changeEventStatus(event)">            -->
                              </div>
                           </td>                     
                     </tr>
                     </td>
                     <td *ngIf="event.status === 1" class="statusActivo">Activo</td>
                     <td *ngIf="event.status === 2" class="statusEspera">Espera</td>
                     <td *ngIf="event.status === 3" class="statusInactivo">Inactivo</td>
                  </tr>                 
               </tbody>              
            </table>
        </div>
           <!-- <div class='div-pagination'>
                 <pagination-controls [id]="pag"
                    directionLinks="true"
                    (pageChange)="pageChanged($event)"
                     responsive="true"
                     previousLabel="Anterior"
                     nextLabel="Siguiente"
                  ></pagination-controls>
           </div>    -->
           <ng-template #empty>
              <div class="alert alert-info text-center">
                 <h2>No se encontraron eventos.</h2>
              </div>
           </ng-template>
           
     </div>
  </div>
  
</div>