<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Datos personales</mat-card-title>
  </mat-card-header>
  <form class="example-form" [formGroup]="formGroupData" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombres" formControlName="name">
      </mat-form-field>
      <mat-error *ngIf="formGroupData.get('name').hasError('required')">
        Campo <strong>obligatorio</strong>
      </mat-error>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellidos" formControlName="lastName">
      </mat-form-field>
      <mat-error *ngIf="formGroupData.get('lastName').hasError('required')">
        Campo <strong>obligatorio</strong>
      </mat-error>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Área" formControlName="area">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Puesto" formControlName="position">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Contraseña" formControlName="loginPsw">
        <mat-hint align="start"><strong>Ingrese contraseña de inicio de sesión</strong> </mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </form>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Contraseña</mat-card-title>
  </mat-card-header>
  <form class="example-form" [formGroup]="formGroupPsw" (ngSubmit)="onSubmit1()">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Nueva contraseña" formControlName="psw">
      </mat-form-field>
      <mat-error *ngIf="formGroupPsw.get('psw').hasError('required') && formGroupPsw.get('psw').touched">
        Campo <strong>obligatorio</strong>
      </mat-error>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confPsw">
      </mat-form-field>
      <mat-error *ngIf="formGroupPsw.get('confPsw').hasError('required') && formGroupPsw.get('confPsw').touched">
        Campo <strong>obligatorio</strong>
      </mat-error>
      <mat-form-field *ngIf="this.formGroupPsw.get('psw').value && this.formGroupPsw.get('confPsw').value" class="example-full-width">
        <input matInput type="password" placeholder="Contraseña" formControlName="loginPsw">
        <mat-hint align="start"><strong>Ingrese contraseña de inicio de sesión</strong> </mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </form>
</mat-card>


<!--<div class="row">
    <div class="card col-6">
      <form class="example-form" [formGroup]="formGroupData" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <h3>Datos personales</h3>
        </div>
        <div class="card-body">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombres" formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Apellidos" formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Área" formControlName="area">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Puesto" formControlName="position">
            </mat-form-field>
        </div>
        <div class="card-footer">
          <div class="example-button-row">
            <button mat-flat-button color="primary" type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="card col-6">
      <form class="example-form" [formGroup]="formGroupPsw">
        <div class="card-header">
          <h3>Contraseña</h3>
        </div>
        <div class="card-body">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contraseña actual">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nueva contraseña">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirmar contraseña">
            </mat-form-field>
        </div>
        <div class="card-footer example-button-row">
          <button mat-flat-button color="primary">Guardar</button>
        </div>
      </form>
    </div>
</div>
-->
