.action-button {
  padding: 5px;
  margin: 0px 5px;
}
.mat-dialog-title {
  margin: 0px;
}
.close[_ngcontent-c16],
.close[_ngcontent-c16]:hover {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
