<div mat-dialog-title>
  <div>
    <h4>{{request.graduate.name.fullName}}</h4>
    <button type="button" class="close" aria-label="Close" mat-dialog-close id="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-primary action-button" (click)="openProjectFile()" cdkFocusInitial>
      <i class="fa fa-file-pdf-o"></i> Ver carátula
    </button>
    <button type="button" class="btn btn-primary action-button" (click)="openRequestPDF()"><i class="fa fa-file-pdf-o">
      </i> Imprimir solicitud
    </button>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Solicitud">
    <mat-dialog-content>
      <app-request-modal-content [request]="request"></app-request-modal-content>
    </mat-dialog-content>
  </mat-tab>
</mat-tab-group>
<mat-dialog-actions align="end">
  <div>
    <div [ngSwitch]="request.status">
      <div *ngSwitchDefault>
        <button type="button" class="btn btn-success action-button" (click)="approveRequest()">
          <i class="fa fa-check"></i> Aprobar
        </button>
        <button type="button" class="btn btn-danger action-button" (click)="rejectRequest()">
          <i class="fa fa-ban"></i> Rechazar
        </button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
