<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div class="col-2">
    <button [mat-dialog-close] class="float-right" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="frmNewEmployeeGrade">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6">
        <input [maxLength]="13" [minLength]="10" formControlName="rfc"
               matInput oninput="this.value=this.value.toUpperCase()" placeholder="RFC" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('rfc').valid && frmNewEmployeeGrade.get('rfc').touched">
          <span *ngIf="frmNewEmployeeGrade.get('rfc').errors['required']">
            ¡RFC obligatorio!
          </span>
          <span *ngIf="frmNewEmployeeGrade.get('rfc').errors['minlength']">
            ¡Mínimo 10 caracteres!
          </span>
          <span *ngIf="frmNewEmployeeGrade.get('rfc').errors['maxlength']">
            ¡Máximo 13 caracteres!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6">
        <input [maxLength]="18" [minLength]="18" formControlName="curp"
               matInput oninput="this.value=this.value.toUpperCase()" placeholder="CURP" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('curp').valid && frmNewEmployeeGrade.get('curp').touched">
          <span *ngIf="frmNewEmployeeGrade.get('curp').errors['required']">
            ¡CURP obligatoria!
          </span>
          <span *ngIf="frmNewEmployeeGrade.get('curp').errors['minlength']">
            ¡Mínimo 18 caracteres!
          </span>
          <span *ngIf="frmNewEmployeeGrade.get('curp').errors['maxlength']">
            ¡Máximo 18 caracteres!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6">
        <input formControlName="name" matInput oninput="this.value=this.value.toUpperCase()"
               placeholder="Nombre" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('name').valid && frmNewEmployeeGrade.get('name').touched">
          <span *ngIf="frmNewEmployeeGrade.get('name').errors['required']">
            ¡Ingrese el nombre!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6">
        <input formControlName="lastname" matInput oninput="this.value=this.value.toUpperCase()"
               placeholder="Apellidos" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('lastname').valid && frmNewEmployeeGrade.get('lastname').touched">
          <span *ngIf="frmNewEmployeeGrade.get('lastname').errors['required']">
            ¡Ingrese los apellidos!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6">
        <input matInput formControlName="email" placeholder="Correo electrónico" type="email" required>
        <mat-error *ngIf="!frmNewEmployeeGrade.get('email').valid && frmNewEmployeeGrade.get('email').touched">
          <span *ngIf="frmNewEmployeeGrade.get('email').errors['required']">
            ¡Ingrese un correo!
          </span>
          <span *ngIf="frmNewEmployeeGrade.get('email').errors['email']">
            ¡Ingrese un correo válido!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6">
        <input [matDatepicker]="birthDatePicker" formControlName="birthDate" matInput placeholder="Fecha de nacimiento"
               readonly required>
        <mat-datepicker-toggle [for]="birthDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #birthDatePicker></mat-datepicker>
        <mat-error *ngIf="!frmNewEmployeeGrade.get('birthDate').valid && frmNewEmployeeGrade.get('birthDate').touched">
          <span *ngIf="frmNewEmployeeGrade.get('birthDate').errors['required']">
            ¡Fecha de nacimiento obligatoria!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Selecciona el género" class="col-sm-12 col-md-6 vertical-radio-group"
                       formControlName="gender">
        <mat-label>Género:</mat-label>
        <mat-radio-button value="FEMENINO">Femenino</mat-radio-button>
        <mat-radio-button value="MASCULINO">Masculino</mat-radio-button>
        <mat-radio-button value="OTRO">Otro</mat-radio-button>
        <mat-error *ngIf="!frmNewEmployeeGrade.get('gender').valid && frmNewEmployeeGrade.get('gender').touched">
          <span *ngIf="frmNewEmployeeGrade.get('gender').errors['required']">
            ¡Género obligatorio!
          </span>
        </mat-error>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button [disabled]="!frmNewEmployeeGrade.valid" class="m-1" color="primary" mat-stroked-button type="submit">
      Guardar
    </button>
    <button (click)="onClose()" class="m-1" color="warn" mat-dialog-close mat-stroked-button type="button">Cancelar
    </button>
  </mat-dialog-actions>
</form>
