<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div class="col-2">
    <button [mat-dialog-close] class="float-right" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="frmNewEmployeeGrade">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6">
        <input formControlName="rfc" matInput oninput="this.value=this.value.toUpperCase()"
               placeholder="RFC" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('rfc').valid && frmNewEmployeeGrade.get('rfc').touched">
          <span *ngIf="frmNewEmployeeGrade.get('rfc').errors['required']">
            ¡RFC obligatorio!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6">
        <input formControlName="name" matInput oninput="this.value=this.value.toUpperCase()"
               placeholder="Nombre" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('name').valid && frmNewEmployeeGrade.get('name').touched">
          <span *ngIf="frmNewEmployeeGrade.get('name').errors['required']">
            ¡Ingrese el nombre!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6">
        <input formControlName="lastname" matInput oninput="this.value=this.value.toUpperCase()"
               placeholder="Apellidos" required type="text">
        <mat-error *ngIf="!frmNewEmployeeGrade.get('lastname').valid && frmNewEmployeeGrade.get('lastname').touched">
          <span *ngIf="frmNewEmployeeGrade.get('lastname').errors['required']">
            ¡Ingrese los apellidos!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button [disabled]="!frmNewEmployeeGrade.valid" class="m-1" color="primary" mat-stroked-button type="submit">
      Guardar
    </button>
    <button (click)="onClose()" class="m-1" color="warn" mat-dialog-close mat-stroked-button type="button">Cancelar
    </button>
  </mat-dialog-actions>
</form>
