<div class="content p-4" *ngIf="group">
  <button mat-button class="bg-white card-shadow" ngbTooltip="Regresar" routerLink="/english/english-groups"><mat-icon>keyboard_backspace</mat-icon></button>
  <div mat-dialog-content >
    <div class="flex-halign-center">  
      <h1 mat-dialog-title class="text-center table-titles">HORARIO</h1>
    </div>
    <table class="table table-responsive-sm bg-white card-shadow">
      <thead>
        <tr>
          <th class="text-center">Bloque</th>
          <th class="text-center">Grupo</th>
          <th class="text-center">Curso</th>
          <th class="text-center" *ngFor="let day of weekdays" scope="col">
            {{dayschedule[day]}}</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <td class="text-center">{{group.level}}</td>
          <td class="text-center">{{group.name}}</td>
          <td class="text-center" style="border-right: 1px solid rgba(0,0,0,0.6);">{{group.course.name}}</td>
          <td class="text-center" *ngFor="let day of weekdays; let j = index;">
            <ng-container *ngFor="let hourForDay of group.schedule;">
              <ng-container *ngIf="hourForDay.day==day">
                {{getHour(hourForDay.startHour)}} - {{getHour(hourForDay.endDate)}}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
  <div  class="mt-4 flex-halign-center">
    <h1 mat-dialog-title class="text-center table-titles">ALUMNOS</h1>
  </div>
  <div class="card-shadow">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #sortStudents="matSort"
      matSortActive="ID" matSortDirection="asc">

      <!--Columna No. Control-->

      <ng-container matColumnDef="controlNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>No. Control</mat-header-cell>
        <mat-cell *matCellDef="let row" [class.aproved-students] = "row.average ? row.average > 69 : false"
        [class.not-aproved-students] = "row.average ? row.average < 70 : false"> {{row.englishStudent.studentId.controlNumber}} </mat-cell>
      </ng-container>
      <!--Columna Nombre-->

      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let row" [class.aproved-students] = "row.average ? row.average > 69 : false"
        [class.not-aproved-students] = "row.average ? row.average < 70 : false"> {{row.englishStudent.studentId.fullName}} </mat-cell>
      </ng-container>


      <!--Columna Carrera-->

      <ng-container matColumnDef="career">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Carrera</mat-header-cell>
        <mat-cell *matCellDef="let row" [class.aproved-students] = "row.average ? row.average > 69 : false"
        [class.not-aproved-students] = "row.average ? row.average < 70 : false"> {{row.englishStudent.studentId.careerId ? row.englishStudent.studentId.careerId.shortName : '----'}} </mat-cell>
      </ng-container>

      <!--Columna Correo-->

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Correo Electronico</mat-header-cell>
        <mat-cell *matCellDef="let row" [class.aproved-students] = "row.average ? row.average > 69 : false"
        [class.not-aproved-students] = "row.average ? row.average < 70 : false"> {{row.englishStudent.studentId.email}} </mat-cell>
      </ng-container>

      <!--Columna Telefono-->

      <ng-container matColumnDef="currentPhone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono Celular</mat-header-cell>
        <mat-cell *matCellDef="let row" [class.aproved-students] = "row.average ? row.average > 69 : false"
        [class.not-aproved-students] = "row.average ? row.average < 70 : false"> {{row.englishStudent.currentPhone}} </mat-cell>
      </ng-container>

      <!--Columna promedio-->

      <ng-container matColumnDef="average" >
        <mat-header-cell *matHeaderCellDef mat-sort-header>Promedio</mat-header-cell>
        <mat-cell *matCellDef="let row" [class.aproved-students] = "row.average ? row.average > 69 : false"
        [class.not-aproved-students] = "row.average ? row.average < 70 : false"> 
          <input mat-input style="width: 100%;" type="number" min="0" max="100" step="0.1" [id]="row._id" *ngIf="!row.average"/>
          <span *ngIf="row.average">{{row.average}}</span>
        </mat-cell>
      </ng-container>


      <!--Columna Opciones-->

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef style="justify-content: center; width: 5%;">Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">

          <button  ngbTooltip="Guardar Calificación" *ngIf="!row.average" (click)="setRequestAverage(row)" mat-icon-button>
            <mat-icon class="blue" >save</mat-icon>
          </button>

        </mat-cell>
      </ng-container>
      <mat-header-row 
        *matHeaderRowDef="[ 'controlNumber','fullName', 'career', 'email', 'currentPhone','average', 'actions']">
      </mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['controlNumber','fullName',  'career', 'email', 'currentPhone', 'average','actions']"
        
        >
      </mat-row>            

      <!--Tabla sin datos (Disponible a Partir de ANGULAR v10)-->

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">No se encontraron datos.</td>
      </tr>

    </table>
    <!--Paginas-->
    <mat-paginator #matPaginatorEnglishStudents [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    <div class="footer-actions row text-center">      
      <div class="col-11">
        <div class="footer-actions-reports">
          <div class="div-img" ngbTooltip="Listado de alumnos" >
              <button mat-icon-button [matMenuTriggerFor]="menuStudents">
                <mat-icon>list</mat-icon>
              </button>
              <mat-menu #menuStudents="matMenu">
                <button mat-menu-item (click)="downloadPDF()">
                  <mat-icon>description</mat-icon>
                  <span>Lista en PDF</span>
                </button>
                <button mat-menu-item (click)="downloadExcel()">
                  <mat-icon>grid_on</mat-icon>
                  <span>Lista en Excel</span>
                </button>
              </mat-menu>
          </div>
          <div class="div-img" ngbTooltip="Generar Acta de Calificaciones" 
          *ngIf="group.status == 'evaluated' || group.status == 'finalized'"
          (click)="generateAct(group)">
            <button mat-icon-button>
              <mat-icon>class</mat-icon>              
            </button>
          </div>            
          <div class="div-img" ngbTooltip="Calificaciones" 
          *ngIf="group.status == 'active'">
            <button mat-icon-button [matMenuTriggerFor]="menuAvgs">
              <mat-icon>assessment</mat-icon>
            </button>
            <mat-menu #menuAvgs="matMenu">
              <button mat-menu-item (click)="downloadAvgsTemplate()">
                <mat-icon>cloud_download</mat-icon>
                <span>Descargar Plantilla</span>
              </button>
              <input #fileUpload type="file" (change)="uploadAvgs($event)" style="display: none">
              <button mat-menu-item (click)="fileUpload.click()">
                <mat-icon>cloud_upload</mat-icon>
                <span>Subir calificaciones</span>
              </button>
            </mat-menu>            
          </div>            
        </div>    
      </div>
      
    </div>
  </div>
</div>
<!-- Tabla reporte alumnos Excel-->
<table class="table table-striped table-bordered table-hover" id="tableExcelReport"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="excelData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Bloque
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Grupo
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Curso
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Docente
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Lunes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Martes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Miércoles
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Jueves
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Viernes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Sábado
      </th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th data-a-h="center">{{ excelData.group.level }}</th>
      <th data-a-h="center">{{ excelData.group.name }}</th>
      <th data-a-h="center">{{ excelData.group.course.name }}</th>
      <th data-a-h="center">{{ excelData.teacher ? excelData.teacher.name.fullName : 'Sin Asignar'}}</th>
      <th data-a-h="center">{{excelData.schedule.Lunes.hour}}</th>
      <th data-a-h="center">{{excelData.schedule.Martes.hour}}</th>
      <th data-a-h="center">{{excelData.schedule.Miercoles.hour}}</th>
      <th data-a-h="center">{{excelData.schedule.Jueves.hour}}</th>
      <th data-a-h="center">{{excelData.schedule.Viernes.hour}}</th>
      <th data-a-h="center">{{excelData.schedule.Sabado.hour}}</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th data-a-h="center">{{excelData.schedule.Lunes.classroom}}</th>
      <th data-a-h="center">{{excelData.schedule.Martes.classroom}}</th>
      <th data-a-h="center">{{excelData.schedule.Miercoles.classroom}}</th>
      <th data-a-h="center">{{excelData.schedule.Jueves.classroom}}</th>
      <th data-a-h="center">{{excelData.schedule.Viernes.classroom}}</th>
      <th data-a-h="center">{{excelData.schedule.Sabado.classroom}}</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Número de Control
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Nombre
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Carrera
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Correo
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Teléfono
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
        let alumno of excelData.students;
        let indice = index;
      ">
      <td data-f-sz="12" data-a-h="center">{{ indice + 1 }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.controlNumber }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.fullName }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.careerId ? alumno.englishStudent.studentId.careerId.shortName : '---' }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.email }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.currentPhone }}</td>
    </tr>
  </tbody>
</table>
<!-- Tabla reporte alumnos PDF-->
<table class="table table-striped table-bordered table-hover" id="tablePdfReportHead"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="pdfData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Bloque
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Grupo
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Curso
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Docente
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Lunes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Martes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Miércoles
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Jueves
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Viernes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Sábado
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th data-a-h="center">{{ pdfData.group.level }}</th>
      <th data-a-h="center">{{ pdfData.group.name }}</th>
      <th data-a-h="center">{{ pdfData.group.course.name }}</th>
      <th data-a-h="center">{{ pdfData.teacher ? pdfData.teacher.name.fullName : 'Sin Asignar'}}</th>
      <th data-a-h="center">{{pdfData.schedule.Lunes.hour}}</th>
      <th data-a-h="center">{{pdfData.schedule.Martes.hour}}</th>
      <th data-a-h="center">{{pdfData.schedule.Miercoles.hour}}</th>
      <th data-a-h="center">{{pdfData.schedule.Jueves.hour}}</th>
      <th data-a-h="center">{{pdfData.schedule.Viernes.hour}}</th>
      <th data-a-h="center">{{pdfData.schedule.Sabado.hour}}</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th data-a-h="center">{{pdfData.schedule.Lunes.classroom}}</th>
      <th data-a-h="center">{{pdfData.schedule.Martes.classroom}}</th>
      <th data-a-h="center">{{pdfData.schedule.Miercoles.classroom}}</th>
      <th data-a-h="center">{{pdfData.schedule.Jueves.classroom}}</th>
      <th data-a-h="center">{{pdfData.schedule.Viernes.classroom}}</th>
      <th data-a-h="center">{{pdfData.schedule.Sabado.classroom}}</th>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-bordered table-hover" id="tablePdfReport"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="pdfData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Número de Control
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Nombre
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Carrera
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Correo
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Teléfono
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="
        let alumno of pdfData.students;
        let indice = index;
      ">
      <td data-f-sz="12" data-a-h="center">{{ indice + 1 }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.controlNumber }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.fullName }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.careerId ? alumno.englishStudent.studentId.careerId.shortName : '---' }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.email }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.currentPhone }}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla acta calificaicones PDF-->
<table class="table table-striped table-bordered table-hover" id="tablePdfActHead"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="actData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Lunes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Martes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Miércoles
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Jueves
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Viernes
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Sábado
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th data-a-h="center">{{actData.schedule.Lunes.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Martes.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Miercoles.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Jueves.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Viernes.hour}}</th>
      <th data-a-h="center">{{actData.schedule.Sabado.hour}}</th>
      </tr>
      <tr>
      <th data-a-h="center">{{actData.schedule.Lunes.classroom}}</th>
      <th data-a-h="center">{{actData.schedule.Martes.classroom}}</th>
      <th data-a-h="center">{{actData.schedule.Miercoles.classroom}}</th>
      <th data-a-h="center">{{actData.schedule.Jueves.classroom}}</th>
      <th data-a-h="center">{{actData.schedule.Viernes.classroom}}</th>
      <th data-a-h="center">{{actData.schedule.Sabado.classroom}}</th>
      </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered table-hover" id="tablePdfAct"
  data-cols-width="9,21,35,35,17,17,17,17,17,17" *ngIf="actData">
  <thead>
    <tr>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No.
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        No. Contról
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Nombre del Alumno
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Carrera
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        Calificación
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of actData.students; let indice = index;">
      <th data-a-h="center">{{ indice + 1 }}</th>
      <th data-a-h="center">{{ alumno.englishStudent.studentId.controlNumber }}</th>
      <th data-a-h="center">{{ alumno.englishStudent.studentId.fullName }}</th>
      <th data-a-h="center">{{ alumno.englishStudent.studentId.careerId ? alumno.englishStudent.studentId.careerId.shortName : '---' }}</th>
      <th data-a-h="center">{{ alumno.average ? alumno.average : 'NA' }}</th>
    </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
  </tbody>
</table>

<!-- Tabla plantilla calificaciones Excel-->
<table class="table table-striped table-bordered table-hover" id="tableAvgsExcel"
  data-cols-width="21,21" *ngIf="avgsTemplate">  
  <thead>
    <tr>
      
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        NO. CONTROL
      </th>
      <th data-f-bold="true" data-a-h="center" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">
        PROMEDIO
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of avgsTemplate;">      
      <td data-f-sz="12" data-a-h="center">{{ alumno.englishStudent.studentId.controlNumber }}</td>
      <td data-f-sz="12" data-a-h="center">{{ alumno.average }}</td>

    </tr>
  </tbody>
</table>