<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home"></i>Home</li>
    <li aria-current="page" class="breadcrumb-item active"><i class="fa fa-university"></i>Grados</li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-12 col-md-9">
    <mat-form-field appearance="outline">
      <mat-label>Búsqueda</mat-label>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar empleado">
    </mat-form-field>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="form-group">
      <div class="text-center">
        <input #fileUpload (change)="onUpload($event)" accept=".csv" style="display: none" type="file">
        <button (click)="fileUpload.click()" class="m-1" color="primary" mat-mini-fab
                ngbTooltip="Cargar empleados de archivo .csv">
          <mat-icon>group_add</mat-icon>
        </button>
        <button (click)="addNewGradeEmployee()" class="m-1" color="primary" mat-mini-fab ngbTooltip="Nuevo empleado">
          <mat-icon>person_add</mat-icon>
        </button>
        <button (click)="refresh()" class="m-1" color="primary" mat-mini-fab ngbTooltip="Actualizar tabla">
          <mat-icon>update</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="fullName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre</th>
      <td *matCellDef="let row" mat-cell> {{row.fullName}} </td>
    </ng-container>
    <ng-container matColumnDef="rfc">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>RFC</th>
      <td *matCellDef="let row" mat-cell> {{row.rfc}} </td>
    </ng-container>
    <ng-container matColumnDef="grades">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Grados</th>
      <td *matCellDef="let row" mat-cell> {{row.grades}} </td>
    </ng-container>
    <ng-container matColumnDef="positions">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Puestos</th>
      <td *matCellDef="let row" mat-cell> {{row.positions}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let row" mat-cell>
        <button [matMenuTriggerFor]="actions" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actions>
          <button (click)="employeeDetails(row)" mat-menu-item>
            <mat-icon>account_box</mat-icon>
            Detalles
          </button>
          <button (click)="onRowEdit(row)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            Editar
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
