<div class="content-general">
  <div class="card card-shadow">
    <mat-tab-group>
      <mat-tab>
        <ng-template matTabLabel>
          <span>Inicio</span>
        </ng-template>
        <div *ngIf="graduationDate && !isGraduate" class="div-start-card">
          <mat-card class="start-card">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon>info</mat-icon>
              </div>
              <mat-card-title>Atención</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                No estás registrado en la lista de egresados.<br>
                La próxima graduación es el día <span style="color: #F27F07;">{{graduationDate}}</span>.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="graduationDate && isGraduate && student" class="div-start-card">
          <mat-card class="start-card-graduate"  style="text-align: center;">
            <mat-card-title style="background: #1E2D4A; color: white;"><h4>¡FELICIDADES!</h4></mat-card-title>
            <mat-card-content>
              <h5>{{student.data.nombre}}</h5>
              <p>Eres egresado(a) de la carrera de</p>
                <h6>{{student.data.carreraCompleta}}</h6>
            </mat-card-content>
          </mat-card>
          <mat-card class="start-card">
            <mat-card-content>
              <p>
                {{event.directorMessage}}<br>
              </p>
              <p style="text-align: right; color: #F27F07;">
                {{event.directorName}}<br>
                Director
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="start-card">
            <mat-card-content>
              <h6 style="text-align:left; color: #F27F07;">Recuerda</h6>
              <p>
                Te esperamos el día <span style="color: #F27F07;">{{graduationDate}}</span> en el teatro Alí Chumacero a las <span style="color: #F27F07;">{{event.hour}} hrs</span>.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="start-card" *ngIf="student.data.observations">
            <mat-card-content>
              <img src="assets/icons/bestAverage.svg" style="width: 50px;">
              <h6 style="color: #F27F07;">{{event.observationsMessage}}</h6>
              <ul style="text-align: left;">
                <li *ngFor="let item of student.data.observations">
                  {{item}}
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab *ngIf="isGraduate">
        <ng-template matTabLabel>
          <span>Mis Boletos</span>
        </ng-template>
        <!--Código aquí-->
      </mat-tab>
      <mat-tab *ngIf="isGraduate">
        <ng-template matTabLabel>
          <span>Notificaciones</span>
        </ng-template>
        <!--Código aquí-->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>