<div class="content-general">
    <div class="card card-shadow">
      <div class="card-header text-white bg-secondary">
        <strong>Buscar Alumno</strong>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-3">
                    <input [(ngModel)]="ncInput" type="text" placeholder="Ingresar número de contról" style="width: 250px;">
              </div>
              <div class="col-md-1">
                  <div class="div-img" ngbTooltip="Buscar Alumno" tooltipClass="my-custom-class">
                     <img src="../../assets/icons/search.svg" class="searchNc" (click)="searchAlumno()">
                  </div>
               </div>
          </div>
      </div>
    </div> 
  </div>
  