<div class="row">
  <div class="col-10 text-center">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button [mat-dialog-close] class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="row" *ngIf="existError!==''">
  <div class="col-12 alert alert-danger" role="alert">
    {{existError}}
  </div>
</div>

<div class="row" *ngIf="existWarning!==''">
  <div class="col-12 alert alert-warning" role="alert">
    {{existWarning}}
  </div>
</div>

<div class="row">
  <mat-form-field class="col-12" appearance="outline">
    <mat-label>Número de control</mat-label>
    <input matInput type="text" id="textSearch" [(ngModel)]="controlNumber" placeholder="Número de Control">
    <button matSuffix mat-icon-button (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<form [formGroup]="frmNewTitle" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <h6 class="text-center">DATOS GENERALES</h6>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-8" appearance="outline">
        <mat-label>Estudiante</mat-label>
        <input matInput type="text" id="txtEstudiante" placeholder="Nombre estudiante" formControlName="student"
          readonly required>
        <mat-error *ngIf="!frmNewTitle.get('student').valid && frmNewTitle.get('student').touched">
          <span *ngIf="frmNewTitle.get('student').errors['required']">
            ¡Ingrese el nombre del estudiante!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-4" appearance="outline">
        <mat-label>Número de control</mat-label>
        <input matInput type="text" id="txtControlNumber" placeholder="No. Control" formControlName="controlNumber"
          readonly required>
        <mat-error *ngIf="!frmNewTitle.get('controlNumber').valid && frmNewTitle.get('controlNumber').touched">
          <span *ngIf="frmNewTitle.get('controlNumber').errors['required']">
            ¡Ingrese el número de control!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-8" appearance="outline">
        <mat-label>Carrera</mat-label>
        <input matInput type="text" id="txtCareer" placeholder="Carrera" formControlName="career" readonly required>
        <mat-error *ngIf="!frmNewTitle.get('career').valid && frmNewTitle.get('career').touched">
          <span *ngIf="frmNewTitle.get('career').errors['required']">
            ¡Ingrese el nombre de la carrera!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Nombre de proyecto</mat-label>
        <input matInput type="text" id="txtProject" placeholder="Proyecto" formControlName="project"
          oninput="this.value = this.value.toUpperCase()" required>
        <mat-error *ngIf="!frmNewTitle.get('project').valid && frmNewTitle.get('project').touched">
          <span *ngIf="frmNewTitle.get('project').errors['required']">
            ¡Ingrese el nombre del proyecto!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <h6 class="text-center">TITULACIÓN</h6>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Opción de titulación</mat-label>
        <mat-select formControlName="option" (selectionChange)="changedItem($event.value)" required>
          <mat-option *ngFor="let option of options; index as i" [value]="i">
            {{option}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!frmNewTitle.get('option').valid && frmNewTitle.get('option').touched">
          <span *ngIf="frmNewTitle.get('option').errors['required']">
            ¡Ingrese una opción de titulación!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="product" required>
          <mat-option *ngFor="let product of products[index]" [value]="product">
            {{product}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!frmNewTitle.get('product').valid && frmNewTitle.get('product').touched">
          <span *ngIf="frmNewTitle.get('product').errors['required']">
            ¡Ingrese un producto!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <h6 class="text-center">EVENTO</h6>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Lugar</mat-label>
        <input matInput type="text" id="txtLugar" placeholder="Lugar" formControlName="place" required>
        <mat-error *ngIf="!frmNewTitle.get('place').valid && frmNewTitle.get('place').touched">
          <span *ngIf="frmNewTitle.get('place').errors['required']">
            ¡Por favor ingrese un lugar!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Duración (Minutos)</mat-label>
        <input matInput type="number" id="txtDuracion" placeholder="Duración" formControlName="duration" min="30"
          max="120" required>
        <mat-error *ngIf="!frmNewTitle.get('duration').valid && frmNewTitle.get('duration').touched">
          <span *ngIf="frmNewTitle.get('duration').errors['required']">
            ¡Ingrese la duración del acto!
          </span>
          <span *ngIf="frmNewTitle.get('duration').errors['min']">
            ¡Duración mínima es de 30 minutos!
          </span>
          <span *ngIf="frmNewTitle.get('duration').errors['max']">
            ¡Duración máxima es de 120 minutos!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <h6 class="text-center">SINODALES</h6>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Presidenta/e</mat-label>
        <input matInput type="text" id="txtPresidente" placeholder="Presidente" formControlName="president" readonly
          required>
        <button type="button" matSuffix mat-icon-button (click)="selectEmployee('president')">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-error *ngIf="!frmNewTitle.get('president').valid && frmNewTitle.get('president').touched">
          <span *ngIf="frmNewTitle.get('president').errors['required']">
            ¡Campo obligatorio!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Secretario/a</mat-label>
        <input matInput type="text" id="txtSecretario" placeholder="Secretario" formControlName="secretary" readonly
          required>
        <button type="button" matSuffix mat-icon-button (click)="selectEmployee('secretary')">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-error *ngIf="!frmNewTitle.get('secretary').valid && frmNewTitle.get('secretary').touched">
          <span *ngIf="frmNewTitle.get('secretary').errors['required']">
            ¡Campo obligatorio!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Vocal</mat-label>
        <input matInput type="text" id="txtVocal" placeholder="Vocal" formControlName="vocal" readonly required>
        <button type="button" matSuffix mat-icon-button (click)="selectEmployee('vocal')">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-error *ngIf="!frmNewTitle.get('vocal').valid && frmNewTitle.get('vocal').touched">
          <span *ngIf="frmNewTitle.get('vocal').errors['required']">
            ¡Campo obligatorio!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Suplente</mat-label>
        <input matInput type="text" id="txtSuplente" placeholder="Suplente" formControlName="substitute" readonly
          required>
        <button type="button" matSuffix mat-icon-button (click)="selectEmployee('substitute')">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-error *ngIf="!frmNewTitle.get('substitute').valid && frmNewTitle.get('substitute').touched">
          <span *ngIf="frmNewTitle.get('substitute').errors['required']">
            ¡Campo obligatorio!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="col-8"></div>
    <div class="col-4">
      <button class="btn btn-outline-success btn-sm mx-3" type="submit" [disabled]="!frmNewTitle.valid">Guardar</button>
      <!-- <button class="btn btn-outline-danger btn-sm" type="button" mat-dialog-close>Cancelar</button> -->
    </div>
  </mat-dialog-actions>
</form>

<div class="center">
  <app-loader [loading]="showLoading"></app-loader>
</div>
