<mat-card>
  <mat-card-content>
    <h3 class="example-h2">Buscar por filtros</h3>

    <section class="example-section">
      <mat-checkbox class="example-margin">Solicitud enviada</mat-checkbox>
      <mat-checkbox class="example-margin">Solicitud verificada</mat-checkbox>
      <mat-checkbox class="example-margin">Proyecto registrado</mat-checkbox>
      <mat-checkbox class="example-margin">Liberado</mat-checkbox>
      <mat-checkbox class="example-margin">Documento entregados</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin">En proceso</mat-checkbox>
      <mat-checkbox class="example-margin">Documentos completos</mat-checkbox>
      <mat-checkbox class="example-margin">Agendados</mat-checkbox>
      <mat-checkbox class="example-margin">Titulados</mat-checkbox>
      <mat-checkbox class="example-margin">Entrega de acta</mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h3 class="example-h2">Tabla de solicitudes</h3>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="career">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
          <td mat-cell *matCellDef="let row"> {{row.career}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio de trámite </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
