<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <strong>IV. Contrato con el Estudiante</strong>
    </div>
    <div class="example-container">
      <table>
        <tr>
          <td>
            <div style="text-align:center;">
              <img src="https://i.ibb.co/9qnZ5yR/logoSep.png" width="75%">
            </div>
          </td>
          <td>
            <div style="text-align:center; padding-top: 150px;">
              <h4>Instituto Tecnológico de Tepic</h4>
              <h6>Contrato con el Estudiante </h6>
              <h6>Código: ITT-POE-01-03 Revisión: 0</h6>
              <h6>Referencia a la Norma ISO 9001-20015: 8.2.2, 8.2.3, 8.2.1, 8.5.2</h6>
            </div>
          </td>
          <td>
            <div style="text-align:center;">
              <img src="https://i.ibb.co/2PvhkwL/logo-Tec-NM.png" width="50%">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div style="text-align:center;">
                <hr class="hr1">
              <h6><b>Contrato con el Estudiante</b></h6>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div style="text-align:right;">
              <b>Fecha:</b> {{currentDate.getDate()}} <b>de</b> {{currentMonth}} <b>de</b>
              {{currentDate.getFullYear()}}.
            </div>
          </td>
        </tr>
      </table>
      <hr class="hr2">
      <div style="text-align:center;">
        <h5><b>Cláusulas</b></h5>
      </div>
      <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
        <div>
          <dl>
            <dt><u>Compromisos de la Institución:</u></dt>
            <p>La Institución se compromete con el Estudiante a:</p>
            <dd>
              <ol>
                <dd>I. Impartir, en igualdad de condiciones, para todos,
                    la Educación Superior Tecnológica que ofrece el
                    Instituto.
                </dd>
                <dd>II. Entregar la documentación que lo identifique
                    como Estudiante y la constancia de la
                    escolaridad que haya acreditado en cada
                    período.
                </dd>
              </ol>
            </dd>
            <dt>Proporcionar el Servicio Educativo integrado por:</dt>
            <p>FORMACIÓN PROFESIONAL</p>
            <dd>
              <ol>
                <dd>III. Cumplir los contenidos de los planes y
                    programas de estudio.
                </dd>
                <dd>IV. Fomentar la participación en actividades
                    académicas, culturales y deportivas (Concursos de Ciencias Básicas,
                    Creatividad, Emprendedores; Actividades Deportivas y
                    Culturales).
                </dd>
              </ol>
            </dd>
            <p>PRÁCTICA DOCENTE</p>
            <dd>
              <ol>
                <dd>V. Que el docente imparta y evalúe las asignaturas
                    de acuerdo a lo establecido en el Manual de
                    Procedimientos para la Acreditación de
                    Asignaturas de los Planes y Programas de
                    Estudio.
                </dd>
              </ol>
            </dd>

            <p>ATENCION EN VENTANILLA</p>
            <dd>
              <ol>
                <dd>VI. Proporcionar servicio eficaz
                    (Servicios Escolares, Recursos Financieros) dentro de los
                    horarios publicados para tal efecto.
                </dd>
              </ol>
            </dd>

            <p>SERVICIOS ESTUDIANTILES</p>
            <dd>
              <ol>
                <dd>VII. Proporcionar Servicios Estudiantiles a través de
                    las Coordinaciones de Carrera de la División de
                    Estudios Profesionales (Reinscripciones,
                    Residencias Profesionales, Convalidaciones,
                    Traslados, Orientación del Plan de Estudios).
                </dd>
              </ol>
            </dd>
            <br><br><br><br><br><br><br><br>
            <div style="text-align: center;">
              <b><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  LIC. MANUEL ANGEL URIBE VÁZQUEZ
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b><br>
              <b>DIRECTOR DEL PLANTEL</b>
            </div>
          </dl>
        </div>
      </div>
      <div style="padding: 10px; float: right; width: 45%; text-align: justify;">
        <dl>
          <p>SERVICIOS DE APOYO</p>
          <dd>
            <ol>
              <dd>VIII. Proporcionar los medios para que el Estudiante
                  realice Visitas a Empresas. Este apoyo estará
                  determinado por el Programa de Estudios y el
                  Presupuesto Autorizado para tal efecto.
              </dd>
              <dd>IV. Proporcionar los Servicios de Computo con que
                  cuenta el plantel, así como los servicios del
                  Centro de Información (préstamo interno y
                  externo de material bibliográfico) dentro de los
                  horarios establecidos.
              </dd>
            </ol>
          </dd>
          <br>
          <dt><u>Compromisos del Estudiante:</u></dt>
          <p>El Estudiante se compromete con la Institución a:</p>

          <p>I. Cubrir los requisitos de ingreso que marca la
            Institución.
          </p>
          <p>II. Cumplir con la totalidad de los requisitos
            previstos en el plan de estudios respectivos.
          </p>
          <p>III. Acreditar las asignaturas de acuerdo al Manual
            de Procedimientos para la Acreditación de
            Asignaturas de los Planes y Programas de
            Estudio.
          </p>
          <p>IV. Hacer buen uso de los edificios, mobiliario,
            material didáctico, equipos, libros y demás
            bienes del Instituto, coadyuvando en su
            conservación y limpieza.
          </p>
          <p>V. Cumplir el Reglamento Escolar de los Institutos
            Tecnológicos.
          </p>
          <p>VI. Cumplir con las disposiciones reglamentarias
            que la Institución establezca.
          </p>
          <p>VII. Autorizar la entrega de calificaciones a padres o
            tutores.
          </p>
          <p>VIII. Presentar permiso firmado por padre, madre o
            tutor antes de realizar alguna visita o
            participación foránea a eventos académicos
            culturales y/o deportivos de la Institución.
          </p>
          <p>IX. Revisar las calificaciones en el Sistema Integral
            de Información, previo a la reinscripción.
          </p>
          <br><br><br><br><br>
          <div style="text-align: center;">
              <b><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{nameStudent}}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b><br>
              <b>NOMBRE Y FIRMA DEL ESTUDIANTE</b>
          </div>
        </dl>
      </div><br><br>
      <div style="text-align:center;">
        <mat-checkbox style="text-align:center;" [checked]="acceptedTerms" (change)="onChange($event);">Acepto los terminos y condiciones.</mat-checkbox>
      </div>
      <div class="row justify-content-center mt-3">
        <div>
          <button type="submit" (click)="continue()" [disabled]="!acceptedTerms" class="btn btn-success">Continuar</button>
        </div>
      </div>
      <table>
        <tr>
          <td>
            <div style="text-align:left; padding-left: 20px;">
                <img src="https://i.ibb.co/34HCSTq/logo-Ittepic.png" width="10%">
            </div>
          </td>
          <td>
            <div style="text-align:right; padding-right: 20px;">
                <h6>ITT-POE-01-03</h6>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
