<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home"></i> Home</li>
    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-globe"></i> IMSS</li>
  </ol>
</nav>
<mat-card class="row m-1">
  <mat-card-content>
    <div class="row justify-content-end mr-2">
      <div class="text-center">
        <input #fileUpload type="file" accept=".csv" (change)="uploadCsv($event)" style="display: none">
        <button mat-mini-fab class="m-1" style="background:green;" (click)="fileUpload.click()" data-toggle="tooltip"
          title="Cargar archivo .csv">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div class="text-center">
        <button mat-mini-fab class="m-1" color="primary" (click)="downloadTemplateCsv()" data-toggle="tooltip"
          title="Descargar plantilla .csv">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </div>
      <div class="text-center">
        <input #fileImss type="file" accept=".csv" (change)="convertCsv($event)" style="display: none">
        <button mat-mini-fab class="m-1" color="accent" (click)="fileImss.click()" data-toggle="tooltip"
          title="Convertir archivo para subir">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
      <div class="text-center">
        <button mat-mini-fab class="m-1" color="warn" (click)="regularizeNss()" data-toggle="tooltip"
          title="Regularizar todos los nss">
          <mat-icon>update</mat-icon>
        </button>
      </div>
    </div>
    <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="changeTab($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="m-1" style="color:red;">local_hospital</mat-icon>
          Sin asegurar
        </ng-template>
        <div class="row p-3">
          <div class="col-11">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                oninput="this.value=this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-1 justify-content-end text-center">
            <button mat-mini-fab class="m-1" color="primary" (click)="refreshUninsured()" data-toggle="tooltip"
              title="Recargar">
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceUninsured" matSort>
              <ng-container *ngFor="let item of displayedColumnsUninsured.slice(0, -1);let index=index"
                [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsUninsuredName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">{{row[item]}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button (click)="insuredStudent(row)" mat-menu-item>
                      <mat-icon style="color:green;">beenhere</mat-icon>
                      Asegurar
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsUninsured" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsUninsured;" mat-row></tr>
            </table>
            <mat-paginator #matPaginatorUninsured [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="m-1" style="color:green;">local_hospital</mat-icon>
          Asegurados
        </ng-template>
        <div class="row p-3">
          <div class="col-11">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda..."
                oninput="this.value=this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-1 justify-content-end text-center">
            <button mat-mini-fab class="m-1" color="primary" (click)="refreshInsured()" data-toggle="tooltip"
              title="Recargar">
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceInsured" matSort>
              <ng-container *ngFor="let item of displayedColumnsInsured.slice(0, -1);let index=index"
                [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsInsuredName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">{{row[item]}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%;">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button (click)="uninsuredStudent(row)" mat-menu-item>
                      <mat-icon style="color:red;">report</mat-icon>
                      Cancelar seguro
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsInsured" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsInsured;" mat-row></tr>
            </table>
            <mat-paginator #matPaginatorInsured [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>
