/*
1 container question
margin-top: 3%;
padding-top: 15px;
padding-bottom: 15px;


2 question

padding: 3%;
text-align: center;

3 btns
margin-left: 1%;

4 row btns
justify-content: center;

5 container opinion
margin-top: 3%;
padding: 15px;
text-align: center;

*/