  <div class="card card-shadow">     
     <div class="card-body">
        <div class="row align-items-center  mb-4" *ngIf="role === 'administration'">
            <div class="col-12 text-center">
               <button mat-flat-button color="primary" (click)="createEvent()">CREAR EVENTO</button>
            </div>             
         </div>
         <div style="overflow-x:auto;" *ngIf="events.length > 0;else empty">
            <div class="mat-elevation-z8" >
               <table mat-table [dataSource]="dataSource" matSort>
               
               <!-- Periodo -->
               <ng-container matColumnDef="period">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">  Período del evento </th>
                  <td mat-cell *matCellDef="let row"> {{row.id | uppercase}} </td>
               </ng-container>                
   
               <!-- estatus -->
               <ng-container matColumnDef="status" >
                  <th  mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Estatus </th>
                  <td mat-cell *matCellDef="let row"> 
                     <div [ngSwitch]="row.status">
                        <span *ngSwitchCase="'Activo'"
                           class="badge badge-pill badge-active">{{row.status}}</span>
                        <span *ngSwitchCase="'Espera'"
                           class="badge badge-pill badge-wait">{{row.status}}</span>
                        <span *ngSwitchCase="'Inactivo'"
                           class="badge badge-pill badge-inactive">{{row.status}}</span>                                     
                     </div>        
                  
                  </td>
               </ng-container>
                  
   
               <!-- acciones -->
               <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Acciones </th>
                  <td mat-cell *matCellDef="let row" style="width:5%"> 
                     <button mat-icon-button [matMenuTriggerFor]="status1Actions" *ngIf="row.status != 'Activo'">
                     <mat-icon>more_vert</mat-icon>
                  </button>
                     
                  <mat-menu #status1Actions="matMenu" >
                     <button mat-menu-item (click)="checkEvent(row)">
                     <mat-icon>assignment</mat-icon>
                     Consultar
                     </button>
                     <button mat-menu-item *ngIf="role === 'administration' && row.status != 'Inactivo'" (click)="changeEventStatus(row)">
                     <mat-icon>update</mat-icon>
                     Cambiar estatus
                     </button>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="actions" *ngIf="row.status == 'Activo'">
                     <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions="matMenu">
                     <button mat-menu-item (click)="checkEvent(row)">
                     <mat-icon>assignment</mat-icon>
                     Consultar
                     </button>
                     <button mat-menu-item *ngIf="role === 'administration'" (click)="import([ '/graduation/loaderDataGraduation', row.id,0 ])">
                        <mat-icon>person_add</mat-icon>
                     Importar datos de alumnos
                     </button>
                     <button mat-menu-item *ngIf="role === 'administration' || role === 'recfinancieros'" (click)="import([ '/graduation/loaderDataGraduation', row.id,1 ])">                              
                        <mat-icon>note_add</mat-icon>
                        Importar lista financieros
                     </button>             
                     
                     <button mat-menu-item *ngIf="role === 'administration' && row.status != 'Inactivo'" (click)="changeEventStatus(row)">
                     <mat-icon>update</mat-icon>
                     Cambiar estatus
                     </button>
                     <button mat-menu-item *ngIf="role === 'administration'"  (click)="updateEvent(row)">
                     <mat-icon>event_note</mat-icon>
                     Actualizar evento
                     </button>
                     <button mat-menu-item *ngIf="role == 'administration'" (click)="infoEvent(row)">
                     <mat-icon>info</mat-icon>
                     Información del evento
                     </button>                  
                  </mat-menu>
                  </td>
               </ng-container>
   
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;">
               </tr>
               </table>
   
               <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            
         </div>           
         <ng-template #empty>
            <div class="alert alert-info text-center">
               <h2>No se encontraron eventos</h2>
            </div>
         </ng-template>
           
     </div>
  </div>
  