.action-icon{
    width: 25px; 
    height: 25px;
    cursor: pointer;
}
.inactivo{
    display: none;
}

.badge-active{
    
    color: white;
    background: rgb(0, 187, 45);
    border: 1px solid #fff;

}
.badge-wait{
    color: white;
    background: rgb(0, 97, 187);
    border: 1px solid #fff;

}

.badge-inactive{   
    border: 1px solid #000;   
}

.icons{
    cursor: pointer;
    color: #2a3a91;
}