.breadcrumb {
    background: #fff;//#2f323e;
    height: 40px;
    padding: 10px;
    border: 1px solid #2f323e;
    border-radius: 5px;
  }
  
  .breadcrumb li{
    color:#000;
    height: 20px;
  }


.form-control{    
  width: 80%;
}

small:hover{
    cursor: pointer;
}

