<div class="content-general">
  <div class="card card-shadow">

    <div class="card-header text-white bg-secondary">

      <!-- <div ngbDropdown >


        <span id="dropdownBasic1" ngbDropdownToggle class="close float-right" placement="top" ngbTooltip="Nuevo">
          <fa name="cloud-download" style="color:white"></fa>
        </span>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Configuraciónes</button>
          <button class="dropdown-item">Mi cuenta</button>
          <button (click)="logOut()" class="dropdown-item">Cerrar Sesión</button>
        </div>

      </div> -->

      <div class="dropdown" style="float:right;">
        <span class="close">
          <fa name="cloud-download" style="color:white"></fa>
        </span>

        <div class="dropdown-content">
          <a (click)="downloadExampleCSV(1)">Descargar .CSV de ejemplo para estudiantes</a>
          <a (click)="downloadExampleCSV(2)">Descargar .CSV de ejemplo para trabajadores</a>
        </div>
      </div>


      <strong>Importación de datos mediante archivos .CSV</strong>
    </div>

    <div class="card-body">

      <ngb-tabset>

        <ngb-tab title="Importar alumnos">
          <ng-template ngbTabContent>
            <div style="margin: 20px 0px;">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".csv" (change)="onFileSelect($event.target)" class="custom-file-input" id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">{{ changeString? fileName : 'Seleccione un
                    archivo' }}</label>
                </div>

              </div>
            </div>

            <div style="display: flex; justify-content: space-between;" *ngIf="showControls">
              <div >

                <span style="margin-right: 15px;">¿El archivo contiene cabecera?</span>

                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="radioButtonResponse">
                  <label ngbButtonLabel class="btn-secondary">
                    <input ngbButton type="radio" [value]="1"> SI
                  </label>
                  <label ngbButtonLabel class="btn-secondary">
                    <input ngbButton type="radio" value="0"> NO
                  </label>
                </div>

              </div>

              <div >
                <button type="button" (click)="analyzeArray()" class="btn btn-secondary">Analizar</button>
              </div>
            </div>

            <div *ngIf="showInfo">
              <span>Se han leido {{ this.dataStundets.length }} registros</span>
            </div>





          </ng-template>
        </ngb-tab>

        <ngb-tab title="Importar trabajadores">
          <ng-template ngbTabContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
              synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
              keffiyeh
              dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
              cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

  </div>
</div>