<div class="content" mat-dialog-content>
  <div class="card" *ngIf="Request">
    <div class="card-body justify-content-center">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div *ngIf="showImg" class="profile-icon">
            <img [src]="photo" alt="Imagen">
          </div>
          <div *ngIf="!showImg">
            <div class="cssload-thecube">
              <div class="cssload-cube cssload-c1"></div>
              <div class="cssload-cube cssload-c2"></div>
              <div class="cssload-cube cssload-c4"></div>
              <div class="cssload-cube cssload-c3"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
          <div class="row">
            <div class="col-sm-8 col-lg-10">
              <h5 class="card-title text-left"><b>{{degree}} </b>{{Request.student.fullName}}</h5>
            </div>
            <div class="col-sm-4 col-lg-2" style="clear: both;">
              <button *ngIf="role==='servicios estudiantiles' || role==='administrador'" mat-mini-fab mat-icon-button
                color="warn" style="float: right; margin-left: 5px;" (click)="changed()" data-toggle="tooltip"
                title="Modificar Documentos">
                <mat-icon>description</mat-icon>
              </button>
              <button mat-mini-fab mat-icon-button color="primary" style="float: right;" (click)="viewHistory()"
                data-toggle="tooltip" title="Historial">
                <mat-icon>assignment</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-left">
              <p><strong>Número Control:</strong> {{Request.student.controlNumber}}</p>
              <p><strong>Carrera:</strong> {{Request.student.career}}</p>
              <p><strong>Correo:</strong> {{Request.email}}</p>
              <p><strong>Teléfono:</strong> {{Request.telephone}}</p>
            </div>
            <div class="col-6 text-left">
              <p><strong>Registro:</strong> {{registeredDate}}</p>
              <p><strong>Fecha de acto recepcional:</strong> {{titledDate}}</p>
              <p><strong>Hora:</strong> {{titledHour}}</p>
              <p><strong>Título entregado:</strong> {{isTitled}}</p>
            </div>
          </div>
          <div class="row" *ngIf="existJury">
            <div class="col-12">
              <h5 class="card-title text-left">Jurado</h5>
            </div>
          </div>
          <div class="row" *ngIf="existJury">
            <div class="col-6 text-left">
              <p><strong>Presidente:</strong> {{Request.jury[0].name}}</p>
              <p><strong>Vocal:</strong> {{Request.jury[2].name}}</p>
            </div>
            <div class="col-6 text-left">
              <p><strong>Secretario:</strong> {{Request.jury[1].name}}</p>
              <p><strong>Suplente:</strong> {{Request.jury[3].name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="changeDocument">
    <app-upload-files></app-upload-files>
  </div>

  <div *ngIf="!changeDocument">
    <div class="card mt-3" *ngIf="Request">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileRequest)==='Accept', 'none':whatStatus(FileRequest)==='None','reject':whatStatus(FileRequest)==='Reject','process':whatStatus(FileRequest)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileRequest)==='Accept', 'noneText':whatStatus(FileRequest)==='None','rejectText':whatStatus(FileRequest)==='Reject','processText':whatStatus(FileRequest)==='Process'}">
                    Solicitud
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileRequest)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('SOLICITUD')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('SOLICITUD')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('SOLICITUD')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileRegistered)==='Accept', 'none':whatStatus(FileRegistered)==='None','reject':whatStatus(FileRegistered)==='Reject','process':whatStatus(FileRegistered)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileRegistered)==='Accept', 'noneText':whatStatus(FileRegistered)==='None','rejectText':whatStatus(FileRegistered)==='Reject','processText':whatStatus(FileRegistered)==='Process'}">
                    Registro
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileRegistered)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('REGISTRO')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('REGISTRO')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('REGISTRO')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileReleased)==='Accept', 'none':whatStatus(FileReleased)==='None','reject':whatStatus(FileReleased)==='Reject','process':whatStatus(FileReleased)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileReleased)==='Accept', 'noneText':whatStatus(FileReleased)==='None','rejectText':whatStatus(FileReleased)==='Reject','processText':whatStatus(FileReleased)==='Process'}">
                    Liberación
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileReleased)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('LIBERACION')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('LIBERACION')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('LIBERACION')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileInconvenience)==='Accept', 'none':whatStatus(FileInconvenience)==='None','reject':whatStatus(FileInconvenience)==='Reject','process':whatStatus(FileInconvenience)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileInconvenience)==='Accept', 'noneText':whatStatus(FileInconvenience)==='None','rejectText':whatStatus(FileInconvenience)==='Reject','processText':whatStatus(FileInconvenience)==='Process'}">
                    No inconveniencia
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileInconvenience)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('NO_INCONVENIENCIA')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('NO_INCONVENIENCIA')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('NO_INCONVENIENCIA')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileActa)==='Accept', 'none':whatStatus(FileActa)==='None','reject':whatStatus(FileActa)==='Reject','process':whatStatus(FileActa)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileActa)==='Accept', 'noneText':whatStatus(FileActa)==='None','rejectText':whatStatus(FileActa)==='Reject','processText':whatStatus(FileActa)==='Process'}">
                    Acta nacimiento
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileActa)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('2_ACTA_NACIMIENTO')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('2_ACTA_NACIMIENTO')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('2_ACTA_NACIMIENTO')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileCurp)==='Accept', 'none':whatStatus(FileCurp)==='None','reject':whatStatus(FileCurp)==='Reject','process':whatStatus(FileCurp)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileCurp)==='Accept', 'noneText':whatStatus(FileCurp)==='None','rejectText':whatStatus(FileCurp)==='Reject','processText':whatStatus(FileCurp)==='Process'}">
                    Curp
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileCurp)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('1_CURP')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('1_CURP')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('1_CURP')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileCertificado)==='Accept', 'none':whatStatus(FileCertificado)==='None','reject':whatStatus(FileCertificado)==='Reject','process':whatStatus(FileCertificado)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileCertificado)==='Accept', 'noneText':whatStatus(FileCertificado)==='None','rejectText':whatStatus(FileCertificado)==='Reject','processText':whatStatus(FileCertificado)==='Process'}">
                    Certificado bachillerato
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileCertificado)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('3_CERTIFICADO_BACHILLERATO')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('3_CERTIFICADO_BACHILLERATO')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('3_CERTIFICADO_BACHILLERATO')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileCedula)==='Accept', 'none':whatStatus(FileCedula)==='None','reject':whatStatus(FileCedula)==='Reject','process':whatStatus(FileCedula)==='Process','omit':whatStatus(FileCedula)==='Omit'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileCedula)==='Accept', 'noneText':whatStatus(FileCedula)==='None','rejectText':whatStatus(FileCedula)==='Reject','processText':whatStatus(FileCedula)==='Process','omitText':whatStatus(FileCedula)==='Omit'}">
                    Cédula técnico
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileCedula)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('4_CEDULA_TECNICA')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('4_CEDULA_TECNICA')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('4_CEDULA_TECNICA')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'Omit'">
                    <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
                    <p class="card-text">Omitido</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileLicenciatura)==='Accept', 'none':whatStatus(FileLicenciatura)==='None','reject':whatStatus(FileLicenciatura)==='Reject','process':whatStatus(FileLicenciatura)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileLicenciatura)==='Accept', 'noneText':whatStatus(FileLicenciatura)==='None','rejectText':whatStatus(FileLicenciatura)==='Reject','processText':whatStatus(FileLicenciatura)==='Process'}">
                    Certificado licenciatura
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileLicenciatura)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('5_CERTIFICADO_LICENCIATURA')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileServicio)==='Accept', 'none':whatStatus(FileServicio)==='None','reject':whatStatus(FileServicio)==='Reject','process':whatStatus(FileServicio)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileServicio)==='Accept', 'noneText':whatStatus(FileServicio)==='None','rejectText':whatStatus(FileServicio)==='Reject','processText':whatStatus(FileServicio)==='Process'}">
                    Servicio social
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileServicio)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('SERVICIO_SOCIAL')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('SERVICIO_SOCIAL')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('SERVICIO_SOCIAL')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileIngles)==='Accept', 'none':whatStatus(FileIngles)==='None','reject':whatStatus(FileIngles)==='Reject','process':whatStatus(FileIngles)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileIngles)==='Accept', 'noneText':whatStatus(FileIngles)==='None','rejectText':whatStatus(FileIngles)==='Reject','processText':whatStatus(FileIngles)==='Process'}">
                    Inglés
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileIngles)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('LIBERACION_INGLES')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('LIBERACION_INGLES')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('LIBERACION_INGLES')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FilePago)==='Accept', 'none':whatStatus(FilePago)==='None','reject':whatStatus(FilePago)==='Reject','process':whatStatus(FilePago)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FilePago)==='Accept', 'noneText':whatStatus(FilePago)==='None','rejectText':whatStatus(FilePago)==='Reject','processText':whatStatus(FilePago)==='Process'}">
                    Recibo pago
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FilePago)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('RECIBO')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('RECIBO')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('RECIBO')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileRevalidacion)==='Accept', 'none':whatStatus(FileRevalidacion)==='None','reject':whatStatus(FileRevalidacion)==='Reject','process':whatStatus(FileRevalidacion)==='Process','omit':whatStatus(FileRevalidacion)==='Omit'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileRevalidacion)==='Accept', 'noneText':whatStatus(FileRevalidacion)==='None','rejectText':whatStatus(FileRevalidacion)==='Reject','processText':whatStatus(FileRevalidacion)==='Process','omitText':whatStatus(FileRevalidacion)==='Omit'}">
                    Revalidación
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileRevalidacion)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('REVALIDACION')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('REVALIDACION')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Omit'">
                    <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
                    <p class="card-text">Omitido</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('REVALIDACION')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FilePhotos)==='Accept', 'none':whatStatus(FilePhotos)==='None','reject':whatStatus(FilePhotos)==='Reject','process':whatStatus(FilePhotos)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FilePhotos)==='Accept', 'noneText':whatStatus(FilePhotos)==='None','rejectText':whatStatus(FilePhotos)==='Reject','processText':whatStatus(FilePhotos)==='Process'}">
                    Fotografías
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FilePhotos)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
            <mat-card class="p-1"
              [ngClass]="{'accept':whatStatus(FileOficio)==='Accept', 'none':whatStatus(FileOficio)==='None','reject':whatStatus(FileOficio)==='Reject','process':whatStatus(FileOficio)==='Process'}">
              <mat-card-header class="justify-content-center">
                <mat-card-subtitle>
                  <p
                    [ngClass]="{'acceptText':whatStatus(FileOficio)==='Accept', 'noneText':whatStatus(FileOficio)==='None','rejectText':whatStatus(FileOficio)==='Reject','processText':whatStatus(FileOficio)==='Process'}">
                    Oficio jurado
                  </p>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div [ngSwitch]="whatStatus(FileOficio)" class="text-center">
                  <div *ngSwitchCase="'Process'" class="cursor-pointer" (click)="onView('OFICIO_JURADO')">
                    <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                    <p class="card-text">En revisión</p>
                  </div>
                  <div *ngSwitchCase="'Omit'">
                    <img alt="File" src="../../assets/imgs/notfound.png" style="width: 50px; height: 50px">
                    <p class="card-text">Omitido</p>
                  </div>
                  <div *ngSwitchCase="'Accept'" class="cursor-pointer" (click)="onView('OFICIO_JURADO')">
                    <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Aceptado</p>
                  </div>
                  <div *ngSwitchCase="'Reject'" class="cursor-pointer" (click)="onView('OFICIO_JURADO')">
                    <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                    <p class="card-text">Rechazado</p>
                  </div>
                  <div *ngSwitchCase="'None'">
                    <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                    <p class="card-text">Sin enviar</p>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <app-loader [loading]="showLoading"></app-loader>
</div>
