<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title>Liberación</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button [mat-dialog-close] class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <ngx-extended-pdf-viewer [src]="pdf" backgroundColor="#ffffff" [height]="'60vh'" [useBrowserLocale]="true">
  </ngx-extended-pdf-viewer>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="onSave()">Aceptar</button>
  <button mat-stroked-button [mat-dialog-close]="false" cdkFocusInitial>Rechazar</button>
</div>