.example-container {
  display: block;
  width: auto;
  height: auto;  
}

.nav-custom{
  // background: #fef0b7;
  // border-color: #fcd539; 
  // height:65px
  width: 15px;
  height: 100%;
  color: #525770;
  background-color: #828282;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

li:hover{
  background-color: #ff5050;
  color: #fff;
  cursor: pointer;
}

li > div > div > span :hover{
  background:  #ff5050;;    
  color: white;
}
// .mat-drawer-content {
//   padding: 12px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }

table {
    width: 100%;
  }

  .badge-reject {    
    background: rgba(239, 89, 88, 0.2);    
    color: #b64443;
  }

  .badge-accept {    
    background: rgba(13, 219, 185, 0.2);    
    color: #0aa68d;
  }

  .badge-process {    
    background: rgba(252, 213, 57, 0.2);    
    color: #c0a22b;  
  }

  .badge-none{
    background: rgba(70, 77, 238, 0.2);    
    color: #353bb5;
  }

  .badge-omit{    
    color: #525770;
    background-color: rgba(108, 114, 147, 0.2)
}
