<div class="content-general">
  <div class="card card-shadow">

    <div class="card-header text-white bg-secondary">

      <!-- <div ngbDropdown >


        <span id="dropdownBasic1" ngbDropdownToggle class="close float-right" placement="top" ngbTooltip="Nuevo">
          <fa name="cloud-download" style="color:white"></fa>
        </span>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Configuraciónes</button>
          <button class="dropdown-item">Mi cuenta</button>
          <button (click)="logOut()" class="dropdown-item">Cerrar Sesión</button>
        </div>

      </div> -->

      <div class="dropdown" style="float:right;">
        <span class="close">
          <fa name="cloud-download" style="color:white"></fa>
        </span>

        <div class="dropdown-content">
          <a (click)="downloadExampleCSV(1)">Descargar .CSV de ejemplo para estudiantes</a>
          <a (click)="downloadExampleCSV(2)">Descargar .CSV de ejemplo para trabajadores</a>
        </div>
      </div>


      <strong>Importación de datos mediante archivos .CSV</strong>
    </div>

    <div class="card-body">

      <ngb-tabset (tabChange)="beforeChange($event)">

        <ngb-tab title="Importar alumnos">
          <ng-template ngbTabContent>
            <div style="margin: 20px 0px;">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".csv" (change)="onFileSelect($event.target, 1)" class="custom-file-input"
                    id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">{{ changeString? fileName : 'Seleccione un
                    archivo' }}</label>
                </div>

              </div>
            </div>

            <div style="display: flex; justify-content: space-between;" *ngIf="showControls">
              <div>

                <span style="margin-right: 15px;">¿El archivo contiene cabecera?</span>

                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="radioButtonResponse">
                  <label ngbButtonLabel class="btn-secondary">
                    <input ngbButton type="radio" [value]="1"> SI
                  </label>
                  <label ngbButtonLabel class="btn-secondary">
                    <input ngbButton type="radio" value="0"> NO
                  </label>
                </div>

              </div>

              <div>
                <button type="button" (click)="analyzeArray()" class="btn btn-secondary">Analizar</button>
              </div>
            </div>

            <div style="margin-top: 15px;" *ngIf="showInfo">
              <div *ngIf="typeOfFile === 1" class="table-responsive d-none d-lg-block">
                <table class="table table-bordered table-hover table-striped">
                  <thead class="table-primary table-header">
                    <tr>
                      <th scope="col">Posición</th>
                      <th scope="col">NC</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Carrera</th>
                      <th scope="col">NSS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Primera Linea</th>
                      <td>{{ dataStundets[0].controlNumber }}</td>
                      <td>{{ dataStundets[0].fullName }}</td>
                      <td>{{ dataStundets[0].career }}</td>
                      <td>{{ dataStundets[0].nss }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Ultima Linea</th>
                      <td>{{ dataStundets[dataStundets.length - 1].controlNumber }}</td>
                      <td>{{ dataStundets[dataStundets.length - 1].fullName }}</td>
                      <td>{{ dataStundets[dataStundets.length - 1].career }}</td>
                      <td>{{ dataStundets[dataStundets.length - 1].nss }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div style="display: flex; justify-content: space-between;">
                <div>
                  <span>Se han leido {{ this.dataStundets.length }} registros</span>
                  <br>
                  <span>Si la información es correcta, oprima Enviar</span>
                </div>
                <div>
                  <button type="button" (click)="sendData(1)" class="btn btn-secondary">Enviar</button>
                </div>
              </div>


            </div>





          </ng-template>
        </ngb-tab>

        <ngb-tab title="Importar trabajadores">
          <ng-template ngbTabContent>

            <div style="margin: 20px 0px;">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".csv" (change)="onFileSelect($event.target, 2)" class="custom-file-input"
                    id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">{{ changeString? fileName : 'Seleccione un
                    archivo' }}</label>
                </div>

              </div>
            </div>

            <div style="display: flex; justify-content: space-between;" *ngIf="showControls">
              <div>

                <span style="margin-right: 15px;">¿El archivo contiene cabecera?</span>

                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="radioButtonResponse">
                  <label ngbButtonLabel class="btn-secondary">
                    <input ngbButton type="radio" [value]="1"> SI
                  </label>
                  <label ngbButtonLabel class="btn-secondary">
                    <input ngbButton type="radio" value="0"> NO
                  </label>
                </div>

              </div>

              <div>
                <button type="button" (click)="analyzeArray()" class="btn btn-secondary">Analizar</button>
              </div>
            </div>

            <div style="margin-top: 15px;" *ngIf="showInfo">
                <div *ngIf="typeOfFile === 2" class="table-responsive d-none d-lg-block">
                  <table class="table table-bordered table-hover table-striped">
                    <thead class="table-primary table-header">
                      <tr>
                        <th scope="col">Posición</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puesto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Primera Linea</th>
                        <td>{{ dataEmployees[0].rfc }}</td>
                        <td>{{ dataEmployees[0].name.fullName }}</td>
                        <td>{{ dataEmployees[0].position }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Ultima Linea</th>
                        <td>{{ dataEmployees[dataEmployees.length - 1].rfc }}</td>
                        <td>{{ dataEmployees[dataEmployees.length - 1].name.fullName }}</td>
                        <td>{{ dataEmployees[dataEmployees.length - 1].position }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
  
                <div style="display: flex; justify-content: space-between;">
                  <div>
                    <span>Se han leido {{ this.dataEmployees.length }} registros</span>
                    <br>
                    <span>Si la información es correcta, oprima Enviar</span>
                  </div>
                  <div>
                    <button type="button" (click)="sendData(2)" class="btn btn-secondary">Enviar</button>
                  </div>
                </div>
  
  
              </div>

          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </div>

  </div>
</div>