<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home"></i> Home</li>
    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-globe"></i> IMSS</li>
  </ol>
</nav>
<mat-card class="row m-1">
  <mat-card-content>
    <div class="row justify-content-end mr-2">
      <div class="text-center">
        <input #fileUpload type="file" accept=".csv" (change)="uploadCsv($event)" style="display: none">
        <button mat-mini-fab class="m-1" style="background:green;" (click)="fileUpload.click()" data-toggle="tooltip"
          title="Cargar archivo .csv">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div class="text-center">
        <button mat-mini-fab class="m-1" color="primary" (click)="downloadTemplateCsv()" data-toggle="tooltip"
          title="Descargar plantilla .csv">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </div>
      <div class="text-center">
        <input #fileImss type="file" accept=".csv" (change)="convertCsv($event)" style="display: none">
        <button mat-mini-fab class="m-1" color="accent" (click)="fileImss.click()" data-toggle="tooltip"
          title="Convertir archivo para subir">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
      <div class="text-center">
        <button mat-mini-fab class="m-1" color="warn" (click)="regularizeNss()" data-toggle="tooltip"
          title="Regularizar todos los nss">
          <mat-icon>update</mat-icon>
        </button>
      </div>
    </div>
    <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="changeTab($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="m-1" style="color:red;">local_hospital</mat-icon>
          Sin asegurar
        </ng-template>
        <div class="row p-3">
          <div class="col-11">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                oninput="this.value=this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-1 justify-content-end text-center">
            <button mat-mini-fab class="m-1" color="primary" (click)="refreshUninsured()" data-toggle="tooltip"
              title="Recargar">
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceUninsured" matSort>
              <ng-container *ngFor="let item of displayedColumnsUninsured.slice(0, -1);let index=index"
                [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsUninsuredName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">{{row[item]}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button (click)="insuredStudent(row)" mat-menu-item>
                      <mat-icon style="color:green;">beenhere</mat-icon>
                      Asegurar
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsUninsured" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsUninsured;" mat-row></tr>
            </table>
            <div class="row justify-content-md-center" style="padding-top: 5px;">
              <div class="col-1 justify-content-start text-center" ngbTooltip="Exportar a Excel"  style="cursor: pointer;">
                  <img src="../../assets/icons/excelExport.svg" class="action" (click)="excelExportUninsured()">
              </div>
              <div class="col-1 justify-content-start text-center" ngbTooltip="Generar Plantilla IMSS Excel"  style="cursor: pointer;">
                <img src="../../assets/icons/imss.svg" class="action" (click)="excelExportIMSS()">
              </div>
            </div>
            <mat-paginator #matPaginatorUninsured [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="m-1" style="color:green;">local_hospital</mat-icon>
          Asegurados
        </ng-template>
        <div class="row p-3">
          <div class="col-11">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda..."
                oninput="this.value=this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-1 justify-content-end text-center">
            <button mat-mini-fab class="m-1" color="primary" (click)="refreshInsured()" data-toggle="tooltip"
              title="Recargar">
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceInsured" matSort>
              <ng-container *ngFor="let item of displayedColumnsInsured.slice(0, -1);let index=index"
                [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsInsuredName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">{{row[item]}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%;">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button (click)="uninsuredStudent(row)" mat-menu-item>
                      <mat-icon style="color:red;">report</mat-icon>
                      Cancelar seguro
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsInsured" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsInsured;" mat-row></tr>
            </table>
            <div class="row justify-content-md-center" style="padding-top: 5px;">
              <div class="col-1 justify-content-start text-center" ngbTooltip="Exportar a Excel" style="cursor: pointer;">
                  <img src="../../assets/icons/excelExport.svg" class="action" (click)="excelExportInsured()">
              </div>
            </div>
            <mat-paginator #matPaginatorInsured [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="m-1" style="color:rgb(47,61,169);">contact_mail</mat-icon>
          Campaña de credencialización
        </ng-template>
        <div class="row p-3">
          <div class="col-11">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda..."
                oninput="this.value=this.value.toUpperCase()">
            </mat-form-field>
          </div>
          <div class="col-1 justify-content-end text-center">
            <button mat-mini-fab class="m-1" color="primary" (click)="refreshCampaign()" data-toggle="tooltip"
              title="Recargar">
              <mat-icon>update</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceCampaign" matSort>
              <ng-container *ngFor="let item of displayedColumnsCampaign.slice(0, -1);let index=index"
                [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsCampaignName[index]}}</th>
                <td *matCellDef="let row" mat-cell style="width:25%;">{{row[item]}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let row" mat-cell style="width:20%;">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button (click)="insuredStudent(row)" mat-menu-item *ngIf = "row.insured === 'No'">
                      <mat-icon>beenhere</mat-icon>
                      Asegurar
                    </button>
                    <button (click)="uninsuredStudent(row)" mat-menu-item *ngIf = "row.insured === 'Si'">
                      <mat-icon>report</mat-icon>
                      Cancelar seguro
                    </button>
                    <button (click)="generatePDF(row)" mat-menu-item *ngIf = "row.printCredential === 'No'">
                      <mat-icon>print</mat-icon>
                      Imprimir credencial
                    </button>
                    <button (click)="removePrintCredential(row)" mat-menu-item *ngIf = "row.printCredential === 'Si'">
                      <mat-icon>cached</mat-icon>
                      Remover credencial impresa
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsCampaign" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsCampaign;" mat-row></tr>
            </table>
            <div class="row justify-content-md-center" style="padding-top: 5px;">
              <div class="col-1 justify-content-start text-center" ngbTooltip="Exportar a Excel" style="cursor: pointer;">
                  <img src="../../assets/icons/excelExport.svg" class="action" (click)="excelExportCampaign()">
              </div>
              <div class="col-1 justify-content-start text-center" ngbTooltip="Generar Plantilla IMSS Excel"  style="cursor: pointer;">
                <img src="../../assets/icons/imss.svg" class="action" (click)="excelExportIMSSCampaign()">
              </div>
            </div>
            <mat-paginator #matPaginatorCampaign [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>


<!-- Tabla plantilla alumnos Excel IMSS-->
<table class="table table-striped table-bordered table-hover" id="tablaPlantillaExcelIMSS"
  data-cols-width="9,20,20,20,20,20,20,20,20,20,20,25,20,200" *ngIf = "dataSourceUninsured" style="display: none;">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Registro Patronal
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Afiliación
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Paterno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Materno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre(s)</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Fecha Movimiento
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">UMF 3</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Cuenta</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">CURP</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">FORMULA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSourceUninsured.data;let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">D355603932</td>
      <td data-f-sz="12" data-t="n">8</td>
      <td data-f-sz="12" data-t="s">{{item.nss.substring(0,10) || ''}}</td>
      <td data-f-sz="12" data-t="s">{{item.nss.substring(10,11) || ''}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <!--<td data-f-sz="12" data-t="s">22082018</td>-->
      <td data-f-sz="12" data-t="s">{{getDateMov()}}</td>
      <td data-f-sz="12" data-t="s">000</td>
      <td data-f-sz="12" data-t="s">{{complete10Dig(indice+1)}}</td>
      <td data-f-sz="12" data-t="s">{{item.curp}}</td>
      <td data-f-sz="12" data-t="s"></td>
      <td data-f-sz="12" data-t="s">=B{{indice+2}}&C{{indice+2}}&D{{indice+2}}&E{{indice+2}}&EXTRAE(ESPACIOS(F{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(G{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(H{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&"000000"&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;210"&I{{indice+2}}&J{{indice+2}}&"&nbsp;&nbsp;08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"&K{{indice+2}}&"&nbsp;"&L{{indice+2}}&"9"</td>
    </tr>
  </tbody>
</table>

<!-- Tabla reporte alumnos Excel IMSS SIN ASEGURAR -->
<table class="table table-striped table-bordered table-hover" id="tablaReporteUninsured"
  data-cols-width="9,20,30,30,50,20" *ngIf = "dataSourceUninsured" style="display: none;">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellidos</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">NSS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSourceUninsured.data;let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}} {{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <td data-f-sz="12" data-t="s">{{item.career}}</td>
      <td data-f-sz="12" data-t="s">{{item.nss || ''}}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla reporte alumnos Excel IMSS ASEGURADOS -->
<table class="table table-striped table-bordered table-hover" id="tablaReporteInsured"
  data-cols-width="9,20,30,30,50,20,20" *ngIf = "dataSourceInsured" style="display: none;">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellidos</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">NSS</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Alta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSourceInsured.data;let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}} {{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <td data-f-sz="12" data-t="s">{{item.career}}</td>
      <td data-f-sz="12" data-t="s">{{item.nss || ''}}</td>
      <td data-f-sz="12" data-t="s">{{item.registerDate}}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla reporte campaña credencializacion -->
<table class="table table-striped table-bordered table-hover" id="tablaReporteCampaign"
  data-cols-width="9,20,30,30,50,20,20,20,20,20" *ngIf = "dataSourceCampaign" style="display: none;">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellidos</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">NSS</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Asegurado</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Fecha Alta IMSS</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Credencial Impresa</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Fecha Alta Campaña</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSourceCampaign.data;let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}} {{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <td data-f-sz="12" data-t="s">{{item.career}}</td>
      <td data-f-sz="12" data-t="s">{{item.nss || ''}}</td>
      <td data-f-sz="12" data-t="s">{{item.insured}}</td>
      <td data-f-sz="12" data-t="s">{{item.registerDateImss}}</td>
      <td data-f-sz="12" data-t="s">{{item.printCredential}}</td>
      <td data-f-sz="12" data-t="s">{{item.registerDateCampaign}}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla plantilla alumnos Excel IMSS-->
<table class="table table-striped table-bordered table-hover" id="tablaPlantillaExcelIMSSCampaign"
  data-cols-width="9,20,20,20,20,20,20,20,20,20,20,25,20,200" *ngIf = "dataSourceUninsured" style="display: none;">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Registro Patronal
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Afiliación
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Paterno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Materno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre(s)</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Fecha Movimiento
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">UMF 3</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Cuenta</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">CURP</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">FORMULA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of templateImssCampaign;let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">D355603932</td>
      <td data-f-sz="12" data-t="n">8</td>
      <td data-f-sz="12" data-t="s">{{item.nss.substring(0,10) || ''}}</td>
      <td data-f-sz="12" data-t="s">{{item.nss.substring(10,11) || ''}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <!--<td data-f-sz="12" data-t="s">22082018</td>-->
      <td data-f-sz="12" data-t="s">{{getDateMov()}}</td>
      <td data-f-sz="12" data-t="s">000</td>
      <td data-f-sz="12" data-t="s">{{complete10Dig(indice+1)}}</td>
      <td data-f-sz="12" data-t="s">{{item.curp}}</td>
      <td data-f-sz="12" data-t="s"></td>
      <td data-f-sz="12" data-t="s">=B{{indice+2}}&C{{indice+2}}&D{{indice+2}}&E{{indice+2}}&EXTRAE(ESPACIOS(F{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(G{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(H{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&"000000"&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;210"&I{{indice+2}}&J{{indice+2}}&"&nbsp;&nbsp;08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"&K{{indice+2}}&"&nbsp;"&L{{indice+2}}&"9"</td>
    </tr>
  </tbody>
</table>