<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title >{{title}}</h1>    
  </div>
  <div class="col-2">
    <button mat-icon-button (click)="onClose()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="content">
    <mat-list *ngIf="status">
        <mat-list-item *ngFor="let st of status" [class.refused]="st.name === 'RECHAZADO'" [class.ok]="st.name === 'ACEPTADO' || st.name === 'VALIDADO'" [class.update]="st.message === 'Se actualizo el documento'">           
            <mat-icon  matListIcon *ngIf="st.name === 'RECHAZADO'" >highlight_off</mat-icon> <!-- rechazado-->
            <mat-icon matListIcon *ngIf="st.name === 'ACEPTADO'" >done</mat-icon>          <!-- aceptado-->
            <mat-icon matListIcon *ngIf="st.name === 'VALIDADO'" >done_all</mat-icon>      <!-- validado-->
            <mat-icon matListIcon *ngIf="st.name === 'EN PROCESO' && st.message === 'Se envio por primera vez'" >cloud_upload</mat-icon>          <!-- en proceso (enviado) -->
            <mat-icon matListIcon *ngIf="st.message === 'Se actualizo el documento'">update</mat-icon>          <!-- actualizacion (en proceso, rechazado) -->

            <div style="cursor: pointer;" ngbTooltip="Ver motivo completo" (click)="swalDialog(st.observation)" *ngIf="st.name === 'RECHAZADO'" matLine>
                <h5 matLine> {{st.name}} </h5>
                <p matLine>
                  <span> {{st.date | date:'d/M/y'}} </span>
                  <span> {{st.date | date:'shortTime'}} </span>
                  <span > -- {{st.message}} </span>
                  <span> &lt;&lt; {{st.observation}} &gt;&gt; </span>
                </p>
            </div>
            <div *ngIf="st.name !== 'RECHAZADO'" matLine>

              <h5 matLine> {{st.name}} </h5>
              <p matLine>
                <span> {{st.date | date:'d/M/y'}} </span>
                <span> {{st.date | date:'shortTime'}} </span>
                <span > -- {{st.message}} </span>              
              </p>
            </div>
        </mat-list-item>        
    </mat-list>
</div>