<div class="content">
  <mat-card class="custom-card-login col-11 col-sm-10 col-md-6 col-lg-5">
    <mat-card-header>
      <mat-card-title>Inicio de sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content class="justify-align-center">
      <form [formGroup]="formLogin">
        <div class="row">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label style="color: #707070;">
              <mat-icon style="font-size: 15px;">account_circle</mat-icon> Usuario o Número de Control
            </mat-label>
            <input matInput type="text" (keyup.enter)="password.focus()" formControlName="usernameInput"
              placeholder="Usuario o número de control" aria-describedby="emailHelp" aria-label="Introduzca su usuario"
              required autofocus>
            <mat-error *ngIf="formLogin.get('usernameInput').errors">
              <span *ngIf="formLogin.get('usernameInput').errors['required']">
                Campo obligatorio
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12">
            <mat-label style="color: #707070;">
              <mat-icon style="font-size: 15px;">lock</mat-icon> Contraseña o NIP
            </mat-label>
            <input #password matInput type="password" (keyup.enter)="login()" formControlName="passwordInput"
              aria-describedby="emailHelp" aria-label="Introduzca su contraseña" placeholder="Password o NIP" required>
            <mat-error *ngIf="formLogin.get('passwordInput').errors">
              <span *ngIf="formLogin.get('passwordInput').errors['required']">
                Campo obligatorio
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
      <div *ngIf="showAlertDiv" style="margin-top: 8px;" class="alert alert-danger" role="alert">
        {{messageAlertDiv}}
      </div>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between">
      <button mat-stroked-button type="button" [matMenuTriggerFor]="tutorialsMenu" color="accent">Tutoriales</button>
      <button mat-stroked-button (click)="login()" [disabled]="formLogin.invalid" type="button"
        color="primary">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-menu #tutorialsMenu="matMenu">
  <button mat-menu-item (click)="viewInscriptionsVideo()" type="button">
    <mat-icon>ondemand_video</mat-icon>
    <span>Nuevo ingreso</span>
  </button>
  <button mat-menu-item (click)="viewReceptionActVideo()" type="button">
    <mat-icon>ondemand_video</mat-icon>
    <span>Acto recepcional</span>
  </button>
</mat-menu>
