<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button (click)="onClose()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form [formGroup]="formMinuteBook" (ngSubmit)="onFormSubmit()" class="tp-form">
  <div class="row" mat-dialog-content>
    <div class="row justify-content-center">
      <mat-form-field class="col-sm-12 col-lg-12" appearance="outline">
        <mat-label>Nombre del libro</mat-label>
        <textarea matInput placeholder="Nombre de libro" formControlName="name" readonly></textarea>        
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-4" appearance="outline">
        <mat-label>Fecha de registro</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de registro" formControlName="date" readonly>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>        
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-4" appearance="outline">
        <mat-label>Número de libro</mat-label>
        <input matInput placeholder="Número de libro" formControlName="bookNumber" type="text" readonly>        
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-4" appearance="outline">
        <mat-label>Foja</mat-label>
        <input matInput placeholder="Foja" formControlName="foja" type="text" required id="foja">
        <mat-error *ngIf="!formMinuteBook.get('foja').valid && formMinuteBook.get('foja').touched">
          <span *ngIf="formMinuteBook.get('foja').errors['required']">
            ¡Ingrese una foja!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="justify-content-end" mat-dialog-actions>
    <button mat-flat-button class="m-1" color="primary" type="submit"
      [disabled]="formMinuteBook.invalid">Guardar</button>
  </div>
</form>
