<mat-card *ngIf="loaded">
  <mat-card-header>
    <mat-card-title>Servicio social: Revisión de documentos de solicitud</mat-card-title>
    <mat-card-subtitle>Estudiante: {{student.fullName}}</mat-card-subtitle>
    <button mat-icon-button (click)="location.back()" matTooltip="Regresar" class="text-danger" style="position: absolute; top: 5px; right: 5px;">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="lateral">
        <mat-card class="document">
          <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
            <h6 class="text-center">Carta de presentación</h6>
            <button mat-icon-button [matMenuTriggerFor]="menu1" style="position:absolute; bottom: 5px; right: 5px;">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu1="matMenu">
              <button mat-menu-item (click)="messageForCompany('evaluateDocument', 'presentation')" *ngIf="presentation !== 'approved'">
                <mat-icon class="text-success">thumb_up</mat-icon>
                <span>Aceptar</span>
              </button>
              <button mat-menu-item (click)="messageForCompany('rejectDocument', 'presentation')">
                <mat-icon class="text-danger">thumb_down</mat-icon>
                <span>Rechazar</span>
              </button>
            </mat-menu>
            <img src="../../../../assets/icons/pdfReport.svg" style="width: 30%; cursor: pointer;" (click)="viewDocument('ITT-POC-08-03')">
<!--            <p style="font-size: 0.8em;">Documento sin atender</p>-->
            <div [ngSwitch]="presentation">
              <div *ngSwitchCase="'send'">
                <span mat-line class="badge badge-pill badge-info">PENDIENTE</span>
              </div>
              <div *ngSwitchCase="'reevaluate'">
                <span mat-line class="badge badge-pill badge-danger">REEVALUACIÓN</span>
              </div>
              <div *ngSwitchCase="'approved'">
                <span mat-line class="badge badge-pill badge-success">APROBADO</span>
              </div>
              <div *ngSwitchDefault>
                <span mat-line class="badge badge-pill badge-warning">POR ENVIAR</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="document">
          <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
            <h6 class="text-center">Carta de aceptación</h6>
            <button mat-icon-button [matMenuTriggerFor]="menu2" style="position:absolute; bottom: 5px; right: 5px;">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu2="matMenu">
              <button mat-menu-item (click)="messageForCompany('evaluateDocument', 'acceptance')" *ngIf="acceptance !== 'approved'">
                <mat-icon class="text-success">thumb_up</mat-icon>
                <span>Aceptar</span>
              </button>
              <button mat-menu-item (click)="messageForCompany('rejectDocument', 'acceptance')">
                <mat-icon class="text-danger">thumb_down</mat-icon>
                <span>Rechazar</span>
              </button>
            </mat-menu>
            <img src="../../../../assets/icons/pdfReport.svg" style="width: 30%; cursor: pointer;" (click)="viewDocument('ITT-POC-08-00')">
            <!--            <p style="font-size: 0.8em;">Documento sin atender</p>-->
            <div [ngSwitch]="acceptance">
              <div *ngSwitchCase="'send'">
                <span mat-line class="badge badge-pill badge-info">PENDIENTE</span>
              </div>
              <div *ngSwitchCase="'reevaluate'">
                <span mat-line class="badge badge-pill badge-danger">REEVALUACIÓN</span>
              </div>
              <div *ngSwitchCase="'approved'">
                <span mat-line class="badge badge-pill badge-success">APROBADO</span>
              </div>
              <div *ngSwitchDefault>
                <span mat-line class="badge badge-pill badge-warning">POR ENVIAR</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="document">
          <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
            <h6 class="text-center">Plan de trabajo</h6>
            <button mat-icon-button [matMenuTriggerFor]="menu3" style="position:absolute; bottom: 5px; right: 5px;">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu3="matMenu">
              <button mat-menu-item (click)="messageForCompany('evaluateDocument', 'workPlanProject')" *ngIf="workPlan !== 'approved'">
                <mat-icon class="text-success">thumb_up</mat-icon>
                <span>Aceptar</span>
              </button>
              <button mat-menu-item (click)="messageForCompany('rejectDocument', 'workPlanProject')">
                <mat-icon class="text-danger">thumb_down</mat-icon>
                <span>Rechazar</span>
              </button>
            </mat-menu>
            <img src="../../../../assets/icons/pdfReport.svg" style="width: 30%; cursor: pointer;" (click)="viewDocument('ITT-POC-08-04')">
            <!--            <p style="font-size: 0.8em;">Documento sin atender</p>-->
            <div [ngSwitch]="workPlan">
              <div *ngSwitchCase="'send'">
                <span mat-line class="badge badge-pill badge-info">PENDIENTE</span>
              </div>
              <div *ngSwitchCase="'reevaluate'">
                <span mat-line class="badge badge-pill badge-danger">REEVALUACIÓN</span>
              </div>
              <div *ngSwitchCase="'approved'">
                <span mat-line class="badge badge-pill badge-success">APROBADO</span>
              </div>
              <div *ngSwitchDefault>
                <span mat-line class="badge badge-pill badge-warning">POR ENVIAR</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="document">
          <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
            <h6 class="text-center">Carta compromiso</h6>
            <button mat-icon-button [matMenuTriggerFor]="menu4" style="position:absolute; bottom: 5px; right: 5px;">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu4="matMenu">
              <button mat-menu-item (click)="messageForCompany('evaluateDocument', 'commitment')" *ngIf="commitment !== 'approved'">
                <mat-icon class="text-success">thumb_up</mat-icon>
                <span>Aceptar</span>
              </button>
              <button mat-menu-item (click)="messageForCompany('rejectDocument', 'commitment')">
                <mat-icon class="text-danger">thumb_down</mat-icon>
                <span>Rechazar</span>
              </button>
            </mat-menu>
            <img src="../../../../assets/icons/pdfReport.svg" style="width: 30%; cursor: pointer;" (click)="viewDocument('ITT-POC-08-05')">
            <!--            <p style="font-size: 0.8em;">Documento sin atender</p>-->
            <div [ngSwitch]="commitment">
              <div *ngSwitchCase="'send'">
                <span mat-line class="badge badge-pill badge-info">PENDIENTE</span>
              </div>
              <div *ngSwitchCase="'reevaluate'">
                <span mat-line class="badge badge-pill badge-danger">REEVALUACIÓN</span>
              </div>
              <div *ngSwitchCase="'approved'">
                <span mat-line class="badge badge-pill badge-success">APROBADO</span>
              </div>
              <div *ngSwitchDefault>
                <span mat-line class="badge badge-pill badge-warning">POR ENVIAR</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

    </div>

    <div class="presentation">
      <ngx-extended-pdf-viewer [src]="pdf" backgroundColor="#ffffff" [height]="'90vh'" [useBrowserLocale]="true"
                               (pdfLoaded)="disableLoading()">
      </ngx-extended-pdf-viewer>
    </div>
  </mat-card-content>
</mat-card>


