<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header">
      <h2 *ngIf="type === '0'">Importar datos de alumnos</h2>
      <h2 *ngIf="type === '1'">Importar lista de financieros</h2>
      <h2 *ngIf="type !== '1' && type !== '0'">Invalido</h2>
    </div>
    <div class="card-body" *ngIf="type === '1' || type === '0'">

            <div style="margin: 20px 0px;">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" accept=".csv" (change)="onFileSelect($event.target)" class="custom-file-input"
                    id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label" for="inputGroupFile04">{{ changeString? fileName : 'Seleccione un
                    archivo' }}</label>
                </div>

              </div>
            </div>            
            <div style="margin-top: 15px;" *ngIf="csvObjects.length>0">
              <h3>LISTADO DE ALUMNOS</h3>
              <div class="table-responsive d-none d-lg-block">
                <table class="table table-striped table-bordered table-hover">
                  <thead class="table-primary table-header">
                    <tr>                
                      <th scope="col">NC</th>
                      <th scope="col">NombreApellidos</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Carrera</th>
                      <!-- <th scope="col">CarreraCompleta</th> -->
                      <th scope="col">Especialidad</th>
                      <th scope="col">Promedio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of csvObjects | paginate: {id:pag2, itemsPerPage: pageSize,
                      currentPage: page };">                    
                      <td>{{ student.nc }}</td>
                      <td>{{ student.nombreApellidos }}</td>
                      <td>{{ student.nombre }}</td>
                      <td>{{ student.carreraCompleta }}</td>
                      <!-- <td>{{ student.carrera }}</td> -->
                      <td>{{ student.especialidad }}</td>
                      <td>{{ student.promedio }}</td>
                    </tr>                    
                  </tbody>
                </table>                
                <div class='div-pagination'>
                  <pagination-controls [id]="pag"
                     directionLinks="true"
                     (pageChange)="pageChanged($event)"
                      responsive="true"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                   ></pagination-controls>
            </div>
              </div>
              <div >
                <div class="row justify-content-center mt-3">                  
                  <div >
                    <button type="button" (click)="sendData()" class="btn btn-success">Enviar</button>
                  </div>
                  <div>
                    <button type="button" (click)="cancel()" class="btn btn-primary ml-3">Cancelar</button>
                  </div>                                 
                </div>
              </div>
            </div>


    </div>

  </div>
</div>
<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>