<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title>Integrantes</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button [mat-dialog-close] class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<form [formGroup]="frmIntegrants" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <h4 class="message-note col-sm-12 col-md-11 col-lg-10">Nota: Solo agregue a los integrantes faltantes, sin incluirse usted.</h4>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label class="form-col-form-label" for="name">Nombre Completo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text"
              [ngClass]="(!frmIntegrants.get('name').valid && frmIntegrants.get('name').touched)?'form-control is-invalid':'form-control'"
              id="name" formControlName="name" placeholder="Nombre Completo"
              oninput="this.value = this.value.toUpperCase()">
            <div class="invalid-feedback" *ngIf="!frmIntegrants.get('name').valid && frmIntegrants.get('name').touched">
              <span *ngIf="frmIntegrants.get('name').errors['required']">
                ¡Nombre obligatorio!
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label class="form-col-form-label" for="controlNumber">No. de Control</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input type="text"
              [ngClass]="(!frmIntegrants.get('controlNumber').valid && frmIntegrants.get('controlNumber').touched)?'form-control is-invalid':'form-control'"
              id="controlNumber" formControlName="controlNumber" placeholder="Número de Control"
              oninput="this.value = this.value.toUpperCase()">
            <div class="invalid-feedback"
              *ngIf="!frmIntegrants.get('controlNumber').valid && frmIntegrants.get('controlNumber').touched">
              <span *ngIf="frmIntegrants.get('controlNumber').errors['required']">
                ¡Por favor ingrese un número de control!
              </span>
              <span *ngIf="frmIntegrants.get('controlNumber').errors['pattern']">
                ¡Dígite sólo números!
              </span>
              <span *ngIf="frmIntegrants.get('controlNumber').errors['minlength']">
                ¡Número de control inválido!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="form-col-form-label" for="career">Carrera</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>

            <select id="career" class="form-control" formControlName="career">
              <option *ngFor="let item of careers" value="{{item}}">{{item}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-success" [disabled]="frmIntegrants.invalid" type="submit">
                {{ isEditing ? 'Actualizar': 'Añadir' }}
              </button>
            </div>
            <div class="invalid-feedback"
              *ngIf="!frmIntegrants.get('career').valid && frmIntegrants.get('career').touched">
              <span *ngIf="frmIntegrants.get('career').errors['required']">
                ¡Por favor ingrese una carrera!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="controlNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Número Control </th>
          <td mat-cell *matCellDef="let row"> {{row.controlNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="career">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
          <td mat-cell *matCellDef="let row"> {{row.career}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <mat-icon (click)="onRowEditSave(row)">edit</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <mat-icon (click)="onRemove(row)">close</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" type="button" (click)="onSaveAll()">Guardar</button>
    <button mat-stroked-button color="warn" type="button" (click)="onClose()" mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>
