<div class="content-general" *ngIf="role !== 'asistenciaInvitados'">
  <div class="card card-shadow">
    <mat-tab-group *ngIf="dataSource">
      <mat-tab
        *ngIf="
          role === 'administration' ||
          role === 'comunication' ||
          role === 'coordinator'
        "
      >
        <ng-template matTabLabel>
          <span>Graduación {{ collection.toUpperCase() }}</span>
        </ng-template>
        <div class="card-body">
          <div style="overflow-x: auto; padding-top: 20px;">
            <div class="row">
              <div class="col-sm-3">
                <mat-card class="card-with-border-left cardEgresados"
                  ><b>Egresados</b>
                  <!-- <br>{{totalEgresados}} -->
                  <mat-card-content>
                    <div class="row text-center">
                      <div class="col">H: {{ totalEgresadosH }}</div>
                      <div class="col">M: {{ totalEgresadosM }}</div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-sm-3">
                <mat-card class="card-with-border-left cardCListos"
                  ><b>Verificados</b><br />{{ totalVerificados }}</mat-card
                >
              </div>
              <div
                class="col-sm-3"
                *ngIf="role === 'administration' || role === 'comunication'"
              >
                <mat-card class="card-with-border-left cardCPendientes"
                  ><b>Boletos Totales</b><br />{{ boletosTotales }}</mat-card
                >
              </div>
              <div
                class="col-sm-3"
                *ngIf="role === 'administration' || role === 'comunication'"
              >
                <mat-card class="card-with-border-left cardRestantes"
                  ><b>Boletos Restantes</b><br />{{
                    boletosRestantes
                  }}</mat-card
                >
              </div>
            </div>
            <br />
            <div class="row" style="align-items: center;">
               <div class="col-2 search-input">        
                  <mat-form-field class="w-100">
                    <mat-label>Buscar...</mat-label>
                    <input matInput (keyup)="filter('search',$event)" placeholder="Ej. 17400001">
                  </mat-form-field>    
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <select (change)="filter('surveys',$event)" class="form-control">
                      <option value='default'>Encuestas</option>
                      <option value='true'>Contestadas</option>
                      <option value='false'>No Contestadas</option>
                    </select>
                  </div>
                </div>
              
              <div class="col-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="filter('career', $event)"
                    *ngIf="careers"
                  >
                    <option value="default" selected>Todas las carreras</option>
                    <option
                      *ngFor="let career of careers"
                      [value]="career.acronym"
                      >{{ career.shortName }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="col-2">
                <table class="table">
                  <tr>
                     <td id="checkRegistrado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Registrado"
                          tooltipClass="my-custom-class">
                          <input type="checkbox" class="custom-control-input" id="defaultInline1"
                            value="registrado" (change)="filter('check',$event)">
                          <label class="custom-control-label" for="defaultInline1">R</label>
                        </div>
                     </td>
                     <td id="checkVerificado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Verificado"
                          tooltipClass="my-custom-class">
                          <input type="checkbox" class="custom-control-input" id="defaultInline2"
                            value="verificado" (change)="filter('check',$event)">
                          <label class="custom-control-label" for="defaultInline2">V</label>
                        </div>
                     </td>
                     <td id="checkAsistio">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Asistió"
                          tooltipClass="my-custom-class">
                          <input type="checkbox" class="custom-control-input" id="defaultInline3"
                            value="asistió" (change)="filter('check',$event)">
                          <label class="custom-control-label" for="defaultInline3">A</label>
                        </div>
                     </td>                    
                     <td id="checkMencionado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Mencionado"
                          tooltipClass="my-custom-class">
                          <input type="checkbox" class="custom-control-input" id="defaultInline4"
                            value="mencionado" (change)="filter('check',$event)">
                          <label class="custom-control-label" for="defaultInline4">M</label>
                        </div>
                     </td>                    
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="dataSource.data.length > 0;else empty">

               <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                    
                    <!-- Número de control -->
                    <ng-container matColumnDef="nc">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">  Número de control </th>
                      <td mat-cell *matCellDef="let row" (click)="observationsModal(row)"> 
                      <div class="bestavg">
                        <mat-icon class="text-warning" *ngIf="row.bestAverage">stars</mat-icon>
                        {{row.nc}}
                      </div>   
                      </td>
                    </ng-container>
        
                    <!-- Nombre -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Nombre del Alumno</th>
                      <td mat-cell *matCellDef="let row" (click)="observationsModal(row)">
                        <b *ngIf="
                        row.degree &&
                        row.carreer != 'LA' &&
                        row.carreer != 'ARQ' &&
                        row.carreer != 'MCA' &&
                        row.carreer != 'DCA'
                      ">ING.</b>
                      <b *ngIf="row.degree && row.carreer == 'LA'">LIC.</b>
                      <b *ngIf="row.degree && row.carreer == 'ARQ'">ARQ.</b>
                      <b *ngIf="row.degree && row.carreer == 'MCA'">MCA.</b>
                      <b *ngIf="row.degree && row.carreer == 'DCA'">DCA.</b>
                      <b *ngIf="row.degree && row.carreer == 'MTI'">MTI.</b>
                        {{row.name}} 
                        </td>
                    </ng-container>
        
        
                    <!-- Carrera -->
                    <ng-container matColumnDef="carreer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Carrera </th>
                      <td mat-cell *matCellDef="let row" (click)="observationsModal(row)"> {{row.carreer}} </td>
                    </ng-container>
        
                    <!-- boletos -->
                    <ng-container matColumnDef="numInvitados" *ngIf="role === 'administration' || role === 'comunication'">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Boletos </th>
                        <td mat-cell *matCellDef="let row">
                           <tr>
                              <td>
                                 <div
                                    class="div-img"
                                    ngbTooltip="Quitar"
                                    tooltipClass="my-custom-class"
                                 >
                                    <img
                                    src="../../assets/icons/menos.svg"
                                    class="action"
                                    (click)="delTicket(row)"
                                    />
                                 </div>                                  
                              </td>
                              <td>
                                 {{row.numInvitados}}
                              </td>
                              <td>
                                 <div
                               class="div-img"
                               ngbTooltip="Agregar"
                               tooltipClass="my-custom-class"
                             >
                              <img
                                 src="../../assets/icons/mas.svg"
                                 class="action"
                                 (click)="addTicket(row)"
                               />
                           </div> 
                              </td>
                           </tr>                   
                        </td>
                    </ng-container>
        
                    <!-- estatus -->
                    <ng-container matColumnDef="status" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Estatus </th>
                      <td mat-cell *matCellDef="let row" (click)="observationsModal(row)"> 
                        <div [ngSwitch]="row.status">
                            <span *ngSwitchCase="'Registrado'"
                                class="badge badge-pill badge-r">{{row.status}}</span>
                            <span *ngSwitchCase="'Verificado'"
                                class="badge badge-pill badge-v">{{row.status}}</span>
                            <span *ngSwitchCase="'Asistió'"
                                class="badge badge-pill badge-a">{{row.status}}</span>
                            <span *ngSwitchCase="'Mencionado'"
                                class="badge badge-pill badge-m">{{row.status}}</span>                                                         
                        </div>        
                      
                      </td>
                    </ng-container>                     
        
                    <!-- acciones -->
                    <ng-container matColumnDef="actions" *ngIf="role === 'administration' || role === 'comunication'">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Acciones </th>
                      <td mat-cell *matCellDef="let row" style="width:5%" > 
                        <div *ngIf="row.email && status == 1">
   
                           <button mat-icon-button [matMenuTriggerFor]="actions2" *ngIf="role === 'comunication'">
                             <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #actions2="matMenu">
                              <button mat-menu-item *ngIf="row.status == 'Registrado'" (click)="verifyStudent(row)">
                                 <mat-icon>shopping_cart</mat-icon>
                                 Confirmar Pago
                               </button>
                              <button mat-menu-item *ngIf="row.status == 'Pagado'" (click)="confirmRemovePaidEvent(row)">
                                 <mat-icon>remove_shopping_cart</mat-icon>
                                 Remover Pago
                               </button>
                            </mat-menu>
                           <button mat-icon-button [matMenuTriggerFor]="actions" *ngIf="role === 'administration'">
                             <mat-icon>more_vert</mat-icon>
                            </button>
                         
                         <mat-menu #actions="matMenu">
                           
                           <button mat-menu-item *ngIf="row.status == 'Registrado'" (click)="verifyStudent(row)">
                             <mat-icon>shopping_cart</mat-icon>
                             Confirmar Pago
                           </button>
                           <button mat-menu-item *ngIf="(row.status === 'Pagado' || row.status === 'Verificado')" (click)="confirmPresenceEvent(row)">
                             <mat-icon>playlist_add_check</mat-icon>
                             Registrar Asistencia
                           </button>
                           
                           <button mat-menu-item *ngIf="row.degree !== true" (click)="confirmDegree(row)">
                             <mat-icon class="text-success">verified_user</mat-icon>
                             No Titulado
                           </button>
                           <button mat-menu-item *ngIf="row.degree === true"  (click)="confirmRemoveDegree(row)" class="text-danger">
                             <mat-icon class="text-danger">backspace</mat-icon>
                             Titulado
                           </button>
                           <button mat-menu-item *ngIf="row.observations !== ''" (click)="observationsModal(row)">
                             <mat-icon>remove_red_eye</mat-icon>
                             Observaciones
                           </button>
                           <button mat-menu-item *ngIf="row.bestAverage !== true" (click)="confirmBestAverage(row)">
                             <mat-icon class="text-warning">stars</mat-icon>
                             Mejor Promedio
                           </button>
                           <button mat-menu-item (click)="emailModal(row)"> 
                             <mat-icon>update</mat-icon>
                             Actualizar Correo
                           </button>
                           <button mat-menu-item *ngIf="row.status === 'Mencionado'" (click)="confirmReturnStatusA(row)" class="text-danger">
                             <mat-icon class="text-danger">restore </mat-icon>
                             Regresar a Asistió
                           </button>
                           <button mat-menu-item *ngIf="row.status === 'Asistió'" (click)="confirmReturnStatusV(row)"  class="text-danger">
                             <mat-icon class="text-danger">restore </mat-icon>
                             Regresar a Verificado
                           </button>
                           <button mat-menu-item *ngIf="row.status === 'Verificado'" (click)="confirmReturnStatusR(row)"  class="text-danger">
                             <mat-icon class="text-danger">restore </mat-icon>
                             Regresar a Registrado
                           </button>
                         </mat-menu>
                        </div>
                      </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>
        
                  <mat-paginator #paginator1
                  [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]"               
                  ></mat-paginator>
                </div>
                <div class="footer-actions" > 
                  <div  *ngIf="(filteredCareer ? filteredCareer !== 'default' : false) && (role === 'administration' || role === 'coordinator')" class="div-img" ngbTooltip="Generar Papeletas para {{filteredCareer.toUpperCase()}}" >
                    <img src="../../assets/icons/ballotPaper.svg" class="action" (click)="generateBallotPaper()">
                  </div>
                  <div class="div-img" ngbTooltip="Exportar a Excel" >
                    <img src="../../assets/icons/excelExport.svg" class="action" (click)="excelExport()">
                  </div>
                  <div *ngIf="role === 'administration' || role === 'comunication'" class="div-img" ngbTooltip="Generar Reporte Mejor Promedio" >
                    <img src="../../assets/icons/bestAverage.svg" class="action" (click)="generateReportBestAverage()">
                  </div>
                  <div class="div-img" ngbTooltip="Generar Reporte" >
                    <img src="../../assets/icons/pdfReport.svg" class="action" (click)="generateReport()">
                  </div>
                </div>
            </div>
           
             <ng-template #empty>            
               <h3 class="alert alert-warning text-center">NO HAY ESTUDIANTES PARA MOSTRAR</h3>         
           </ng-template>  

          <!-- Tabla reporte alumnos PDF-->
          <table
            class="table table-striped table-bordered table-hover"
            id="tableReport"
            *ngIf="doPdfReport"
          >
            <thead>
              <tr>
                <th>No</th>
                <th>Número de Control</th>
                <th>Nombre del Alumno</th>
                <th>Carrera</th>
                <th>Estatus</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let alumno of dataSource.filteredData; let indice = index
                "
              >
                <td>{{ indice + 1 }}</td>
                <td>{{ alumno.nc }}</td>
                <td
                  *ngIf="
                    alumno.degree &&
                    alumno.carreer != 'LA' &&
                    alumno.carreer != 'ARQ' &&
                    alumno.carreer != 'MCA' &&
                    alumno.carreer != 'DCA'
                  "
                >
                  <b>ING.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.carreer == 'LA'">
                  <b>LIC.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.carreer == 'ARQ'">
                  <b>ARQ.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.carreer == 'MCA'">
                  <b>MCA.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.carreer == 'DCA'">
                  <b>DCA.</b> {{ alumno.name }}
                </td>
                <td *ngIf="!alumno.degree">{{ alumno.name }}</td>
                <td>{{ alumno.carreer }}</td>
                <td class="{{ alumno.status }}">{{ alumno.status }}</td>
                <td>{{ alumno.observations }}</td>
              </tr>
            </tbody>
          </table>

          <!-- Tabla reporte alumnos Excel-->
          <table
            class="table table-striped table-bordered table-hover"
            id="tableReportExcel"
            *ngIf="doExcelReport"
            data-cols-width="9,21,21,46,66,28,15,15,11,100"
          >
            <thead>
              <tr>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  No
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Número de Control
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  NSS
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Nombre del Alumno
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Carrera
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Correo
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Titulado
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Estatus
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Encuesta
                </th>
                <th
                  data-f-bold="true"
                  data-f-sz="14"
                  data-fill-color="112043"
                  data-f-color="FFFFFF"
                >
                  Observaciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let alumno of dataSource.filteredData;
                  let indice = index
                "
              >
                <td data-f-sz="12">{{ indice + 1 }}</td>
                <td data-f-sz="12">{{ alumno.nc }}</td>
                <td data-f-sz="12">{{ alumno.nss }}</td>
                <td
                  data-f-sz="12"
                  *ngIf="
                    alumno.degree &&
                    alumno.carreer != 'LA' &&
                    alumno.carreer != 'ARQ' &&
                    alumno.carreer != 'MCA' &&
                    alumno.carreer != 'DCA'
                  "
                >
                  <b>ING.</b> {{ alumno.name }}
                </td>
                <td
                  data-f-sz="12"
                  *ngIf="alumno.degree && alumno.carreer == 'LA'"
                >
                  <b>LIC.</b>
                  {{ alumno.name }}
                </td>
                <td
                  data-f-sz="12"
                  *ngIf="alumno.degree && alumno.carreer == 'ARQ'"
                >
                  <b>ARQ.</b> {{ alumno.name }}
                </td>
                <td
                  data-f-sz="12"
                  *ngIf="alumno.degree && alumno.carreer == 'MCA'"
                >
                  <b>MCA.</b> {{ alumno.name }}
                </td>
                <td
                  data-f-sz="12"
                  *ngIf="alumno.degree && alumno.carreer == 'DCA'"
                >
                  <b>DCA.</b> {{ alumno.name }}
                </td>
                <td data-f-sz="12" *ngIf="!alumno.degree">{{ alumno.name }}</td>
                <td data-f-sz="12">{{ alumno.carreerComplete }}</td>
                <td data-f-sz="12">{{ alumno.email }}</td>
                <td data-f-sz="12" *ngIf="alumno.degree">Si</td>
                <td data-f-sz="12" *ngIf="!alumno.degree">No</td>
                <td data-f-sz="12" class="{{ alumno.status }}">
                  {{ alumno.status }}
                </td>
                <td data-f-sz="12" *ngIf="alumno.survey">Si</td>
                <td data-f-sz="12" *ngIf="!alumno.survey">No</td>
                <td data-f-sz="12">{{ alumno.observations }}</td>
              </tr>
            </tbody>
          </table>

          <!-- Tabla reporte alumnos mejor promedio PDF-->
          <table
            class="table table-striped table-bordered table-hover"
            id="tableReportBestAverageIn"
            *ngIf="doBestAvgReport"
          >
            <thead>
              <tr>
                <td colspan="3" class="text-center">ASISTIÓ</td>
              </tr>
              <tr>
                <th>Carrera</th>
                <th>Nombre del Alumno</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumno of studentIn">
                <td>{{ alumno.data.carreraCompleta }}</td>
                <td
                  *ngIf="
                    alumno.data.degree &&
                    alumno.data.carrera != 'LA' &&
                    alumno.data.carrera != 'ARQ' &&
                    alumno.data.carrera != 'MCA' &&
                    alumno.data.carrera != 'DCA'
                  "
                >
                  <b>ING.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'LA'">
                  <b>LIC.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'ARQ'">
                  <b>ARQ.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'MCA'">
                  <b>MCA.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'DCA'">
                  <b>DCA.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="!alumno.data.degree">{{ alumno.data.nombre }}</td>
                <td>{{ alumno.data.promedio }}</td>
              </tr>
            </tbody>
          </table>
          <table
            class="table table-striped table-bordered table-hover"
            id="tableReportBestAverageOut"
            *ngIf="doBestAvgReport"
          >
            <thead>
              <tr>
                <td colspan="3" class="text-center">NO ASISTIÓ</td>
              </tr>
              <tr>
                <th>Carrera</th>
                <th>Nombre del Alumno</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumno of studentOut">
                <td>{{ alumno.data.carreraCompleta }}</td>
                <td
                  *ngIf="
                    alumno.data.degree &&
                    alumno.data.carrera != 'LA' &&
                    alumno.data.carrera != 'ARQ' &&
                    alumno.data.carrera != 'MCA' &&
                    alumno.data.carrera != 'DCA'
                  "
                >
                  <b>ING.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'LA'">
                  <b>LIC.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'ARQ'">
                  <b>ARQ.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'MCA'">
                  <b>MCA.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="alumno.data.degree && alumno.data.carrera == 'DCA'">
                  <b>DCA.</b> {{ alumno.data.nombre }}
                </td>
                <td *ngIf="!alumno.data.degree">{{ alumno.data.nombre }}</td>
                <td>{{ alumno.data.promedio }}</td>
              </tr>
            </tbody>
          </table>
          <table
            class="table table-striped table-bordered table-hover"
            id="tableReportBestAverage"
            *ngIf="doBestAvgReport"
          >
            <thead>
              <tr>
                <td colspan="3" class="text-center">
                  MEJORES PROMEDIOS DE LA GENERACIÓN
                </td>
              </tr>
              <tr>
                <th>Carrera</th>
                <th>Nombre del Alumno</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumno of bestStudents">
                <td>{{ alumno.career }}</td>
                <td
                  *ngIf="
                    alumno.degree &&
                    alumno.careerS != 'LA' &&
                    alumno.careerS != 'ARQ' &&
                    alumno.careerS != 'MCA' &&
                    alumno.careerS != 'DCA'
                  "
                >
                  <b>ING.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.careerS == 'LA'">
                  <b>LIC.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.careerS == 'ARQ'">
                  <b>ARQ.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.careerS == 'MCA'">
                  <b>MCA.</b> {{ alumno.name }}
                </td>
                <td *ngIf="alumno.degree && alumno.careerS == 'DCA'">
                  <b>DCA.</b> {{ alumno.name }}
                </td>
                <td *ngIf="!alumno.degree">{{ alumno.name }}</td>
                <td>{{ alumno.avg }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="role === 'administration' || role === 'secretary'">
        <ng-template matTabLabel>
          <span>Documentación</span>
        </ng-template>
        <div class="card-body">
          <div style="overflow-x: auto; padding-top: 20px;">
            <div class="row">
              <div class="col-sm-12 text-center">
                <mat-card class="card-with-border-left cardEgresados"
                  ><b>Egresados</b><br />{{ totalEgresados }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left card-not-requested"
                  ><b>No solicitados</b><br />{{ certificadosNoSolicitados }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left card-requested"
                  ><b>Solicitados</b><br />{{ certificadosSolicitados }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left card-asigned-line"
                  ><b>Línea asignada</b><br />{{ certificadosConLineaAsignada }}</mat-card
                >
              </div>              
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left cardCPendientes"
                  ><b>Pendientes</b><br />{{ certificadosPendientes }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left cardCImpresos"
                  ><b>Impresos</b><br />{{ certificadosImpresos }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left cardCListos"
                  ><b>Listos</b><br />{{ certificadosListos }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left card-sended"
                  ><b>Enviados</b><br />{{ certificadosEnviados }}</mat-card
                >
              </div>
              <div class="col-sm-3 mt-2">
                <mat-card class="card-with-border-left card-delivered"
                  ><b>Entregados</b><br />{{ certificadosEntregados }}</mat-card
                >
              </div>
            </div>
            <br />
            <div class="row" style="align-items: center;">
              <div class="col-6 search-input">                
                <mat-form-field class="w-100">
                  <mat-label>Buscar...</mat-label>
                  <input matInput (keyup)="filterDoc('search',$event)" placeholder="Ej. 17400001">
                </mat-form-field>                
              </div>
              <div class="col-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="filterDoc('career', $event)"
                    *ngIf="careers"
                  >
                    <option value="default" selected>Todas las carreras</option>
                    <option
                      *ngFor="let career of careers"
                      [value]="career.acronym"
                      >{{ career.shortName }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <select
                    class="form-control"
                    (change)="filterDoc('photos', $event)"                  
                  >
                    <option value="default" selected>Opción de fotos</option>                    
                    <option value="1">Opción 1</option>
                    <option value="2">Opción 2</option>
                    >
                  </select>
                  
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <select (change)="filterDoc('status',$event)" class="form-control">
                    <option value='default'>Todos los estatus</option>
                    <option value="NO SOLICITADO">No solicitado</option>
                    <option value="SOLICITADO">Solicitado</option>
                    <option value="LINEA ASIGNADA">Línea Asignada</option>
                    <option value="PENDIENTE">Pendiente</option>
                    <option value="IMPRESO">Impreso</option>
                    <option value="LISTO">Listo</option>
                    <option value="ENVIADO">Enviado</option>
                    <option value="ENTREGADO">Entregado</option>
                  </select>
                </div>                
              </div>
            </div>
            <!--Tabla de documentacion aquí-->
            <div *ngIf="dataSource.data.length > 0;else empty2">

              <div class="mat-elevation-z8">
                 <table mat-table [dataSource]="dataSourceDoc" matSort>
                   
                   <!-- Número de control -->
                   <ng-container matColumnDef="nc">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">  Número de control </th>
                     <td mat-cell *matCellDef="let row" > {{row.nc}} </td>
                   </ng-container>
       
                   <!-- Nombre -->
                   <ng-container matColumnDef="name">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Nombre del Alumno</th>
                     <td mat-cell *matCellDef="let row" >
                       <b *ngIf="
                       row.degree &&
                       row.carreer != 'LA' &&
                       row.carreer != 'ARQ' &&
                       row.carreer != 'MCA' &&
                       row.carreer != 'DCA'
                     ">ING.</b>
                     <b *ngIf="row.degree && row.carreer == 'LA'">LIC.</b>
                     <b *ngIf="row.degree && row.carreer == 'ARQ'">ARQ.</b>
                     <b *ngIf="row.degree && row.carreer == 'MCA'">MCA.</b>
                     <b *ngIf="row.degree && row.carreer == 'DCA'">DCA.</b>
                     <b *ngIf="row.degree && row.carreer == 'MTI'">MTI.</b>
                       {{row.name}} 
                       </td>
                   </ng-container>
       
       
                   <!-- Carrera -->
                   <ng-container matColumnDef="carreer">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Carrera </th>
                     <td mat-cell *matCellDef="let row" > {{row.carreer}} </td>
                   </ng-container>

                   <!-- avance -->
                   <ng-container matColumnDef="avance">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Avance </th>
                     <td mat-cell *matCellDef="let row" > 
                       <span *ngIf="row.comprobantePago && !row.entregaFotos">
                        {{row.comprobantePago.status.name == 'ACEPTADO' ? '1/2' : row.comprobantePago.status.name == 'RECHAZADO' ? '1/2' : '0/2' }}
                       </span>
                       <span *ngIf="row.comprobantePago && row.entregaFotos">
                        {{row.comprobantePago.status.name == 'ACEPTADO' ? '2/2' : '1/2' }}
                       </span>
                       <span *ngIf="!row.comprobantePago && row.entregaFotos">
                        1/2
                       </span>
                       <span *ngIf="!row.comprobantePago && !row.entregaFotos">
                        0/1
                       </span>
                     </td>
                   </ng-container>       

                   <!-- opcion de fotos -->
                   <ng-container matColumnDef="photos">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Opción de fotos </th>
                     <td mat-cell *matCellDef="let row" > 
                       <span *ngIf="!row.opcionFotos && row.stepCertificado == 4">Sin elegir</span>
                       <span *ngIf="row.opcionFotos">Opción {{row.opcionFotos}}</span>
                     </td>
                   </ng-container>       
       
                   <!-- estatus -->
                   <ng-container matColumnDef="status" >
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Estatus </th>
                     <td mat-cell *matCellDef="let row" > 
                       <div [ngSwitch]="row.documentationStatus">
                           <span *ngSwitchCase="'NO SOLICITADO'"
                               class="badge badge-pill badge-not-requested">{{row.documentationStatus}}</span>
                           <span *ngSwitchCase="'SOLICITADO'"
                               class="badge badge-pill badge-requested">{{row.documentationStatus}}</span>
                           <span *ngSwitchCase="'LINEA ASIGNADA'"
                               class="badge badge-pill badge-asigned-line">{{row.documentationStatus}}</span>
                           <span *ngSwitchCase="'PENDIENTE'"
                               class="badge badge-pill badge-pending">{{row.documentationStatus}}</span>                                                         
                           <span *ngSwitchCase="'IMPRESO'"
                               class="badge badge-pill badge-printed">{{row.documentationStatus}}</span>                                                         
                           <span *ngSwitchCase="'LISTO'"
                               class="badge badge-pill badge-ready">{{row.documentationStatus}}</span>                                                         
                           <span *ngSwitchCase="'ENVIADO'"
                               class="badge badge-pill badge-sended">{{row.documentationStatus}}</span>                                                         
                           <span *ngSwitchCase="'ENTREGADO'"
                               class="badge badge-pill badge-delivered">{{row.documentationStatus}}</span>                                                         
                       </div>        
                     
                     </td>
                   </ng-container>                     
       
                   <!-- acciones -->
                   <ng-container matColumnDef="actions">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Acciones </th>
                     <td mat-cell *matCellDef="let row" style="width:5%">
                      <div *ngIf="row.email">

                        <button mat-icon-button [matMenuTriggerFor]="actions">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      
                        <mat-menu #actions="matMenu">
                          
                          <button mat-menu-item *ngIf="row.opcionFotos && !row.entregaFotos" (click)="changeOptionPhotos(row)">
                            <mat-icon>settings_backup_restore</mat-icon>
                            Cambiar opción de fotos
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'LINEA ASIGNADA' && !row.entregaFotos" (click)="changeStatusPhotos(row)">
                            <mat-icon>perm_media</mat-icon>
                            Fotos recibidas
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'LINEA ASIGNADA' && row.comprobantePago && row.comprobantePago.status.name !== 'ACEPTADO'" (click)="reviewPhotos(row)">
                            <mat-icon>payment</mat-icon>
                            Dictaminar recibo de pago
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'PENDIENTE'" (click)="changeStatusDocumentation(row,'IMPRESO')">
                            <mat-icon>print</mat-icon>
                            Impreso
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'IMPRESO'" (click)="changeStatusDocumentation(row,'LISTO')">
                            <mat-icon>done_all</mat-icon>
                            Listo
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'LISTO'" (click)="changeStatusDocumentation(row,'ENVIADO')">
                            <mat-icon>contact_mail</mat-icon>
                            Enviado
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'ENVIADO'" (click)="changeStatusDocumentation(row,'ENTREGADO')">
                            <mat-icon>send</mat-icon>
                            Entregado
                          </button>

                          <button mat-menu-item *ngIf="row.documentationStatus == 'LINEA ASIGNADA'" (click)="changeStatusDocumentation(row,'Regresar')" class="text-danger">
                            <mat-icon class="text-danger">settings_backup_restore</mat-icon>
                            Regresar Estatus a Solicitado
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'PENDIENTE'" (click)="changeStatusDocumentation(row,'Regresar')" class="text-danger">
                            <mat-icon class="text-danger">settings_backup_restore</mat-icon>
                            Regresar Estatus a Línea Asignada
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'IMPRESO'" (click)="changeStatusDocumentation(row,'Regresar')" class="text-danger">
                            <mat-icon class="text-danger">settings_backup_restore</mat-icon>
                            Regresar Estatus a Pendiente
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'LISTO'" (click)="changeStatusDocumentation(row,'Regresar')" class="text-danger">
                            <mat-icon class="text-danger">settings_backup_restore</mat-icon>
                            Regresar Estatus a Impreso
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'ENVIADO'" (click)="changeStatusDocumentation(row,'Regresar')" class="text-danger">
                            <mat-icon class="text-danger">settings_backup_restore</mat-icon>
                            Regresar Estatus a Listo
                          </button>
                          <button mat-menu-item *ngIf="row.documentationStatus == 'ENTREGADO'" (click)="changeStatusDocumentation(row,'Regresar')" class="text-danger">
                            <mat-icon class="text-danger">settings_backup_restore</mat-icon>
                            Regresar Estatus a Enviado
                          </button>

                          <button mat-menu-item (click)="generateConstancy(row)">
                            <mat-icon>library_books</mat-icon>
                            Generar Constancia
                          </button>                                                    
                        </mat-menu>                       
                      </div>
                     </td>
                   </ng-container>
       
                   <tr mat-header-row *matHeaderRowDef="displayedColumnsDoc"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumnsDoc;">
                   </tr>
                 </table>
       
                 <mat-paginator #paginator2
                 [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]"               
                 ></mat-paginator>
               </div>
               <div class="footer-actions" *ngIf="(filteredCareerDoc ? filteredCareerDoc !== 'default' : false)" style="justify-content: center;"> 
                 <div  class="div-img" ngbTooltip="Generar Constancias para {{filteredCareerDoc.toUpperCase()}}" >
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <img src="../../assets/icons/documentacion/generarConstancia.svg" class="action">
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="generateAllConstancys()">
                        <mat-icon>done_all</mat-icon>
                        <span>Todas</span>
                      </button>
                      <button mat-menu-item (click)="generateRegisteredConstancys()">
                        <mat-icon>done</mat-icon>
                        <span>Solo Registrados</span>
                      </button>
                      <button mat-menu-item (click)="generateVerifiedConstancys()">
                        <mat-icon>forward</mat-icon>
                        <span>Verificados en Adelante</span>
                      </button>
                  </mat-menu>
                 </div>
                 <div class="div-img" ngbTooltip="Generar Pestañas  para {{filteredCareerDoc.toUpperCase()}}" tooltipClass="my-custom-class">
                  <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
                 <img src="../../assets/icons/label.svg" class="action">
                   </button>
                   <mat-menu #menu2="matMenu">
                     <button mat-menu-item (click)="generateAllLabels()">
                       <mat-icon>done_all</mat-icon>
                       <span>Todas</span>
                     </button>
                     <button mat-menu-item (click)="generateRegisteredLabels()">
                       <mat-icon>done</mat-icon>
                       <span>Solo Registrados</span>
                     </button>
                     <button mat-menu-item (click)="generateVerifiedLabels()">
                       <mat-icon>forward</mat-icon>
                       <span>Verificados en Adelante</span>
                     </button>
                   </mat-menu>
                </div>
              </div>
            </div>
            <ng-template #empty2>            
              <h3 class="alert alert-warning text-center">NO HAY ESTUDIANTES PARA MOSTRAR</h3>         
            </ng-template>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Por asignar línea">
       <app-certificate-line [collection]="collection" *ngIf="collection" class="p-4"></app-certificate-line> 
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div *ngIf="role === 'asistenciaInvitados'">
  <div class="card card-shadow" style="padding: 5px;">
    <div class="container">
      <div class="row justify-content-md-center">
        <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
          <mat-label>Nombre o número de control</mat-label>
          <input
            matInput
            [(ngModel)]="findStudentTickets"
            oninput="this.value = this.value.toUpperCase()"
          />
          <button matSuffix mat-icon-button (click)="searchStudent()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div
    class="row justify-content-md-center"
    *ngIf="findStudentTickets !== '' || guests"
  >
    <mat-selection-list class="student-list">
      <mat-list-item
        *ngFor="let alumno of studentsTickets"
        class="student-card"
      >
        <mat-card *ngIf="alumno.status !== 'Registrado'">
          <mat-card-header>
            <mat-card-title>
              <span
                class="badge badge-pill"
                style="
                  text-align: center;
                  background-color: rgb(202, 0, 10);
                  color: white;
                  width: 90px;
                "
                >{{ alumno.status }}</span
              ><br />
              {{ alumno.name }}<br />
              {{ alumno.nc }}<br />
              {{ alumno.carreerComplete }}<br /><br />
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions align="center">
            <button
              mat-button
              color="warn"
              (click)="callStudent(alumno)"
              mat-button
            >
              Llamar
            </button>
            <button
              mat-button
              color="primary"
              (click)="viewTickets(alumno)"
              mat-button
            >
              Ver boletos
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="alumno.status === 'Registrado'">
          <mat-card-header>
            <mat-card-title>
              <span
                class="badge badge-pill"
                style="
                  text-align: center;
                  background-color: rgb(71, 178, 218);
                  color: white;
                  width: 90px;
                "
                >{{ alumno.status }}</span
              ><br />
              {{ alumno.name }}<br />
              {{ alumno.nc }}<br />
              {{ alumno.carreerComplete }}<br /><br />
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions align="center">
            <button
              mat-button
              color="warn"
              (click)="callStudent(alumno)"
              mat-button
            >
              Llamar
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
    </mat-selection-list>
  </div>
  <div *ngIf="guests">
    <div class="row justify-content-md-center">
      <mat-selection-list class="ticket-list">
        <mat-list-item
          *ngFor="let guest of guests; let indice = index"
          class="ticket-card"
        >
          <mat-card>
            <mat-card-header style="text-align: center;">
              <mat-card-title
                >Invitado -
                {{
                  guest.ticketFor.slice(8, guest.ticketFor.length)
                }}</mat-card-title
              >
            </mat-card-header>
            <mat-card-actions align="center">
              <button
                mat-button
                color="accent"
                (click)="changeStatusTicket(guest)"
                mat-button
              >
                Registrar asistencia
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-list-item>
      </mat-selection-list>
    </div>
  </div>
</div>
