<mat-card *ngIf="loaded">
  <mat-card-header class="text-center w-100">
    <mat-card-title class="w-100">MENSAJE PARA ALUMNOS CON GRUPO NO ACTIVO</mat-card-title>
  </mat-card-header>
  <mat-card-content class="text-center">
    <form [formGroup]="form">
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Mensaje</mat-label>
          <textarea #messageIn disabled matInput placeholder="Ingrese el mensaje" formControlName="message" ></textarea>
          <mat-error *ngIf="form.get('message').invalid">Necesita ingresar el mensaje</mat-error>
        </mat-form-field>      
        <div mat-dialog-actions class="buttons">
          <button mat-button mat-raised-button class="button-blue" (click)="saveMessage(form.value)" [disabled]="!form.valid" *ngIf="edit">Actualizar</button>
          <button mat-button mat-raised-button class="button-blue" (click)="saveMessage(form.value)" [disabled]="!form.valid" *ngIf="!edit">Guardar</button>
        </div>
    </form>
  </mat-card-content>
</mat-card>