<simple-notifications [options]="optionsNotifications"></simple-notifications>

<div *ngIf="! activeSession">
    <div class="content">
        <app-login-header></app-login-header>
        <app-login-page (loginSuccessful)="changeStatus()"></app-login-page>
    </div>

</div>

<div *ngIf="activeSession">

    <ng-sidebar-container class="content" style="background-color: #E9EBEE;">

        <!-- A sidebar -->
        <ng-sidebar [(opened)]="opened" [(mode)]="mode" [(closeOnClickOutside)]="closeOnClickOutside">
            <app-sidebar-content (closeMenu)="closeMenu()"></app-sidebar-content>
        </ng-sidebar>

        <!-- Page content -->
        <div ng-sidebar-content>
            <app-home-header (onMenu)="onMenu()" [size]="sizeBoolean"></app-home-header>
            <div >
                <div >
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>

    </ng-sidebar-container>


</div>