<ng-template #content let-c="close('Save click')" let-d="dismiss('Cross click')" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccione el área de la foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="5 / 6" format="png"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"
      [imageQuality]=90></image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-login" (click)="c">Aceptar</button>
    <button type="button" class="btn btn-link" (click)="d">Cancelar</button>
  </div>
</ng-template>

<div class="content-general">
  <div *ngIf="showForm" class="card card-shadow text-white card-itt" style="margin-bottom: 15px;">
    <div class="card-header">
      <span class="float-right close" placement="top" ngbTooltip="Cerrar">
        <fa name="times-circle" (click)="hiddenFormDiv()" style="color:white"></fa>
      </span>
      <span class="float-right close">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
      <span *ngIf="!this.formStudent.invalid && !isNewStudent" class="float-right close" placement="top" ngbTooltip="Guardar">
        <fa name="save" (click)="updateStudentData();" style="color:white"></fa>
      </span>
      <span *ngIf="!this.formStudent.invalid && isNewStudent" class="float-right close" placement="top" ngbTooltip="Guardar">
        <fa name="save" (click)="newStudentData();" style="color:white"></fa>
      </span>
      <span class="float-right close">
        &nbsp;&nbsp;
      </span>
      <span *ngIf="haveImage && currentStudent.nss" class="float-right close" placement="top" ngbTooltip="Imprimir">
        <fa name="print" (click)="generatePDF(currentStudent)" style="color:white"></fa>
      </span>
      <strong>Datos del Alumno</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="formStudent">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="row" style="justify-content: center">
              <div style="display: flex; height: 100%;">
                <div class="container-img">
                  <div *ngIf="showImg">
                    <input type="file" (change)="fileChangeEvent($event, content)" id="fileButton" accept="image/x-png,image/jpeg"
                      style="display: none;">
                    <div (click)="showSelectFileDialog()" class="tag" *ngIf="!this.formStudent.invalid && this.currentStudent.fullName && this.currentStudent.fullName !== ''">Cambiar</div>
                    <img class="profile-icon" [src]="photoStudent">
                  </div>
                  <div *ngIf="!showImg">
                    <div class="cssload-thecube">
                      <div class="cssload-cube cssload-c1"></div>
                      <div class="cssload-cube cssload-c2"></div>
                      <div class="cssload-cube cssload-c4"></div>
                      <div class="cssload-cube cssload-c3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="form-group">
              <label for="studentInputFatherFirstName">Primer Apellido *</label>
              <input #input1 (input)="input1.value=$event.target.value.toUpperCase()"
              type="text" class="form-control" id="studentInputFatherFirstName" formControlName="fatherFirstNameInput"
              placeholder="Ingrese primer apellido" 
              [ngClass]="{'is-invalid': (formStudent.get('fatherFirstNameInput').errors && formStudent.get('fatherFirstNameInput').dirty) }"
             >
              <div >
                <div class="invalid-feedback" *ngIf=" formStudent.get('fatherFirstNameInput') ? formStudent.get('fatherFirstNameInput').hasError('required') : false">
                  Campo obligatorio
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="studentInputMotherFirstName">Segundo Apellido *</label>
              <input #input2 (input)="input2.value=$event.target.value.toUpperCase()"
                type="text" class="form-control" id="studentInputMotherFirstName" formControlName="motherFirstNameInput"
                placeholder="Ingrese el segundo apellido">
              <div>
              </div>
            </div>           
            <div class="form-group">
              <label for="studentInputFirstName">Nombre(s) *</label>
              <input #input3 (input)="input3.value=$event.target.value.toUpperCase()"
                type="text" class="form-control" id="studentInputFirstName" formControlName="firstNameInput"
                placeholder="Ingrese el nombre" 
                [ngClass]="{'is-invalid': (formStudent.get('firstNameInput').errors && formStudent.get('firstNameInput').dirty) }">
              <div>
                <div class="invalid-feedback" *ngIf=" formStudent.get('firstNameInput') ? formStudent.get('firstNameInput').hasError('required') : false">
                  Campo obligatorio
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Carrera *</label>
              <select (input)="errorInputsTag.errorStudentCareer = false" class="form-control" id="exampleFormControlSelect1"
                [ngClass]="{ 'is-invalid' : errorInputsTag.errorStudentCareer }" [(ngModel)]="currentStudent.careerId"
                [ngModelOptions]="{standalone: true}">
                <option value="default" selected>Seleccione la Carrera</option>
                <option [value]="career._id" *ngFor="let career of careers">{{career.fullName}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="errorInputsTag.errorStudentCareer">
                Campo obligatorio
              </div>
            </div>

            <div class="form-group">
              <label for="studentInputControlNumber">Número de Control *</label>
              <input (input)="errorInputsTag.errorStudentNumberControl = false" type="text" class="form-control" id="studentInputFullName"
                formControlName="numberControlInput" aria-describedby="emailHelp" placeholder="Ingrese número de control"
                [ngClass]="{'is-invalid': (formStudent.get('numberControlInput').errors && formStudent.get('numberControlInput').dirty) || errorInputsTag.errorStudentNumberControl }">
              <div *ngIf="(formStudent.get('numberControlInput').errors && formStudent.get('numberControlInput').dirty) || errorForm">
                <div class="invalid-feedback" *ngIf="formStudent.get('numberControlInput').hasError('required') || errorInputsTag.errorStudentNumberControl">
                  Campo obligatorio
                </div>
              </div>
            </div>            
            <div class="form-group">
              <label for="studentInputNSS">NSS *</label>
              <input 
                (input)="errorInputsTag.errorStudentNSS = false" 
                type="text" 
                class="form-control"    
                id="studentInputNSS"
                formControlName="nssInput" 
                aria-describedby="emailHelp" 
                placeholder="Ingrese número de seguro social"
                [ngClass]="{'is-invalid': (formStudent.get('nssInput').errors && formStudent.get('nssInput').dirty) || errorInputsTag.errorStudentNSS }" 
                minlength="11" 
                maxlength="11"                
                (keypress) = "isNumber($event)"
                />
                
              <div *ngIf="(formStudent.get('nssInput').errors && formStudent.get('nssInput').dirty) || errorForm">
                <div class="invalid-feedback" *ngIf="formStudent.get('nssInput').hasError('required') || errorInputsTag.errorStudentNSS">
                  Campo obligatorio
                </div>
              </div>
            </div>

          </div>
        </div>        
      </form>
    </div>
    <div class="card-footer">
        <span class="float-right close" placement="top" ngbTooltip="Cerrar">
          <fa name="times-circle" (click)="hiddenFormDiv()" style="color:white"></fa>
        </span>
        <span class="float-right close">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span *ngIf="!this.formStudent.invalid&&!isNewStudent" class="float-right close" placement="top" ngbTooltip="Guardar">
          <fa name="save" (click)="updateStudentData();" style="color:white"></fa>
        </span>
        <span *ngIf="!this.formStudent.invalid&&isNewStudent" class="float-right close" placement="top" ngbTooltip="Guardar">
          <fa name="save" (click)="newStudentData();" style="color:white"></fa>
        </span>
        <span class="float-right close">
          &nbsp;&nbsp;
        </span>
        <span *ngIf="haveImage && currentStudent.nss" class="float-right close" placement="top" ngbTooltip="Imprimir">
          <fa name="print" (click)="generatePDF(currentStudent)" style="color:white"></fa>
        </span>
      </div>
  </div>

  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <span class="close float-right" placement="top" ngbTooltip="Nuevo">
        <fa name="plus-circle" (click)="newStudent()" style="color:white"></fa>
      </span>
      <strong>Búsqueda de alumnos</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <div class="form-group" style="margin-bottom: 10px;">
            <input type="text" #searchinput class="form-control" aria-describedby="searchHelp" placeholder="Nombre o Número de Control"
              [(ngModel)]="search" (keyup.enter)="searchStudent(false)" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-2" *ngIf="searchinput.value">
          <span ngbTooltip="Buscar" class="close">
            <fa name="search" class="fa-lg" (click)="searchStudent(false)" style="color:forestgreen"></fa>
          </span>
        </div>
      </div>

      <div *ngIf="showTable" class="table-responsive d-none d-lg-block">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-primary table-header">
            <tr>
              <th scope="col">NC</th>
              <th scope="col">Nombre</th>
              <th scope="col">Carrera</th>
              <th scope="col">NSS</th>
              <th scope="col">Asegurado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of data">
              <th (click)="showFormValues(student)" scope="row">{{ student.controlNumber }}</th>
              <td (click)="showFormValues(student)">{{ student.fullName }}</td>
              <td (click)="showFormValues(student)">{{ student.career }}</td>
              <td (click)="showFormValues(student)">{{ student.nss }}</td>
              <td (click)="showFormValues(student)">{{ student.insured }}</td>
              <td style="text-align: center">
                <div class="div-img">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                   <mat-menu #menu="matMenu">
                     <button mat-menu-item (click)="generatePDF(student)">
                       <mat-icon>print</mat-icon>
                       <span>Imprimir</span>
                     </button>
                     <button mat-menu-item (click)="addCampaign(student)"  *ngIf = "student.campaign === 'No'">
                       <mat-icon>add_circle</mat-icon>
                       <span>Agregar a campaña</span>
                     </button>
                     <button mat-menu-item (click)="removeCampaign(student)" *ngIf = "student.campaign === 'Si'">
                      <mat-icon>remove_circle</mat-icon>
                      <span>Quitar de campaña</span>
                    </button>
                   </mat-menu>                                
               </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="showTable" class="table-responsive d-block d-lg-none">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-primary table-header">
            <tr>
              <th scope="col">NC</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of data">
              <th scope="row" (click)="showFormValues(student)">{{ student.controlNumber }}</th>
              <td (click)="showFormValues(student)">{{ student.fullName }}</td>
              <td style="text-align: center">
                <span ngbTooltip="Imprimir">
                  <fa name="print" class="fa-lg" (click)="generatePDF(student)" style="color:#ED773C"></fa>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="showNotFound">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">No hay resultados!!!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>