<div class="content-general">
  <div class="card card-shadow">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="3">
      <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudentsPendant}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos
            Pendientes</span>
        </ng-template>
        <app-list-pending-student></app-list-pending-student>
      </mat-tab>
      <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudentsProcess}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos En
            Proceso</span>
        </ng-template>
        <app-list-process-student></app-list-process-student>
      </mat-tab>
      <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudentsAcept}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos
            Aceptados</span>
        </ng-template>
        <app-list-acept-student></app-list-acept-student>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudents}}" matBadgeOverlap="false" style="padding-right: 10px;">Todos los
            Alumnos</span>
        </ng-template>
        <div class="card-body">
          <div style="overflow-x:auto; padding-top: 20px;">
            <div class="row">
              <div class="col-sm-3">
                <mat-card class = "cardTotal"><b>Total Alumnos</b><br>{{cantListStudents}}</mat-card>
             </div>
              <div class="col-sm-2">
                 <mat-card class = "cardPendientes"><b>Pendientes</b><br>{{cantListStudentsPendant}}</mat-card>
              </div>
              <div class="col-sm-2">
                 <mat-card class = "cardAceptados"><b>Aceptados</b><br>{{cantListStudentsAcept}}</mat-card>
              </div>
              <div class="col-sm-2">
                 <mat-card class = "cardExpedientes"><b>Con Expediente</b><br>{{cantIntegratedExpedient}}</mat-card>
              </div>
              <div class="col-sm-3">
                <mat-card class = "cardArchivados"><b>Archivados</b><br>{{cantArchivedExpedient}}</mat-card>
             </div>
            </div><br>
            <div class="row">
              <div class="col-2" *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
                <div class="form-group">
                  <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar Alumno..."
                    (keyup)="eventFilterStatus(searchText)" autocomplete="off">
                </div>
              </div>
              <div class="col-4" *ngIf="rolName == 'Médico'">
                <div class="form-group">
                  <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar Alumno..."
                    (keyup)="eventFilterStatus(searchText)" autocomplete="off">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <select [(ngModel)]="searchCarreer" class="form-control" (change)="eventFilterStatus()">
                    <option value=''>Todas las carreras</option>
                    <option value='INGENIERÍA BIOQUÍMICA'>Ingeniería Bioquímica</option>
                    <option value='INGENIERÍA EN GESTIÓN EMPRESARIAL'>Ingeniería en Gestión Empresarial</option>
                    <option value='INGENIERÍA CIVIL'>Ingeniería Civil</option>
                    <option value='ARQUITECTURA'>Arquitectura</option>
                    <option value='INGENIERÍA QUÍMICA'>Ingeniería Química</option>
                    <option value='INGENIERÍA MECATRÓNICA'>Ingeniería Mecatrónica</option>
                    <option value='INGENIERÍA ELÉCTRICA'>Ingeniería Eléctrica</option>
                    <option value='LICENCIATURA EN ADMINISTRACIÓN'>Licenciatura en Administración</option>
                    <option value='INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIÓN'>Ingeniería en Tecnologías
                      de
                      la Información y Comunicación</option>
                    <option value='INGENIERÍA EN SISTEMAS COMPUTACIONALES'>Ingeniaría en Sistemas Computacionales
                    </option>
                    <option value='INGENIERÍA INDUSTRIAL'>Ingeniaría Industrial</option>
                    <option value='MAESTRÍA EN CIENCIAS EN ALIMENTOS'>Maestría en Ciencias en Alimentos</option>
                    <option value='DOCTORADO EN CIENCIAS EN ALIMENTOS'>Doctorado en Ciencias en Alimentos</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="rolName == 'Médico' ">
                <div class="form-group">
                  <select [(ngModel)]="searchDictamen" class="form-control">
                    <option value=''>Dictaminado</option>
                    <option value=' '>Si</option>
                    <option value=undefined>No</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="rolName == 'Médico' ">
                <div class="form-group">
                  <select [(ngModel)]="searchAdvertencia" class="form-control">
                    <option value=''>Advertencia</option>
                    <option value=true>Si</option>
                    <option value=false>No</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
                <div class="form-group">
                  <select [(ngModel)]="searchCredential" class="form-control">
                    <option value=''>Credenciales</option>
                    <option value='true'>Impresas</option>
                    <option value='false'>No Impresas</option>
                  </select>
                </div>
              </div>
              <div class="col-2" *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
                <table class="table table-bordered">
                  <tr>
                    <td id="checkC">
                      <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Captura"
                        tooltipClass="my-custom-class">
                        <input [(ngModel)]="searchEC" type="checkbox" class="custom-control-input" id="defaultInline2"
                          value="En Captura" (change)="eventFilterStatus()">
                        <label class="custom-control-label" for="defaultInline2">C</label>
                      </div>
                    </td>
                    <td id="checkE">
                      <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Enviado"
                        tooltipClass="my-custom-class">
                        <input [(ngModel)]="searchE" type="checkbox" class="custom-control-input" id="defaultInline3"
                          value="Enviado" (change)="eventFilterStatus()">
                        <label class="custom-control-label" for="defaultInline3">E</label>
                      </div>
                    </td>
                    <td id="checkP">
                      <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Proceso"
                        tooltipClass="my-custom-class">
                        <input [(ngModel)]="searchEP" type="checkbox" class="custom-control-input" id="defaultInline4"
                          value="En Proceso" (change)="eventFilterStatus()">
                        <label class="custom-control-label" for="defaultInline4">P</label>
                      </div>
                    </td>
                    <td id="checkV">
                      <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Verificado"
                        tooltipClass="my-custom-class">
                        <input [(ngModel)]="searchV" type="checkbox" class="custom-control-input" id="defaultInline5"
                          value="Verificado" (change)="eventFilterStatus()">
                        <label class="custom-control-label" for="defaultInline5">V</label>
                      </div>
                    </td>
                    <td id="checkA">
                      <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Aceptado"
                        tooltipClass="my-custom-class">
                        <input [(ngModel)]="searchA" type="checkbox" class="custom-control-input" id="defaultInline6"
                          value="Aceptado" (change)="eventFilterStatus()">
                        <label class="custom-control-label" for="defaultInline6">A</label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="my-table">
              <thead>
                <tr>
                  <th>Número de Control</th>
                  <th>Nombre del Alumno</th>
                  <th>Carrera</th>
                  <th *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">Avance</th>
                  <th *ngIf="rolName == 'Médico'">Dictaminado</th>
                  <th *ngIf="rolName == 'Médico'">Advertencia</th>
                  <th *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">Estatus</th>
                  <th *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">Exp.</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of listStudents | filter:{career:searchCarreer} | filter:{printCredential:searchCredential} | filter: {controlNumber:searchText,fullName:searchText} | filter: {observationsAnalysis:searchDictamen} | filter: {warningAnalysis:searchAdvertencia} | paginate: {id:pag, itemsPerPage: pageSize, currentPage: page };">
                  <td>{{item.controlNumber}}</td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.career}}</td>
                  <td *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
                    {{item.documentsReviewNumber}}/{{item.totalDocumentsNumber}}</td>
                  <td *ngIf="rolName == 'Médico' && item.observationsAnalysis">Si</td>
                  <td *ngIf="rolName == 'Médico' && !item.observationsAnalysis">No</td>
                  <td *ngIf="rolName == 'Médico' && item.warningAnalysis">Si</td>
                  <td *ngIf="rolName == 'Médico' && !item.warningAnalysis">No</td>
                  <td
                    *ngIf="item.inscriptionStatus == 'En Captura' && rolName == 'Administrador' || item.inscriptionStatus == 'En Captura' && rolName == 'Secretaria escolares'"
                    class="Captura">{{item.inscriptionStatus}}</td>
                  <td
                    *ngIf="item.inscriptionStatus == 'Enviado' && rolName == 'Administrador' || item.inscriptionStatus == 'Enviado' && rolName == 'Secretaria escolares'"
                    class="Enviado">{{item.inscriptionStatus}}</td>
                  <td
                    *ngIf="item.inscriptionStatus == 'En Proceso' && rolName == 'Administrador' || item.inscriptionStatus == 'En Proceso' && rolName == 'Secretaria escolares'"
                    class="Proceso">{{item.inscriptionStatus}}</td>
                  <td
                    *ngIf="item.inscriptionStatus == 'Verificado' && rolName == 'Administrador' || item.inscriptionStatus == 'Verificado' && rolName == 'Secretaria escolares'"
                    class="Verificado">{{item.inscriptionStatus}}</td>
                  <td
                    *ngIf="item.inscriptionStatus == 'Aceptado' && rolName == 'Administrador' || item.inscriptionStatus == 'Aceptado' && rolName == 'Secretaria escolares'"
                    class="Aceptado">{{item.inscriptionStatus}}</td>
                  <td *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">{{item.expStatus ? item.expStatus : ''}}</td>
                  <td>
                    <div class="div-actions">
                <tr *ngIf="item.inscriptionStatus != 'En Captura'">
                  <td *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
                    <div class="div-img" ngbTooltip="Información General" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/observations.svg" class="action" (click)="updateGI(item)">
                    </div>
                  </td>
                  <td *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
                    <div class="div-img" ngbTooltip="Documentos a Dictaminar" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/folder.svg" class="action" (click)="viewExpedient(item)">
                    </div>
                  </td>
                  <td *ngIf="rolName == 'Médico' && item.documents != '' ">
                    <div class="div-img" ngbTooltip="Consultar Análisis Clínicos" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/folder.svg" class="action" (click)="viewAnalysis(item)">
                    </div>
                  </td>
                  <td
                    *ngIf="rolName == 'Administrador' && !item.printCredential || rolName == 'Secretaria escolares' && !item.printCredential">
                    <div class="div-img" ngbTooltip="Registrar Credencial Impresa" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/removePrintCredential.svg" class="action"
                        (click)="registerCredential(item)">
                    </div>
                  </td>
                  <td
                    *ngIf="rolName == 'Administrador' && item.printCredential || rolName == 'Secretaria escolares' && item.printCredential">
                    <div class="div-img" ngbTooltip="Remover Credencial Impresa" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/printCredential.svg" class="action" (click)="removeCredential(item)">
                    </div>
                  </td>
                  <td *ngIf="rolName == 'Administrador'">
                    <div class="div-img" ngbTooltip="Actualizar Solicitud" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/import.svg" class="action" (click)="updateSolicitud(item)">
                    </div>
                  </td>
                  <td
                    *ngIf="rolName == 'Administrador' && filterDocuments('Foto',item) != 'SIN ENVÍO' || rolName == 'Secretaria escolares' && filterDocuments('Foto',item) != 'SIN ENVÍO'">
                    <div class="div-img" ngbTooltip="Imprimir Credencial" tooltipClass="my-custom-class">
                      <img src="../../assets/imgs/myCredentials.png" class="action" (click)="generateCredential(item)">
                    </div>
                  </td>
                  <td
                    *ngIf="rolName == 'Administrador' && (item.totalDocumentsNumber-item.documentsReviewNumber) == 0 && item.inscriptionStatus == 'Enviado'|| rolName == 'Secretaria escolares' && (item.totalDocumentsNumber-item.documentsReviewNumber) == 0 && item.inscriptionStatus == 'Enviado'">
                    <div class="div-img" ngbTooltip="Actualizar Estatus Expediente" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/refresh.svg" class="action" (click)="updateExpedientStatus(item)">
                    </div>
                  </td>
                  <td
                    *ngIf="rolName == 'Administrador' && !item.expStatus || rolName == 'Secretaria escolares' && !item.expStatus">
                    <div class="div-img" ngbTooltip="Integrar Expediente" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/integrated.svg" class="action" (click)="integratedExpedient(item)">
                    </div>
                  </td>
                  <td
                    *ngIf="rolName == 'Administrador' && item.expStatus == 'Integrado' || rolName == 'Secretaria escolares' && item.expStatus == 'Integrado'">
                    <div class="div-img" ngbTooltip="Archivar Expediente" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/archived.svg" class="action" (click)="archivedExpedient(item)">
                    </div>
                  </td>
                </tr>
          </div>
          </td>
          </tr>
          </tbody>
          <tfoot align="right" *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
            <td colspan="7">
              <div class="div-actionsFoot">
                <tr>
                  <td>
                    <div class="div-img" ngbTooltip="Generar Plantilla IMSS Excel" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/imss.svg" class="action" (click)="excelExportIMSS()">
                    </div>
                  </td>
                  <td>
                    <div class="div-img" ngbTooltip="Exportar a Excel" tooltipClass="my-custom-class">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                         <img src="../../assets/icons/excelExport.svg" class="action">
                       </button>
                       <mat-menu #menu="matMenu">
                         <button mat-menu-item (click)="excelExport()">
                           <mat-icon>list</mat-icon>
                           <span>Reporte General</span>
                         </button>
                         <button mat-menu-item (click)="excelExportDebts()">
                           <mat-icon>error</mat-icon>
                           <span>Adeudos</span>
                         </button>
                       </mat-menu>                                
                   </div>
                  </td>
                  <td>
                    <div class="div-img" ngbTooltip="Generar Carátulas" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/cover.svg" class="action" (click)="generateCovers()">
                    </div>
                  </td>
                  <td>
                    <div class="div-img" ngbTooltip="Generar Pestañas" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/label.svg" class="action" (click)="generateLabels()">
                    </div>
                  </td>
                  <td *ngIf="searchCarreer !== '' ">
                    <div class="div-img" ngbTooltip="Generar Credenciales para {{searchCarreer}}"
                      tooltipClass="my-custom-class">
                      <img src="../../assets/icons/generateCredentials.svg" class="action"
                        (click)="generateCredentials()">
                    </div>
                  </td>
                </tr>
              </div>
            </td>
          </tfoot>
          <tfoot align="right" *ngIf="rolName == 'Médico'">
            <td colspan="6">
              <div class="div-actionsFoot">
                <tr>
                  <td>
                    <div class="div-img" ngbTooltip="Exportar a Excel" tooltipClass="my-custom-class">
                      <img src="../../assets/icons/excelExport.svg" class="action" (click)="excelExportCM()">
                    </div>
                  </td>
                </tr>
              </div>
            </td>
          </tfoot>
          </table>
          <div class='div-pagination'>
            <pagination-controls [id]="pag" directionLinks="true" (pageChange)="pageChanged($event)" responsive="true"
              previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>



          <!-- Tabla reporte alumnos Excel-->
          <table class="table table-striped table-bordered table-hover" id="tableReportExcel"
            data-cols-width="9,21,46,66,15,30,30,30,30,30,15,15,15,30,15,15">
            <thead>
              <tr>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre del Alumno
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Estatus</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Acta de Nacimiento
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Certificado de
                  Estudios
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Análisis Clínicos
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Comprobante de Pago
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Curp</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nss</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Foto</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Integrado</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Archivado</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of listStudents | filter:{career:searchCarreer} | filter:{printCredential:searchCredential} | filter: {controlNumber:searchText,fullName:searchText}; let indice=index">
                <td data-f-sz="12" data-t="n">{{indice+1}}</td>
                <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
                <td data-f-sz="12" data-t="s">{{item.fullName}}</td>
                <td data-f-sz="12" data-t="s">{{item.career}}</td>
                <td data-f-sz="12" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="item.inscriptionStatus == 'En Captura' " class="Captura">{{item.inscriptionStatus}}</td>
                <td data-f-sz="12" data-fill-color="39CEFC" data-f-color="000000"
                  *ngIf="item.inscriptionStatus == 'Enviado' " class="Enviado">{{item.inscriptionStatus}}</td>
                <td data-f-sz="12" data-fill-color="F08C1B" data-f-color="000000"
                  *ngIf="item.inscriptionStatus == 'En Proceso' " class="Proceso">{{item.inscriptionStatus}}</td>
                <td data-f-sz="12" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="item.inscriptionStatus == 'Verificado' " class="Verificado">{{item.inscriptionStatus}}</td>
                <td data-f-sz="12" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="item.inscriptionStatus == 'Aceptado' " class="Aceptado">{{item.inscriptionStatus}}</td>
                <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center">
                  DOCUMENTOS
                </td>
                <!--ACTA-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Acta',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Acta',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Acta',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Acta',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Acta',item) != 'EN PROCESO' && filterDocuments('Acta',item) != 'RECHAZADO' && filterDocuments('Acta',item) != 'VALIDADO' && filterDocuments('Acta',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <!--CERTIFICADO-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Certificado',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Certificado',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Certificado',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Certificado',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Certificado',item) != 'EN PROCESO' && filterDocuments('Certificado',item) != 'RECHAZADO' && filterDocuments('Certificado',item) != 'VALIDADO' && filterDocuments('Certificado',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <!--ANALISIS-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Analisis',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Analisis',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Analisis',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Analisis',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Analisis',item) != 'EN PROCESO' && filterDocuments('Analisis',item) != 'RECHAZADO' && filterDocuments('Analisis',item) != 'VALIDADO' && filterDocuments('Analisis',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <!--COMRPOBANTE-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Comprobante',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Comprobante',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Comprobante',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Comprobante',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Comprobante',item) != 'EN PROCESO' && filterDocuments('Comprobante',item) != 'RECHAZADO' && filterDocuments('Comprobante',item) != 'VALIDADO' && filterDocuments('Comprobante',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <!--CURP-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Curp',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Curp',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Curp',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Curp',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Curp',item) != 'EN PROCESO' && filterDocuments('Curp',item) != 'RECHAZADO' && filterDocuments('Curp',item) != 'VALIDADO' && filterDocuments('Curp',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <!--NSS-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Nss',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Nss',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Nss',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Nss',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Nss',item) != 'EN PROCESO' && filterDocuments('Nss',item) != 'RECHAZADO' && filterDocuments('Nss',item) != 'VALIDADO' && filterDocuments('Nss',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <!--FOTO-->
                <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
                  *ngIf="filterDocuments('Foto',item) == 'EN PROCESO'">En Proceso</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
                  *ngIf="filterDocuments('Foto',item) == 'RECHAZADO'">Rechazado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
                  *ngIf="filterDocuments('Foto',item) == 'VALIDADO'">Validado</td>
                <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
                  *ngIf="filterDocuments('Foto',item) == 'ACEPTADO'">Aceptado</td>
                <td data-f-sz="12" data-t="s"
                  *ngIf="filterDocuments('Foto',item) != 'EN PROCESO' && filterDocuments('Foto',item) != 'RECHAZADO' && filterDocuments('Foto',item) != 'VALIDADO' && filterDocuments('Foto',item) != 'ACEPTADO'">
                  Sin Envío</td>
                <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center">
                  EXPEDIENTE
                </td>
                <td data-f-sz="12" data-t="s" data-fill-color="027900" data-f-color="FFFFFF" *ngIf = "item.expStatus == 'Integrado' || item.expStatus == 'Archivado'">Si</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="FFFFFF" *ngIf = "!item.expStatus">No</td>
                <td data-f-sz="12" data-t="s" data-fill-color="027900" data-f-color="FFFFFF" *ngIf = "item.expStatus === 'Archivado'">Si</td>
                <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="FFFFFF" *ngIf = "item.expStatus !== 'Archivado'">No</td>
              </tr>
            </tbody>
          </table>

          <!-- Tabla reporte alumnos Excel IMSS-->
          <table class="table table-striped table-bordered table-hover" id="tableReportExcelIMSS"
            data-cols-width="9,20,20,20,20,20,20,20,20,20,20,25,20,200">
            <thead>
              <tr>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Registro Patronal
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Afiliación
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Paterno
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Materno
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre(s)</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Fecha Movimiento
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">UMF 3</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Cuenta</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">CURP</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">FORMULA</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of listStudents | filter:{career:searchCarreer} | filter:{printCredential:searchCredential} | filter: {controlNumber:searchText,fullName:searchText}; let indice=index">
                <td data-f-sz="12" data-t="n">{{indice+1}}</td>
                <td data-f-sz="12" data-t="s">D355603932</td>
                <td data-f-sz="12" data-t="n">8</td>
                <td data-f-sz="12" data-t="s">{{item.nss.substring(0,10)}}</td>
                <td data-f-sz="12" data-t="n">{{item.nss.substring(10,11)}}</td>
                <td data-f-sz="12" data-t="s">{{item.fatherLastName}}</td>
                <td data-f-sz="12" data-t="s">{{item.motherLastName}}</td>
                <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
                <!--<td data-f-sz="12" data-t="s">22082018</td>-->
                <td data-f-sz="12" data-t="s">{{getDateMov()}}</td>
                <td data-f-sz="12" data-t="s">000</td>
                <td data-f-sz="12" data-t="s">{{complete10Dig(indice+1)}}</td>
                <td data-f-sz="12" data-t="s">{{item.curp}}</td>
                <td data-f-sz="12" data-t="s"></td>
                <td data-f-sz="12" data-t="s">
                  =B{{indice+2}}&C{{indice+2}}&D{{indice+2}}&E{{indice+2}}&EXTRAE(ESPACIOS(F{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(G{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(H{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&"000000"&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;210"&I{{indice+2}}&J{{indice+2}}&"&nbsp;&nbsp;08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"&K{{indice+2}}&"&nbsp;"&L{{indice+2}}&"9"
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Tabla reporte alumnos Excel CONSULTORIO MÉDICO-->
          <table class="table table-striped table-bordered table-hover" id="tableReportExcelCM"
            data-cols-width="9,20,20,20,20,30,20,20,20,150">
            <thead>
              <tr>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Paterno
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Materno
                </th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre(s)</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Teléfono</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Correo</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">NSS</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dictaminado</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Advertencia</th>
                <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of listStudents | filter:{career:searchCarreer} | filter: {controlNumber:searchText,fullName:searchText} | filter: {observationsAnalysis:searchDictamen} | filter: {warningAnalysis:searchAdvertencia}; let indice=index">
                <td data-f-sz="12" data-t="n">{{indice+1}}</td>
                <td data-f-sz="12" data-t="s">{{item.fatherLastName}}</td>
                <td data-f-sz="12" data-t="s">{{item.motherLastName}}</td>
                <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
                <td data-f-sz="12" data-t="n">{{item.phone}}</td>
                <td data-f-sz="12" data-t="s">{{item.email}}</td>
                <td data-f-sz="12" data-t="n">{{item.nss}}</td>
                <td data-f-sz="12" data-t="s" *ngIf="item.observationsAnalysis">Si</td>
                <td data-f-sz="12" data-t="s" *ngIf="!item.observationsAnalysis">No</td>
                <td data-f-sz="12" data-t="s" *ngIf="item.warningAnalysis">Si</td>
                <td data-f-sz="12" data-t="s" *ngIf="!item.warningAnalysis">No</td>
                <td data-f-sz="12" data-t="s">{{item.observationsAnalysis}}</td>
              </tr>
            </tbody>
          </table>

          <!-- Tabla reporte alumnos Excel ADEUDOS-->
          <table class="table table-striped table-bordered table-hover" id="tableReportExcelDebts"
          data-cols-width="9,21,46,45,45,30,10,30,30">
          <thead>
            <tr>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre del Alumno</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Correo</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Teléfono</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Comprobante de Pago</th>
              <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Certificado de Estudios</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listStudentsDebts; let indice=index">
                <td data-f-sz="12" data-t="n">{{indice+1}}</td>
                <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
                <td data-f-sz="12" data-t="s">{{item.fullName}}</td>
                <td data-f-sz="12" data-t="s">{{item.career}}</td>
                <td data-f-sz="12" data-t="s">{{item.email}}</td>
                <td data-f-sz="12" data-t="s">{{item.phone}}</td>
                <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center"></td>
                <!--COMRPOBANTE-->
                <td data-f-sz="12" data-t="s">{{filterDocuments('Comprobante',item) == 'RECHAZADO' ?  'RECHAZADO' : filterDocuments('Comprobante',item) == 'SIN ENVÍO' ? 'SIN ENVÍO' : '' }}</td>
                <!--CERTIFICADO-->
                <td data-f-sz="12" data-t="s">{{filterDocuments('Certificado',item) == 'RECHAZADO' ?  'RECHAZADO' : filterDocuments('Certificado',item) == 'SIN ENVÍO' ? 'SIN ENVÍO' : '' }}</td>
            </tr>
          </tbody>
        </table>
        </div>
  </div>
  </mat-tab>
  <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
    <ng-template matTabLabel>
      <span matBadge="{{cantListStudentsLogged}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos
        Logueados</span>
    </ng-template>
    <div class="card-body">
      <div style="overflow-x:auto; padding-top: 20px;">
        <table class="table table-striped table-bordered table-hover" id="my-table">
          <thead>
            <tr>
              <th>Número de Control</th>
              <th>Nombre del Alumno</th>
              <th>Carrera</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of listStudentsLogged | paginate: {id:'pagL', itemsPerPage: pageSizeL, currentPage: pageL };">
              <td *ngIf="item.stepWizard == 0">{{item.controlNumber}}</td>
              <td *ngIf="item.stepWizard == 0">{{item.fullName}}</td>
              <td *ngIf="item.stepWizard == 0">{{item.career}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='div-pagination'>
      <pagination-controls id="pagL" directionLinks="true" (pageChange)="pageChangedL($event)" responsive="true"
        previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </mat-tab>
  </mat-tab-group>
</div>
</div>
<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>