<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <strong>Listado de Alumnos</strong>
    </div>
    <div class="card-body">
      <div style="overflow-x:auto; padding-top: 20px;">
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar Alumno..."
                (keyup)="eventFilter(searchText)">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <select [(ngModel)]="searchCarreer" class="form-control" (change)="eventFilterStatus()">
                <option value=''>Todas las carreras</option>
                <option value='INGENIERÍA BIOQUÍMICA'>Ingeniería Bioquímica</option>
                <option value='INGENIERÍA EN GESTIÓN EMPRESARIAL'>Ingeniería en Gestión Empresarial</option>
                <option value='INGENIERÍA CIVIL'>Ingeniería Civil</option>
                <option value='ARQUITECTURA'>Arquitectura</option>
                <option value='INGENIERÍA QUÍMICA'>Ingeniería Química</option>
                <option value='INGENIERÍA MECATRÓNICA'>Ingeniería Mecatrónica</option>
                <option value='INGENIERÍA ELÉCTRICA'>Ingeniería Eléctrica</option>
                <option value='LICENCIATURA EN ADMINISTRACIÓN'>Licenciatura en Administración</option>
                <option value='INGENIERÍA EN TECNOLOGÍAS DE LA INFORMACIÓN Y COMUNICACIÓN'>Ingeniería en Tecnologías de
                  la Información y Comunicación</option>
                <option value='INGENIERÍA EN SISTEMAS COMPUTACIONALES'>Ingeniaría en Sistemas Computacionales</option>
                <option value='INGENIERÍA INDUSTRIAL'>Ingeniaría Industrial</option>
                <option value='MAESTRÍA EN CIENCIAS EN ALIMENTOS'>Maestría en Ciencias en Alimentos</option>
                <option value='DOCTORADO EN CIENCIAS EN ALIMENTOS'>Doctorado en Ciencias en Alimentos</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <select class="form-control" (change)="eventFilterReport()">
                <option value=''>Periodo</option>
                <option value='AD2019'>Agosto-Diciembre 2019</option>
                <option value='EJ2020'>Enero-Junio 2020</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <table class="table table-bordered">
              <tr>
                <td id="checkC">
                  <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Captura"
                    tooltipClass="my-custom-class">
                    <input [(ngModel)]="searchEC" type="checkbox" class="custom-control-input" id="defaultInline2"
                      value="En Captura" (change)="eventFilterStatus()">
                    <label class="custom-control-label" for="defaultInline2">C</label>
                  </div>
                </td>
                <td id="checkE">
                  <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Enviado"
                    tooltipClass="my-custom-class">
                    <input [(ngModel)]="searchE" type="checkbox" class="custom-control-input" id="defaultInline3"
                      value="Enviado" (change)="eventFilterStatus()">
                    <label class="custom-control-label" for="defaultInline3">E</label>
                  </div>
                </td>
                <td id="checkP">
                  <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Proceso"
                    tooltipClass="my-custom-class">
                    <input [(ngModel)]="searchEP" type="checkbox" class="custom-control-input" id="defaultInline4"
                      value="En Proceso" (change)="eventFilterStatus()">
                    <label class="custom-control-label" for="defaultInline4">P</label>
                  </div>
                </td>
                <td id="checkV">
                  <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Verificado"
                    tooltipClass="my-custom-class">
                    <input [(ngModel)]="searchV" type="checkbox" class="custom-control-input" id="defaultInline5"
                      value="Verificado" (change)="eventFilterStatus()">
                    <label class="custom-control-label" for="defaultInline5">V</label>
                  </div>
                </td>
                <td id="checkA">
                  <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Aceptado"
                    tooltipClass="my-custom-class">
                    <input [(ngModel)]="searchA" type="checkbox" class="custom-control-input" id="defaultInline6"
                      value="Aceptado" (change)="eventFilterStatus()">
                    <label class="custom-control-label" for="defaultInline6">A</label>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <table class="table table-striped table-bordered table-hover" id="my-table">
          <thead>
            <tr>
              <th>Número de Control</th>
              <th>Nombre del Alumno</th>
              <th>Carrera</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listStudents | filter:{career:searchCarreer} | filter: {controlNumber:searchText,fullName:searchText} | paginate: {id:pag, itemsPerPage: pageSize, currentPage: page };">
              <td>{{item.controlNumber}}</td>
              <td>{{item.fullName}}</td>
              <td>{{item.career}}</td>
              <td *ngIf="item.inscriptionStatus == 'En Captura' " class="Captura">{{item.inscriptionStatus}}</td>
              <td *ngIf="item.inscriptionStatus == 'Enviado' " class="Enviado">{{item.inscriptionStatus}}</td>
              <td *ngIf="item.inscriptionStatus == 'En Proceso' " class="Proceso">{{item.inscriptionStatus}}</td>
              <td *ngIf="item.inscriptionStatus == 'Verificado' " class="Verificado">{{item.inscriptionStatus}}</td>
              <td *ngIf="item.inscriptionStatus == 'Aceptado' " class="Aceptado">{{item.inscriptionStatus}}</td>
              <td>
                <div class="div-actions">
                  <tr>
                    <td>
                      <div class="div-img" ngbTooltip="Información General" tooltipClass="my-custom-class">
                        <img src="../../assets/icons/observations.svg" class="action" (click)="updateGI(item)">
                      </div>
                    </td>
                    <td>
                        <div class="div-img" ngbTooltip="Documentos a Dictaminar" tooltipClass="my-custom-class">
                          <img src="../../assets/icons/folder.svg" class="action" (click)="viewDocuments(item)">
                        </div>
                      </td>
                  </tr>
              </div>
            </td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
      </table>
      <div class='div-pagination'>
        <pagination-controls [id]="pag" directionLinks="true" (pageChange)="pageChanged($event)" responsive="true"
          previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
      </div>

    </div>
  </div>
</div>
</div>