<!--Comienzan los TABs del Estudiante-->
<mat-tab-group mat-align-tabs="center" headerPosition="Top" dynamicHeight mat-stretch-tabs style="margin: -15px;">
  <!--TAB de Perfil-->
  <mat-tab label="Perfil">
    <div class="row justify-content-center p-3">
      <!--FOTO-->
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8 mb-2">
          <mat-card>
              <div *ngIf="showImg==true">
                <img mat-card-image [src]="photoStudent" class="mb-0"> <!--Mostrar foto cargada-->
              </div>
              <div *ngIf="showImg==false"><!--Imagen antes de cargar foto--></div>
          </mat-card>
      </div>
      <!--DATOS GENERALES-->
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10 mb-2">
        <mat-card>
          <div>
            <label><strong>{{currentStudent.fullName}}</strong></label>
          </div>
          <mat-divider></mat-divider>
          <div class="pt-2">
            <label>Número de Control: <strong>{{currentStudent.controlNumber}}</strong></label>
          </div>
          <div>
            <label>Carrera: <strong>{{currentStudent.career}}</strong></label>
          </div>
          <div>
            <label>Semestre: <strong>{{currentStudent.semester}}</strong></label>
          </div>
          <div>
            <label>Correo institucional: <strong>{{currentStudent.email}}</strong></label>
          </div>
          <mat-divider></mat-divider>
          <div class="pt-2"> 
            <label>Número teléfonico: <strong>{{currentStudent.phone}}</strong></label>
          </div>
          <div>
            <label>CURP: <strong>{{currentStudent.curp}}</strong></label>
          </div>
          <div>
            <label>NSS: <strong>{{currentStudent.nss}}</strong></label>
          </div>
        </mat-card>
      </div>
      <!--ESTATUS-->
      <div class="col-lg-3 col-md-9 col-sm-9 col-xs-8 text-center pt-2">
        <div>
          <label><strong>{{actualState}}</strong></label>
        </div>
        <mat-divider></mat-divider>
        <div class="container-progress-spinners mt-3 mb-2">
          <div class="mat-progress-spinner-empty">
            <mat-progress-spinner style="margin:0 auto;"
                                mode="determinate" 
                                value="100"
                                strokeWidth="25" 
                                diameter="150">
            </mat-progress-spinner>
          </div>
          <div class="center-progress-spinner">
            <mat-progress-spinner style="margin:0 auto;"
                                mode="determinate" 
                                [value]="totalHoursCoursed/450*100"
                                strokeWidth="25" 
                                diameter="150">
            </mat-progress-spinner>
          </div>
          <div class="center-description-progress-spinner">{{totalHoursCoursed}} hrs</div>
        </div>
        <div>Aún no cumple con las horas necesarias para liberar el Inglés</div>
      </div>
    </div>

  </mat-tab>

  <!--TAB de Curso Actual-->
  <mat-tab label="Curso Actual">
    
    Aquí se mostrará el curso actual.

  </mat-tab>

  <!--TAB de todos los Cursos-->
  <mat-tab label="Cursos">
    
    <div class="row justify-content-center p-3">

      <div *ngFor="let course of courses" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    
        <mat-card class="mat-card-course mb-3">
          <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.dailyHours}} Horas</mat-card-subtitle>
          </mat-card-header>
          <button mat-button class="buton-register-course" color="primary">Inscribirme</button>
          <mat-card-content class="pl-2 pr-2 m-0">
            <p *ngFor="let period of course.days">{{period.desc}}</p>
          </mat-card-content>
          <mat-card-actions>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title></mat-panel-title>
                <mat-panel-description>
                  Mas Información
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p><strong>{{course.totalHours}} horas</strong> por semestre</p>
              <p>Total de semestres: <strong>{{course.totalSemesters}} semestres</strong></p>
              <p>Total de horas a cursar: <strong>{{course.finalHours}} horas</strong></p>
            </mat-expansion-panel>
          </mat-card-actions>
        </mat-card>
    
      </div>
    </div>

  </mat-tab>

  <!--TAB del Avance del Estudiante-->
  <mat-tab label="Avance">
    
    Aquí se mostrará el avance

  </mat-tab>

</mat-tab-group>