.messageVerify {
  font-size: 0.8rem;
  font-style: italic;
}

.listVerify {
  font-size: 0.8rem;
  font-style: italic;
}


.field-reject {
  width: 90%;
}

table {
  width: 100%;
}

table th{
  vertical-align: center;
  font-size: 0.8em;
}

table td, .field-day{
  max-width: 100px;
  font-size: 0.8em;
}

.solicitude-document {
  min-height: 140px;
}

.margen{
  margin-top: 4%;
  margin-bottom: 4%;
}

.noDecorado{
  text-decoration: none;
  color: black;
}

.buttonMargin {
  margin-left: 20px;
  margin-right: 20px;
}

.record {
  width: 56px;
  height: 56px;
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
}

.askInformation {
  width: 56px;
  height: 56px;
  font-size: 2em;
  background-color: #03b1f6;
  position: absolute;
  top: 5px;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
}
