<div *ngIf="loaded">
  <div class="w-100 d-flex justify-content-around">
    <button mat-flat-button color="accent" (click)="permission = false">Sin permiso</button>
    <button mat-flat-button color="primary" (click)="permission = true">Con permiso</button>
  </div>
  <div *ngIf="!releaseSocialService">
    <div *ngIf="!permission" class="d-flex justify-content-center">
      <mat-card class="w-75 m-2">
        <mat-card-content class="d-flex flex-column align-items-center justify-content-center">
          <img alt="File" src="../../../../assets/imgs/sweetInfoIcon.png" style="width: 100px; height: 100px;">
          <h4 class="text-center mt-3 text-primary noAccepted">Lo sentimos</h4>
          <h5 class="text-center mt-3 noAccepted">Todavía no cumples con los requisitos para realizar tu servicio social</h5>
          <div class="w-50 mt-3">
            <h5 class="messageVerify font-weight-bold">Requisitos:</h5>
            <div class="w-100 mx-auto">
              <ol class="listVerify">
                <li>Cumplir con el 70% de tu avance reticular <mat-icon class="text-danger" matTooltip="Todavía no cumples con el avance reticular">clear</mat-icon></li>
                <li>Ser un estudiante con estatus Activo <mat-icon class="text-success">check</mat-icon></li>
                <li>Asistir a la junta de servicio social <mat-icon class="text-danger">clear</mat-icon></li>
              </ol>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="permission">
      <div class="w-100 my-1 d-flex justify-content-around">
        <button mat-flat-button color="accent" (click)="assistance = false">Sin asistencia</button>
        <button mat-flat-button color="primary" (click)="assistance = true">Con asistencia</button>
      </div>
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [completed]="assistance">
          <ng-template matStepLabel>Asistencia</ng-template>
          <div *ngIf="assistance">
            <h5 class="text-center">Ya tienes tu asistencia registrada</h5>
            <div class="d-flex justify-content-center">
              <button mat-raised-button matStepperNext color="primary" style="width: 25%;">Continuar</button>
            </div>
          </div>
          <div *ngIf="!assistance">
            <h5>Todavía no tienes tu asistencia registrada</h5>
            <p>Si quieres iniciar con tu proceso de servicio social necesitaras mirar el siguiente video y responder al formulario a continuación</p>
            <mat-horizontal-stepper [linear]="true">
              <mat-step [completed]="assistanceFirstStep">
                <ng-template matStepLabel>Video de Servicio Social</ng-template>
                <div class="row justify-content-center">
                  <div class="col-12 my-2">
                    <h4>Video: <a href="#" target="_blank" (click)="assistanceFirstStep = true">¿Qué significa hacer mi servicio social?</a></h4>
                  </div>
                  <div class="col-6">
                    <button mat-raised-button matStepperNext color="primary" [disabled]="!assistanceFirstStep" style="width: 100%;">Continuar</button>
                  </div>
                </div>
              </mat-step>
              <mat-step [completed]="assistanceSecondStep" label="Fill out your address">
                <ng-template matStepLabel>Formulario de Servicio Social</ng-template>
                <div class="row justify-content-center">
                  <div class="col-12 my-2">
                    <h4>Formulario: <a href="#" target="_blank" (click)="assistanceSecondStep = true">Asistencia para el servicio social</a></h4>
                  </div>
                  <div class="col-6">
                    <button mat-raised-button matStepperNext [disabled]="!assistanceSecondStep" color="primary" style="width: 100%;">Continuar</button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Resultado</ng-template>
                <h5 class="text-center">Tu asistencia para servicio social se ha registrado con éxito</h5>
                <div class="d-flex justify-content-center" *ngIf="assistanceFirstStep && assistanceSecondStep">
                  <button mat-raised-button matStepperNext (click)="assistance = true" color="primary" style="width: 25%;">Continuar</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </mat-step>
        <mat-step [completed]="firstDocuments">
          <ng-template matStepLabel>Primera documentación</ng-template>
          
          <div> 
            <div class="card-header text-white d-flex justify-content-between bg-secondary">
              <span><strong>Solicitud de servicio social</strong></span>
            </div>
            <form [formGroup]="formRequest" class="card-body" (ngSubmit)="registerRequest()"> 
              <div class="container">
                <p style="font-size: 0.8rem;"><strong>Datos del programa</strong></p>
                <hr>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Dependencia oficial</mat-label>
                      <input matInput formControlName="dependency" type="text" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Telefono</mat-label>
                      <input matInput formControlName="dependencyPhone" type="tel" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Domicilio de la depencia</mat-label>
                      <input matInput formControlName="dependencyAddress" type="text" required>  
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Titular de la dependencia</mat-label>
                      <input matInput formControlName="dependencyHead" type="text" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Puesto ó cargo del titular</mat-label>
                      <input matInput formControlName="position" type="text" required>  
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Unidad orgánica ó departamento</mat-label>
                      <input matInput formControlName="department" type="text" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Nombre del encargado</mat-label>
                      <input matInput formControlName="inChargeName" type="text" required>  
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Correo electrónico</mat-label>
                      <input matInput formControlName="inChargeEmail" type="email" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Puesto ó cargo del encargado</mat-label>
                      <input matInput formControlName="inChargePosition" type="text" required>  
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Nombre del programa</mat-label>
                      <input matInput formControlName="programName" type="text" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-label>Modalidad</mat-label>
                    <mat-radio-group class="row justify-content-center my-3" formControlName="modality">
                      <mat-radio-button class="col-12 col-md-5" [value]=true>Interno</mat-radio-button>
                      <mat-radio-button class="col-12 col-md-5" [value]=false>Externo</mat-radio-button>
                    </mat-radio-group> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Fecha de inicio</mat-label>
                      <input matInput formControlName="startDate" type="date" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Actividades</mat-label>
                      <textarea matInput formControlName="activities" type="text" rows="8" required></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Categorias</mat-label>
                      <mat-select formControlname="category" (selectionChange)="comunity($event)">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                          {{category.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" *ngIf="comunityFlag"> 
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Especificar comunidad</mat-label>
                      <input matInput formControlName="comunityName" type="text" required>
                    </mat-form-field>
                  </div>
                </div>
                <hr>
              </div><!--container-->
                <p>Carta de asignacion / plan de trabajo del prestador de servicio social<p>
              <div class="container">
                <p style="font-size: 0.8rem;"><strong>Datos del prestador de servicio</strong></p>
                <hr>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Edad</mat-label>
                      <input matInput formControlName="age" type="number" required>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Numero de creditos cubiertos</mat-label>
                      <input matInput formControlName="credits" type="text" required>  
                    </mat-form-field>
                  </div>
                </div>
                <hr>
                <p style="font-size: 0.8rem;"><strong>Datos del programa</strong></p>
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Objetivo</mat-label>
                      <textarea matInput formControlName="objetive" type="text" rows="8" required></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <br>
                    <mat-label>El servicio social lo realizara dentro de las instalaciones de la dependencia</mat-label>
                    <mat-radio-group class="row justify-content-center my-3" formControlName="modalityDependency">
                      <mat-radio-button class="col-12 col-md-5" [value]=true>Si</mat-radio-button>
                      <mat-radio-button class="col-12 col-md-5" [value]=false>No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Donde</mat-label>
                      <input matInput formControlName="where" type="text" required>  
                    </mat-form-field>
                  </div>
                  
                </div>

                <br>
                <div class="row justify-content-center">
                  <div class="col-3" style="text-align:center;">
                    <button mat-raised-button type="reset" color="warn" style="width:100%">Cancelar</button>
                  </div>
                  <div class="col-3" style="text-align:center;">
                    <button mat-raised-button type="submit" color="primary" style="width:100%">Guardar</button>
                  </div>
                </div>
              </div><!--container-->
            </form>
          </div>

        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
  <div *ngIf="releaseSocialService">
    <mat-card class="w-75 m-2">
      <mat-card-content class="d-flex flex-column align-items-center justify-content-center">
        <img alt="File" src="../../../../assets/imgs/approved.png.png" style="width: 100px; height: 100px;">
        <h4 class="text-center mt-3 text-primary noAccepted">Ya has liberado tu servicio social</h4>
      </mat-card-content>
    </mat-card>
  </div>
</div>
