.messageVerify {
  font-size: 0.8rem;
  font-style: italic;
}

.listVerify {
  font-size: 0.8rem;
  font-style: italic;
}


.field-reject {
  width: 90%;
}

table {
  width: 100%;
}

table th{
  vertical-align: center;
}
