<div class="row sticky">
  <div class="col-11" *ngIf="Request">
    <div class="row text-center">
      <div class="col-11">
        <h1 mat-dialog-title>
          {{ Request.student.fullName}} - {{ Request.student.controlNumber }}
        </h1>
      </div>
    </div>
  </div>
  <div class="col-1">
    <button mat-icon-button (click)="onClose()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<app-expedient-documents [request]="Request" [degree]="degree" [role]="role"></app-expedient-documents>
