<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home"></i>Home</li>
    <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-globe"></i>Ingles</li>
  </ol>
</nav>

<div class="row">
  <div class="col-11" >
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="search"  placeholder="Búsqueda">
      <mat-icon matSuffix (click)="getStudent()">search</mat-icon>
    </mat-form-field>
  </div>  
  <div class="col-1">
    <button mat-mini-fab color="primary" (click)="addNewStudent()"> <mat-icon>add</mat-icon></button>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row._id}} </td>
        </ng-container>

        <ng-container matColumnDef="numeroControl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de control </th>
            <td mat-cell *matCellDef="let row"> {{row.controlNumber}} </td>
          </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="carrera">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
          <td mat-cell *matCellDef="let row"> {{row.career}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="liberacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Liberación </th>
          <td mat-cell *matCellDef="let row"> {{row.english}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row" (click)="onRowRemove(row)">
            <mat-icon>cancel</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>

<!-- <div class="ui-g">
  <div class="ui-g-12">
    <p-breadcrumb [model]="menuRoute" [home]="home"></p-breadcrumb>
  </div>
  <div class="ui-g-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="No Ctrl / Nombre" [(ngModel)]="search">
          <button pButton type="button" label="Buscar" (click)="getStudents()"></button>
        </div>
      </div>

      <div class="ui-toolbar-group-right">
        <div class="ui-inputgroup">
          <button pButton style="height:2.28em; margin-right: 0.3em;" type="button" label="Nuevo" icon="pi pi-plus"
            class="ui-button-success" (click)="addNewStudent()"></button>          
          <p-fileUpload #fileUpload mode="basic" name="uploadedFiles" customUpload="true"
            (uploadHandler)="onUpload($event)" accept=".csv" auto="true" chooseLabel="Cargar"></p-fileUpload>
          <button pButton style="height:2.28em; margin-left: 0.3em;" type="button" label="Exportar" icon="pi pi-upload"
            class="ui-button-success" (click)="dt.exportCSV()"></button>

        </div>

      </div>
    </p-toolbar>
  </div>

  <div class="ui-g-12">
    <p-table class="table table-bordered table-striped table-sm" #dt [columns]="columns" [value]="students"
      [paginator]="true" [rows]="100" [resizableColumns]="true" [globalFilterFields]="['controlNumber','fullname']">
      <ng-template pTemplate="caption">
        <div style="text-align: left">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Filtro"
            (input)="dt.filterGlobal($event.target.value, 'contains')">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr style="padding:.3rem">
          <th style="padding:.3rem" *ngFor="let col of columns" pResizableColumn [ngStyle]="{'display': col.display}">
            {{col.header}}
          </th>
          <th style="width: 3em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="padding:.3rem">          
          <td style="padding:.3rem" *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
            {{rowData[col.field]}}
          </td>
  
          <td>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-outline-danger btn-sm" style="padding: 0px"><span><i
                    class="fa fa-trash" (click)="onRowRemove(rowData)"></i></span></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div> -->