button:hover{
    // color: #525770;          
    // border-color: #636987;
    // background-color: rgba(108, 114, 147, 0.2);
    
    // color: #c0a22b;
    // background-color: rgba(252, 213, 57, 0.2);
    // border-color: #e8c434;

    // color: #0aa68d;
    // background-color: rgba(13, 219, 185, 0.2);
    // border-color: #0cc9aa;

    color: #b64443;
    background-color: rgba(239, 89, 88, 0.2);
    border-color: #dc5251;
}

#btnUpload:hover{
  color: #0aa68d;
  background-color: rgba(13, 219, 185, 0.2);
  border-color: #0cc9aa;
}
.xml-output{
  width: 100%;
  text-align: left;
  border: 1px solid darkgray;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  max-height: 60vh;
}

