table{
    table-layout: fixed;
    width: 100%;
}

.hr1{
    margin-left: 350px;
    margin-right: 350px;
    border-style: solid;
    border-width: 2px;
  }

.hr2{
    border-style: solid;
    border-width: 3px;
  }