<ng-template #content let-c="close('Save click')" let-d="dismiss('Cross click')" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccione el área de la foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2.5 / 3" format="png"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-login" (click)="c">Actualizar</button>
    <button type="button" class="btn btn-link" (click)="d">Cancelar</button>
  </div>
</ng-template>

<div class="content-general">
  <div *ngIf="showForm" class="card card-shadow" style="margin-bottom: 15px;">
    <div class="card-header">
      <h5 class="card-title">Actualizar Datos del Trabajador</h5>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Actualizar Datos del Alumno</h5> -->
      <!-- <h6 class="card-subtitle mb-2 text-muted">Actualizar Alumno</h6> -->

      <form [formGroup]="formEmployee">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="row" style="justify-content: center">
              <div style="display: flex; height: 100%;">
                <div class="container-img">
                  <div *ngIf="showImg">
                    <input type="file" (change)="fileChangeEvent($event, content)" id="fileButton" accept="image/x-png,image/jpeg"
                      style="display: none;">
                    <div (click)="showSelectFileDialog()" class="tag">Actualizar foto</div>
                    <img class="profile-icon" [src]="photoEmployee">
                  </div>
                  <div *ngIf="!showImg">
                    <div class="cssload-thecube">
                      <div class="cssload-cube cssload-c1"></div>
                      <div class="cssload-cube cssload-c2"></div>
                      <div class="cssload-cube cssload-c4"></div>
                      <div class="cssload-cube cssload-c3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <label for="employeeInputRFC">RFC *</label>
                  <input (input)="errorInputsTag.errorEmployeeRFC = false" #input2 (input)="input2.value=$event.target.value.toUpperCase()"
                    type="text" class="form-control" id="employeeInputRFC" formControlName="RFCInput" aria-describedby="emailHelp"
                    placeholder="Ingrese RFC" [ngClass]="{'is-invalid': (formEmployee.get('RFCInput').errors && formEmployee.get('RFCInput').dirty) || errorInputsTag.errorEmployeeRFC }">
                  <div *ngIf="(formEmployee.get('RFCInput').errors && formEmployee.get('RFCInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('RFCInput').hasError('required') || errorInputsTag.errorEmployeeRFC">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-8">
                <div class="form-group">
                  <label for="employeeInputFirstName">Nombre(s) *</label>
                  <input (input)="errorInputsTag.errorEmployeeFirstName = false" #input1 (input)="input1.value=$event.target.value.toUpperCase()"
                    type="text" class="form-control" id="employeeInputFirstName" formControlName="firstNameInput"
                    aria-describedby="emailHelp" placeholder="Ingrese Nombre(s)" [ngClass]="{'is-invalid': (formEmployee.get('firstNameInput').errors && formEmployee.get('firstNameInput').dirty) || errorInputsTag.errorEmployeeFirstName }">
                  <div *ngIf="(formEmployee.get('firstNameInput').errors && formEmployee.get('firstNameInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('firstNameInput').hasError('required') || errorInputsTag.errorEmployeeFirstName">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="employeeInputLastName">Apellidos *</label>
                  <input (input)="errorInputsTag.errorEmployeeLastName = false" #input (input)="input.value=$event.target.value.toUpperCase()"
                    type="text" class="form-control" id="employeeInputLastName" formControlName="lastNameInput"
                    aria-describedby="emailHelp" placeholder="Ingrese Apellidos" [ngClass]="{'is-invalid': (formEmployee.get('lastNameInput').errors && formEmployee.get('lastNameInput').dirty) || errorInputsTag.errorEmployeeLastName }">
                  <div *ngIf="(formEmployee.get('lastNameInput').errors && formEmployee.get('lastNameInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('lastNameInput').hasError('required') || errorInputsTag.errorEmployeeLastName">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="employeeInputPosition">Puesto *</label>
                  <input (input)="errorInputsTag.errorEmployeePosition = false" #input4 (input)="input4.value=$event.target.value.toUpperCase()"
                    type="text" class="form-control" id="employeeInputPosition" formControlName="positionInput"
                    aria-describedby="emailHelp" placeholder="Ingrese el puesto" [ngClass]="{'is-invalid': (formEmployee.get('positionInput').errors && formEmployee.get('positionInput').dirty) || errorInputsTag.errorEmployeePosition }">
                  <div *ngIf="(formEmployee.get('positionInput').errors && formEmployee.get('positionInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('positionInput').hasError('required') || errorInputsTag.errorEmployeePosition">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="employeeInputArea">Área *</label>
                  <input (input)="errorInputsTag.errorEmployeeArea = false" #input3 (input)="input3.value=$event.target.value.toUpperCase()"
                    type="text" class="form-control" id="employeeInputArea" formControlName="areaInput"
                    aria-describedby="emailHelp" placeholder="Ingrese el área de adscripción" [ngClass]="{'is-invalid': (formEmployee.get('areaInput').errors && formEmployee.get('areaInput').dirty) || errorInputsTag.errorEmployeeArea }">
                  <div *ngIf="(formEmployee.get('areaInput').errors && formEmployee.get('areaInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('areaInput').hasError('required') || errorInputsTag.errorEmployeeArea">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 text-center d-none d-lg-block">
            <button type="button" (click)="generatePDF(currentEmployee)" class="btn btn-itt btn-block btn-lg">
              Generar credencial
            </button>
          </div>
          <div class="col-8 d-none d-lg-block">
            <button type="button" (click)="hiddenFormDiv()" class="btn btn-link btn-lg float-right">Cerrar</button>
            <button *ngIf="!isNewEmployee" [disabled]="this.formEmployee.invalid" type="button" (click)="updateStudentData();" class="btn btn-login btn-lg float-right">Actualizar</button>
            <button *ngIf="isNewEmployee"  [disabled]="this.formEmployee.invalid" type="button" (click)="newEmployeeData();" class="btn btn-login btn-lg float-right">Guardar</button>
          </div>
          <div class="col-12 d-lg-none">
            <div class="row">
              <button type="button" (click)="generatePDF(currentEmployee)" class="btn btn-itt btn-block btn-sm">
                Generar credencial
              </button>
            </div>
            <div class="row">
              <button *ngIf="!isNewEmployee" [disabled]="this.formEmployee.invalid" type="button" (click)="updateStudentData();" class="btn btn-login btn-sm btn-block col-6">Actualizar</button>
              <button *ngIf="isNewEmployee" [disabled]="this.formEmployee.invalid" type="button" (click)="newEmployeeData();" class="btn btn-login btn-sm btn-block col-6">Guardar</button>
              <button type="button" (click)="hiddenFormDiv()" class="btn btn-link btn-sm btn-block col-6">Cerrar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card card-shadow">
    <div class="card-body">
      <div class="search-div">
        <div class="form-group item1" style="margin-bottom: 10px;">
          <input type="text" class="form-control" aria-describedby="searchHelp" #input5 (input)="input5.value=$event.target.value.toUpperCase()" placeholder="Buscar trabajador por RFC"
            [(ngModel)]="search" (keyup.enter)="searchEmployee(false)" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="item2">
          <div class="col-12">
            <button type="button" class="btn btn-success show-button-1 col-6" (click)="searchEmployee(false)">
              Buscar
            </button>
            <button type="button" class="btn btn-login show-button-1 col-6" (click)="newEmployee()">
              Nuevo
            </button>
          </div>
          <button type="button" style="width: 100%" class="btn btn-success show-button-2" (click)="searchEmployee(false)">
            <i style="font-size:18px" class="fa fa-plus-square">+</i>
          </button>
        </div>
      </div>

      <div *ngIf="showTable" class="table-responsive div-size">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">RFC</th>
              <th scope="col">Nombre</th>
              <th scope="col">Puesto</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of data">
              <th scope="row">{{ employee.rfc }}</th>
              <td>{{ employee.name.fullName }}</td>
              <td>{{ employee.position }}</td>
              <td>
                <div style="display: flex;">
                  <button type="button" (click)="showFormValues(employee)" style="margin-right: 5px;" class="btn btn-login btn-sm">
                    Ver
                  </button>
                  <button type="button" (click)="generatePDF(employee)" class="btn btn-itt btn-sm">
                    Credencial
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showNotFound">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">No se han encontrado resultados con esta búsqueda, intente de nuevo.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>