table {
    width: 100%;
  }

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  background-color: rgb(21, 43, 84);
  color: #fff;
  font-size: 14pt;
}
  
  //Centrar encabezado de la tabla
.mat-header-cell {
    flex-direction: column;
    justify-content: center;
}
  
  //Centrar el contenido de los renglones de la tabla
.mat-cell {
    text-align: center;
    justify-content:center;
}
.mat-mini-fab{
    background-color: green;
    color: white;
}
.mat-mini-fab.mat-primary{
    background-color: #3f51b5 !important;
}