th {
    background-color: rgb(21, 43, 84);
    color: #fff;
    font-size: 14pt;
}
.mat-mini-fab{
    background-color: green;
    color: white;
}
.mat-mini-fab.mat-primary{
    background-color: #3f51b5 !important;
}