<ng-template #content let-c="close('Save click')" let-d="dismiss('Cross click')" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccione el área de la foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="d">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="2.5 / 3" format="png"
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-login" (click)="c">Actualizar</button>
    <button type="button" class="btn btn-link" (click)="d">Cancelar</button>
  </div>
</ng-template>

<div class="content-general">
  <div *ngIf="showForm" class="card card-shadow text-white card-itt" style="margin-bottom: 15px;">
    <div class="card-header">
      <div class="float-right" placement="top">
        <span class="close m-1" ngbTooltip="Cerrar">
          <fa name="times-circle" (click)="hiddenFormDiv()" style="color:white"></fa>
        </span>
        <span class="close m-1 mr-5" *ngIf="haveImage" ngbTooltip="Imprimir">
          <fa name="print" (click)="generatePDF(employee)" style="color:white"></fa>
        </span>
      </div>
      <strong>Datos del Trabajador</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="formEmployee">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="row" style="justify-content: center">
              <div style="display: flex; height: 100%;">
                <div class="container-img">
                  <div *ngIf="showImg">
                    <input type="file" (change)="fileChangeEvent($event, content)" id="fileButton" accept="image/x-png,image/jpeg"
                      style="display: none;">
                    <div (click)="showSelectFileDialog()" class="tag" *ngIf="!this.formEmployee.invalid&&this.employee.rfc">Cambiar</div>
                    <img class="profile-icon" [src]="photoEmployee">
                  </div>
                  <div *ngIf="!showImg">
                    <div class="cssload-thecube">
                      <div class="cssload-cube cssload-c1"></div>
                      <div class="cssload-cube cssload-c2"></div>
                      <div class="cssload-cube cssload-c4"></div>
                      <div class="cssload-cube cssload-c3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <label for="employeeInputRFC">RFC *</label>
                  <input #employeeInputRFC (input)="errorInputsTag.errorEmployeeRFC = false"
                         (input)="employeeInputRFC.value=$event.target.value.toUpperCase()"
                         [ngClass]="{'is-invalid': (formEmployee.get('RFCInput').errors && formEmployee.get('RFCInput').dirty) || errorInputsTag.errorEmployeeRFC }"
                         aria-describedby="emailHelp" class="form-control" formControlName="RFCInput"
                         id="employeeInputRFC" placeholder="Ingrese RFC" readonly type="text">
                  <div *ngIf="(formEmployee.get('RFCInput').errors && formEmployee.get('RFCInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('RFCInput').hasError('required') || errorInputsTag.errorEmployeeRFC">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-8">
                <div class="form-group">
                  <label for="employeeInputFirstName">Nombre(s) *</label>
                  <input #input1 (input)="errorInputsTag.errorEmployeeFirstName = false"
                         (input)="input1.value=$event.target.value.toUpperCase()"
                         [ngClass]="{'is-invalid': (formEmployee.get('firstNameInput').errors && formEmployee.get('firstNameInput').dirty) || errorInputsTag.errorEmployeeFirstName }"
                         aria-describedby="emailHelp" class="form-control" formControlName="firstNameInput"
                         id="employeeInputFirstName" placeholder="Ingrese Nombre(s)" readonly type="text">
                  <div *ngIf="(formEmployee.get('firstNameInput').errors && formEmployee.get('firstNameInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('firstNameInput').hasError('required') || errorInputsTag.errorEmployeeFirstName">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="employeeInputLastName">Apellidos *</label>
                  <input #input (input)="errorInputsTag.errorEmployeeLastName = false"
                         (input)="input.value=$event.target.value.toUpperCase()"
                         [ngClass]="{'is-invalid': (formEmployee.get('lastNameInput').errors && formEmployee.get('lastNameInput').dirty) || errorInputsTag.errorEmployeeLastName }"
                         aria-describedby="emailHelp" class="form-control" formControlName="lastNameInput"
                         id="employeeInputLastName" placeholder="Ingrese Apellidos" readonly type="text">
                  <div *ngIf="(formEmployee.get('lastNameInput').errors && formEmployee.get('lastNameInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('lastNameInput').hasError('required') || errorInputsTag.errorEmployeeLastName">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="employeeInputPosition">Puesto *</label>
                  <input #input4 (input)="errorInputsTag.errorEmployeePosition = false"
                         (input)="input4.value=$event.target.value.toUpperCase()"
                         [ngClass]="{'is-invalid': (formEmployee.get('positionInput').errors && formEmployee.get('positionInput').dirty) || errorInputsTag.errorEmployeePosition }"
                         aria-describedby="emailHelp" class="form-control" formControlName="positionInput"
                         id="employeeInputPosition" placeholder="Ingrese el puesto" readonly type="text">
                  <div *ngIf="(formEmployee.get('positionInput').errors && formEmployee.get('positionInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('positionInput').hasError('required') || errorInputsTag.errorEmployeePosition">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-12">
                <div class="form-group">
                  <label for="employeeInputArea">Área *</label>
                  <input #input3 (input)="errorInputsTag.errorEmployeeArea = false"
                         (input)="input3.value=$event.target.value.toUpperCase()"
                         [ngClass]="{'is-invalid': (formEmployee.get('areaInput').errors && formEmployee.get('areaInput').dirty) || errorInputsTag.errorEmployeeArea }"
                         aria-describedby="emailHelp" class="form-control" formControlName="areaInput"
                         id="employeeInputArea" placeholder="Ingrese el área de adscripción" readonly type="text">
                  <div *ngIf="(formEmployee.get('areaInput').errors && formEmployee.get('areaInput').dirty) || errorForm">
                    <div class="invalid-feedback" *ngIf="formEmployee.get('areaInput').hasError('required') || errorInputsTag.errorEmployeeArea">
                      Campo obligatorio
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="float-right" placement="top">
        <span class="close m-1" ngbTooltip="Cerrar">
          <fa (click)="hiddenFormDiv()" name="times-circle" style="color:white"></fa>
        </span>
        <span *ngIf="haveImage" class="close m-1 mr-5" ngbTooltip="Imprimir">
          <fa (click)="generatePDF(employee)" name="print" style="color:white"></fa>
        </span>
      </div>
    </div>
  </div>

  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <strong>Búsqueda de trabajadores</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <div class="form-group" style="margin-bottom: 10px;">
            <input type="text" #searchinput class="form-control" aria-describedby="searchHelp" placeholder="RFC"
              [(ngModel)]="search" (keyup.enter)="searchEmployee(false)" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-2" *ngIf="searchinput.value">
          <span ngbTooltip="Buscar" class="close">
            <fa name="search" class="fa-lg" (click)="searchEmployee(false)" style="color:forestgreen"></fa>
          </span>
        </div>
      </div>

      <div *ngIf="showTable" class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-primary table-header">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Área</th>
              <th scope="col">Puesto</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of employee.positions">
              <th (click)="showFormValues(employee, data.position)" scope="row">{{ employee.name.fullName }}</th>
              <td (click)="showFormValues(employee, data.position)">{{ data.position.ascription.name }}</td>
              <td (click)="showFormValues(employee, data.position)">{{ data.position.name }}</td>
              <td style="text-align: center">
                <span ngbTooltip="Imprimir">
                  <fa name="print" class="fa-lg" (click)="generatePDF(employee, data.position)" style="color:#ED773C"></fa>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showNotFound">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">¡El RFC no coincide con algún empleado, revise que esté correcto!</h5>
          </div>
        </div>
      </div>
      <div *ngIf="showNotFoundPositions">
        <div class="card text-center">
          <div class="card-body">
            <div class="card-title">
              <h5>¡El empleado {{employee.name.fullName}} no tiene puestos activos!</h5>
              <h6>¡Consulte al departamento de recursos humanos para asignar puestos!</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
