<div class="row sticky" >
  <div class="col-10">
    <h1 mat-dialog-title >{{title}}</h1>    
  </div>
  <div class="col-2">
    <button mat-icon-button (click)="onClose()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="content">
  <div class="row text-center">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Revisión de expediente {{data.student.fullName}}">
            <div class="card mt-3">
                <div class="card-header text-white bg-secondary">
                  <strong>Documentos</strong>
                </div>
                <div class="row text-center mt-2">
                  <div [class.col-12]="!viewdoc" [class.col-2]="viewdoc">
                    <div class="card-body">
                      <div *ngIf="data.user === 'Administrador' && pendings>0" class="row text-center"> <div class="col-12"><mat-checkbox [(ngModel)]="checkAll" (change)="selectAll()" [checked]="pendings === selectPendings" [value]="pendings === selectPendings">Seleccionar todos</mat-checkbox></div></div>

                      <div class="row">
                        <div  *ngIf="payDoc " [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                          <!--Comprobante Pago-->
                          <mat-card *ngIf="payDoc.status !== 'ACEPTADO'" [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc" [class.process]="payDoc.status == 'EN PROCESO'"
                          [class.reject]="payDoc.status == 'RECHAZADO'"
                          [class.validate]="payDoc.status == 'VALIDADO'" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header (click)="cardClick('comprobante')"  style="cursor: pointer;">
                                
                              <mat-card-title 
                              [class.processText]="payDoc.status == 'EN PROCESO'"
                              [class.rejectText]="payDoc.status == 'RECHAZADO'"
                              [class.validateText]="payDoc.status == 'VALIDADO'"
                              >Comprobante Pago</mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="data.user === 'Administrador'">
                              <div mat-card-avatar [class.check]="!viewdoc" > 
                                <mat-checkbox [(ngModel)]="acceptDocuments[5].checkPay" (change)="payChange()"></mat-checkbox>
                            </div>
                            </mat-card-content>
                            
                          </mat-card>                          
                          <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  *ngIf="payDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('comprobante')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header>
                              <mat-card-title class="acceptText">Comprobante Pago</mat-card-title>
                            </mat-card-header>
                            <mat-card-content  *ngIf="data.user === 'Administrador'" 
                              >
                             
                            </mat-card-content>
                            
                          </mat-card>                        
                        </div>
                        
                        <div *ngIf="certificateDoc"  [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                          <!--Certificado Estudios-->
                          <mat-card *ngIf="certificateDoc.status !== 'ACEPTADO'"  [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"
                           [class.process]="certificateDoc.status == 'EN PROCESO'"
                           [class.reject]="certificateDoc.status == 'RECHAZADO'"
                           [class.validate]="certificateDoc.status == 'VALIDADO'" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header (click)="cardClick('certificado')"  style="cursor: pointer;"
                            >
                                
                              <mat-card-title 
                              [class.processText]="certificateDoc.status == 'EN PROCESO'"
                              [class.rejectText]="certificateDoc.status == 'RECHAZADO'"
                              [class.validateText]="certificateDoc.status == 'VALIDADO'"
                              >Certificado Estudios</mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="data.user === 'Administrador'">    
                              <div mat-card-avatar [class.check]="!viewdoc" > 
                                <mat-checkbox [(ngModel)]="acceptDocuments[4].checkCertificate" (change)="certificateChange()"></mat-checkbox>
                              </div>                          
                              
                            </mat-card-content>
                            
                          </mat-card>
                          <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc" *ngIf="certificateDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('certificado')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header>
                              <mat-card-title class="acceptText">Certificado Estudios</mat-card-title>
                            </mat-card-header>
                            <mat-card-content  *ngIf="data.user === 'Administrador'">                              
                            </mat-card-content>
                            
                          </mat-card>                          
                        </div>
                        <div *ngIf="cartaDoc && !certificateDoc"  [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                          <!--Carta Compromiso-->
                          <mat-card *ngIf="cartaDoc.status !== 'ACEPTADO'"  [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"
                           [class.process]="cartaDoc.status == 'EN PROCESO'"
                           [class.reject]="cartaDoc.status == 'RECHAZADO'"
                           [class.validate]="cartaDoc.status == 'VALIDADO'" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header (click)="cardClick('carta')"  style="cursor: pointer;"
                            >
                                
                              <mat-card-title 
                              [class.processText]="cartaDoc.status == 'EN PROCESO'"
                              [class.rejectText]="cartaDoc.status == 'RECHAZADO'"
                              [class.validateText]="cartaDoc.status == 'VALIDADO'"
                              >Carta Compromiso</mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="data.user === 'Administrador'">    
                              <div mat-card-avatar [class.check]="!viewdoc" > 
                                <mat-checkbox [(ngModel)]="acceptDocuments[7].checkCarta" (change)="cartaChange()"></mat-checkbox>
                              </div>                          
                              
                            </mat-card-content>
                            
                          </mat-card>
                          <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc" *ngIf="cartaDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('carta')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header>
                              <mat-card-title class="acceptText">Carta Compromiso</mat-card-title>
                            </mat-card-header>
                            <mat-card-content  *ngIf="data.user === 'Administrador'">                              
                            </mat-card-content>
                            
                          </mat-card>                          
                        </div>

                        <div *ngIf="curpDoc"  [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                          <!--Curp-->
                          <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  *ngIf="curpDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('curp')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header>
                              <mat-card-title class="acceptText">CURP</mat-card-title>
                            </mat-card-header>
                            <mat-card-content   *ngIf="data.user === 'Administrador'">
                            </mat-card-content>
                           
                          </mat-card>
                          <mat-card *ngIf="curpDoc.status !== 'ACEPTADO'" [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  [class.validate]="curpDoc.status == 'VALIDADO'"
                          [class.reject]="curpDoc.status == 'RECHAZADO'"
                          [class.process]="curpDoc.status == 'EN PROCESO'" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header (click)="cardClick('curp')"  style="cursor: pointer;">
                               
                              <mat-card-title
                              [class.validateText]="curpDoc.status == 'VALIDADO'"
                              [class.rejectText]="curpDoc.status == 'RECHAZADO'"
                              [class.processText]="curpDoc.status == 'EN PROCESO'"
                              >CURP</mat-card-title>
                            </mat-card-header>
                            <mat-card-content  *ngIf="data.user === 'Administrador'">
                              <div mat-card-avatar [class.check]="!viewdoc"> 
                                <mat-checkbox [(ngModel)]="acceptDocuments[1].checkCurp" (change)="curpChange()"></mat-checkbox>
                            </div>
                            </mat-card-content>
                           
                          </mat-card>                            
                        </div>

                        <div *ngIf="actaDoc "  [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                          <!--Acta Nacimiento-->
                          <mat-card *ngIf="actaDoc.status !== 'ACEPTADO'" [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc" [class.process]="actaDoc.status == 'EN PROCESO'"
                          [class.reject]="actaDoc.status == 'RECHAZADO'"
                          [class.validate]="actaDoc.status == 'VALIDADO'" [class.secre]="data.user !== 'Administrador'">                            
                            <mat-card-header (click)="cardClick('acta')" style="cursor: pointer;"  >
                                
                              <mat-card-title 
                              [class.processText]="actaDoc.status == 'EN PROCESO'"
                              [class.rejectText]="actaDoc.status == 'RECHAZADO'"
                              [class.validateText]="actaDoc.status == 'VALIDADO'"
                              >Acta de Nacimiento</mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="data.user === 'Administrador'">
                              <div mat-card-avatar [class.check]="!viewdoc" > 
                                <mat-checkbox [(ngModel)]="acceptDocuments[0].checkActa" (change)="actaChange()"></mat-checkbox>
                            </div>
                            </mat-card-content>
                            
                          </mat-card>                          
                          <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc" *ngIf="actaDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('acta')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header>
                              <mat-card-title class="acceptText">Acta de Nacimiento</mat-card-title>
                            </mat-card-header>
                            <mat-card-content   *ngIf="data.user === 'Administrador'" >                              
                            </mat-card-content>
                            
                          </mat-card>
                        </div>
                        
                        
                      </div>
                      <div class="row" [class.mt-1]="!viewdoc">
                        <div *ngIf="clinicDoc "  [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                          <!--Analisis Clinicos-->
                          <mat-card *ngIf="clinicDoc.status !== 'ACEPTADO'" [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  [class.validate]="clinicDoc.status == 'VALIDADO'"
                          [class.process]="clinicDoc.status == 'EN PROCESO'"
                          [class.reject]="clinicDoc.status == 'RECHAZADO'" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header (click)="cardClick('clinicos')"  style="cursor: pointer;">
                               
                              <mat-card-title 
                              [class.validateText]="clinicDoc.status == 'VALIDADO'"
                              [class.processText]="clinicDoc.status == 'EN PROCESO'"
                              [class.rejectText]="clinicDoc.status == 'RECHAZADO'"
                              >Análisis Clínicos</mat-card-title>
                            </mat-card-header>
                            <mat-card-content *ngIf="data.user === 'Administrador'" >
                              <div mat-card-avatar [class.check]="!viewdoc" > 
                                <mat-checkbox [(ngModel)]="acceptDocuments[6].checkClinic" (change)="clinicChange()"></mat-checkbox>
                            </div>
                            </mat-card-content>
                            
                          </mat-card>
                          <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  *ngIf="clinicDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('clinicos')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                            <mat-card-header>
                              <mat-card-title class="acceptText">Análisis Clínicos</mat-card-title>
                            </mat-card-header>
                            <mat-card-content   *ngIf="data.user === 'Administrador'">
                              
                            </mat-card-content>
                            
                          </mat-card>                          
                        </div>
                          
                          
                          <div  *ngIf="imageDoc " [class.row]="viewdoc" [class.col-3]="!viewdoc" [class.m-1]="viewdoc">
                            <!--FOTO-->
                            <mat-card *ngIf="imageDoc.status !== 'ACEPTADO'" [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  [class.process]="imageDoc.status == 'EN PROCESO'"
                            [class.reject]="imageDoc.status == 'RECHAZADO'"
                            [class.validate]="imageDoc.status == 'VALIDADO'" [class.secre]="data.user !== 'Administrador'"
                            >
                              <mat-card-header (click)="cardClick('foto')"  style="cursor: pointer;">
                                  
                                <mat-card-title 
                                [class.processText]="imageDoc.status == 'EN PROCESO'"
                                [class.rejectText]="imageDoc.status == 'RECHAZADO'"
                                [class.validateText]="imageDoc.status == 'VALIDADO'"
                                >Foto</mat-card-title>
                              </mat-card-header>
                              <mat-card-content *ngIf="data.user === 'Administrador'">
                                <div mat-card-avatar [class.check]="!viewdoc" > 
                                  <mat-checkbox [(ngModel)]="acceptDocuments[3].checkPhoto" (change)="photoChange()"></mat-checkbox>
                              </div>
                              </mat-card-content>
                              
                            </mat-card>                           
                            <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  *ngIf="imageDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('foto')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                              <mat-card-header>
                                <mat-card-title class="acceptText">Foto</mat-card-title>
                              </mat-card-header>
                              <mat-card-content  *ngIf="data.user === 'Administrador'">                                
                              </mat-card-content>                              
                            </mat-card>
                          </div>
                          <div  *ngIf="nssDoc " [class.row]="viewdoc" [class.col-3]="!viewdoc"  [class.m-1]="viewdoc">
                            <!--Nss-->
                            <mat-card *ngIf="nssDoc.status !== 'ACEPTADO'" [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc"  [class.process]="nssDoc.status == 'EN PROCESO'"
                            [class.reject]="nssDoc.status == 'RECHAZADO'"
                            [class.validate]="nssDoc.status == 'VALIDADO'" [class.secre]="data.user !== 'Administrador'">
                              <mat-card-header (click)="cardClick('nss')"  style="cursor: pointer;">
                                                                  
                                <mat-card-title 
                                [class.processText]="nssDoc.status == 'EN PROCESO'"
                                [class.rejectText]="nssDoc.status == 'RECHAZADO'"
                                [class.validateText]="nssDoc.status == 'VALIDADO'"
                                *ngIf="viewdoc">NSS</mat-card-title>
                                <mat-card-title 
                                [class.processText]="nssDoc.status == 'EN PROCESO'"
                                [class.rejectText]="nssDoc.status == 'RECHAZADO'"
                                [class.validateText]="nssDoc.status == 'VALIDADO'"
                                *ngIf="!viewdoc">Número de Seguro Social</mat-card-title>
                              </mat-card-header>
                              <mat-card-content   *ngIf="data.user === 'Administrador'">
                                <div mat-card-avatar [class.check]="!viewdoc"> 
                                  <mat-checkbox [(ngModel)]="acceptDocuments[2].checkNss" (change)="nssChange()"></mat-checkbox>
                              </div>
                              </mat-card-content>
                              
                            </mat-card>
                            
                            <mat-card [class.adjustcard]="viewdoc" [class.cardini]="!viewdoc" *ngIf="nssDoc.status == 'ACEPTADO'" class="accept" (click)="cardClick('nss')"  style="cursor: pointer;" [class.secre]="data.user !== 'Administrador'">
                              <mat-card-header>
                                <mat-card-title class="acceptText" *ngIf="viewdoc">NSS</mat-card-title>
                                  <mat-card-title class="acceptText" *ngIf="!viewdoc">Número de Seguro Social</mat-card-title>
                              </mat-card-header>
                              <mat-card-content   *ngIf="data.user === 'Administrador'">
                               
                              </mat-card-content>
                              
                            </mat-card>
                          </div>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="data.user === 'Administrador' && 
                    (checkAll || acceptDocuments[0].checkActa || acceptDocuments[1].checkCurp || acceptDocuments[6].checkClinic || acceptDocuments[5].checkPay || acceptDocuments[3].checkPhoto || acceptDocuments[2].checkNss || acceptDocuments[4].checkCertificate)">
                      <div class="row text-center">
                        <div class="col-12">

                          <button class="btn btn-success" type="button" *ngIf="!viewdoc" (click)="acceptManyDocuments()">Aceptar documento(s)</button>
                          <button class="btn btn-success" type="button" *ngIf="viewdoc" (click)="acceptManyDocuments()">Aceptar docto(s)</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  [class.col-10]="viewdoc" [class.noview]="!viewdoc" class="mt-2">
                    <div class="content" [class.viewdoc]="viewdoc">
                      <div class="row text-center viewdocheader">
                        <div class="col-11">
                          <div class="row text-center">
                            <div class="col-6">
                              <h4>
                                <strong>{{docDisplayName}} </strong>
                              </h4>
                            </div>
                            <div class="col-6">
                                <mat-chip-list aria-label="Historial"> 
                                  <mat-chip (click)="history()" color="warn"><strong>Ver historial del documento</strong></mat-chip>
                                </mat-chip-list>                                  
                            </div>
                          </div>
                        </div>
                        <div class="col-1">
                            <button mat-icon-button (click)="closeDoc()" class="float-right">
                              <mat-icon>close</mat-icon>
                            </button>
                        </div>
                      </div>
                      <div class="row text-center">
                        <div class="col-12">
                          <div *ngIf="showDocument == true && typeDocShow === 'pdf'">
                            <ngx-extended-pdf-viewer [src]="pdfSrc" backgroundColor="#ffffff" [height]="'90vh'" [useBrowserLocale]="true">
                              </ngx-extended-pdf-viewer>
                          </div>
                          <div *ngIf="showDocument == true && typeDocShow === 'image'">
                              <img mat-card-image [src]="image" class="imgProfile">
                          </div>

                              <div *ngIf="showDocument == false">
                                  <div class="cssload-thecube">
                                    <div class="cssload-cube cssload-c1"></div>
                                    <div class="cssload-cube cssload-c2"></div>
                                    <div class="cssload-cube cssload-c4"></div>
                                    <div class="cssload-cube cssload-c3"></div>
                                  </div>
                                </div>
                        </div>
                      </div>
                      <hr/>
                      <div class="row text-center p-2" *ngIf="docto">
                        <div class="col-12" *ngIf="data.user === 'Secretaria escolares' && docto.status !== 'ACEPTADO' && docto.status !== 'VALIDADO'">
                          <form [formGroup]="form" (ngSubmit)="changeStatus(form.value)" class="tp-form">
                            <mat-radio-group name="refused" [(ngModel)]="refused" formControlName="status" aria-label="Select an option">
                              <mat-radio-button  value="ACEPTADO" class="mr-2">Validar documento</mat-radio-button>
                              <mat-radio-button value="RECHAZADO" class="ml-2">Rechazar documento</mat-radio-button>
                            </mat-radio-group>            
                            <div *ngIf="refused === 'RECHAZADO'">
                                <mat-form-field appearance="outline">
                                  <mat-label>Especifique el motivo</mat-label>
                                  <input matInput formControlName="observation" [errorStateMatcher]="matcher" maxlength="200">
                                  <mat-error>
                                    <span
                                      *ngIf="!form.get('observation').valid && form.get('observation').touched">Especificar porque se rechaza.</span>
                                  </mat-error>
                                </mat-form-field>
                            </div>                                               
                            <button class="btn btn-primary ml-4" type="submit" [disabled]="refused === 'RECHAZADO' ? !form.get('status').valid || !form.get('observation').valid :  !form.get('status').valid">Guardar cambios</button>                          
                          </form>
                        </div>
                        <div *ngIf="data.user === 'Administrador'">
                            <div class="col-12" *ngIf="docto.status !== 'ACEPTADO'">
                                <form [formGroup]="form" (ngSubmit)="changeStatus(form.value)" class="tp-form">
                                  <mat-radio-group name="refused" [(ngModel)]="refused" formControlName="status" aria-label="Select an option">
                                    <mat-radio-button  value="ACEPTADO" class="mr-2">Aceptar documento</mat-radio-button>
                                    <mat-radio-button value="RECHAZADO" class="ml-2">Rechazar documento</mat-radio-button>
                                  </mat-radio-group>            
                                  <div *ngIf="refused === 'RECHAZADO'">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Especifique el motivo</mat-label>
                                        <input matInput formControlName="observation" [errorStateMatcher]="matcher" maxlength="200">
                                        <mat-error>
                                          <span
                                            *ngIf="!form.get('observation').valid && form.get('observation').touched">Especificar porque se rechaza.</span>
                                        </mat-error>
                                      </mat-form-field>
                                  </div>                                               
                                  <button class="btn btn-primary ml-4" type="submit" [disabled]="refused === 'RECHAZADO' ? !form.get('status').valid || !form.get('observation').valid :  !form.get('status').valid">Guardar cambios</button>                          
                                </form>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
        </mat-tab>             
      </mat-tab-group>      
    </div>
  </div>
</div>
<div class="center">
    <app-loader [loading]="loading"></app-loader>
</div>