button{
    background-color: #183969;
    color: white;
}

.button-clear{
    background-color: red;
    color: white;
}

.mat-button-toggle-selected{
    background-color: #183969;
    color: white;
}