<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <div class="row">
        <div class="col-11" style="text-align: left;">
          <h1 mat-dialog-title>{{title}}</h1>
        </div>
        <div class="col-1" style="text-align: right;">
            <button mat-icon-button (click)="onClose()" class="fl">
                <mat-icon>close</mat-icon>
              </button>
        </div>
        <div style="width : 100%; display: flex; justify-content: center;">
            <mat-chip-list aria-label="Credenciales"> 
              <mat-chip (click)="changeStatusCredentials()" color="primary"><strong>{{textButton}}</strong></mat-chip>
            </mat-chip-list>                                  
        </div>
      </div>
    </div>
    <div class="example-container">
      <div class="row text-center">
        <div class="col-12">
          <div *ngIf="showDocument == true">
            <ngx-extended-pdf-viewer [src]="pdfSrc" backgroundColor="#ffffff" [height]="'90vh'"
              [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <app-loader [loading]="loading"></app-loader>
</div>