<mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="changeTab($event)">




  <mat-tab label="Todas las cartas de presentación">
    <div class="row p-3">
      <div class="col-11">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                 oninput="this.value=this.value.toUpperCase()">
        </mat-form-field>
      </div>
      <div class="col-1 justify-content-end text-center">
        <button mat-mini-fab class="m-1" color="primary" (click)="refreshSign()" data-toggle="tooltip"
                title="Recargar">
          <mat-icon>update</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceReevaluation" matSort>
          <ng-container matColumnDef="no">
            <th *matHeaderCellDef mat-header-cell class="text-center">No.</th>
            <td *matCellDef="let row; let i = index" mat-cell style="width:5%;">
              {{i+1}}
            </td>
          </ng-container>
          <ng-container *ngFor="let item of displayedColumnsReevaluation.slice(1, -1);let index=index"
                        [matColumnDef]="item">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsReevaluationName[index]}}</th>
            <td *matCellDef="let row" mat-cell style="width:25%;">
                  <span mat-line [ngClass]="{'font-status badge badge-pill': index === 3,
                              'badge-primary': index === 3 && row['status'] === 'register',
                              'badge-info': index === 3 && row['status'] === 'send',
                              'badge-success': index === 3 && row['status'] === 'approved'}">
                    {{row[item]}}
                  </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" mat-cell>
              <button [matMenuTriggerFor]="actions" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actions>
                <button mat-menu-item (click)="assignTradeDocumentNumber(row['id'])" *ngIf="row.status === 'register'">
                  <mat-icon class="material-icons">assignment</mat-icon>
                  <span>Asignar No.Oficio</span>
                </button>
                <button mat-menu-item *ngIf="row.status === 'send' && verifyPositionBoss()" (click)="signPresentationDocument(row['id'])">
                  <mat-icon class="material-icons text-info">assignment_turned_in</mat-icon>
                  <span>Firmar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumnsReevaluation" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumnsReevaluation;" mat-row></tr>
        </table>
        <mat-paginator #matPaginatorSign [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
<div class="mt-2 w-100" *ngIf="pdf">
  <div class="row text-center">
    <div class="col-12">
      <ngx-extended-pdf-viewer [src]="pdf" backgroundColor="#ffffff" [height]="'90vh'" [useBrowserLocale]="true"
                               (pdfLoaded)="loadingService.setLoading(false)" [filenameForDownload]="'ITT-POC-08-03 Carta de Presentación de Servicio Social.'">
      </ngx-extended-pdf-viewer>
      <div class="xml-output" id="dataXML">
      </div>
    </div>
  </div>
</div>
