<ng-template #content let-c="close('Save click')" let-d="dismiss('Cross click')" let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Seleccione el area de la foto</h4>
      <button type="button" class="close" aria-label="Close" (click)="d">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="d">Cancelar</button>
    </div>
  </ng-template>


<div class="content-general">

  <div *ngIf="showForm" class="card card-shadow" style="margin-bottom: 15px;">

    <div class="card-body">
      <h5 class="card-title">Alumno: {{ currentStudent.fullName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Actualizar Alumno</h6>

      <form [formGroup]="formStudent">
        <div class="row">
          <div class="col-12 col-md-6">

            <div style="display: flex; justify-content: center; height: 100%;">
                <div class="container-img">
                    <input type="file" (change)="fileChangeEvent($event, content)"  id="fileButton" accept="image/x-png,image/jpeg" style="display: none;">
                    <div (click)="showSelectFileDialog()" class="tag">Actualizar foto</div>
                    <img class="profile-icon" [src]="photoStudent">
                  </div>
            </div>




          </div>
          <div class="col-12 col-md-6">

            <div class="form-group">
              <label for="studentInputFullName">Nombre Completo *</label>
              <input (input)="errorInputsTag.errorStudentFullName = false" type="text" class="form-control" id="studentInputFullName"
                formControlName="fullNameInput" aria-describedby="emailHelp" placeholder="Ingrese nombre completo"
                [ngClass]="{'is-invalid': (formStudent.get('fullNameInput').errors && formStudent.get('fullNameInput').dirty) || errorInputsTag.errorStudentFullName }">
              <div *ngIf="(formStudent.get('fullNameInput').errors && formStudent.get('fullNameInput').dirty) || errorForm">
                <div class="invalid-feedback" *ngIf="formStudent.get('fullNameInput').hasError('required') || errorInputsTag.errorStudentFullName">
                  Campo obligatorio
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo*</label>
              <select (input)="errorInputsTag.errorUserRole = false" class="form-control" id="exampleFormControlSelect1"
                [ngClass]="{ 'is-invalid' : errorInputsTag.errorUserRole }" [(ngModel)]="currentStudent.career"
                [ngModelOptions]="{standalone: true}">
                <option value="default" selected>Seleccione la Carrera</option>
                <option value="ARQUITECTURA">ARQUITECTURA</option>
                <option value="INGENIERIA BIOQUIMICA">INGENIERIA BIOQUIMICA</option>
                <option value="INGENIERIA CIVIL">INGENIERIA CIVIL</option>
                <option value="INGENIERIA ELECTRICA">INGENIERIA ELECTRICA</option>
                <option value="INGENIERIA EN GESTION EMPRESARIAL">INGENIERIA EN GESTION EMPRESARIAL</option>
                <option value="INGENIERIA INDUSTRIAL">INGENIERIA INDUSTRIAL</option>
                <option value="INGENIERIA MECATRONICA">INGENIERIA MECATRONICA</option>
                <option value="INGENIERIA QUIMICA">INGENIERIA QUIMICA</option>
                <option value="INGENIERIA EN SISTEMAS COMPUTACIONALES">INGENIERIA EN SISTEMAS COMPUTACIONALES</option>
                <option value="INGENIERIA EN TECNOLOGIAS DE LA INFORMACION Y COMUNICACIONES">INGENIERIA EN TECNOLOGIAS
                  DE LA INFORMACION Y COMUNICACIONES</option>
                <option value="LICENCIATURA EN ADMINISTRACION">LICENCIATURA EN ADMINISTRACION</option>
                <option value="MAESTRIA EN CIENCIAS DE ALIMENTOS">MAESTRIA EN CIENCIAS DE ALIMENTOS</option>
                <option value="DOCTORADO EN CIENCIAS DE ALIMENTOS">DOCTORADO EN CIENCIAS DE ALIMENTOS</option>
              </select>
              <div class="invalid-feedback" *ngIf="errorInputsTag.errorStudentCareer">
                Campo obligatorio
              </div>
            </div>

            <div class="form-group">
              <label for="studentInputControlNumber">Numero de Control *</label>
              <input (input)="errorInputsTag.errorStudentNumberControl = false" type="text" class="form-control" id="studentInputFullName"
                formControlName="numberControlInput" aria-describedby="emailHelp" placeholder="Ingrese numero de control"
                [ngClass]="{'is-invalid': (formStudent.get('numberControlInput').errors && formStudent.get('numberControlInput').dirty) || errorInputsTag.errorStudentNumberControl }">
              <div *ngIf="(formStudent.get('numberControlInput').errors && formStudent.get('numberControlInput').dirty) || errorForm">
                <div class="invalid-feedback" *ngIf="formStudent.get('numberControlInput').hasError('required') || errorInputsTag.errorStudentNumberControl">
                  Campo obligatorio
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="studentInputNSS">NSS *</label>
              <input (input)="errorInputsTag.errorStudentNSS = false" type="text" class="form-control" id="studentInputNSS"
                formControlName="nssInput" aria-describedby="emailHelp" placeholder="Ingrese numero de seguro social"
                [ngClass]="{'is-invalid': (formStudent.get('nssInput').errors && formStudent.get('nssInput').dirty) || errorInputsTag.errorStudentNSS }">
              <div *ngIf="(formStudent.get('nssInput').errors && formStudent.get('nssInput').dirty) || errorForm">
                <div class="invalid-feedback" *ngIf="formStudent.get('nssInput').hasError('required') || errorInputsTag.errorStudentNSS">
                  Campo obligatorio
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>

      <button type="button" (click)="updateStudentData();" class="btn btn-login" style="margin-right: 10px;">Editar</button>
      <button type="button" (click)="hiddenFormDiv()" class="btn btn-light">Cancelar</button>

    </div>

  </div>

  <div class="card card-shadow">
    <div class="card-body">
      <div class="search-div">
        <div class="form-group item1" style="margin-bottom: 10px;">
          <input type="text" class="form-control" aria-describedby="searchHelp" placeholder="Buscar alumno por Nombre o Numero de Control"
            [(ngModel)]="search" (keyup.enter)="searchStudent()" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="item2">
          <button type="button" style="width: 100%" class="btn btn-success show-button-1" (click)="searchStudent()">Buscar
            Alumno
          </button>

          <button type="button" style="width: 100%" class="btn btn-success show-button-2">
            <i style="font-size:18px" class="fa fa-plus-square">+</i>
          </button>
        </div>
      </div>

      <div *ngIf="showTable" class="table-responsive div-size">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">Numero de Control</th>
              <th scope="col">Nombre</th>
              <th scope="col">Carrera</th>
              <th scope="col">NSS</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of data">
              <th scope="row">{{ student.controlNumber }}</th>
              <td>{{ student.fullName }}</td>
              <td>{{ student.career }}</td>
              <td>{{ student.nss }}</td>
              <td>

                <div style="display: flex;">

                  <button type="button" (click)="showFormValues(student)" style="margin-right: 5px;" class="btn btn-login btn-sm">Actualizar
                    información</button>
                  <button type="button" (click)="generatePDF(student)" class="btn btn-secondary btn-sm">Generar credencial</button>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showNotFound">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">No se han encontrado resultados con esta busqueda, intente de nuevo.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>