.item1 { grid-area: searchBar; }
.item2 { grid-area: newUser; }

.invalid-feedback {
    display: block;
    color: #DC3849;
}

.btn-login {
    background-color: #4D66A2;
    color: white;
}

.show-button-1 {
    display: inline;
}

.show-button-2 {
    display: none;
}


.item-group {
    display: flex;
    flex-direction: column;

    .title-item {
        font-size: 1rem;
        font-family: 'PT Sans';
        color: #707070;
    }

    .content-item {
        font-size: 1.15rem;
        margin-left: 10px;
    }
}

.search-div {
    display: grid;
    grid-template-areas:
    'searchBar searchBar searchBar searchBar searchBar newUser';
    grid-gap: 10px;
    grid-template-columns: none;
    width: 100%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .show-button-1 {
        display: none;
    }
    
    .show-button-2 {
        display: inline;
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }