<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <div class="row">
        <div class="col-10">
          <h1 mat-dialog-title>Detalle del curso de alumno</h1>
        </div>
        <div class="col-2">
          <button mat-icon-button (click)="onClose()" class="float-right">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="example-container" *ngIf="courseForm" style="margin: 15px;">
      <mat-dialog-content class="px-0 px-sm-1 px-md-3">
        <div class="row d-flex justify-content-center">
          <mat-form-field appearance="outline" class="col-11 col-md-6">
            <mat-label>Seleccione el tipo de curso</mat-label>
            <mat-select [formControl]="courseForm.get('course')" (selectionChange)="selectCourse()" required>
              <mat-option *ngFor="let course of courses" [value]="course._id" >
                {{course.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="courseForm.get('course').errors">
              <span *ngIf="courseForm.get('course').errors['required']">
                ¡El campo es obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-11 col-md-6">
            <mat-label>Seleccione el último bloque cursado</mat-label>
            <mat-select [formControl]="courseForm.get('level')" [disabled]="!canSelectLevel()" required>
              <mat-option *ngFor="let level of courseLevels" [value]="level">
                Bloque {{level}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="courseForm.get('level').errors">
              <span *ngIf="courseForm.get('level').errors['required']">
                ¡El campo es obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
          <div class="row col-11 col-md-12 p-0">
            <mat-label class="col-11 col-md-12 mb-1">Horario cursado</mat-label>
            <mat-form-field appearance="outline" class="col-12 col-md-6">
              <mat-label>Hora de inicio</mat-label>
              <input matInput type="time" [formControl]="courseForm.get('startHour')" required>
              <mat-error *ngIf="courseForm.get('startHour').errors">
                <span *ngIf="courseForm.get('startHour').errors['required']">
                  ¡El campo es obligatorio!
                </span>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12 col-md-6">
              <mat-label>Hora de fin</mat-label>
              <input matInput type="time" [formControl]="courseForm.get('endHour')" required>
              <mat-error *ngIf="courseForm.get('endHour').errors">
                <span *ngIf="courseForm.get('endHour').errors['required']">
                  ¡El campo es obligatorio!
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="col-11 col-md-6">
            <mat-label>Docente</mat-label>
            <input matInput type="text" [formControl]="courseForm.get('teacher')"
              placeholder="Nombre completo del docente que impartió el curso" required>
            <mat-error *ngIf="courseForm.get('teacher').errors">
              <span *ngIf="courseForm.get('teacher').errors['required']">
                ¡El campo es obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-11 col-md-6">
            <mat-label>Período</mat-label>
            <input matInput type="text" [formControl]="courseForm.get('period')"
              placeholder="Período en que cursó, ejemplo: Enero-Junio 2020 " required>
            <mat-error *ngIf="courseForm.get('period').errors">
              <span *ngIf="courseForm.get('period').errors['required']">
                ¡El campo es obligatorio!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions class="d-flex justify-content-end">
        <button mat-stroked-button class="m-1" type="button" color="primary" [disabled]="!courseForm.valid"
          (click)="accept()" style="background: green; color: white;">
          Validar Información 
        </button>
        <button mat-stroked-button class="m-1" type="button" color="primary" [disabled]="!courseForm.valid"
          (click)="reject()" style="background: red; color: white;">
          Rechazar Información
        </button>
        <button mat-stroked-button class="m-1" type="button" color="primary" [disabled]="!courseForm.valid"
          (click)="saveData()" style="background: dodgerblue; color: white;">
          Actualizar y Validar
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
