<mat-card>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="changeTab($event)" color="accent">
      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            Todos los alumnos
          </div>
        </ng-template>
        <br>
        <div>
          <div class="row p-3">
            <div class="col-11">
              <mat-form-field class="w-100">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                       oninput="this.value=this.value.toUpperCase()">
              </mat-form-field>
            </div>
            <div class="col-1 justify-content-end text-center">
              <button mat-mini-fab class="m-1" color="primary" (click)="refreshAll()" data-toggle="tooltip"
                      title="Recargar">
                <mat-icon>update</mat-icon>
              </button>
            </div>
          </div>
          <div class="row text-center">
            <table mat-table [dataSource]="dataSourceAll" matSort>
              <ng-container matColumnDef="no">
                <th *matHeaderCellDef mat-header-cell class="text-center">No.</th>
                <td *matCellDef="let row; let i = index" mat-cell style="width:10%">
                  {{matPaginatorAll.pageIndex*matPaginatorAll.pageSize + i+1}}
                </td>
              </ng-container>
              <ng-container *ngFor="let item of displayedColumnsAll.slice(1, -1);let index=index"
                            [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsAllName[index]}}</th>
                <td *matCellDef="let row;" mat-cell style="width:25%;">
                  {{row[item]}}
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell>Acciones</th>
                <td *matCellDef="let row" mat-cell style="width:20%">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button mat-menu-item routerLink="/social-service/recordStudent" [queryParams]="{id: row['id']}">
                      <mat-icon class="material-icons text-info">folder_shared</mat-icon>
                      <span>Expediente</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsAll" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsAll;" mat-row></tr>
            </table>
            <mat-paginator #matPaginatorAll [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            Constancias por firmar
          </div>
        </ng-template>
        <br>
        <div>
          <div class="row p-3">
            <div class="col-11">
              <mat-form-field class="w-100">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
                       oninput="this.value=this.value.toUpperCase()">
              </mat-form-field>
            </div>
            <div class="col-1 justify-content-end text-center">
              <button mat-mini-fab class="m-1" color="primary" (click)="refreshForSign()" data-toggle="tooltip"
                      title="Recargar">
                <mat-icon>update</mat-icon>
              </button>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-6 text-center">
              <mat-checkbox #all (change)="selectAll($event)">Seleccionar a todos los alumnos</mat-checkbox>
            </div>
            <div class="col-6 text-center">
              <button mat-raised-button color="primary" class="w-75" type="button" [disabled]="!all.checked && flagStudentToSign" (click)="signConstancyDoc()">Firmar a todos</button>
            </div>
          </div>
          <div class="row text-center">
            <table mat-table [dataSource]="dataSourceForSign" matSort>
              <ng-container matColumnDef="select">
                <th *matHeaderCellDef mat-header-cell class="text-center"></th>
                <td *matCellDef="let row; let i = index" mat-cell style="width:10%">
                  <mat-checkbox [checked]="row['check']" (change)="signDocument($event, row)"></mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="no">
                <th *matHeaderCellDef mat-header-cell class="text-center">No.</th>
                <td *matCellDef="let row; let i = index" mat-cell style="width:10%">
                  {{matPaginatorForSign.pageIndex*matPaginatorForSign.pageSize + i+1}}
                </td>
              </ng-container>
              <ng-container *ngFor="let item of displayedColumnsForSign.slice(2, -1);let index=index"
                            [matColumnDef]="item">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsForSignName[index]}}</th>
                <td *matCellDef="let row;" mat-cell style="width:25%;">
                  {{row[item]}}
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell>Acciones</th>
                <td *matCellDef="let row" mat-cell style="width:20%">
                  <button [matMenuTriggerFor]="actions" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actions>
                    <button mat-menu-item routerLink="/social-service/recordStudent" [queryParams]="{id: row['id']}">
                      <mat-icon class="material-icons text-info">folder_shared</mat-icon>
                      <span>Expediente</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr *matHeaderRowDef="displayedColumnsForSign" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumnsForSign;" mat-row></tr>
            </table>
            <mat-paginator #matPaginatorForSign [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
