<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [completed]="SteepOneCompleted">
    <!-- <mat-step [stepControl]="frmStepOne"> -->
    <ng-template matStepLabel>SOLICITUD DE TITULACIÓN</ng-template>

    <div *ngIf="SteepOneCompleted">
      <app-viewer-component [Request]="Request" [Phase]="'Solicitado'"></app-viewer-component>
    </div>
    <div *ngIf="!SteepOneCompleted">
      <div [ngSwitch]="StatusComponent">
        <app-process-component *ngSwitchCase="'Process'"></app-process-component>
        <app-request-component *ngSwitchDefault (onSubmit)=" RequestEvent($event)"></app-request-component>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [completed]="SteepTwoCompleted">
    <!-- <form [formGroup]="secondFormGroup"> -->
      <ng-template matStepLabel>ACEPTACIÓN DE SOLICITUD</ng-template>
      <div *ngIf="SteepTwoCompleted">
        <app-viewer-component [Request]="Request" [Phase]="'Verificado'"></app-viewer-component>
      </div>
      <div *ngIf="!SteepTwoCompleted">
        <div [ngSwitch]="StatusComponent">
          <app-process-component *ngSwitchCase="'Process'"></app-process-component>
        </div>
      </div>
    <!-- </form> -->
  </mat-step>
  <mat-step [completed]="SteepThreeCompleted">
    <!-- <form [formGroup]="thirdFormGroup"> -->
    <ng-template matStepLabel>REGISTRO DE PROYECTO</ng-template>
    <div *ngIf="SteepThreeCompleted">
      <app-viewer-component [Request]="Request" [Phase]="'Registrado'"></app-viewer-component>
    </div>
    <div *ngIf="!SteepThreeCompleted">
      <div [ngSwitch]="StatusComponent">
        <app-process-component *ngSwitchCase="'Process'"></app-process-component>
      </div>
    </div>
    <!-- </form> -->
  </mat-step>
  <mat-step [completed]="SteepFourCompleted">
    <ng-template matStepLabel>LIBERACIÓN DE PROYECTO</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step [completed]="SteepFiveCompleted">
    <ng-template matStepLabel>NO INCOVENIENCIA</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step [completed]="SteepSixCompleted">
    <ng-template matStepLabel>PROGRAMACIÓN</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step [completed]="SteepSixCompleted">
    <ng-template matStepLabel>FINALIZACIÓN</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<button (click)="valores()">dawd</button>