::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.imgProfile{
    width: 70%;
    text-align: center;
    padding-top: 5px;
}

img.imgProfile.mat-card-image{
    border-radius: 10px;
}

.process{    
    background: rgba(252, 213, 57, 0.2);
    border: 1px solid #e8c434;
    color: #c0a22b;   
}

.processText {
    color: #c0a22b;   
}

.reject{
    background: rgba(239, 89, 88, 0.2);
    border: 1px solid #dc5251;
    color: #b64443;
}
.rejectText{   
    color: #b64443;
}

.validate{    
    background: rgba(70, 77, 238, 0.2);
    border: 1px solid #4047db;
    color: #353bb5;
}
.validateText{
    color: #353bb5;
}

.accept{       
    background: rgba(13, 219, 185, 0.2);
    border: 1px solid #0cc9aa;
    color: #0aa68d;
}
.acceptText {
    color: #0aa68d;;   
}