<div class="content-general" *ngIf="step == 6">
    <div class="card card-shadow">
      <div class="card-header text-white bg-secondary">
        <strong>IV. Resúmen</strong>
      </div>
      <div class="example-container" style="padding: 20px;">
        <table>
          <td style="width: 35%;">
            <mat-card class="cardProfile">
              <div style="text-align: center;">
                <img mat-card-image [src]="image" class="imgProfile">
              </div>
              <mat-card-content>
                <h6>Nombre: <span>{{nombre}}</span></h6>
                <h6>Número de Contról: <span>{{numeroControl}}</span></h6>
                <h6>Correo Electrónico: <span>{{correoElectronico}}</span></h6>
                <h6>Teléfono: <span>{{telefono}}</span></h6>
              </mat-card-content>
            </mat-card>
          </td>
          <td colspan="3" style="vertical-align: top; padding-left: 20px;">
            <mat-card class="cardData">
              <mat-card-header>
                <h4>Datos Generales</h4>
              </mat-card-header>
              <mat-card-content>
                <h6>Fecha de Nacimiento: <span>{{fechaNacimiento}}</span></h6>
                <h6>Lugar de Nacimiento: <span>{{lugarNacimiento}}</span></h6>
                <h6>Estado Civil: <span>{{estadoCivil}}</span></h6>
                <h6>CURP: <span>{{curp}}</span></h6>
                <h6>NSS (Número de Seguro Social): <span>{{nss}}</span></h6>
              </mat-card-content>
              <a (click)="showMoreInformation()" style="cursor: pointer;">Ver más ...</a>
            </mat-card><br>
          </td>
        </table>
        <div class="card mt-3">
          <div class="card-header text-white bg-secondary">
            <strong>Documentos</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <!--Acta Nacimiento-->
                <mat-card *ngIf="docActa[0].status == 'EN PROCESO'" class="process">
                  <mat-card-header>
                    <mat-card-title class="processText">Acta de Nacimiento</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Acta')" style="cursor: pointer;" ngbTooltip="Visualizar Acta"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docActa[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docActa[0].status == 'RECHAZADO'" class="reject">
                  <mat-card-header>
                    <mat-card-title class="rejectText">Acta de Nacimiento</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Acta')" style="cursor: pointer;" ngbTooltip="Visualizar Acta"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docActa[0].status}}
                    </p>
                  </mat-card-actions>
                  <mat-card-footer style="text-align: center; color: black;">
                    <button mat-button (click)="updateDocument('Acta')">
                      <p style="text-align: center;">
                        Cambiar Documento
                      </p>
                    </button>
                  </mat-card-footer>
                </mat-card>
                <mat-card *ngIf="docActa[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">Acta de Nacimiento</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Acta')" style="cursor: pointer;" ngbTooltip="Visualizar Acta"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docActa[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docActa[0].status == 'ACEPTADO'" class="accept">
                  <mat-card-header>
                    <mat-card-title class="acceptText">Acta de Nacimiento</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Acta')" style="cursor: pointer;" ngbTooltip="Visualizar Acta"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docActa[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="col-3">
                <!--Certificado Estudios-->
                <mat-card *ngIf="docCertificado[0].status == 'EN PROCESO'" class="process">
                  <mat-card-header>
                    <mat-card-title class="processText">Certificado Estudios</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Certificado')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Certificado" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCertificado[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docCertificado[0].status == 'ACEPTADO'" class="accept">
                  <mat-card-header>
                    <mat-card-title class="acceptText">Certificado Estudios</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Certificado')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Certificado" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCertificado[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docCertificado[0].status == 'RECHAZADO'" class="reject">
                  <mat-card-header>
                    <mat-card-title class="rejectText">Certificado Estudios</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Certificado')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Certificado" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCertificado[0].status}}
                    </p>
                  </mat-card-actions>
                  <mat-card-footer style="text-align: center; color: black;">
                    <button mat-button (click)="updateDocument('Certificado')">
                      <p style="text-align: center;">
                        Cambiar Documento
                      </p>
                    </button>
                  </mat-card-footer>
                </mat-card>
                <mat-card *ngIf="docCertificado[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">Certificado Estudios</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Certificado')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Certificado" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCertificado[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="col-3">
                <!--Analisis Clinicos-->
                <mat-card *ngIf="docAnalisis[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">Análisis Clínicos</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Analisis')" style="cursor: pointer;" ngbTooltip="Visualizar Análisis"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docAnalisis[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docAnalisis[0].status == 'ACEPTADO'" class="accept">
                  <mat-card-header>
                    <mat-card-title class="acceptText">Análisis Clínicos</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Analisis')" style="cursor: pointer;" ngbTooltip="Visualizar Análisis"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docAnalisis[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docAnalisis[0].status == 'RECHAZADO'" class="reject">
                  <mat-card-header>
                    <mat-card-title class="rejectText">Análisis Clínicos</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Analisis')" style="cursor: pointer;" ngbTooltip="Visualizar Análisis"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docAnalisis[0].status}}
                    </p>
                  </mat-card-actions>
                  <mat-card-footer style="text-align: center; color: black;">
                    <button mat-button (click)="updateDocument('Analisis')">
                      <p style="text-align: center;">
                        Cambiar Documento
                      </p>
                    </button>
                  </mat-card-footer>
                </mat-card>
                <mat-card *ngIf="docAnalisis[0].status == 'EN PROCESO'" class="process">
                  <mat-card-header>
                    <mat-card-title class="processText">Análisis Clínicos</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Analisis')" style="cursor: pointer;" ngbTooltip="Visualizar Análisis"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docAnalisis[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="col-3">
                <!--Comprobante Pago-->
                <mat-card *ngIf="docComprobante[0].status == 'EN PROCESO'" class="process">
                  <mat-card-header>
                    <mat-card-title class="processText">Comprobante Pago</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Comprobante')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Comprobante" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docComprobante[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docComprobante[0].status == 'RECHAZADO'" class="reject">
                  <mat-card-header>
                    <mat-card-title class="rejectText">Comprobante Pago</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Comprobante')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Comprobante" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docComprobante[0].status}}
                    </p>
                  </mat-card-actions>
                  <mat-card-footer style="text-align: center; color: black;">
                    <button mat-button (click)="updateDocument('Comprobante')">
                      <p style="text-align: center;">
                        Cambiar Documento
                      </p>
                    </button>
                  </mat-card-footer>
                </mat-card>
                <mat-card *ngIf="docComprobante[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">Comprobante Pago</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Comprobante')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Comprobante" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docComprobante[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docComprobante[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">Comprobante Pago</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('Comprobante')" style="cursor: pointer;"
                    ngbTooltip="Visualizar Comprobante" tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docComprobante[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <!--Curp-->
                <mat-card *ngIf="docCurp[0].status == 'ACEPTADO'" class="accept">
                  <mat-card-header>
                    <mat-card-title class="acceptText">CURP</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('CURP')" style="cursor: pointer;" ngbTooltip="Visualizar CURP"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCurp[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docCurp[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">CURP</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('CURP')" style="cursor: pointer;" ngbTooltip="Visualizar CURP"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCurp[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docCurp[0].status == 'RECHAZADO'" class="reject">
                  <mat-card-header>
                    <mat-card-title class="rejectText">CURP</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('CURP')" style="cursor: pointer;" ngbTooltip="Visualizar CURP"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCurp[0].status}}
                    </p>
                  </mat-card-actions>
                  <mat-card-footer style="text-align: center; color: black;">
                    <button mat-button (click)="updateDocument('CURP')">
                      <p style="text-align: center;">
                        Cambiar Documento
                      </p>
                    </button>
                  </mat-card-footer>
                </mat-card>
                <mat-card *ngIf="docCurp[0].status == 'EN PROCESO'" class="process">
                  <mat-card-header>
                    <mat-card-title class="processText">CURP</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('CURP')" style="cursor: pointer;" ngbTooltip="Visualizar CURP"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docCurp[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="col-3">
                <!--Nss-->
                <mat-card *ngIf="docNss[0].status == 'EN PROCESO'" class="process">
                  <mat-card-header>
                    <mat-card-title class="processText">NSS</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('NSS')" style="cursor: pointer;" ngbTooltip="Visualizar NSS"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docNss[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docNss[0].status == 'RECHAZADO'" class="reject">
                  <mat-card-header>
                    <mat-card-title class="rejectText">NSS</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('NSS')" style="cursor: pointer;" ngbTooltip="Visualizar NSS"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docNss[0].status}}
                    </p>
                  </mat-card-actions>
                  <mat-card-footer style="text-align: center; color: black;">
                    <button mat-button (click)="updateDocument('NSS')">
                      <p style="text-align: center;">
                        Cambiar Documento
                      </p>
                    </button>
                  </mat-card-footer>
                </mat-card>
                <mat-card *ngIf="docNss[0].status == 'VALIDADO'" class="validate">
                  <mat-card-header>
                    <mat-card-title class="validateText">NSS</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('NSS')" style="cursor: pointer;" ngbTooltip="Visualizar NSS"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docNss[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
                <mat-card *ngIf="docNss[0].status == 'ACEPTADO'" class="accept">
                  <mat-card-header>
                    <mat-card-title class="acceptText">NSS</mat-card-title>
                  </mat-card-header>
                  <mat-card-content (click)="onView('NSS')" style="cursor: pointer;" ngbTooltip="Visualizar NSS"
                    tooltipClass="my-custom-class">
                    <div>
                      <div class="text-center">
                        <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <p style="text-align: center;">
                      {{docNss[0].status}}
                    </p>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>