<div class="row">
  <div class="col-sm-8 col-lg-11">
    <h1 mat-dialog-title></h1>
  </div>
  <div class="col-sm-4 col-lg-1">
    <button mat-icon-button [mat-dialog-close] class="float-right" *ngIf="enableNext">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-horizontal-stepper #stepper [linear]="true">
  <mat-step [completed]="SteepOneCompleted">
    <ng-template matStepLabel>Solicitud</ng-template>
    <app-request-view (save)="onSave($event)"></app-request-view>
  </mat-step>
  <mat-step [completed]="SteepTwoCompleted">
    <ng-template matStepLabel>Firma electrónica</ng-template>
    <div class="row justify-content-center">
      <mat-card class="col-sm-12 col-md-5 m-2">
        <mat-card-header>
          <!-- <mat-card-title>Firma</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
          <div class="form-group">
              <div class="custom-file mt-4" id="customFile">
                <input type="file" class="btn custom-file-input" id="customFile" (change)="fileChanged($event)" placeholder="Buscar" aria-label="No se a seleccionado ningún archivo">
                <label class="custom-file-label" for="customFile">{{fileName || 'Buscar firma'}}</label>
              </div>
            <mat-form-field appearance="outline" class="w-100  mt-4">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Contraseña" type="password" [(ngModel)]="password">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button color="primary" (click)="signProjectRegister()"
          [disabled]="!fileFlag || !password">Firmar</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="row">
      <div class="col-6 text-left">
        <button mat-stroked-button color="primary" (click)="Back(1)">
          <mat-icon>navigate_before</mat-icon>Atrás
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [completed]="SteepThreeCompleted">
    <ng-template matStepLabel>Registro de Proyecto</ng-template>
    <div class="row">
      <div class="col-3 col-sm-3 col-md-3 col-lg-3"></div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <app-viewer-component [Request]="Request" [Phase]="'Verificado'" [Title]="''" [Type]="'None'" [QR]="QR"
          [EStamp]="EStamp">
        </app-viewer-component>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-6 text-left">
      </div>
      <div class="col-6 text-right">
        <button mat-stroked-button color="primary" (click)="Next(2)">
          Finalizar<mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
