<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-body"
          style="color: #08a3bc; background-color: rgba(10, 215, 247, 0.2); border: 1px solid #09c6e3;">
          <img alt="File" src="../../assets/imgs/notfound.png" style="width: 80px; height: 80px">
          <p class="card-text"> <strong>ARCHIVO NO CARGADO</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mt-2">
    <div class="col-12">
      <button type="button" class="btn btn-outline-success btn-sm" [mat-dialog-close]="true">Aceptar</button>
      <button type="button" class="btn btn-outline-danger btn-sm ml-2" [mat-dialog-close]>Cancelar</button>
    </div>
  </div>
</div>