<div class="row">
  <div class="col-10">
    <h1 mat-dialog-title >{{title}}</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button (click)="onClose()" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onFormSubmit(form.value)" class="tp-form">
  <div class="row text-center">
    <div class="col-12">
      <h3>Datos del libro</h3>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12">     
    </div>
  </div>
  <div class="row text-center mt-2">      
    <div class="col-md-3"></div>  
    <div class="col-md-6">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Carrera" formControlName="career" type="text" >
      </mat-form-field>
      <mat-error>
        <span
        *ngIf="!form.get('career').valid && form.get('career').touched">Ingrese una carrera</span>
      </mat-error> 
    </div>    
    <div class="col-md-3"></div>  
  </div>
  <div class="row text-center mt-2">    
    <div class="col-md-4"> 
      <mat-form-field>
        <input [min]="minDate" matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="date" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-error>
          <span
          *ngIf="!form.get('date').valid && form.get('date').touched">Seleccione una fecha valida</span>
      </mat-error>      
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Número del libro" formControlName="bookNumber" type="text">
      </mat-form-field>
      <mat-error>
          <span
          *ngIf="!form.get('bookNumber').valid && form.get('bookNumber').touched">Ingrese un número valido</span>
      </mat-error> 
    </div>
    <div class="col-md-4">
        <mat-form-field>
          <input matInput placeholder="Foja" formControlName="foja" type="text" >
          </mat-form-field>
          <mat-error>
              <span
              *ngIf="!form.get('foja').valid && form.get('foja').touched">Ingrese  un número valido</span>
          </mat-error> 
    </div>    
  </div>

  <hr/>
  
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-3"> 
      <button mat-flat-button color="primary"  type="submit" [disabled]="form.invalid">Guardar</button>      
    </div>
    <div class="col-md-3">
      <button mat-flat-button color="warn" type="button" (click)="onClose()" mat-dialog-close>Cancelar</button>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>
