<div class="content-general">
  <div class="row">
    <div *ngFor="let item of homeItems" class="col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="item.routerLink" style="width:15em;">
        <div
          [ngClass]="rol.name.toLowerCase() === 'estudiante' ? 'card card-itt card-body' : 'card text-white bg-dark card-body'"
          style="margin:3px 0px;">
          <div class="row justify-content-center m-2">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <h5 class="card-title text-center">{{ item.label }}</h5>
        </div>
      </a>
    </div>
  </div>
</div>
