<div class="content-general">
  <div class="card card-shadow">
    <div class="card-header text-white bg-secondary">
      <div class="row">
        <div class="col-10">
          <h1 mat-dialog-title>{{title}}</h1>
        </div>
        <div class="col-2">
          <button mat-icon-button (click)="onClose()" class="float-right">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="example-container">
      <div class="row text-center">
        <div class="col-12">
          <div *ngIf="showDocument == true">
            <ngx-extended-pdf-viewer [src]="pdfSrc" backgroundColor="#ffffff" [height]="'90vh'"
              [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
      <div class="row text-center p-2" *ngIf="showDocument == true">
        <div class="col-12" style="text-align: center;">
          <table style="margin: 0 auto;">
            <tr>
              <td style="padding: 20px;">
                <div class="div-img" ngbTooltip="Todo Bien" tooltipClass="my-custom-class">
                  <img src="../../../assets/icons/presence.svg" class="action" (click)="observationsGood()">
                </div>
              </td>
              <td>
                <div class="div-img" ngbTooltip="Advertencia" tooltipClass="my-custom-class">
                  <img src="../../../assets/icons/remove-paid.svg" class="action" (click)="observationsBad()">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
