.message-note {
  width: 100%;
  color: red;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.22);
  margin: 0px 10px 15px 10px!important;
  ul {
    margin-bottom: 0px;
  }
}
