<div class="header-style header">

  <div class="header-container">
    <img class="img-tecnm" src="assets/imgs/tecnm.png" alt="">
    <div class="title-style">
      <p class="title-line">Servicios Escolares</p>
      <p class="subtitle-line">Tecnológico Nacional de México</p>
      <p class="title-line">Instituto Tecnológico de Tepic</p>
    </div>
    <img class="img-headedr-class" src="assets/imgs/ittepic-sm.png" alt="">
  </div>
</div>

<ul class="top">
  <li><a routerLink="" class="nav-link">Inicio</a></li>


  
  <li><a *ngIf="role==='student'" routerLink="oneStudentPage">Mi Credencial</a></li>
  <li><a *ngIf="role==='secretary' || role==='administration'" routerLink="student">Alumnos</a></li>
  <li><a *ngIf="role==='secretary'|| role==='rechumanos' || role==='administration'" routerLink="employeeCard">Trabajadores</a></li>


  <li><a *ngIf="role==='administration'" routerLink="loaderDataCredentials">Importar datos</a></li>


  <li style="float:right" (click)="logOut()"><a>Cerrar sesión</a></li>
</ul> 
