<div class="card">
  <div class="card-body" *ngIf="showInformation">
    <h5 class="card-title">Expediente de alumno de Servicio social</h5>
    <div class="row">
      <div class="col-6">Nombre: {{studentInformation.fullName}}</div>
      <div class="col-6">Número de control: {{studentInformation.controlNumber}}</div>
    </div>
    <div class="row">
      <div class="col-6">Carrera: {{studentInformation.career}}</div>
      <div class="col-6">Semestre: {{studentInformation.semester}}</div>
    </div>
    <div class="row">
      <div class="col-6">Teléfono: {{studentInformation.phone}}</div>
      <div class="col-6">Sexo: {{studentInformation.sex}}</div>
    </div>
    <button mat-raised-button (click)="location.back()" color="warn" style="position: absolute; top: 5px; right: 5px;">
      <mat-icon>arrow_back</mat-icon> Regresar
    </button>
    <button mat-raised-button (click)="downloadControlCard()" color="primary" matTooltip="Descargar Tarjeta de Control" style="position: absolute; bottom: 5px; right: 5px;">
      <small>Descargar Tarjeta de Control</small>
    </button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h6 class="card-title">Documentos de alumno</h6>
    <div *ngIf="showDocuments">
      <div class="card mt-3">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[whatStatus('solicitude')]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[whatStatus('solicitude')]">
                      1. Carta de solicitud
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('solicitude')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('solicitude')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('solicitude')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'approved':'accept', 'noAssigned':'none','reevaluate':'reject','assigned':'process', 'sign':'process', 'send':'process'}[whatStatus('presentation')]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p [ngClass]="{'approved':'acceptText', 'noAssigned':'noneText','reevaluate':'rejectText','assigned':'processText', 'sign':'processText', 'send':'processText'}[whatStatus('presentation')]">
                      2. Carta de presentación
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('presentation')" class="text-center">
                    <div *ngSwitchCase="'assigned'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">Con oficio asignado</p>
                    </div>
                    <div *ngSwitchCase="'sign'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">Firmada, en espera de envio</p>
                    </div>
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('presentation')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('presentation')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'noAssigned'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin oficio asignado</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[whatStatus('acceptance')]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[whatStatus('acceptance')]">
                      3. Carta de Aceptación
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('acceptance')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('acceptance')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('acceptance')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[whatStatus('workPlanProject')]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[whatStatus('workPlanProject')]">
                      4. Carta de Asignación/Plan de trabajo
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('workPlanProject')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('workPlanProject')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('workPlanProject')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[whatStatus('commitment')]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[whatStatus('commitment')]">
                      5. Carta compromiso
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('commitment')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('commitment')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('commitment')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0" *ngFor="let report of reportDocuments">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[report.status]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[report.status]">
                      6.{{report.position}} Reporte bimestral
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="report.status" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('reports', (report.position - 1))">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('reports', (report.position - 1))">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0" *ngFor="let manager of managerEvaluationDocuments">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[manager.status]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[manager.status]">
                      7.{{manager.position}} Evaluación del responsable del programa
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="manager.status" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('dependencyManagerEvaluation', (manager.position - 1))">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('dependencyManagerEvaluation', (manager.position - 1))">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0" *ngFor="let self of selfEvaluationDocuments">
              <mat-card class="p-1"
                        [ngClass]="{'approved': 'accept', 'register': 'none','reevaluate': 'reject','send': 'process'}[self.status]">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'approved': 'acceptText', 'register': 'noneText','reevaluate': 'rejectText','send': 'processText'}[self.status]">
                      8.{{self.position}} Autoevaluación del alumno
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="self.status" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('selfEvaluation', (self.position - 1))">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('selfEvaluation', (self.position - 1))">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'accept':whatStatus('constancy')==='approved', 'none':whatStatus('constancy')==='register','reject':whatStatus('constancy')==='reevaluate','process':whatStatus('constancy')==='send'}">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'acceptText':whatStatus('constancy')==='approved', 'noneText':whatStatus('constancy')==='register','rejectText':whatStatus('constancy')==='reevaluate','processText':whatStatus('constancy')==='send'}">
                      9. Constancia de servicio social
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('constancy')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('constancy')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('constancy')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'accept':whatStatus('lastReport')==='approved', 'none':whatStatus('lastReport')==='register','reject':whatStatus('lastReport')==='reevaluate','process':whatStatus('lastReport')==='send'}">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'acceptText':whatStatus('lastReport')==='approved', 'noneText':whatStatus('lastReport')==='register','rejectText':whatStatus('lastReport')==='reevaluate','processText':whatStatus('lastReport')==='send'}">
                      10. Reporte final
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('lastReport')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('lastReport')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('lastReport')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 m-1 p-0">
              <mat-card class="p-1"
                        [ngClass]="{'accept':whatStatus('lastReportEvaluation')==='approved', 'none':whatStatus('lastReportEvaluation')==='register','reject':whatStatus('lastReportEvaluation')==='reevaluate','process':whatStatus('lastReportEvaluation')==='send'}">
                <mat-card-header class="justify-content-center">
                  <mat-card-subtitle>
                    <p
                      [ngClass]="{'acceptText':whatStatus('lastReportEvaluation')==='approved', 'noneText':whatStatus('lastReportEvaluation')==='register','rejectText':whatStatus('lastReportEvaluation')==='reevaluate','processText':whatStatus('lastReportEvaluation')==='send'}">
                      11. Evaluación del Reporte final
                    </p>
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div [ngSwitch]="whatStatus('lastReportEvaluation')" class="text-center">
                    <div *ngSwitchCase="'send'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/revision.png" style="width: 50px; height: 50px">
                      <p class="card-text">En revisión</p>
                    </div>
                    <div *ngSwitchCase="'approved'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/aceptado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Aceptado</p>
                      <button mat-icon-button class="see-btn text-primary" (click)="onView('lastReportEvaluation')">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button mat-icon-button class="download-btn text-success" (click)="downloadFile('lastReportEvaluation')">
                        <mat-icon>cloud_download</mat-icon>
                      </button>
                    </div>
                    <div *ngSwitchCase="'reevaluate'" class="cursor-pointer">
                      <img alt="File" src="../../assets/imgs/rechazado.png" style="width: 50px; height: 50px">
                      <p class="card-text">Rechazado</p>
                    </div>
                    <div *ngSwitchCase="'register'">
                      <img alt="File" src="../../assets/imgs/fileView.png" style="width: 50px; height: 50px">
                      <p class="card-text">Sin enviar</p>
                    </div>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
