/* You can add global styles to this file, and also import other style files */

.content-general {
    margin: 20px 25px;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~ngx-smart-modal/ngx-smart-modal";
@import '~angular-calendar/css/angular-calendar.css';
@media screen {
    @import '../node_modules/bootstrap/scss/bootstrap';
  }
.mat-menu-item{
    
    display: inline !important;
}

dropzone > .dropzone.dz-wrapper .dz-message .dz-text{
    padding: 8px 16px !important;
    background: rgba(39, 51, 97, 0.8) !important;
    color: white !important;
    position: relative !important;
    transform: none !important;
    top: 0 !important;
}
dropzone > .dropzone.dz-wrapper .dz-message{
    border-color: rgb(160, 199, 206) !important;
}
.dropzone.dz-drag-hover.dz-message{
    border-color:rgb(55, 96, 230) !important ;
}

/*.mat-card-header-text{
    text-align: center !important;
}
.mat-card-header{
    justify-content: center;
}*/
.carousel-indicators .active {
    background-color:  #ff831b !important;
}
.qr-image canvas,.qr-student-middle canvas, .qrcode{
    height: 265px !important;
    width: 265px !important;
}
@media only screen and (max-width: 782px) {   
   .qr-image canvas,.qr-student-middle canvas,.qrcode {
        height: auto !important;
        width: auto !important;    
    }
}
@media only screen and (max-width: 395px) {   
 .qr-image canvas,.qr-student-middle canvas,.qrcode {
        height: 160px !important;
        width: 160px !important;    
    }
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: rgb(24, 57, 105);
  border: 0px none #fff;
  border-radius: 44px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 57, 105, 0.9);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(24, 57, 105, 0.9);
}
::-webkit-scrollbar-track {
  background: #ccc;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ccc;
}
::-webkit-scrollbar-track:active {
  background: #ccc;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 16px;
  width: 16px;
}
/* vertical*/
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
/* horizontal*/
/* left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 8px 8px 8px 0px;
  border-color: transparent #555 transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent #777 transparent transparent;
}
/* right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-left: 8px solid #555;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 0px transparent;
  border-width: 8px 0px 8px 8px;
  border-color: transparent transparent transparent #555;
}
::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: transparent transparent transparent #777;
}
/*END SCROLLBAR*/
.mat-tab-group{
    z-index: 0;
}