<div class="content-general">
  <div class="card card-shadow">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="3">
      <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudentsPendant}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos
            Pendientes</span>
        </ng-template>
        <app-list-pending-student *ngIf="showTabs" (countStudentsEmit) = "countStudents()" [periods]="usedPeriods"></app-list-pending-student>
      </mat-tab>
      <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudentsProcess}}"  matBadgeOverlap="false" style="padding-right: 10px;">Alumnos En
            Proceso</span>
        </ng-template>
        <app-list-process-student *ngIf="showTabs" (countStudentsEmit) = "countStudents()" [periods]="usedPeriods"></app-list-process-student>
      </mat-tab>
      <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudentsAcept}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos
            Aceptados</span>
        </ng-template>
        <app-list-acept-student  *ngIf="showTabs" [periods]="usedPeriods"></app-list-acept-student>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <span matBadge="{{cantListStudents}}" matBadgeOverlap="false" style="padding-right: 10px;">Todos los
            Alumnos</span>
        </ng-template>
        <div class="card-body">
          <div class="cards-container">
            <div class="row m-0">
              <div class="col-sm-3">
                <mat-card class = "cardTotal"><b>Total Alumnos</b><br>{{cantListStudents}}</mat-card>
             </div>
              <div class="col-sm-2">
                 <mat-card class = "cardPendientes"><b>Pendientes</b><br>{{cantListStudentsPendant}}</mat-card>
              </div>
              <div class="col-sm-2">
                 <mat-card class = "cardAceptados"><b>Aceptados</b><br>{{cantListStudentsAcept}}</mat-card>
              </div>
              <div class="col-sm-2">
                 <mat-card class = "cardExpedientes"><b>Con Expediente</b><br>{{cantIntegratedExpedient}}</mat-card>
              </div>
              <div class="col-sm-3">
                <mat-card class = "cardArchivados"><b>Archivados</b><br>{{cantArchivedExpedient}}</mat-card>
             </div>
            </div>
            
            <app-expedent-table-component 
            [roleName]='rolName' [tabName]="'all'" [students]="studentsForTable"  [periods]="periods"
            (updateGIEmit) = "updateGI($event)"
            (viewAnalysisEmit) = "viewAnalysis($event)"
            (viewExpedientEmit) = "viewExpedient($event)"
            (registerCredentialEmit) = "registerCredential($event)"
            (removeCredentialEmit) = "removeCredential($event)"
            (generateCredentialEmit) = "generateCredential($event)"
            (updateSolicitudEmit) = "updateSolicitud($event)"
            (updateExpedientStatusEmit) = "updateExpedientStatus($event)"
            (integratedExpedientEmit) = "integratedExpedient($event)"
            (archivedExpedientEmit) = "archivedExpedient($event)"
            (generateCoversEmit) = "generateCovers()"
            (generateLabelsEmit) = "generateLabels()"
            (getScheduleEmit) = "getSchedule($event)"
            (generateCredentialsEmit) = "generateCredentials()"
            (getScheduleExcelEmit) = "getScheduleExcel($event)"
            (getExcelExportIMSSEmit) = "excelExportIMSS($event)"
            (getExcelExportDebtsEmit) = "excelExportDebts($event)"
            (getExcelExportEmit) = "excelExport($event)"
            (excelExportCMEmit) = "excelExportCM($event)"
            (getCareerEmit) = "setSearchCareer($event)"
            (getControlNumberEmit) = "setSearchControlNumber($event)"
            *ngIf="readyToShowTable.periods && readyToShowTable.students" 
            (getUsedPeriodsEmit) = "getUsedPeriods($event)"
            ></app-expedent-table-component>
                      
        </div>
  </div>
  </mat-tab>
  <mat-tab *ngIf="rolName == 'Administrador' || rolName == 'Secretaria escolares'">
    <ng-template matTabLabel>
      <span matBadge="{{cantListStudentsLogged}}" matBadgeOverlap="false" style="padding-right: 10px;">Alumnos
        Logueados</span>
    </ng-template>
    
      <mat-card>
        <mat-card-content>
          <div class="mat-elevation-z8 logged-table" *ngIf="showTable">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- Número de control -->
              <ng-container matColumnDef="controlNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">  Número de control </th>
                <td mat-cell *matCellDef="let row"> {{row.controlNumber}} </td>
              </ng-container>
      
              <!-- Nombre -->
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
              </ng-container>
      
              <!-- Carrera -->
              <ng-container matColumnDef="career">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Carrera </th>
                <td mat-cell *matCellDef="let row"> {{row.career}} </td>
              </ng-container>             
                
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
      
            <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
      
  </mat-tab>
  </mat-tab-group>
</div>
</div>
<!-- Tabla reporte alumnos Derecho Horario-->
<table class="table table-striped table-bordered table-hover" id="tableReportSchedule" data-cols-width="9,50,25,30,40,25,25" *ngIf="filteredStudents">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Teléfono</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Certificado / Carta Compromiso</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Comprobante de Pago</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Derecho a Horario</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of filteredStudents; let indice=index">
      <td data-f-sz="12">{{indice+1}}</td>
      <!--NOMBRE-->
      <td data-f-sz="12">{{item.fullName}}</td>
      <!--NC-->
      <td data-f-sz="12">{{item.controlNumber}}</td>
      <!--TELÉFONO-->
      <td data-f-sz="12">{{item.phone ? item.phone : ''}}</td>
      <!--CERTIFICADO-->
      <td data-f-sz="12" *ngIf="(filterDocuments('Certificado',item) !== 'ACEPTADO' && filterDocuments('Certificado',item) !== 'VALIDADO') && (filterDocuments('Compromiso',item) !== 'ACEPTADO' && filterDocuments('Compromiso',item) !== 'VALIDADO')">No</td>
      <td data-f-sz="12" *ngIf="filterDocuments('Certificado',item) === 'ACEPTADO' || filterDocuments('Certificado',item) === 'VALIDADO' || filterDocuments('Compromiso',item) === 'ACEPTADO' || filterDocuments('Compromiso',item) === 'VALIDADO'">Si</td>
      <!--COMRPOBANTE-->
      <td data-f-sz="12" *ngIf="filterDocuments('Comprobante',item) !== 'ACEPTADO' && filterDocuments('Comprobante',item) !== 'VALIDADO'">No</td>
      <td data-f-sz="12" *ngIf="filterDocuments('Comprobante',item) === 'ACEPTADO' || filterDocuments('Comprobante',item) === 'VALIDADO'">Si</td>
      <!--HORARIO-->
      <td data-f-sz="12" *ngIf="(filterDocuments('Comprobante',item) !== 'ACEPTADO' && filterDocuments('Comprobante',item) !== 'VALIDADO') || (filterDocuments('Certificado',item) !== 'ACEPTADO' && filterDocuments('Certificado',item) !== 'VALIDADO') && (filterDocuments('Compromiso',item) !== 'ACEPTADO' && filterDocuments('Compromiso',item) !== 'VALIDADO')">No</td>
      <td data-f-sz="12" *ngIf="(filterDocuments('Certificado',item) === 'ACEPTADO' && filterDocuments('Comprobante',item) === 'ACEPTADO') || (filterDocuments('Certificado',item) === 'VALIDADO' && filterDocuments('Comprobante',item) === 'VALIDADO') || (filterDocuments('Certificado',item) === 'ACEPTADO' && filterDocuments('Comprobante',item) === 'VALIDADO') || (filterDocuments('Certificado',item) === 'VALIDADO' && filterDocuments('Comprobante',item) === 'ACEPTADO') || (filterDocuments('Compromiso',item) === 'ACEPTADO' && filterDocuments('Comprobante',item) === 'ACEPTADO') || (filterDocuments('Compromiso',item) === 'VALIDADO' && filterDocuments('Comprobante',item) === 'VALIDADO') || (filterDocuments('Compromiso',item) === 'ACEPTADO' && filterDocuments('Comprobante',item) === 'VALIDADO') || (filterDocuments('Compromiso',item) === 'VALIDADO' && filterDocuments('Comprobante',item) === 'ACEPTADO')">Si</td>
    </tr>
  </tbody>
  </table>

  <!-- Tabla reporte alumnos Excel-->
  <table class="table table-striped table-bordered table-hover" id="tableReportExcel"
  data-cols-width="9,21,46,66,15,30,30,30,30,30,15,15,15,30,15,15" *ngIf="filteredStudents">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre del Alumno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Estatus</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Acta de Nacimiento
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Certificado de
        Estudios
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Análisis Clínicos
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Comprobante de Pago
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Curp</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nss</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Foto</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Integrado</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Archivado</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of filteredStudents; let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
      <td data-f-sz="12" data-t="s">{{item.fullName}}</td>
      <td data-f-sz="12" data-t="s">{{item.career}}</td>
      <td data-f-sz="12" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="item.inscriptionStatus == 'En Captura' " class="Captura">{{item.inscriptionStatus}}</td>
      <td data-f-sz="12" data-fill-color="39CEFC" data-f-color="000000"
        *ngIf="item.inscriptionStatus == 'Enviado' " class="Enviado">{{item.inscriptionStatus}}</td>
      <td data-f-sz="12" data-fill-color="F08C1B" data-f-color="000000"
        *ngIf="item.inscriptionStatus == 'En Proceso' " class="Proceso">{{item.inscriptionStatus}}</td>
      <td data-f-sz="12" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="item.inscriptionStatus == 'Verificado' " class="Verificado">{{item.inscriptionStatus}}</td>
      <td data-f-sz="12" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="item.inscriptionStatus == 'Aceptado' " class="Aceptado">{{item.inscriptionStatus}}</td>
      <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center">
        DOCUMENTOS
      </td>
      <!--ACTA-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Acta',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Acta',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Acta',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Acta',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Acta',item) != 'EN PROCESO' && filterDocuments('Acta',item) != 'RECHAZADO' && filterDocuments('Acta',item) != 'VALIDADO' && filterDocuments('Acta',item) != 'ACEPTADO'">
        Sin Envío</td>
      <!--CERTIFICADO-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Certificado',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Certificado',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Certificado',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Certificado',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Certificado',item) != 'EN PROCESO' && filterDocuments('Certificado',item) != 'RECHAZADO' && filterDocuments('Certificado',item) != 'VALIDADO' && filterDocuments('Certificado',item) != 'ACEPTADO'">
        Sin Envío</td>
      <!--ANALISIS-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Analisis',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Analisis',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Analisis',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Analisis',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Analisis',item) != 'EN PROCESO' && filterDocuments('Analisis',item) != 'RECHAZADO' && filterDocuments('Analisis',item) != 'VALIDADO' && filterDocuments('Analisis',item) != 'ACEPTADO'">
        Sin Envío</td>
      <!--COMRPOBANTE-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Comprobante',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Comprobante',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Comprobante',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Comprobante',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Comprobante',item) != 'EN PROCESO' && filterDocuments('Comprobante',item) != 'RECHAZADO' && filterDocuments('Comprobante',item) != 'VALIDADO' && filterDocuments('Comprobante',item) != 'ACEPTADO'">
        Sin Envío</td>
      <!--CURP-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Curp',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Curp',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Curp',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Curp',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Curp',item) != 'EN PROCESO' && filterDocuments('Curp',item) != 'RECHAZADO' && filterDocuments('Curp',item) != 'VALIDADO' && filterDocuments('Curp',item) != 'ACEPTADO'">
        Sin Envío</td>
      <!--NSS-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Nss',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Nss',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Nss',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Nss',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Nss',item) != 'EN PROCESO' && filterDocuments('Nss',item) != 'RECHAZADO' && filterDocuments('Nss',item) != 'VALIDADO' && filterDocuments('Nss',item) != 'ACEPTADO'">
        Sin Envío</td>
      <!--FOTO-->
      <td data-f-sz="12" data-t="s" data-fill-color="FCD539" data-f-color="000000"
        *ngIf="filterDocuments('Foto',item) == 'EN PROCESO'">En Proceso</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="ffffff"
        *ngIf="filterDocuments('Foto',item) == 'RECHAZADO'">Rechazado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="00FF80" data-f-color="000000"
        *ngIf="filterDocuments('Foto',item) == 'VALIDADO'">Validado</td>
      <td data-f-sz="12" data-t="s" data-fill-color="142B58" data-f-color="ffffff"
        *ngIf="filterDocuments('Foto',item) == 'ACEPTADO'">Aceptado</td>
      <td data-f-sz="12" data-t="s"
        *ngIf="filterDocuments('Foto',item) != 'EN PROCESO' && filterDocuments('Foto',item) != 'RECHAZADO' && filterDocuments('Foto',item) != 'VALIDADO' && filterDocuments('Foto',item) != 'ACEPTADO'">
        Sin Envío</td>
      <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center">
        EXPEDIENTE
      </td>
      <td data-f-sz="12" data-t="s" data-fill-color="027900" data-f-color="FFFFFF" *ngIf = "item.expStatus == 'Integrado' || item.expStatus == 'Archivado'">Si</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="FFFFFF" *ngIf = "!item.expStatus">No</td>
      <td data-f-sz="12" data-t="s" data-fill-color="027900" data-f-color="FFFFFF" *ngIf = "item.expStatus === 'Archivado'">Si</td>
      <td data-f-sz="12" data-t="s" data-fill-color="b64443" data-f-color="FFFFFF" *ngIf = "item.expStatus !== 'Archivado'">No</td>
    </tr>
  </tbody>
</table>

<!-- Tabla reporte alumnos Excel IMSS-->
<table class="table table-striped table-bordered table-hover" id="tableReportExcelIMSS"
  data-cols-width="9,20,20,20,20,20,20,20,20,20,20,25,20,200" *ngIf="filteredStudents">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Registro Patronal
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Afiliación
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dígito Verificador
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Paterno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Materno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre(s)</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Fecha Movimiento
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">UMF 3</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número Cuenta</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">CURP</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">FORMULA</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of filteredStudents; let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">D355603932</td>
      <td data-f-sz="12" data-t="n">8</td>
      <td data-f-sz="12" data-t="s">{{item.nss.substring(0,10)}}</td>
      <td data-f-sz="12" data-t="n">{{item.nss.substring(10,11)}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <!--<td data-f-sz="12" data-t="s">22082018</td>-->
      <td data-f-sz="12" data-t="s">{{getDateMov()}}</td>
      <td data-f-sz="12" data-t="s">000</td>
      <td data-f-sz="12" data-t="s">{{complete10Dig(indice+1)}}</td>
      <td data-f-sz="12" data-t="s">{{item.curp}}</td>
      <td data-f-sz="12" data-t="s"></td>
      <td data-f-sz="12" data-t="s">
        =B{{indice+2}}&C{{indice+2}}&D{{indice+2}}&E{{indice+2}}&EXTRAE(ESPACIOS(F{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(G{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&EXTRAE(ESPACIOS(H{{indice+2}})&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",1,27)&"000000"&"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;210"&I{{indice+2}}&J{{indice+2}}&"&nbsp;&nbsp;08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"&K{{indice+2}}&"&nbsp;"&L{{indice+2}}&"9"
      </td>
    </tr>
  </tbody>
</table>

<!-- Tabla reporte alumnos Excel CONSULTORIO MÉDICO-->
<table class="table table-striped table-bordered table-hover" id="tableReportExcelCM"
  data-cols-width="9,20,20,20,20,30,20,20,20,150" *ngIf="filteredStudents">
  <thead>
    <tr>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Paterno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Apellido Materno
      </th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre(s)</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Teléfono</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Correo</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">NSS</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Dictaminado</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Advertencia</th>
      <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of filteredStudents; let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">{{item.fatherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.motherLastName}}</td>
      <td data-f-sz="12" data-t="s">{{item.firstName}}</td>
      <td data-f-sz="12" data-t="n">{{item.phone}}</td>
      <td data-f-sz="12" data-t="s">{{item.email}}</td>
      <td data-f-sz="12" data-t="n">{{item.nss}}</td>
      <td data-f-sz="12" data-t="s" *ngIf="item.observationsAnalysis">Si</td>
      <td data-f-sz="12" data-t="s" *ngIf="!item.observationsAnalysis">No</td>
      <td data-f-sz="12" data-t="s" *ngIf="item.warningAnalysis">Si</td>
      <td data-f-sz="12" data-t="s" *ngIf="!item.warningAnalysis">No</td>
      <td data-f-sz="12" data-t="s">{{item.observationsAnalysis}}</td>
    </tr>
  </tbody>
</table>

<!-- Tabla reporte alumnos Excel ADEUDOS-->
<table class="table table-striped table-bordered table-hover" id="tableReportExcelDebts"
data-cols-width="9,21,46,45,45,30,10,30,30" *ngIf="filteredStudents">
<thead>
  <tr>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">No</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Número de Control</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Nombre del Alumno</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Carrera</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Correo</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Teléfono</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF"></th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Comprobante de Pago</th>
    <th data-f-bold="true" data-f-sz="14" data-fill-color="112043" data-f-color="FFFFFF">Certificado de Estudios</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of listStudentsDebts; let indice=index">
      <td data-f-sz="12" data-t="n">{{indice+1}}</td>
      <td data-f-sz="12" data-t="s">{{item.controlNumber}}</td>
      <td data-f-sz="12" data-t="s">{{item.fullName}}</td>
      <td data-f-sz="12" data-t="s">{{item.career}}</td>
      <td data-f-sz="12" data-t="s">{{item.email}}</td>
      <td data-f-sz="12" data-t="s">{{item.phone}}</td>
      <td data-f-sz="12" data-t="s" data-fill-color="112043" data-f-color="FFFFFF" data-a-h="center"></td>
      <!--COMRPOBANTE-->
      <td data-f-sz="12" data-t="s">{{filterDocuments('Comprobante',item) == 'RECHAZADO' ?  'RECHAZADO' : filterDocuments('Comprobante',item) == 'SIN ENVÍO' ? 'SIN ENVÍO' : '' }}</td>
      <!--CERTIFICADO-->
      <td data-f-sz="12" data-t="s">{{filterDocuments('Certificado',item) == 'RECHAZADO' ?  'RECHAZADO' : filterDocuments('Certificado',item) == 'SIN ENVÍO' ? 'SIN ENVÍO' : '' }}</td>
  </tr>
</tbody>
</table>