.mat-form-field {
    width: 50% !important;
}
.mat-chip.mat-standard-chip {
    background-color: rgb(27,57,106);
    color: rgb(255, 255, 255);
}

.mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgb(205, 205, 225);
    opacity: 1 !important;
}