<div class="content-general">
   <div class="card card-shadow">
      <div class="card-header text-white bg-secondary">
         <strong>Listado de Alumnos</strong>  
      </div>
      <div class="card-body">
         <div class="row">
            <div class="col-4">
               <div class="form-group">
                  <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar Alumno...">
               </div>
            </div>
            <div class="col-3">
               <div class="form-group">
                  <select [(ngModel)]="searchCarreer" class="form-control" (change)="eventFilterReport()">
                     <option value=''>Todas las carreras</option>
                     <option value='IBQ'>Ingeniería Bioquímica</option>
                     <option value='IGE'>Ingeniería en Gestión Empresarial</option>
                     <option value='IC '>Ingeniería Civil</option>
                     <option value='ARQ'>Arquitectura</option>
                     <option value='IQ'>Ingeniería Química</option>
                     <option value='IM'>Ingeniería Mecatrónica</option>
                     <option value='IE'>Ingeniería Eléctrica</option>
                     <option value='LA'>Licenciatura en Administración</option>
                     <option value='ITIC'>Ingeniería en Tecnologías de la Información y Comunicación</option>
                     <option value='ISC'>Ingeniaría en Sistemas Computacionales</option>
                     <option value='II'>Ingeniaría Industrial</option>
                     <option value='MCA'>Maestría en Ciencias en Alimentos</option>
                  </select>
               </div>
            </div>
            <div class="col-2">
               <table class="table table-bordered">
                  <tr>
                     <td id="checkRegistrado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Registrado" tooltipClass="my-custom-class">
                              <input [(ngModel)]="searchSRC" type="checkbox" class="custom-control-input" id="defaultInline2" value="Registrado" (click)="eventFilterReport()">
                              <label class="custom-control-label" for="defaultInline2">R</label>
                        </div>
                     </td>
                     <td id="checkPagado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Pagado" tooltipClass="my-custom-class">
                              <input [(ngModel)]="searchSPC" type="checkbox" class="custom-control-input" id="defaultInline3" value="Pagado" (click)="eventFilterReport()">
                              <label class="custom-control-label" for="defaultInline3">P</label>
                        </div>
                     </td>
                     <td id="checkVerificado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Verificado" tooltipClass="my-custom-class">
                              <input [(ngModel)]="searchSVC" type="checkbox" class="custom-control-input" id="defaultInline4" value="Verificado" (click)="eventFilterReport()">
                              <label class="custom-control-label" for="defaultInline4">V</label>
                        </div>
                     </td>
                     <td id="checkAsistio">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Asistió" tooltipClass="my-custom-class">
                              <input [(ngModel)]="searchSAC" type="checkbox" class="custom-control-input" id="defaultInline5" value="Asistió" (click)="eventFilterReport()">
                              <label class="custom-control-label" for="defaultInline5">A</label>
                        </div>
                     </td>
                     <td id="checkMencionado">
                        <div class="custom-control custom-checkbox custom-control-inline" ngbTooltip="Mencionado" tooltipClass="my-custom-class">
                              <input [(ngModel)]="searchSMC" type="checkbox" class="custom-control-input" id="defaultInline6" value="Mencionado" (click)="eventFilterReport()">
                              <label class="custom-control-label" for="defaultInline6">M</label>
                        </div>
                     </td>
                  </tr>
      
               </table>
            </div>
         </div>

         <table class="table table-striped table-bordered table-hover" id="my-table">
               <thead>
                  <tr>
                     <th>Número de Control</th>
                     <th>Nombre del Alumno</th>
                     <th>Carrera</th>
                     <th>Email</th>
                     <th>Estatus</th>
                     <th>Acciones</th>
                  </tr>          
               </thead>
               <tbody>
                  <tr *ngFor="let item of alumnosReport | filter:{carreer:searchCarreer} | filter: {nc:searchText,name:searchText,email:searchText} | paginate: {id:pag, itemsPerPage: pageSize,
                  currentPage: page };">      
                     <td>{{item.nc}} </td>
                     <td>{{item.name}}</td>
                     <td>{{item.carreer}}</td>
                     <td>{{item.email}}</td>
                     <td class="{{item.status}}">{{item.status}}</td>
                     <td>
                        <div class="div-actions" id="{{item.status}}" >
                           <tr *ngIf="item.email && status == '1'">
                              <td *ngIf="item.status == 'Registrado' && role === 'comunication'">
                                 <div class="div-img" ngbTooltip="Confirmar Pago" tooltipClass="my-custom-class" *ngIf="item.email">
                                       <img src="../../assets/icons/paid.svg" class="action" (click)="confirmPaidEvent(item)">
                                 </div>
                              </td>
                              <td *ngIf="item.status === 'Verificado' && role === 'comunication' || item.status === 'Verificado' && role === 'administration'">
                                 <div class="div-img" ngbTooltip="Enviar Invitación" tooltipClass="my-custom-class" >
                                       <img src="../../assets/icons/sendEmail.svg" class="action" (click)="confirmSendEmail(item)">
                                 </div>
                              </td>
                              <td *ngIf="item.status === 'Verificado' && role === 'administration' || item.status === 'Verificado' && role === 'coordinator'">
                                 <div class="div-img" ngbTooltip="Registrar Asistencia" tooltipClass="my-custom-class" >
                                       <img src="../../assets/icons/presence.svg" class="action" (click)="confirmPresenceEvent(item)">
                                 </div>
                              </td>  
                              <td *ngIf="item.status == 'Pagado' && role === 'comunication'">
                                 <div class="div-img" ngbTooltip="Remover Pago" tooltipClass="my-custom-class" >
                                       <img src="../../assets/icons/remove-paid.svg" class="action" (click)="confirmRemovePaidEvent(item)">
                                 </div>
                              </td>                              
                           </tr>
                        </div>
                     </td>
                  </tr>
               </tbody>
               <tfoot align="right">
                     <td colspan="6">
                        <div class="div-actionsFoot">
                           <tr>
                              <td>
                                 <div class="div-img" ngbTooltip="Exportar a Excel" tooltipClass="my-custom-class">
                                    <img src="../../assets/icons/excelExport.svg" class="action" (click)="excelExport()">
                                 </div>
                              </td>
                              <td>
                                 <div class="div-img" ngbTooltip="Generar Reporte" tooltipClass="my-custom-class">
                                    <img src="../../assets/icons/pdfReport.svg" class="action" (click)="generateReport()">
                                 </div>
                              </td>    
                              <td *ngIf="role === 'comunication' || role === 'administration'">
                                 <div class="div-img" ngbTooltip="Enviar a todos" tooltipClass="my-custom-class">
                                    <img src="../../assets/icons/sendAllEmail.svg" class="action" (click)="confirmSendEmailAll()">
                                 </div>
                              </td>                             
                           </tr>
                        </div>
                     </td>
               </tfoot>
            </table> 
            <div class='div-pagination'>
                  <pagination-controls [id]="pag"
                     directionLinks="true"
                     (pageChange)="pageChanged($event)"
                      responsive="true"
                      previousLabel="Anterior"
                      nextLabel="Siguiente">
                  </pagination-controls>
            </div>
         
            <!-- Tabla reporte alumnos-->
             <table class="table table-striped table-bordered table-hover" id="tableReport">
               <thead>
                  <tr>
                     <th>No</th>
                     <th>Número de Control</th>
                     <th>Nombre del Alumno</th>
                     <th>Carrera</th>
                     <th>Estatus</th>
                  </tr>          
               </thead>
               <tbody>
                  <tr *ngFor="let alumno of alumnosReport | filter:{carreer:searchCarreer} | filter: {nc:searchText,name:searchText,email:searchText}; let indice=index">  
                     <td>{{indice+1}}</td>                  
                     <td>{{alumno.nc}} </td>
                     <td>{{alumno.name}}</td>
                     <td>{{alumno.carreer}}</td>
                     <td class="{{alumno.status}}">{{alumno.status}}</td>
                  </tr>
               </tbody>
            </table> 
 
      </div>
   </div>
   
</div>