<div class="row justify-content-center">
  <mat-card [ngClass]="showFormPanel ? 'col-sm-11 col-md-5 m-2' : 'col-sm-11 col-md-7 m-2'">
    <div class="row" style="margin:5px;">
      <button (click)="newDocument()" color="primary" mat-raised-button>Crear documento</button>
    </div>
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Búsqueda</mat-label>
      <input (keyup)="searchDocuments()" [(ngModel)]="searchText"
             [autofocus]="true" matInput
             oninput="this.value = this.value.toUpperCase()" placeholder="Buscar documento">
    </mat-form-field>
    <mat-selection-list class="documents-list">
      <mat-list-item *ngFor="let doc of documents" class="document-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-chip-list selectable="false">
                <span *ngFor="let department of doc.departments">
                  <span class="department-chip">{{ department }}</span>
                </span>
              </mat-chip-list>
            </mat-card-title>
            <mat-card-subtitle>{{ doc.name }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button (click)="viewDocument(doc)" mat-button>Ver</button>
            <button (click)="editDocument(doc)" color="primary" mat-button>Editar</button>
            <button (click)="removeDocument(doc)" [disabled]="doc.departments.length !== 0" color="warn" mat-button>
              Eliminar
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
    </mat-selection-list>
  </mat-card>
  <mat-card *ngIf="showFormPanel" class="col-sm-11 col-md-6 m-2">
    <span class="float-right close" ngbTooltip="Cerrar" placement="top">
      <fa (click)="closeFormPanel()" name="times-circle" style="color:red"></fa>
    </span>
    <form (ngSubmit)="saveDocument()" [formGroup]="documentForm">
      <mat-card-title>{{ titleCardForm }}</mat-card-title>
      <mat-card-content class="card-body">
        <div class="row">
          <mat-form-field [ngClass]="(!documentForm.get('strategicProcess').valid &&
                  documentForm.get('strategicProcess').touched)?'col-12 is-invalid':'col-12'">
            <input formControlName="strategicProcess" id="strategicProcess" matInput oninput="this.value =
                  this.value.toUpperCase()"
                   placeholder="Proceso estratégico" type="text">
            <mat-error
              *ngIf="!documentForm.get('strategicProcess').valid && documentForm.get('strategicProcess').touched"
              class="invalid-feedback">
              <span *ngIf="documentForm.get('strategicProcess').errors['required']">
                ¡Por favor ingrese el proceso estratégico!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 p-0">
            <mat-form-field [ngClass]="(!documentForm.get('key').valid &&
                  documentForm.get('key').touched)?'col-12 is-invalid':'col-12'">
              <input formControlName="key" id="key" matInput oninput="this.value = this.value.toUpperCase()"
                     placeholder="Clave" type="text">
              <mat-error *ngIf="!documentForm.get('key').valid && documentForm.get('key').touched"
                         class="invalid-feedback">
                <span *ngIf="documentForm.get('key').errors['required']">
                  ¡Por favor ingrese la clave!
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 p-0">
            <mat-form-field [ngClass]="(!documentForm.get('code').valid &&
                  documentForm.get('code').touched)?'col-12 is-invalid':'col-12'">
              <input formControlName="code" id="code" matInput oninput="this.value = this.value.toUpperCase()"
                     placeholder="Código" type="text">
              <mat-error *ngIf="!documentForm.get('code').valid && documentForm.get('code').touched"
                         class="invalid-feedback">
                <span *ngIf="documentForm.get('code').errors['required']">
                  ¡Por favor ingrese el código!
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field [ngClass]="(!documentForm.get('operativeProcess').valid &&
                  documentForm.get('operativeProcess').touched)?'col-12 is-invalid':'col-12'">
            <input formControlName="operativeProcess"
                   id="operativeProcess"
                   matInput oninput="this.value =
                  this.value.toUpperCase()" placeholder="Proceso operativo" type="text">
            <mat-error
              *ngIf="!documentForm.get('operativeProcess').valid && documentForm.get('operativeProcess').touched"
              class="invalid-feedback">
              <span *ngIf="documentForm.get('operativeProcess').errors['required']">
                ¡Por favor ingrese el proceso operativo!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field [ngClass]="(!documentForm.get('procedure').valid &&
                  documentForm.get('procedure').touched)?'col-12 is-invalid':'col-12'">
            <input formControlName="procedure"
                   id="procedure" matInput
                   oninput="this.value =
                  this.value.toUpperCase()" placeholder="Procedimiento" type="text">
            <mat-error *ngIf="!documentForm.get('procedure').valid && documentForm.get('procedure').touched"
                       class="invalid-feedback">
              <span *ngIf="documentForm.get('procedure').errors['required']">
                ¡Por favor ingrese el procedimiento!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field [ngClass]="(!documentForm.get('name').valid &&
                  documentForm.get('name').touched)?'col-12 is-invalid':'col-12'">
            <input formControlName="name"
                   id="name" matInput
                   oninput="this.value =
                  this.value.toUpperCase()" placeholder="Nombre" type="text">
            <mat-error *ngIf="!documentForm.get('name').valid && documentForm.get('name').touched"
                       class="invalid-feedback">
              <span *ngIf="documentForm.get('name').errors['required']">
                ¡Por favor ingrese el nombre!
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="!isViewDetails" align="end" style="padding:8px;margin:0px;">
        <button [disabled]="documentForm.invalid" color="primary" mat-button type="submit">Guardar</button>
        <button (click)="documentForm.reset()" color="warn" mat-button type="button">Limpiar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
