<div class="row p-3">
  <div class="col-12">
    <mat-form-field class="w-100">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda..."
             oninput="this.value=this.value.toUpperCase()">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let item of displayedColumns;let index=index"
                          [matColumnDef]="item">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{displayedColumnsName[index]}}</th>
                    <td *matCellDef="let row; let i = index" mat-cell-style="width:25%;">
                      <span mat-line *ngIf="index === 0">
                        {{i+1}}
                      </span>
                      <span mat-line *ngIf="index === 1 || index === 2 || index === 3">
                        {{row[item]}}
                      </span>
                      <div *ngIf="index === 4">
                        <div *ngIf="row.status==='approved'">
                          <span mat-line class="badge badge-pill badge-success">
                            Aprobada
                          </span>
                        </div>
                        <div *ngIf="row.status==='send'">
                          <span mat-line class="badge badge-pill badge-primary">
                            Firmada
                          </span>
                        </div>
                        <div *ngIf="row.status==='reevaluate'">
                          <span mat-line class="badge badge-pill badge-warning">
                            Revaluación
                          </span>
                        </div>
                      </div>
                      <div *ngIf="index === 5">
                        <div *ngIf="row.status==='send'">
                              <button [matMenuTriggerFor]="actions" mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #actions>
                                <button mat-menu-item routerLink="/social-service/validateData" [queryParams]="{id: row['id']}">
                                  <mat-icon class="material-icons text-success">done</mat-icon>
                                  <span>Verificar</span>
                                </button>
                                <button mat-menu-item>
                                  <mat-icon class="material-icons text-info">folder_shared</mat-icon>
                                  <span>Expediente</span>
                                </button>
                              </mat-menu>
                        </div>
                        <div *ngIf="row.status==='approved'">
                          <button [matMenuTriggerFor]="actions" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #actions>
                            <button mat-menu-item>
                              <mat-icon class="material-icons text-info">folder_shared</mat-icon>
                              <span>Expediente</span>
                            </button>
                          </mat-menu>
                        </div>
                        <div *ngIf="row.status==='reevaluate'">
                          <button [matMenuTriggerFor]="actions" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #actions>
                            <button mat-menu-item routerLink="/social-service/validateData" [queryParams]="{id: row['id']}">
                              <mat-icon class="material-icons text-success">done</mat-icon>
                              <span>Verificar</span>
                            </button>
                            <button mat-menu-item>
                              <mat-icon class="material-icons text-info">folder_shared</mat-icon>
                              <span>Expediente</span>
                            </button>
                          </mat-menu>
                        </div>
                      </div>
                    </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
<mat-paginator #matPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
