<div class="row">
  <div class="col-10 text-center">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button [mat-dialog-close] class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="row">
  <mat-form-field class="col-sm-12 col-lg-12" appearance="outline">
    <mat-label>Nombre o número de control</mat-label>
    <input matInput type="text" id="txtSearch" placeholder="Nombre o número de control"
      (keyup)="applyFilter($event.target.value)" oninput="this.value = this.value.toUpperCase()" required>
    <button matSuffix mat-icon-button (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<form [formGroup]="frmNewEvent" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <table class="col-12" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container>

      <ng-container matColumnDef="controlNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número Control </th>
        <td mat-cell *matCellDef="let row" style="width:15%"> {{row.controlNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row" style="width:40%"> {{row.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="career">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
        <td mat-cell *matCellDef="let row" style="width:40%"> {{row.career}} </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row" (click)="onSelect(row)" style="width:5%">
          <span class="btn"><i class="fa fa-check-square-o"></i></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[3,6,9]"></mat-paginator>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-12" appearance="outline">
        <mat-label>Estudiante</mat-label>
        <input matInput type="text" id="inpEstudiante" placeholder="Nombre del estudiante" formControlName="student"
          readonly required>
        <mat-error *ngIf="!frmNewEvent.get('student').valid && frmNewEvent.get('student').touched">
          <span *ngIf="frmNewEvent.get('student').errors['required']">
            ¡Ingrese un estudiante!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Lugar</mat-label>
        <input matInput type="text" id="inpLugar" placeholder="Lugar" formControlName="place" required>
        <mat-error *ngIf="!frmNewEvent.get('place').valid && frmNewEvent.get('place').touched">
          <span *ngIf="frmNewEvent.get('place').errors['required']">
            ¡Por favor ingrese un lugar!
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-lg-6" appearance="outline">
        <mat-label>Duración (Minutos)</mat-label>
        <input matInput type="number" id="inpDuration" placeholder="Duración" formControlName="duration" required
          min="30" max="120" required>
        <mat-error class="invalid-feedback"
          *ngIf="!frmNewEvent.get('duration').valid && frmNewEvent.get('duration').touched">
          <span *ngIf="frmNewEvent.get('duration').errors['required']">
            ¡Ingrese la duración del acto!
          </span>
          <span *ngIf="frmNewEvent.get('duration').errors['min']">
            ¡Duración mínima es de 30 minutos!
          </span>
          <span *ngIf="frmNewEvent.get('duration').errors['max']">
            ¡Duración máxima es de 120 minutos!
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" type="submit" [disabled]="!frmNewEvent.valid">Guardar</button>
  </mat-dialog-actions>
</form>
