<div class="row">
  <div class="col-10 text-center">
    <h1 mat-dialog-title>{{title}}</h1>
  </div>
  <div class="col-2">
    <button mat-icon-button [mat-dialog-close] class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="form-group row">
  <label for="txtSearch" class="col-sm-2 col-form-label">Buscar</label>
  <div class="col-sm-10 input-group input-group-sm">
    <input type="text" id="txtSearch" class="form-control" placeholder="Nombre o Número de Control"
      (keyup)="applyFilter($event.target.value)">
    <div class="input-group-append">
      <span class="input-group-text" (click)="onSearch()"><i class="fa fa-search"></i></span>
    </div>
  </div>
</div>

<form [formGroup]="frmNewEvent" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <!-- <div class="row" *ngIf="dataExist"> -->
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row._id}} </td>
      </ng-container>

      <ng-container matColumnDef="controlNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número Control </th>
        <td mat-cell *matCellDef="let row" style="width:15%"> {{row.controlNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row" style="width:40%"> {{row.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="career">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
        <td mat-cell *matCellDef="let row" style="width:40%"> {{row.career}} </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row" (click)="onSelect(row)" style="width:5%">
          <span><i class="fa fa-hand-pointer-o"></i></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[3,6,9]"></mat-paginator>
    <!-- </div> -->
    <div class="form-group row mt-3">
      <label for="inpEstudiante" class="col-sm-2 col-form-label">Estudiante</label>
      <div class="col-sm-10">
        <input type="text" readonly
          [ngClass]="(!frmNewEvent.get('student').valid && frmNewEvent.get('student').touched)?'form-control is-invalid':'form-control'"
          id="inpEstudiante" placeholder="Estudiante" formControlName="student">
        <div class="invalid-feedback" *ngIf="!frmNewEvent.get('student').valid && frmNewEvent.get('student').touched">
          <span *ngIf="frmNewEvent.get('student').errors['required']">
            ¡Por favor ingrese un estudiante!
          </span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inpLugar" class="col-sm-2 col-form-label">Lugar</label>
      <div class="col-sm-10">
        <input type="text"
          [ngClass]="(!frmNewEvent.get('place').valid && frmNewEvent.get('place').touched)?'form-control is-invalid':'form-control'"
          id="inpLugar" placeholder="Lugar" formControlName="place">
        <div class="invalid-feedback" *ngIf="!frmNewEvent.get('place').valid && frmNewEvent.get('place').touched">
          <span *ngIf="frmNewEvent.get('place').errors['required']">
            ¡Por favor ingrese un lugar!
          </span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="inpDuration" class="col-sm-2 col-form-label">Duración</label>
      <div class="col-sm-10">
        <input type="number"
          [ngClass]="(!frmNewEvent.get('duration').valid && frmNewEvent.get('duration').touched)?'form-control is-invalid':'form-control'"
          id="inpDuration" placeholder="Duración" formControlName="duration">
        <div class="invalid-feedback" *ngIf="!frmNewEvent.get('duration').valid && frmNewEvent.get('duration').touched">
          <span *ngIf="frmNewEvent.get('duration').errors['required']">
            ¡Por favor ingrese una duración!
          </span>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close  mat-stroked-button >Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial  mat-stroked-button color="primary">Install</button> -->
    <button mat-stroked-button color="primary" type="submit" [disabled]="!frmNewEvent.valid">Guardar</button>
    <button mat-stroked-button color="warn" type="button" mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</form>