<div class="header-style header">

  <div class="header-container">
    <img class="img-tecnm" src="assets/imgs/logoTecNM.png" alt="">
    <div class="title-style">
      <p class="title-line">Tecnológico Nacional de México</p>
      <p class="title-line">Instituto Tecnológico de Tepic</p>
      <p class="subtitle-line">Plataforma de Servicios Estudiantiles</p>
    </div>
    <img class="img-headedr-class" src="assets/imgs/ittepic-sm.png" alt="">
  </div>
</div>

<ul class="top row d-flex align-items-center justify-content-between">
  <li *ngIf="!survey">
    <a class="navbar-brand btn" (click)="onMenu()">
      <img src="assets/icons/menu.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Menú
    </a>
  </li>
  <div class="row align-items-center justify-content-center text-center" *ngIf="survey">
    <li class="text-white p-3">Encuesta</li>
  </div>
  <li class="btn float-right d-flex justify-content-center align-items-center m-2 p-1" *ngIf="!survey">
    <img width="30" height="30" [src]="profileIcon" [matMenuTriggerFor]="profile_menu" alt="Imagen de perfil">
  </li>
</ul>

<mat-menu #profile_menu>
  <button mat-menu-item (click)="viewProfile()" *ngIf="canAccess(roleName)">
    <mat-icon>person</mat-icon>
    Ver perfil
  </button>
  <button mat-menu-item (click)="lockSession()" *ngIf="canAccess(roleName)">
    <mat-icon>block</mat-icon>
    Bloquear sesión
  </button>
  <button mat-menu-item (click)="changePosition()" *ngIf="canAccess(roleName)">
    <mat-icon>autorenew</mat-icon>
    Cambiar puesto
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar sesión
  </button>
</mat-menu>

<div class="center">
  <app-loader [loading]="showLoading"></app-loader>
</div>
