.header-style {
    height: 130px;
    padding: 5px 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f323e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #313131;
    color: white;
}

.active {
    background-color: #4CAF50;
}

.img-headedr-class {
    width: 120px;
    height: 120px;
  }

.img-tecnm {
    height: 120px;
}

  .header-container {
    display: flex;
    justify-content: space-between;
}

.title-style {
    text-align: center;
    margin-right: 60px;
}

.title-line {
    font-size: 1.4rem;
    font-family: 'PT Sans';
    font-weight: bold;
    color: #707070;
}

.subtitle-line {
    font-size: 1rem;
    font-family: 'PT Sans';
    color: #707070;
}

p {
    margin: 0;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .header-style {
        height: auto;
    }

    .title-style {
        text-align: center;
        margin-right: 0;
    }

    .img-headedr-class {
        display: none;
      }

      .img-tecnm {
        display: none;
    }

      .header-container {
        justify-content: center;
    }

    .title-line {
        font-size: 1.2rem;
    }

    .subtitle-line {
        font-size: 0.8rem;
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .img-headedr-class {
        width: 70px;
        height: 70px;
      }

      .title-style {
        text-align: center;
        margin-right: 0;
    }

      .img-tecnm {
        height: 70Px;
    }

      .header-style {
        height: auto;
    }
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    .img-headedr-class {
        width: 90px;
        height: 90px;
      }

      .header-style {
        height: auto;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

.top {
    z-index: 2;
}