table{
    table-layout: fixed;
    width: 100%;
}
.cardData{
    width: 100%;
    height: 200px;
    color: slateblue;
    background: rgb(209, 209, 253);
    font-weight: bold;
}

.cardDocuments{
    background: rgb(209, 209, 253);
}

